<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>HI1</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="javascripts/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
        <script src="javascripts/index.js"></script>
        
    </head>
    <body>
        <table id="menu_top" style="display: none">
            <% menu_top.forEach(function(item) {%>
            <tr> <td> <a href = '<%=item.event%>' title = '"<%=item.label%>"' > <%=item.label %> </a></td></tr>
            <% });%>
        </table>
        <input type ="hidden" name="volume" value="<%=result.VOLUME%>" />
        <input type ="hidden" name="nbre_sections" value="<%=result.NBRE_SECTIONS%>" />
        <input type ="hidden" name="order" value="<%=result.PAGE_ORDER%>" />
        <div>
            <table border="1" style="width: 100%; padding: 0px">
                <tr >
               <td width="5%" bgcolor="#4169E1"><img src="images/curseurGauche.jpg" style="width :50px; height:40px;padding: 0px" onclick="movePreviousPage('<%=result.VOLUME%>');"/></td>
                    <td width="5%" bgcolor="#4169E1" ><img src="images/curseurDroite.jpg" style="width :50px; height:40px"  onclick="moveNextPage('<%=result.VOLUME%>');"/></td>
                    <td width="5%" bgcolor="#4169E1" ><img src="images/curseurHaut.jpg" style="width :50px; height:40px" id="curseurHaut"/></td>
                    <td bgcolor="#87CEEB" ><h1><input type="text" name="titre_haut" value="<%=result.PAGE_TITLE%>" style="background-color:#87CEEB;width: 100%;border:0px" onchange="modifyTitleTop();"/> </h1></td>
                    <td width="5%" bgcolor="#4169E1" > <img src="images/rectangle.jpg" style="width :50px; height:40px" onclick="addSection();"/></td>
                    <td width="5%" bgcolor="#4169E1" ><img src="images/rond.jpg"style="width :50px; height:40px" onclick="addNewPage('<%=result.VOLUME%>');"/></td>
                    <td width="5%" bgcolor="#4169E1" ><img src="images/interrogation.jpg" style="width :50px; height:40px" /></td>
                </tr>
            </table>
        </div>
        <br>
        <div id="container">
            <script>
                var html= "";
                var i = 0;
             </script>
            <% sections.forEach(function(section) {%>
             <script>
               sections.push("<%=section.id%>");
               if(("<%=section.type%>") ==="default")
               {
                   html += "<section class ='section' data-type='default' options='false' style ='height:130px;text-align:center;border:1px solid; margin:3px;' ><img src='images/logo.JPG' style='width :100px; height:90px;'/></section>";

               }
               else if(("<%=section.type%>") ==="List")
               {
                   //alert('List');
                   var cont = "<%=section.contentBloc%>";
                   cont = cont.replace('\n','');
                   if( cont ==="null" || cont ===""){
                       
                       console.log(" null ou vide ");
                   html += "<section class ='section' data-bloc ='<%=section.id_bloc%>' data-type='List' style ='height:130px;text-align:center;border:1px solid; margin:3px;'><img src='images/list.png' style='width :130px; height:130px'/></section>";
                   } else if(cont !=="null" && cont !=="")
                     {
                         
                         blocs.push("<%=section.id_bloc%>");
         html += "<section class ='section' data-type='List' style ='overflow-y:scroll;height:130px;text-align:center;border:1px solid; margin:3px;'>\n\
            <table data-bloc ='<%=section.id_bloc%>' style='margin-left: auto; margin-right: auto;border:1px solid'>";
            
                        var items = cont.split('  ');
                        for(var k=0;k<items.length;k++){
                      html+="<tr><td style='text-align:center;'><input type='text' name='item' size='40' value='"+items[k]+"'/></td></tr>" ;
                  }
                                        html+="<tr><td style='text-align:center;'><input type='text' name='item' size='40' value=''/></td></tr>" ;

                   
                               html+="</table></section>";
                           }
                           
               }
               else if(("<%=section.type%>") ==="Note")
               {
                   var cont = "<%=section.contentBloc%>";
                    blocsNote.push("<%=section.id_bloc%>");
                   //cont = cont.replace('\n','');
                   if( cont===""){
                   html += "<section class ='section'  data-bloc ='<%=section.id_bloc%>' data-type='Note' style ='height:130px;text-align:center;border:1px solid; margin:3px;'><img src='images/note.png' style='width :100px; height:130px'/></section>";
                        }
                    else if(cont !=="")
                    {
                  
                   
                      html += "<section class ='section' data-type='Note' style ='height:130px;text-align:center;border:1px solid; margin:3px;overflow:auto'>";
                       html+="<textarea rows ='15' cols='60' style='border:1px solid' data-bloc ='<%=section.id_bloc%>' name='note' >"+cont.replace(/  /g,'\n')+"</textarea></section>";
        
        }
               }
                 i++;
                 
             </script>
             <%});%>
             <script>
                 nbre_sections = i;
            setContainerHeight(i+1);
          $('#container').html(html);
            var len =  $('.section').length;
             for(var j=0;j<len;j++)
            {
              if($('.section:eq('+j+')').data('type')==='default')
              {
                  $('.section:eq('+j+')').bind("click",j,insertOptions);
              }
              else if($('.section:eq('+j+')').data('type')==='List')
              {
                $('.section:eq('+j+')').bind("click",j,initBlocList);

              }else if($('.section:eq('+j+')').data('type')==='Note')
              {
                $('.section:eq('+j+')').bind("click",j,initBlocNote);

              }
            }
            for(var x=0;x<blocs.length;x++)
            {
                var id = blocs[x];
                 $("table[data-bloc='"+id+"'] input").bind("change",id,saveBlocList);
                 $("table[data-bloc='"+id+"'] input").bind("keyup",id,addNewRow);
                  $("table[data-bloc='"+id+"'] input").bind("focusout",id,checkRows);
               
            }
            for(var x=0;x<blocsNote.length;x++)
            {
                var id = blocsNote[x];
                console.log($("textarea[data-bloc='"+id+"']"));
                 $("textarea[data-bloc='"+id+"']").bind("keyup",id,saveBlocNote);
               
            }
        
            //$(".section").synchronizeScroll();
            </script>
            </div>
        <br>
        <div>
            <table border="1" width="100%">
                <tr >
               <td width="5%" bgcolor="#4169E1"><img src="images/curseurGauche.jpg" style="width :50px; height:40px" onclick="movePreviousPage('<%=result.VOLUME%>');"/></td>
                    <td width="5%" bgcolor="#4169E1"><img src="images/curseurDroite.jpg" style="width :50px; height:40px" onclick="moveNextPage('<%=result.VOLUME%>');"/></td>
                    <td width="5%" bgcolor="#4169E1"><img src="images/curseurBas.jpg" style="width :50px; height:40px" id="curseurBas"/></td>
                    <td bgcolor="#87CEEB"><h1><input type="text" name="titre_bas" value="<%=result.PAGE_TITLE%>" style="background-color:#87CEEB;width: 100%;border:0px" onchange="modifyTitleBot();"/></h1></td>
                    <td width="5%" bgcolor="#4169E1"><img src="images/cote.jpg" style="width :50px; height:40px"/></td>
                    <td width="5%" bgcolor="#4169E1"><img src="images/rond1.jpg" style="width :50px; height:40px" onclick="addPageWithNewVolume();"/></td>
                    <td width="5%" bgcolor="#4169E1"><img src="images/interrogation.jpg" style="width :50px; height:40px"/></td>
                </tr>
            </table>
        </div>
        <table id="menu_bot" style="display: none">
            <% menu_bot.forEach(function(item) {%>
            <tr> <td> <a href = '<%=item.event%>' title = '"<%=item.label%>"' > <%=item.label %> </a></td></tr>
            <% });%>
        </table>
    </body>
</html>
