          
 <div style="margin-top:80px">
            <div [hidden]="!saveEnCours" class="row">
                        <mat-progress-bar 
                        color="primary"
                        mode="indeterminate"
                        value="50"
                        >
                      </mat-progress-bar>
             </div>
             </div>
                        <mat-accordion style="width:100%;margin-top:80px">
                              <mat-expansion-panel #firstMatExpansionPanel >
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                        Générale
                                  </mat-panel-title>
                                  <mat-panel-description>
                                  </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row" style="margin-top:10px">
                                          <div  class="col-sm-4" style="padding-top:20px" >
                        <mat-checkbox (change)=" showSelectEntityClaculPrix = !showSelectEntityClaculPrix;"  style="padding-right: 25px" [(ngModel)] ="parametresVentes.prixClaculated" >
                  Prix Vente Caculé</mat-checkbox>   
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%;">
                                          
                        <mat-select [disabled]="!showSelectEntityClaculPrix" placeholder="Entité de Calcule de Prix" 
                         [(ngModel)]="parametresVentes.entityCalculPrix">
                                <mat-option value="Documents">
                                 Documents de Ventes
                                </mat-option>
                                <mat-option value="Invoices">
                                Factures de Ventes
                                 </mat-option>
                            
                        </mat-select>
                              </mat-form-field>
            
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%">
                                          
                        <mat-select [disabled]="!showSelectEntityClaculPrix" placeholder="Stratégie de Calcule de Prix" 
                         [(ngModel)]="parametresVentes.strategieCaclulPrix">
                                <mat-option value="FirstLine">
                                 Première Ligne
                                </mat-option>
                                <mat-option value="MoyLine">
                                Moyenne Lignes
                                         </mat-option>
                                <mat-option value="LastLine">
                                Dernière Ligne
                                </mat-option>
                                 <mat-option value="MaxPrix">
                                Le prix Maximal
                                </mat-option>
                                <mat-option value="MinPrix">
                                 Le prix  Minimal
                                </mat-option>
                                <mat-option value="MoyTVA">
                                        Le Prix  Moyen
                                       </mat-option>
                        </mat-select>
                              </mat-form-field>
            
                  </div>
            </div>
            <div class="row">
                    <div  class="col-sm-4"  style="padding-top:20px">
             <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculTVA = !showSelectEntityClaculTVA;"
             [(ngModel)] ="parametresVentes.tvaClaculated" >
                  TVA Vente Caculé</mat-checkbox>                                                                  
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%;">                              
                                          
                        <mat-select [disabled]="!showSelectEntityClaculTVA" placeholder="Entité de Calcule de TVA" 
                         [(ngModel)]="parametresVentes.entityCalculTVA">
                                <mat-option value="Documents">
                                 Documents de Ventes
                                </mat-option>
                                <mat-option value="Invoices">
                                Factures de Ventes
                                 </mat-option>
                            
                        </mat-select>
                              </mat-form-field>
            
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%;">                              
                                          
                        <mat-select [disabled]="!showSelectEntityClaculTVA" placeholder="Stratégie de Calcule de TVA" 
                         [(ngModel)]="parametresVentes.strategieCaclulTVA">
                                <mat-option value="FirstLine">
                                 Première Ligne
                                </mat-option>
                                <mat-option value="MoyLine">
                                Moyenne Lignes
                                         </mat-option>
                                <mat-option value="LastLine">
                                Dernière Ligne
                                </mat-option>
                                 <mat-option value="MaxTVA">
                                Le TVA Maximal
                                </mat-option>
                                <mat-option value="MinTVA">
                                 Le TVA  Minimal
                                </mat-option>
                                <mat-option value="MoyTVA">
                                        Le TVA  Moyen
                                </mat-option>
                        </mat-select>
                              </mat-form-field>
                  </div>
            </div>
            
            
            <div class="row">
                    <div  class="col-sm-4" style="padding-top:20px" >
             <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculQuantite = !showSelectEntityClaculQuantite;"
             [(ngModel)] ="parametresVentes.quantiteClaculated" >
                  Quantité Caculée</mat-checkbox>                                                                  
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%;">                              
                                          
                        <mat-select [disabled]="!showSelectEntityClaculQuantite" placeholder="Entité de Calcule de Quantité Reçue"
                         [(ngModel)]="parametresVentes.entityCalculQuantite">
                                <mat-option value="Documents">
                                 Documents de Ventes
                                </mat-option>
                                <mat-option value="Invoices">
                                Factures de Ventes
                                 </mat-option>
                                 <mat-option value="BonsReception">
                                Bons de Réception
                                 </mat-option>
                            
                        </mat-select>
                              </mat-form-field>
                  </div>
                 
            </div>
            
            <div class="row">
                    <div  class="col-sm-4" style="padding-top:20px" >
             <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculAttenteReception = !showSelectEntityClaculAttenteReception;"
             [(ngModel)] ="parametresVentes.attenteReceptionCalculated" >
                  Attente de Réception Caculée</mat-checkbox>                                                                  
                  </div>
                  <div class="col-sm-4" >
                              <mat-form-field style="width:100%;">                              
                                          
                        <mat-select  [disabled]="!showSelectEntityClaculAttenteReception" placeholder="Entité de Calcule de l'Attente de Réception" 
                         [(ngModel)]="parametresVentes.entityCalculAttenteReception">
                                <mat-option value="Documents">
                                 Documents de Ventes
                                </mat-option>
                                <mat-option value="Invoices">
                                Factures de Ventes
                                 </mat-option>
                                 <mat-option value="Ordres">
                                Ordres de Ventes
                                 </mat-option>
                                 <mat-option value="Demandes">
                                        Demandes de Ventes
                                         </mat-option>
                        </mat-select>
                              </mat-form-field>
                  </div>
                 
            </div>
            <div class="row">
                        <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                    
                                    
                          <mat-icon>done</mat-icon> 
                                                    
                   </button>
            </div>
            </mat-expansion-panel>
            <mat-expansion-panel #secondMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Taxes
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                              <div class="row"> 
                  
                                          <div  class="col-sm-4" style="padding-top:20px">
                                                      <mat-checkbox style="padding-right: 25px" 
                                                                  [(ngModel)] ="parametresVentes.inclureTVAFacture" >
                                                                       Inclure TVA dans mes Factures
                                                      </mat-checkbox>                                                                  
                                     </div>  
                                     <div  class="col-sm-4" >
                                <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                               <input matInput  placeholder="%TVA Par Défaut" type="number" [(ngModel)]="parametresVentes.defaultTVAPourcentage">
                                                            
                           </mat-form-field> 
                                                                                                                           
                                    </div>
                                    <div  class="col-sm-4" style="padding-top:20px">
                                                                                                            
                               </div> 
                        </div>
                        <div class="row"> 
                                    
                                                            <div  class="col-sm-4" style="padding-top:20px">
                                                                        <mat-checkbox style="padding-right: 25px" 
                                                                                    [(ngModel)] ="parametresVentes.inclureFodecFacture" >
                                                                                         Inclure Fodec dans mes Factures
                                                                        </mat-checkbox>                                                                  
                                                       </div>  
                                                       <div  class="col-sm-4" >
                                                  <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                                 <input matInput  placeholder="%Fodec Par Défaut" type="number" 
                                                  [(ngModel)]="parametresVentes.defaultFodecPourcentage">
                                                                              
                                             </mat-form-field> 
                                                                                                                                             
                                                      </div>
                                                      <div  class="col-sm-4" style="padding-top:20px">
                                                                                                                              
                                                 </div> 
                        </div>
                  
                        <div class="row"> 
                                    
                                                            <div  class="col-sm-4" style="padding-top:20px">
                                                                        <mat-checkbox style="padding-right: 25px" 
                                                                        [(ngModel)] ="parametresVentes.inclureTimbreFacture" >
                                                                             Inclure Timbre dans mes Factures</mat-checkbox>                                                                    
                                                       </div>  
                                                       <div  class="col-sm-4" >
                                                       <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                                       <input matInput  placeholder="Valeur Timbre Fiscal"  type="number"
                                                        [(ngModel)]="parametresVentes.valeurTimbreFiscal">
                                                                              
                                                                  </mat-form-field>    
                                                                                                                                             
                                                      </div>
                                                      <div  class="col-sm-4" style="padding-top:20px">
                                                                                                                              
                                                 </div> 
                         </div>
                  
                  
                        <div class="row"> 
                                    
                                                            <div  class="col-sm-4" style="padding-top:20px">
                                                                        <mat-checkbox style="padding-right: 25px" 
                                                                                    [(ngModel)] ="parametresVentes.inclure3rdTaxeFacture" >
                                                                                         Inclure une Nouvelle Taxe dans mes Factures
                                                                        </mat-checkbox>                                                                  
                                                       </div>  
                                                       <div  class="col-sm-4" >
                                                  <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                                 <input matInput  type="number" placeholder="% Nouvelle Taxe Par Défaut" 
                                                  [(ngModel)]="parametresVentes.default3rdTaxePourcentage">
                                                                              
                                             </mat-form-field> 
                                                                                                                                             
                                                      </div>
                                                      <div  class="col-sm-4" >
                                                  <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                                       <input matInput  type="string" placeholder="Libellé Nouvelle Taxe"  
                                                       [(ngModel)]="parametresVentes.default3rdTaxeLibelle">
                                                                                                           
                                                  </mat-form-field>                                                                    
                                                 </div> 
                        </div>
                        <div class="row"> 
                                    
                                                            <div  class="col-sm-4" style="padding-top:20px">
                                                                        <mat-checkbox style="padding-right: 25px" 
                                                                                    [(ngModel)] ="parametresVentes.inclure4rdTaxeFacture" >
                                                                                         Inclure une Seconde Taxe dans mes Factures
                                                                        </mat-checkbox>                                                                  
                                                       </div>  
                                                       <div  class="col-sm-4" >
                                                  <mat-form-field style="width:100%;">  
                                                 <input matInput  type="number" placeholder="% Seconde Taxe Par Défaut" 
                                                  [(ngModel)]="parametresVentes.default4rdTaxePourcentage">
                                                                              
                                             </mat-form-field> 
                                                                                                                                             
                                                      </div>
                                                      <div  class="col-sm-4" >
                                                  <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                                       <input matInput  type="string" placeholder="Libellé Seconde Taxe"  [(ngModel)]="parametresVentes.default4rdTaxeLibelle">
                                                                                                           
                                                  </mat-form-field>                                                                    
                                                 </div> 
                        </div>
                        <div class="row">
                                    <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                
                                                
                                      <mat-icon>done</mat-icon> 
                                                                
                               </button>       
                   </div>
            </mat-expansion-panel>
            <mat-expansion-panel #thirdMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Remise
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                  <div class="row">
                  
                         <div  class="col-sm-4" style="padding-top:20px">
                                    <mat-checkbox style="padding-right: 25px" 
                                                [(ngModel)] ="parametresVentes.inclureRemiseFacture" >
                                                     Inclure Remise dans mes Factures</mat-checkbox>                                                                  
                               </div>
                               <div  class="col-sm-4" >
                                    <mat-form-field style="width:100%;">  
                   <input matInput  type="number" placeholder="% Remise Par Défaut"  [(ngModel)]="parametresVentes.defaultRemisePourcentage">
                                                                       
                                      </mat-form-field>                                                              
                                     </div>
                         <div  class="col-sm-4" style="padding-top:20px">
                                                                                                           
                        </div>            
                  </div>
                  <div class="row">
                                          <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                      
                                                      
                                            <mat-icon>done</mat-icon> 
                                          </button>
                                      
                  </div>
            </mat-expansion-panel>
            <mat-expansion-panel #4thrdMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Magasins
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                  <div class="row">
                  
                  
                         <div  class="col-sm-4" style="padding-top:20px">
                                    <mat-checkbox style="padding-right: 25px" 
                                                [(ngModel)] ="parametresVentes.inclureMagasinsFacture" >
                                                     Inclure Magasins dans mes Factures</mat-checkbox>                                                                  
                               </div>
                               <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%" >                              
                                                      
                                    <mat-select  placeholder="Rechercher Magasins Par"
                                     [(ngModel)]="parametresVentes.magasinSearchBy">
                                            <mat-option value="Code">
                                            Code
                                            </mat-option>
                                            <mat-option value="Libelle">
                                                  Libelle
                                             </mat-option>
                                          
                                    </mat-select>
                                          </mat-form-field>                                                                 
                                     </div>
                                     <div  class="col-sm-4" style="padding-top:20px">
                                                
                                     </div>
                  </div>
                              <div class="row">
                                          <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                      
                                                      
                                            <mat-icon>done</mat-icon> 
                                          </button>
                              </div>                                 
                                      
            </mat-expansion-panel>
            <mat-expansion-panel #5emeMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Articles
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                                    <div  class="col-sm-4" >
                                                <mat-form-field style="width:100%" >                              
                                                            
                                          <mat-select  placeholder="Rechercher Articles Par"
                                           [(ngModel)]="parametresVentes.articleSearchBy">
                                                  <mat-option value="Code">
                                                  Code
                                                  </mat-option>
                                                  <mat-option value="Libelle">
                                                        Libelle
                                                   </mat-option>
                                                
                                          </mat-select>
                                                </mat-form-field>                                                                 
                                           </div>
                        
                               <div  class="col-sm-4" style="padding-top:20px">
                                          <mat-checkbox style="padding-right: 25px" 
                                                      [(ngModel)] ="parametresVentes.inclureConfigurationsFacture" >
                                                           Inclure Configurations dans mes Factures</mat-checkbox>                                                                  
                                     </div>
                                     <div  class="col-sm-4">
                                                <mat-form-field style="width:100%" >                              
                                                            
                                          <mat-select  placeholder="Rechercher Configurations Par"
                                           [(ngModel)]="parametresVentes.configurationSearchBy">
                                                  <mat-option value="Code">
                                                  Code
                                                  </mat-option>
                                                  <mat-option value="Libelle">
                                                        Libelle
                                                   </mat-option>
                                                
                                          </mat-select>
                                                </mat-form-field>                                                                 
                                           </div>
                                          
                        </div>
                   
                                    <div class="row">
                                                <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                            
                                                            
                                                  <mat-icon>done</mat-icon> 
                                                </button>
                                            
                                          </div   >
                  
            </mat-expansion-panel>
            <mat-expansion-panel #6emeMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                UN Mesure
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                        
                        
                               <div  class="col-sm-4" style="padding-top:20px">
                                          <mat-checkbox style="padding-right: 25px" 
                                                      [(ngModel)] ="parametresVentes.inclureUnMesure" >
                                                           Inclure UN Mesure dans mes Factures</mat-checkbox>                                                                  
                                     </div>
                                     <div  class="col-sm-4" >
                                                <mat-form-field style="width:100%" >                              
                                                            
                                          <mat-select  placeholder="Rechercher Un Mesure Par"
                                           [(ngModel)]="parametresVentes.unMesureSearchBy">
                                                  <mat-option value="Code">
                                                  Code
                                                  </mat-option>
                                                  <mat-option value="Libelle">
                                                        Libelle
                                                   </mat-option>
                                                
                                          </mat-select>
                                                </mat-form-field>                                                                 
                                           </div>
                                           <div  class="col-sm-4">
                                                
                                           </div>
                        </div>
                        <div class="row">
                                    <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                
                                                
                                      <mat-icon>done</mat-icon> 
                                    </button>
                                
                              </div   >
            </mat-expansion-panel>
            <mat-expansion-panel #7emeMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Bénéfice
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                              <div class="row">
                              
                                     <div  class="col-sm-4" style="padding-top:20px">
                                                <mat-checkbox style="padding-right: 25px" 
                                                            [(ngModel)] ="parametresVentes.inclureBeneficeFacture" >
                                                                 Inclure Bénéfice dans mes Factures</mat-checkbox>                                                                  
                                           </div>
                                           <div  class="col-sm-4" >
                                                <mat-form-field style="width:100%;">  
                               <input matInput  type="number" placeholder="% Benefice Par Défaut"  [(ngModel)]="parametresVentes.defaultBeneficePourcentage">
                                                                                   
                                                  </mat-form-field>                                                              
                                                 </div>
                                     <div  class="col-sm-4" style="padding-top:20px">
                                                                                                                       
                                    </div>            
                              </div>
                              <div class="row" >
                                          <button  style="margin-left:20px;"  (click)="saveParametresVentes()"  mat-mini-fab color="primary" >
                                                      
                                                      
                                            <mat-icon>done</mat-icon> 
                                                                      
                                     </button>     
                               </div>
            </mat-expansion-panel>
                        </mat-accordion>
            