
<mat-dialog-content >
  
        <div>
                
                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="Code"  [(ngModel)] ="payementDemandeAchats.code">
                 </mat-form-field>
                                    </div>
                         <div  class="col-sm-6">
                 <mat-form-field style="width:100%">
                 <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Paiement" [(ngModel)]="payementDemandeAchats.dateOperationObject">
                                                 <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                <mat-datepicker #pickerDateOperation></mat-datepicker>
                          </mat-form-field>     
                                      </div>
                     </div>
                     <div class="row">

                        <div  class="col-sm-12">
                                <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Montant Payé" [(ngModel)] ="payementDemandeAchats.montantPaye" >
                                    </mat-form-field>
                </div>

                     </div>
                     <div class="row" >
         
                             <div class="col-sm-12">
                                        <mat-form-field [color]="red" style="width:100%">
                                                        
                                <mat-select placeholder="Mode Payement" 
                                [(ngModel)]="payementDemandeAchats.modePayement" [value]="Espece">
                                        <mat-option value="Espece">
                                                Espèce
                                        </mat-option>
                                        <mat-option value="Cheque">
                                                Chèque
                                         </mat-option>
                                         <mat-option value="Virement">
                                               Virement
                                         </mat-option>
                                </mat-select>
                        </mat-form-field>
                        
                              </div>
                          
                          </div>
     
                          <div class="row" *ngIf="payementDemandeAchats.modePayement==='Cheque'" >
                                
                         <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="N°Chèque" [(ngModel)] ="payementDemandeAchats.numeroCheque" >
                                 </mat-form-field>
                                           
                                </div>
                        <div class="col-sm-6" >
                                <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="pickerDateCheque" placeholder=" Date Vir.Chèque" [(ngModel)]="payementDemandeAchats.dateChequeObject">
                         <mat-datepicker-toggle matSuffix [for]="pickerDateCheque" touchUi #pickerDateCheque ></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateCheque></mat-datepicker>
                        </mat-form-field>            
                               
                          </div>
                        </div>
                        <div class="row" *ngIf="payementDemandeAchats.modePayement==='Cheque' ||
                        payementDemandeAchats.modePayement==='Virement' " >
                                
                                 <div class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="N°Compte" [(ngModel)] ="payementDemandeAchats.compte" >
                        </mat-form-field>
                                           
                                </div>
                                 <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="N°Compte Adv." [(ngModel)] ="payementDemandeAchats.compteAdversaire" >
                                </mat-form-field>                     
                                             
                                </div>
                        </div>
                        <div class="row"  *ngIf="payementDemandeAchats.modePayement==='Cheque' ||
                        payementDemandeAchats.modePayement==='Virement' ">
                                
                                 <div class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Banque" [(ngModel)] ="payementDemandeAchats.banque" >
                        </mat-form-field>
                                           
                                </div>
                                 <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="Banque Adv." [(ngModel)] ="payementDemandeAchats.banqueAdversaire" >
                                </mat-form-field>                     
                                             
                                </div>
                        </div>
                        <div class="row" >
                                
                                 <div class="col-sm-12">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Déscription" [(ngModel)] ="payementDemandeAchats.description" >
                        </mat-form-field>
                                           
                                </div>
                               
                        </div>       </div>
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="savePayementDemandeAchats()">Enregistrer</button>
</mat-dialog-actions>
