
<mat-dialog-content >
                <div [hidden]="!updateEnCours" class="row">
                    <mat-progress-bar 
                    color="primary"
                    mode="indeterminate"
                    value="50"
                    >
                </mat-progress-bar>
            </div>
            
                            <div class="row">
                                    <div class="col-sm-12">
                                            
                                    <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                                    </div>
                            </div>
                                
                            <div class="row">
                                    <div class="col-sm-6">
               <mat-form-field [color]="red" style="width:100%">
                       <input matInput placeholder="Code"  readonly [(ngModel)] ="transactionCompteClient.code">
               </mat-form-field>
                              
                                 </div>
                  
                   <div class="col-sm-6">
                  
                          <mat-form-field style="width:100%">
                                  <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Date" [(ngModel)]="transactionCompteClient.dateTransactionObject">
                                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker2></mat-datepicker>
                                         </mat-form-field>                                     
                           </div>
                  
                              </div>
                   <div class="row">
                          
                       <div  class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%" >
                                      
                              <mat-select placeholder="Type"  [(ngModel)]="transactionCompteClient.type">
                                      <mat-option *ngFor="let typeTR of typesTransactions" [value]="typeTR.value">
                                             {{ typeTR.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>     
                              </mat-form-field>                    
                       </div>
                      
                       <div class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%">
   <input matInput placeholder="Valeur" type="number" [(ngModel)] ="transactionCompteClient.valeurTransaction">
              </mat-form-field>
                                             
               </div>



                    </div>

                 
            </mat-dialog-content>
            
            <mat-dialog-actions>
                    
                <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateTransactionCompteClient()">Enregistrer</button>
            </mat-dialog-actions>
            