
  <div [hidden]="!updateEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button style="margin-left:0px;" (click)="loadGridJournaux()"   class="pull-left"  mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
              
                <button  style="margin-left:20px;"  (click)="updateJournal();"  mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
  </div>
  <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
        
        <mat-tab label="Générale" style="padding-top: 5px"> 
                <div style="width:96%">
                        <div class="row" >
                                <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="N°Journal" readonly  [(ngModel)]="journal.numeroJournal">
                        </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                            <mat-form-field style="width:100%">
                                <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date" [(ngModel)]="journal.dateJournalObject">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                             </div>
                           </div>
                        
                            <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                        <input matInput type="number"   
                                        [readonly]="journal.etat ==='Ouvert' || journal.etat ==='Annulee'
                                        ||  journal.etat ==='Valide' ||  journal.etat ==='Cloture'" 
                                         placeholder="Total Des Ventes" 
                                        [(ngModel)] ="journal.montantVentes" >
                                        </mat-form-field>
                                   </div>
                                   <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                  <input matInput type="number"   [readonly]="journal.etat ==='Ouvert' ||  journal.etat ==='Annulee' ||  
                                  journal.etat ==='Valide' ||  journal.etat ==='Cloture' "
                                  placeholder="Total Des Achats" [(ngModel)] ="journal.montantAchats" >
                                                
                                     </mat-form-field>
                                 </div>
                               
                         </div>
                        
                        
                             <div class="row">
                          <div class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                              <input matInput type="number"  
                                 [readonly]="journal.etat ==='Ouvert' ||  journal.etat ==='Annulee' || 
                              journal.etat ==='Valide' ||  journal.etat ==='Cloture' " placeholder="Total Paie R.Humaines" 
                              [(ngModel)] ="journal.montantRH" >
                              </mat-form-field>
                         </div>
                                  <div class="col-sm-6">
                                      <mat-form-field [color]="red" style="width:100%">
                                           <input matInput type="number"    [readonly]="journal.etat ==='Ouvert' ||  journal.etat ==='Annulee' ||  
                                           journal.etat ==='Valide' ||  journal.etat ==='Cloture' "
                                           placeholder="Total Des Charges" [(ngModel)] ="journal.montantCharges" >
                                      
                                                       </mat-form-field>
                                      </div>
                        
                        </div>
                                  
                        <div class="row" >
                            <div class="col-sm-12">
                                        <mat-form-field [color]="red" style="width:100%" >
                                            <input matInput type="string" placeholder="Remarques" [(ngModel)] ="journal.description"
                                             >
                                         </mat-form-field>
                            </div>
                        </div>
                                 <div class="row" >
                                                  <div class='col-sm-12'>
                                                      <mat-form-field [color]="red" style="width:100%" >
                                                          
                                                          <mat-select placeholder="Etat"  [(ngModel)]="journal.etat">
                                                              <mat-option *ngFor="let etat of etatsJournal" [value]="etat.value">
                                                                     {{ etat.viewValue }}
                                                              </mat-option>
                                                          
                                                      </mat-select>
                                                      </mat-form-field>
                                                  </div>
                                                                                  
                             </div>
                </div>
        </mat-tab>
        <mat-tab label="Lignes"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
        <div style="width:97%" >
        <app-lignes-journaux-grid [journal]="journal" ></app-lignes-journaux-grid >
                    
                </div>
        </mat-tab>
   
   
        <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                        <div style="width:97%" >
                                        
  <app-documents-journaux-grid [journal]="journal" ></app-documents-journaux-grid >
                       
          </div> 
        </mat-tab>

      </mat-tab-group>
