
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridJournaux()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveJournal();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Journal" [(ngModel)]="journal.numeroJournal">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date" [(ngModel)]="journal.dateJournalObject">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     </div>
   </div>

    <div class="row">
            <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number"

                 [readonly]="journal.etat ==='Ouvert' || journal.etat ==='Annulee' || 
                journal.etat ==='Valide' ||  journal.etat ==='Cloture' "
                
                placeholder="Total Des Ventes" 
                [(ngModel)] ="journal.montantVentes" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput type="number" 
          [readonly]="journal.etat ==='Ouvert' ||  journal.etat ==='Annulee'  || 
          journal.etat ==='Valide'  ||  journal.etat ==='Cloture' "
          
          placeholder="Total Des Achats" [(ngModel)] ="journal.montantAchats" >
                        
             </mat-form-field>
         </div>
       
 </div>


     <div class="row">
  <div class="col-sm-6">
      <mat-form-field [color]="red" style="width:100%">
      <input matInput type="number"
       placeholder="Total Paie R.Humaines"  [readonly]="journal.etat ==='Ouvert' ||  journal.etat ==='Annulee'  || 
       journal.etat ==='Valide'  ||  journal.etat ==='Cloture' "
      [(ngModel)] ="journal.montantRH" >
      </mat-form-field>
 </div>
          <div class="col-sm-6">
              <mat-form-field [color]="red" style="width:100%">
                   <input matInput type="number" [readonly]="journal.etat ==='Ouvert' 
                    ||  journal.etat ==='Annulee'  || 
                   journal.etat ==='Valide'  ||  journal.etat ==='Cloture' "

                    placeholder="Total Des Charges" [(ngModel)] ="journal.montantCharges" >
              
                               </mat-form-field>
              </div>

</div>
          
<div class="row" >
    <div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%" >
                    <input matInput type="string" placeholder="Remarques" [(ngModel)] ="journal.description"
                     >
                 </mat-form-field>
    </div>
</div>
         <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="journal.etat">
                                      <mat-option *ngFor="let etat of etatsJournal" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
     </div>