
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridComptesFournisseurs()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveCompteFournisseur();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Compte" [(ngModel)]="compteFournisseur.numeroCompteFournisseur">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date Ouverture" [(ngModel)]="compteFournisseur.dateOuvertureObject">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     </div>
   </div>
   <div class="row" >
      <div class='col-sm-4'>
              <mat-form-field style="width:100%">
                      <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="compteFournisseur.fournisseur.cin" matInput [formControl]="fournisseurFilter.getControlCins()" [matAutocomplete]="auto1">
                      <mat-autocomplete (optionSelected)="fillDataNomPrenomFournisseur()" name ="cinAutoComplete" #auto1="matAutocomplete">
                        <mat-option *ngFor="let cin of fournisseurFilter.getFiltredCins() | async" [value]="cin">
                          {{cin}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
      </div> 
      <div class='col-sm-4'>
              <mat-form-field style="width:100%">
                      <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="compteFournisseur.fournisseur.nom"  matInput  [matAutocomplete]="auto2">
                    </mat-form-field>
      </div> 
      <div class='col-sm-4'>
              <mat-form-field style="width:100%">
                      <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="compteFournisseur.fournisseur.prenom"  [matAutocomplete]="auto3">
                    </mat-form-field>
      </div>
    </div>
   <div class="row">
        <div class='col-sm-4'>
        <mat-form-field style="width:100%">
            <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="compteFournisseur.fournisseur.registreCommerce" matInput [formControl]="fournisseurFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
            <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaisonFournisseur()" #auto14="matAutocomplete">
              <mat-option *ngFor="let registreCommerce of fournisseurFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                {{registreCommerce}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div> 
        <div class='col-sm-4'>
        <mat-form-field style="width:100%">
            <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="compteFournisseur.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto5">
          
          </mat-form-field>
        </div>
        <div class='col-sm-4'>
            <mat-form-field style="width:100%">
                    <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="compteFournisseur.fournisseur.raisonSociale" readonly [matAutocomplete]="auto5">
                    
                  </mat-form-field>
        </div>
        </div>  

   <div class="row">
    <div class="col-sm-12">
            <mat-form-field [color]="red" style="width:100%">
                    <input matInput type="number" placeholder="Valeur d'Achats" 
                    [(ngModel)] ="compteFournisseur.valeurAchats" >
                    </mat-form-field>
    </div>
   </div>
    <div class="row">
            <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" placeholder="Valeur de Dettes" 
                [(ngModel)] ="compteFournisseur.valeurDettes" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput type="number" placeholder="Valeur de Paiements" [(ngModel)] ="compteFournisseur.valeurPaiements" >
                        
             </mat-form-field>
         </div>
       
 </div>    
  <div class="row" >
                          <div class='col-sm-6'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="compteFournisseur.etat">
                                      <mat-option *ngFor="let etat of etatsCompteFournisseur" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                          <div class='col-sm-6'>
                 <mat-form-field style="width:100%">
     <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Date Clôture" [(ngModel)]="compteFournisseur.dateClotureObject">
                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                     <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
                          </div>                                
                                                          
     </div>