
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridRelevesProduction()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveReleveProduction();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Releve" [(ngModel)]="releveProduction.numeroReleveProduction">
</mat-form-field>
      </div>
      <div class="col-sm-6">
            <mat-form-field [color]="red" style="width:100%">
            <input matInput type="number"
            placeholder="Durée(Heures)" 
            [(ngModel)] ="releveProduction.dureeHours" >
            </mat-form-field>
       </div>
  
   </div>

    <div class="row">

            <div class="col-sm-6">
                    <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date Début Production" 
                        [(ngModel)]="releveProduction.dateDebutProductionObject">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
            </div>
       
           <div class="col-sm-6">
                <mat-form-field style="width:100%">
             <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Date Fin Production" [(ngModel)]="releveProduction.dateFinProductionObject">
             <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
         </div>
       
 </div>


     <div class="row">
            <div class="col-sm-6">
                    
             <mat-form-field [color]="red" style="width:100%">

 <input type="text" placeholder="ART." aria-label="string" [(ngModel)]="releveProduction.articleProduit.code"
  matInput 
 [formControl]="articleFilter.getControlCodesArticles()" 
 [matAutocomplete]="autoCodeArticle">
 <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
   <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
     {{codeArticle}}
   </mat-option>
 </mat-autocomplete>
            </mat-form-field>
              </div>
              <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%">
             <input matInput type="string" readonly placeholder="Libéllé" 
              [(ngModel)] ="releveProduction.articleProduit.libelle"  >
                                                              
                       </mat-form-field>
             </div>
    
</div>
          
<div class="row">

<div class="col-sm-6">
   <mat-form-field [color]="red" style="width:100%">
<input matInput type="string" readonly placeholder="Désignation" 
                   [(ngModel)] ="releveProduction.articleProduit.designation"  >
                                                 
     </mat-form-field>
 </div> 
 <div class="col-sm-6">
        
     <mat-form-field [color]="red" style="width:100%"> <input type="text" placeholder="UN.Mes." aria-label="string"
[(ngModel)]="releveProduction.unMensure.code"  matInput 
[formControl]="unMesureFilter.getControlCodesUnMesures()" 
[matAutocomplete]="autoCodeUnMesure">
<mat-autocomplete name ="codeUnMesure"  #autoCodeUnMesure="matAutocomplete">
<mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
{{codeUnMesure}}
</mat-option>
</mat-autocomplete>
</mat-form-field>
</div>
</div>





<div class="row" >

    <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%" >
                    <input matInput type="number" placeholder="Qte Produit" [(ngModel)] ="releveProduction.qteProduitIntacte"
                     >
                 </mat-form-field>
    </div>
    <div class="col-sm-3">
            <mat-form-field [color]="red" style="width:100%" >
                <input matInput type="number" placeholder="Qte Domagée" [(ngModel)] ="releveProduction.qteProduitDefaille"
                 >
             </mat-form-field>
</div>
<div class="col-sm-3">
        <mat-form-field [color]="red" style="width:100%" >
            <input matInput type="number" placeholder="Qte En Cours" [(ngModel)] ="releveProduction.qteEnCoursProduction"
             >
         </mat-form-field>
</div>
</div>

<div class="row" >
        
            <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%" >
                            <input matInput type="number" placeholder="Coût" [(ngModel)] ="releveProduction.cout"
                             >
                         </mat-form-field>
            </div>
            <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%" >
                        <input matInput type="number" placeholder="Depôt Stockage" [(ngModel)] ="releveProduction.depotStockage"
                         >
                     </mat-form-field>
        </div>
     
        </div>
        <div class="row" >
                
                    <div class="col-sm-12">
                                <mat-form-field [color]="red" style="width:100%" >
            <input matInput type="string" placeholder="Conditions Stockage" [(ngModel)] ="releveProduction.conditionsStockage"
                                     >
                                 </mat-form-field>
                      </div>
              
             
                </div>

                <div class="row" >
                        
                <div class="col-sm-12">
                 <mat-form-field [color]="red" style="width:100%" >
     <input matInput type="string" placeholder="Résponsable" [(ngModel)] ="releveProduction.responsable"
                                             >
                                         </mat-form-field>
             </div>      
             </div>

         <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="releveProduction.etat">
                                      <mat-option *ngFor="let etat of etatsReleveProduction" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
     </div>