<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button (click)="loadGridHistoriquesFournisseurs"   class="pull-left"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>arrow_back</mat-icon>
                            
     </button>
    <button style="margin-left:30px" (click)="updateHistoriqueFournisseur();"    mat-mini-fab color="primary"  >
        
        
                        <mat-icon>done </mat-icon> 
                        
    </button>
  </div>
  <div class="row" >
    
            <div class="col-sm-4">
          <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="N° Historique" readonly [(ngModel)]="historiqueFournisseur.numeroHistoriqueFournisseur">
            
            </mat-form-field>
           </div>
           <div class="col-sm-4">
            <mat-form-field [color]="red" style="width:100%">
                <input matInput [matDatepicker]="picker1" placeholder="Date Règlement" [(ngModel)]="historiqueFournisseur.dateReglementObject">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
             </div>
             <div class="col-sm-4">
              <mat-form-field [color]="red" style="width:100%">
                  <input matInput [matDatepicker]="picker2" placeholder="Date Ventes" [(ngModel)]="historiqueFournisseur.dateVentesObject">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
               </div>
            </div>

     <div class="row">
                <div class='col-sm-4'>
                        <mat-form-field >
                <input type="text" placeholder="Select Cin" aria-label="Number"
                 [(ngModel)]="historiqueFournisseur.fournisseur.cin" matInput [formControl]="fournisseursFilter.getControlCins()" [matAutocomplete]="auto1">
                 <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                 <mat-option *ngFor="let cin of fournisseursFilter.getFiltredCins() | async" [value]="cin">
                          {{cin}}
                       </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                </div> 
                <div class='col-sm-4'>
                        <mat-form-field >
                                <input type="text" placeholder="Nom" 
                                aria-label="String" readonly [(ngModel)]="historiqueFournisseur.fournisseur.nom" 
                                 matInput  [matAutocomplete]="auto2">
                              </mat-form-field>
                </div> 
                <div class='col-sm-4'>
                        <mat-form-field >
                                <input type="text" placeholder="Prénom" aria-label="String" 
                                readonly matInput [(ngModel)]="historiqueFournisseur.fournisseur.prenom"  [matAutocomplete]="auto3">
                              </mat-form-field>
                </div>
              </div>
              <div class="row" >
              <div class='col-sm-4'>
              <mat-form-field >
                  <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" 
                  [(ngModel)]="historiqueFournisseur.fournisseur.registreCommerce"
                   matInput [formControl]="fournisseursFilter.getControlRegistreCommerce()"
                    [matAutocomplete]="auto14">
                  <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                    <mat-option *ngFor="let registreCommerce of fournisseursFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                      {{registreCommerce}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div> 
              <div class='col-sm-4'>
              <mat-form-field >
                  <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="historiqueFournisseur.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                
                </mat-form-field>
              </div>
              <div class='col-sm-4'>
                  <mat-form-field >
                          <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="historiqueFournisseur.fournisseur.raisonSociale" readonly [matAutocomplete]="auto5">
                          
                        </mat-form-field>
              </div>
              </div>  

            <div class="row">
               
             <div class="col-sm-4">
              <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" placeholder="Montant Mis En Valeur"  [(ngModel)]="historiqueFournisseur.montantMisEnValeur">
                
                </mat-form-field>
           
               </div>

               <div class="col-sm-4">
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput type="number" placeholder="Infos Complémentaires"  [(ngModel)]="historiqueFournisseur.additionalInfos">
                    
                  </mat-form-field>
                  </div>

            <div class="col-sm-4">
              <mat-form-field [color]="red" style="width:100%" >
                <input matInput type="number" placeholder="Déscription"  [(ngModel)]="historiqueFournisseur.description">
              </mat-form-field>
             </div>
            </div>
    

 




























  
