

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridSorties()"   class="pull-left"   
                mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
               
                <button style="margin-left:20px;"  (click)="updateSortie();"  
                mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              </div>
              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
                
                <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="width:96%">
        
                                <div class="row">
                                        <div  class="col-sm-12">
                                   <mat-form-field [color]="red" style="width:100%" >
                                  <input matInput placeholder="N°Sortie" readonly [(ngModel)] ="sortie.numeroSortie">
                                 </mat-form-field>
                                        </div>
                                       
                        </div>
                        
                        <div class="row" >
                        
                            
                                <div class="col-sm-12">
                                        <mat-form-field [color]="red"  style="width:100%">
                                                <input matInput placeholder="Description" [(ngModel)] = "sortie.description">
                                        </mat-form-field>
                                   
                                </div>
                              
                                                                   
                        </div>
                        <div class="row">
                                        <div  class="col-sm-12">
                                                     
                                       
                                                <mat-form-field [color]="red"  style="width:100%">
                                                                <mat-select placeholder="Motif " [(ngModel)] = "sortie.motif">
                                                        <mat-option *ngFor="let motif of motifs" [value]="motif.value">
                                                                    {{motif.viewValue}}
                                                                  </mat-option>
                                                        </mat-select>
                                                </mat-form-field>
                                        </div>
                                     
                        
                        
                           </div>
                           <div class="row">
                               
                        
                                     <div class="col-sm-6">
                                        <mat-form-field [color]="red"  style="width:100%">
                                                <input matInput placeholder="Valeur" [(ngModel)] = "sortie.montant">
                                        </mat-form-field>                 
                        
                                       </div>
                                       <div class="col-sm-6">
                                        <mat-form-field [color]="red"  style="width:100%">
                                                <input matInput placeholder="Date Opération" [(ngModel)] = "sortie.dateOperation">
                                        </mat-form-field>                 
                        
                                       </div>
                        
                                
                        </div>       
                        <div class="row" >
                                        <div class='col-sm-12'>
                                                        <mat-form-field [color]="red" style="width:100%" >
                                                                        
                                                        <mat-select placeholder="Etat"  [(ngModel)]="sortie.etat">
                                                                        <mat-option *ngFor="let etat of etatsSorties" [value]="etat.value">
                                                                               {{ etat.viewValue }}
                                                                        </mat-option>
                                                                    
                                                                </mat-select>
                                                        </mat-form-field>
                                        </div>
                                                                        
                                 </div>
        </div>
                </mat-tab>
           
                <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                                <div style="width:97%" >
                                                
          <app-documents-sorties-grid [sortie]="sortie" ></app-documents-sorties-grid>
                               
                  </div> 
                </mat-tab>
        
              </mat-tab-group>