<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button style="margin-left:0px;"(click)="loadAddDocumentVenteComponent();"  mat-mini-fab color="primary"   class="pull-left" >
        
        
                        <mat-icon>add</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="loadEditDocumentVenteComponent();"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >edit</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="refresh();"  mat-mini-fab color="primary"   >
      
      
                      <mat-icon   >refresh</mat-icon>
                      
  </button>

  <button style="margin-left:30px;" (click)="addClient();"  mat-mini-fab  >
    
    
                    <mat-icon   >person</mat-icon>
                    
</button>

<button style="margin-left:30px; background-color: grey;" (click)="history();"  mat-mini-fab >
      
      
                      <mat-icon   >history</mat-icon><span style="padding-top:17px"></span>
                      
</button>
  <button (click)="supprimerDocumentsVentes();"  class="pull-right"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >delete</mat-icon><span style="padding-top:17px">  </span>
                        
    </button>
  
  
  </div>


<div class="row">
<mat-form-field style="margin-top:12px;width:100%">;
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataDocumentsVentesSource"  matSort style="width:100%;" >


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
     >
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
      <td mat-cell *matCellDef="let docVente"> {{docVente[columnDef.name]}} </td>
    </ng-container>
  
    <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>  