<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridDocumentsVentes()"   class="pull-left"   mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveDocumentVente();"    mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done </mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>
              
              
    </div>

    <mat-accordion style="width:100%">
      <mat-expansion-panel #firstMatExpansionPanel >
        <mat-expansion-panel-header>
          <mat-panel-title>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>

<div class="row">
               <div  class="col-sm-6">
          <mat-form-field [color]="red" style="width:100%" >
         <input matInput placeholder="N° DOC"  [(ngModel)] ="documentVente.numeroDocumentVente">
        </mat-form-field>
               </div>
               <div  class="col-sm-6">
                <mat-form-field style="width:100%">
                  <input matInput [matDatepicker]="pickerDateVenteObject" placeholder="Date de Vente"
                   [(ngModel)]="documentVente.dateVenteObject">
                  <mat-datepicker-toggle matSuffix [for]="pickerDateVenteObject"></mat-datepicker-toggle>
                  <mat-datepicker #pickerDateVenteObject></mat-datepicker>
             </mat-form-field>
                     </div>
           
</div>
<div class="row">
  <div class='col-sm-6'>
          <mat-form-field style="width:100%" >
                  <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="documentVente.client.cin" matInput [formControl]="documentVenteFilter.getControlCins()" [matAutocomplete]="auto1">
                  <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                    <mat-option *ngFor="let cin of documentVenteFilter.getFiltredCins() | async" [value]="cin">
                      {{cin}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
  </div> 
  <div class='col-sm-3'>
          <mat-form-field style="width:100%">
                  <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="documentVente.client.nom"  matInput  [matAutocomplete]="auto2">
                </mat-form-field>
  </div> 
  <div class='col-sm-3'>
          <mat-form-field style="width:100%" >
                  <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="documentVente.client.prenom"  [matAutocomplete]="auto3">
                </mat-form-field>
  </div>
</div>
<div class="row" >
<div class='col-sm-6' >
<mat-form-field style="width:100%">
    <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="documentVente.client.registreCommerce" matInput [formControl]="documentVenteFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
    <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
      <mat-option *ngFor="let registreCommerce of documentVenteFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
        {{registreCommerce}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div> 
<div class='col-sm-3'>
<mat-form-field style="width:100%">
    <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="documentVente.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
  
  </mat-form-field>
</div>
<div class='col-sm-3'>
    <mat-form-field style="width:100%">
            <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="documentVente.client.raisonSociale" readonly [matAutocomplete]="auto5">
            
          </mat-form-field>
</div>
</div>  
<div class="row" >

   
       <div class="col-sm-6">
               <mat-form-field [color]="red"  style="width:100%">
                       <input matInput placeholder="Montant A Payer" [(ngModel)] = "documentVente.montantAPayer">
               </mat-form-field>
          
       </div>
       <div  class="col-sm-6">
        <mat-form-field [color]="red"  style="width:100%">
          <input matInput placeholder="Montant TVA" [(ngModel)] = "documentVente.montantTVA">
  </mat-form-field>      
       </div>
                                          
</div>
<div class="row" >
  
     
         <div class="col-sm-6">
                 <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Montant Remise" [(ngModel)] = "documentVente.montantRemise">
                 </mat-form-field>
            
         </div>
         <div  class="col-sm-6">
          <mat-form-field [color]="red"  style="width:100%">
            <input matInput placeholder="Montant Coût" [(ngModel)] = "documentVente.montantCout">
    </mat-form-field>      
         </div>
                                            
  </div>

  <div class="row" >
    
       
           <div class="col-sm-6">
                   <mat-form-field [color]="red"  style="width:100%">
                           <input matInput placeholder="Nbre J.Occupation Ouvriers" [(ngModel)] = "documentVente.nbJoursOccupationMainOeuvre">
                   </mat-form-field>
              
           </div>
           <div  class="col-sm-6">
            <mat-form-field [color]="red"  style="width:100%">
              <input matInput placeholder="Nbre Magasins" [(ngModel)] = "documentVente.nbMagasins">
      </mat-form-field>      
           </div>
                                              
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
<mat-expansion-panel-header>
       Paie
    </mat-expansion-panel-header>

    <div class="row" >
      <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Espèce"  [(ngModel)] ="documentVente.payementData.montantEspece" >
        
         </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="A Compte"  [(ngModel)] ="documentVente.payementData.aCompte" >
            
             </mat-form-field>
       </div>
       <div class="col-sm-4">
        <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="A reporter"  [(ngModel)] ="documentVente.payementData.aReporter" >
            
             </mat-form-field>
        </div>
    </div>

    <div class="row" >
      <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Montant Chèque"  [(ngModel)] ="documentVente.payementData.montantCheque" >
        
         </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Numéro Chèque"  [(ngModel)] ="documentVente.payementData.numeroCheque" >
            
             </mat-form-field>
       </div>
       <div class="col-sm-4">
        <mat-form-field>
          <input matInput [matDatepicker]="picker2" placeholder="Date Chèque"
           [(ngModel)]="documentVente.payementData.dateCheque">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
     </mat-form-field>
        </div>
    </div>

    <div class="row" >
      <div class="col-sm-12">
    <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Autres informations sur le chèque"  [(ngModel)] ="documentVente.payementData.chequeData" >
        
         </mat-form-field>
      </div>
    </div>
  </mat-expansion-panel>
  
  
                     
  
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                       (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Paramètres
                      </mat-panel-title>
                      <mat-panel-description>
                        
                      </mat-panel-description>
                    </mat-expansion-panel-header>

<div class="row">
             
            
    <div class="col-sm-6">
              <mat-checkbox [(ngModel)] ="documentVente.gestionMarchandises"  > Gestion Marchandises</mat-checkbox>
                       
    </div>
    <div class="col-sm-6">
  <mat-checkbox [(ngModel)] ="documentVente.gestionLogistique" > Gestion Logistique</mat-checkbox>
         
</div>
</div>
<div class="row">
  
 
<div class="col-sm-6">
   <mat-checkbox [(ngModel)] ="documentVente.gestionTaxes"  > Gestion Taxes</mat-checkbox>
            
</div>
<div class="col-sm-6">
<mat-checkbox [(ngModel)] ="documentVente.gestionCouts" > Gestion Couts</mat-checkbox>

</div>

  </div>
  <div class="row">
    
   
  <div class="col-sm-6">
     <mat-checkbox [(ngModel)] ="documentVente.gestionRemises"  > Gestion Remises</mat-checkbox>
              
  </div>
  <div class="col-sm-6">
  <mat-checkbox [(ngModel)] ="documentVente.gestionMainOeuvres" > Gestion Main D'oeuvres</mat-checkbox>
  
  </div>
  
    </div>

      </mat-expansion-panel>
      
                    </mat-accordion>

























