<div class="row" style="height:40px;">
        
        <button style="margin-left:30px" (click)="saveDocumentVente();"    mat-mini-fab color="primary"  >
            
            
                            <mat-icon>save </mat-icon> 
                            
        </button>
      
      
      </div>


          <div class="row" >
            <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Code" [(ngModel)]="documentVente.code" readonly>
    </mat-form-field>
          </div>
          <div class="col-sm-4">
        <mat-form-field style="width:100%">
          <input matInput placeholder="N.DOC.Vente" [(ngModel)]="documentVente.numeroDocumentVente" readonly>
          
          </mat-form-field>
         </div>
         <div class="col-sm-4">
          <mat-form-field style="width:100%">
              <input matInput [matDatepicker]="picker1" placeholder="Date de Vente" readonly [(ngModel)]="documentVente.dateVenteObject">
              <mat-datepicker-toggle matSuffix disabled [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
           </div>
       </div>
       <div>
          <table  style="width:95%">
              <tr>
               <th>   
              N°        
             </th>
             <th>
                  
                   Article
                  
            </th>
            <th >    
                          
                   Qte
                    
            </th>
                <th >
                         
                  R.Unitaire
                   
                </th>
                 <th>
                     M.Remise
                   </th>
                  <th></th>
                 </tr>
    
              <tr *ngFor="let ligne of lignesRemises; let i = index">
                  <td  >
                    <mat-form-field   [color]="red" style="width:100%">
                          <input matInput  [(ngModel)]="ligne.code" readonly>
                  </mat-form-field>             
                  </td>
                  <td >
                  
                  <mat-form-field style="width:100%">
                      <mat-select  [(value)]="ligne.article.code">
                        <mat-option *ngFor=" let code of listCodesArticles" 
                        [value]="code" >{{ code }} </mat-option>
                      </mat-select>
                    </mat-form-field>
                  
                 <!-- <div style="height:20px;color:blue" [ngClass]="constructClassName(i)"> </div>-->

                 </td>
                  <td >
                      <mat-form-field  style="width:100%"  [color]="red"  >
                          <input matInput  [(ngModel)]="ligne.quantite">
                  </mat-form-field>  
                   </td>
                  <td >
                    <mat-form-field  style="width:100%" [color]="red">
                          <input matInput  [(ngModel)]="ligne.remise">
                  </mat-form-field>  
                    </td>

                   
                   <td >
                      <mat-form-field [color]="red" style="width:100%">
                          <input matInput  [(ngModel)]="ligne.montantRemise">
                       </mat-form-field> 
                   </td>
                
                 <td>
                
                  <button  (click)="validateRow(i)"  mat-mini-fab color="primary">OK</button>
                  <button  (click)="deleteRow(i)"  mat-mini-fab color="warn">
                    <mat-icon>
                    delete </mat-icon> </button>
                  
                   </td>
                  </tr>
                  <tr>
                    <td colspan="12" style="padding-left:10px">
                        <mat-action-row >
                    <button  *ngIf="currentPage>1" mat-button  (click)="previousPage()">Page Précédente </button>
                            
                <button  class="paginationLabel" style="margin-left:300px"  mat-button  >Page 1/1</button>
             <button mat-button style="margin-left:350px" (click)="nextPage()">Page Suivante</button>
                        </mat-action-row>
                    </td>
                  </tr>
                </table>
            </div>

               
             
         
        


        
























