

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridMagasins()"   class="pull-left" mat-mini-fab color="primary"  >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                
                <button style="margin-left:20px"   (click)="updateMagasin();" mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
 
              
              
</div>

<div style="height: 800px;">
                
         <div class="row">
                         <div  class="col-sm-12">
                    <mat-form-field [color]="red" style="width:100%" >
                   <input matInput placeholder="Code"  [(ngModel)] ="magasin.code" readonly>
                  </mat-form-field>
                    </div>
                      
         </div>
         <div class="row">
                         <div  class="col-sm-12">
                    <mat-form-field [color]="red" style="width:100%" >
                   <input matInput placeholder="Déscription"  [(ngModel)] ="magasin.description">
                  </mat-form-field>
                    </div>
                      
         </div>
         <div class="row">
                         <div  class="col-sm-12">
                    <mat-form-field [color]="red" style="width:100%" >
                   <input matInput placeholder="Adresse"  [(ngModel)] ="magasin.adresse">
                  </mat-form-field>
                    </div>
                      
         </div>
         
         <div class="row">
                         <div  class="col-sm-12">
                    <mat-form-field [color]="red" style="width:100%" >
                   <input matInput placeholder="Contact"  [(ngModel)] ="magasin.contact">
                  </mat-form-field>
                    </div>
                      
         </div>
         
            <div class="row">
                
         
                      <div class="col-sm-12">
                                                 <div>
                                                       <label class="btn btn-default btn-file">
                                                         image <input type="file" (change)="fileChanged($event)"  style="display: none;">
                                                        </label> 
                                                 </div>
                                                          <img *ngIf="magasin.image !== 'undefined'" [src]="magasin.image" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
                        </div>
                  </div>
                 
         </div>
      