<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridFacturesVentes()"   class="pull-left"   mat-mini-fab color="primary"  >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
             
                <button style="margin-left:30px" (click)="updateFactureVente();"  mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>

                <button style="margin-left:30px" (click)="refreshFactureVente();"  mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>refresh</mat-icon> 
                                    
                </button>
               <!-- <button style="margin-left:30px; background-color: orange;" (click)="addPayement();"  mat-mini-fab >
                  
                  
                                  <mat-icon   >attach_money</mat-icon><span style="padding-top:17px"></span>
                                  
              </button>
              <button style="margin-left:20px;" (click)="listerPayements();"  mat-mini-fab >
                  
                  
           <span>$$$$</span>
                                  
  </button>-->
              <button style="margin-left:30px; background-color: grey;" (click)="history();"  mat-mini-fab >
                    
                    
                                    <mat-icon   >history</mat-icon><span style="padding-top:17px"></span>
                                    
              </button>
              
              <!--<button (click)="supprimerFactureVente();"  class="pull-right"  mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon>
                                    
                </button>-->
              
              
              </div>
              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
                
                <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="width:96%">
              <mat-accordion style="width:100%">
                <mat-expansion-panel #firstMatExpansionPanel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row" >
                    <!--<div class="col-sm-4">
            <mat-form-field [color]="red">
                    <input matInput placeholder="Code" readonly [(ngModel)]="factureVente.code">
            </mat-form-field>
                  </div>-->
                  <div class="col-sm-4">
                <mat-form-field>
                  <input matInput placeholder="N.Facture" readonly [(ngModel)]="factureVente.numeroFactureVente">
                  
                  </mat-form-field>
                 </div>
                 <div class="col-sm-4">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker1" readonly placeholder="Date de Vente" [(ngModel)]="factureVente.dateVenteObject">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                   </div>
                   <div class="col-sm-4"></div>
               </div>
            <!---Identite Client -->
            
            <div class="row">
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" readonly placeholder="Select Cin" aria-label="Number" [(ngModel)]="factureVente.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                              <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                                  {{cin}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text"  placeholder="Nom" aria-label="String" readonly [(ngModel)]="factureVente.client.nom"  matInput  [matAutocomplete]="auto2">
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text"  placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="factureVente.client.prenom"  [matAutocomplete]="auto3">
                            </mat-form-field>
              </div>
            </div>
            <div class="row" >
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text" readonly placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="factureVente.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                  <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                    {{registreCommerce}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div> 
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text"  placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="factureVente.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
              
              </mat-form-field>
            </div>
            <div class='col-sm-4'>
                <mat-form-field >
                        <input type="text"   placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="factureVente.client.raisonSociale" readonly [matAutocomplete]="auto5">
                        
                      </mat-form-field>
            </div>
            </div>   
            <div class="row" >
                <div class='col-sm-12'>
                                <mat-form-field [color]="red" style="width:100%" >
                                                
                                <mat-select placeholder="Etat"  [(ngModel)]="factureVente.etat">
                                                <mat-option *ngFor="let etat of etatsFactureVentes" [value]="etat.value">
                                                       {{ etat.viewValue }}
                                                </mat-option>
                                            
                                        </mat-select>
                                </mat-form-field>
                </div>
                                                
                  </div>                 
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" 
                                     #manageLigneMatExpansionPanel
                                     style="width:100%; overflow :auto;">
          
                  <mat-expansion-panel-header>
                    <i class="fa fa-pencil" aria-hidden="true"></i> 
                  </mat-expansion-panel-header>
                            
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                
                    <mat-form-field [color]="red" style="width:100%">
                      <input matInput placeholder="N°"          [(ngModel)] ="managedLigneFactureVentes.numeroLigneFactureVentes" >
                      
                       </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                
                         <mat-form-field [color]="red" style="width:100%">

             <input type="text" placeholder="Code ART." aria-label="string" [(ngModel)]="managedLigneFactureVentes.article.code"
              matInput 
             [formControl]="articleFilter.getControlCodesArticles()" 
             [matAutocomplete]="autoCodeArticle">
             <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
               <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
                 {{codeArticle}}
               </mat-option>
             </mat-autocomplete>
                        </mat-form-field>
                          </div>
                            <div class="col-sm-4">
                                
                         <mat-form-field [color]="red" style="width:100%">
                          <input matInput placeholder="Configuration"  [(ngModel)] ="managedLigneFactureVentes.article.configuration" >
                          
                           </mat-form-field>
                            </div>
                        </div>
                          </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                
                    

                 <mat-form-field [color]="red" style="width:100%">
                            
                              <input type="text" placeholder="Code MAG." aria-label="string" [(ngModel)]="managedLigneFactureVentes.magasin.code"
                                                      matInput 
                                    [formControl]="magasinFilter.getControlCodesMagasins()" 
                                           [matAutocomplete]="autoCodeMagasin">
                                     <mat-autocomplete name ="codeMagasin" (optionSelected)="fillDataLibelleMagasin()" #autoCodeMagasin="matAutocomplete">
                                            <mat-option *ngFor="let codeMagasin of magasinFilter.getFiltredCodesMagasins() | async" [value]="codeMagasin">
                                            {{codeMagasin}}
                                            </mat-option>
                                        </mat-autocomplete>
                 </mat-form-field>

                        </div>
                        <div class="col-sm-4">
                            
                         <mat-form-field [color]="red" style="width:100%">
                          
        <input type="text" placeholder="Code UN.Mesures" aria-label="string"
         [(ngModel)]="managedLigneFactureVentes.unMesure.code"
                           matInput 
         [formControl]="unMesureFilter.getControlCodesUnMesures()" 
                [matAutocomplete]="autoCodeUnMesure">
          <mat-autocomplete name ="codeUnMesure" (optionSelected)="fillDataLibelleUnMesure()" #autoCodeUnMesure="matAutocomplete">
                 <mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
                 {{codeUnMesure}}
                 </mat-option>
             </mat-autocomplete>
            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            
                      
                        </div>
                          
                            </div>
                        </div>

                    </div>
                    

                    <div class="row">
                        <div class="col-sm-6">
                                <div class="row">
                                        <div class="col-sm-4">
                                                
                            <mat-form-field [color]="red" readonly style="width:100%">
                       <input matInput type="string" readonly placeholder="Libéllé" 
                        [(ngModel)] ="managedLigneFactureVentes.article.libelle" 
                        
                           >
                                                      
                            </mat-form-field>

                        </div>

                        <div class="col-sm-8">
                            <mat-form-field [color]="red"  style="width:100%">
                       <input matInput type="string" readonly placeholder="Désignation" 
                        [(ngModel)] ="managedLigneFactureVentes.article.designation" 
                        
                        >
                                                      
                            </mat-form-field>
                        
                        </div>
                                </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="row">
                                <div class="col-sm-4">
                                        
                    <mat-form-field [color]="red"  style="width:100%">
               <input matInput type="string" readonly placeholder="Déscr.Mag" 
                [(ngModel)] ="managedLigneFactureVentes.magasin.description"   >
                    </mat-form-field>
                            </div>
                            <div class="col-sm-8">
                                    <mat-form-field [color]="red"    style="width:100%">
                               <input matInput type="string" readonly placeholder="Adresse MAG." 
                                [(ngModel)] ="managedLigneFactureVentes.magasin.adresse" 
                                
                                >
                                                              
                                    </mat-form-field>
                                
                                </div>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number"  placeholder="Quantite" 
                        [(ngModel)] ="managedLigneFactureVentes.quantite" 
                        
                           >
                                                      
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number" placeholder="Prix Unitaire" 
                        [(ngModel)] ="managedLigneFactureVentes.prixUnitaire" 
                        (blur)="calculMontantHT()" 
                        >
                                                      
                            </mat-form-field>
                        </div>
                    </div>




                 <div class="row">
                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-6">
                      <mat-form-field   [color]="red" style="width:100%">
                <input type="number" (blur)="calculMontantTVA()"  matInput placeholder="%TVA"  [(ngModel)] ="managedLigneFactureVentes.tva" >
                                      
                      </mat-form-field>
                              </div>
                              <div class="col-sm-6">
       <mat-form-field   [color]="red" style="width:100%">
           <input type="number" matInput placeholder="Montant TVA" readonly [(ngModel)] ="managedLigneFactureVentes.montantTVA" >
                                      
                </mat-form-field>
                                </div>
                          </div>
                 </div>

                      <div class="col-sm-6">
                          <div class="row">
                              <div class="col-sm-6">
                      <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" (blur)="calculMontantFodec()" placeholder="%Fodec"  [(ngModel)] ="managedLigneFactureVentes.fodec" >
                                      
                      </mat-form-field>
                              </div>
                              <div class="col-sm-6">
       <mat-form-field [color]="red" style="width:100%">
           <input matInput type="number" placeholder="Montant Fodec" readonly [(ngModel)] ="managedLigneFactureVentes.montantFodec" >
                                      
                </mat-form-field>
                                </div>
                          </div>
                 </div>
                 </div>


                 <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%">
              <input matInput type="number" (blur)="calculMontant3rdTaxe()"  placeholder="%3rdTaxe"  [(ngModel)] ="managedLigneFactureVentes.otherTaxe1" >
                                    
                    </mat-form-field>
                            </div>
                            <div class="col-sm-6">
     <mat-form-field [color]="red" style="width:100%">
         <input matInput type="number" placeholder="Montant 3rdTaxe" readonly [(ngModel)] ="managedLigneFactureVentes.montantOtherTaxe1" >
                                    
              </mat-form-field>
                              </div>
                        </div>
               </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%">
              <input matInput type="number" (blur)="calculMontant4thTaxe()"  placeholder="%4thTaxe"  [(ngModel)] ="managedLigneFactureVentes.otherTaxe2" >
                                    
                    </mat-form-field>
                            </div>
                            <div class="col-sm-6">
     <mat-form-field [color]="red" style="width:100%">
         <input matInput type="number" placeholder="Montant 4th Taxe" readonly [(ngModel)] ="managedLigneFactureVentes.montantOtherTaxe2" >
                                    
              </mat-form-field>
                              </div>
                        </div>
               </div>
               </div>

               <div class="row">
                  <div class="col-sm-6">
                      <div class="row">
                          <div class="col-sm-6">
                              
                      <mat-form-field [color]="red" style="width:100%">
                          <input type="number" matInput (blur)="claculMontantRemise()"  placeholder="%Remise"  [(ngModel)] ="managedLigneFactureVentes.remise" >
                                                
                      </mat-form-field>
                          </div>
                          <div class="col-sm-6">
                              
                      <mat-form-field [color]="red"   readonly        style="width:100%">
                          <input type="number" matInput placeholder="Remise"  [(ngModel)] ="managedLigneFactureVentes.montantRemise" >
                                                
                      </mat-form-field>

                          </div>
                  </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="row">
                      <div class="col-sm-6">
                          
                  <mat-form-field [color]="red" style="width:100%">
                      <input type="number" (blur)="calculMontantBenefice()"  matInput placeholder="%Benefice"  [(ngModel)] ="managedLigneFactureVentes.benefice" >
                                            
                  </mat-form-field>
                      </div>
                      <div class="col-sm-6">
                          
                  <mat-form-field [color]="red"   readonly        style="width:100%">
                      <input type="number" matInput placeholder="Benefice"  [(ngModel)] ="managedLigneFactureVentes.montantBenefice" >
                                            
                  </mat-form-field>

                      </div>
                    </div>
                  </div>
               </div>
               <div class="row">
               <div class="col-sm-6">
                  <mat-form-field [color]="red" style="width:100%">
                      <input type="number" matInput placeholder="Montant HT" readonly [(ngModel)] ="managedLigneFactureVentes.montantHT" >
                                            
                  </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field [color]="red" style="width:100%">
                      <input type="number" matInput placeholder="Montant TTC" readonly [(ngModel)] ="managedLigneFactureVentes.montantTTC" >
                                            
                  </mat-form-field>
               </div>
               
           </div>
<div class="row">
            <div class="col-sm-12">
                
<mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Montant A Payer" [(ngModel)] ="managedLigneFactureVentes.montantAPayer" >
              
                 </mat-form-field>
</div>

</div>


           <div class="row">
            <div class="col-sm-12">
                
            <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Déscription"  [(ngModel)] ="managedLigneFactureVentes.description" >
              
                 </mat-form-field>
            </div>

           </div>
           <div class="row">
            <div class="col-sm-12">
                    <mat-form-field [color]="red" style="width:100%" >
                            
     <mat-select placeholder="Etat"  [(ngModel)]="managedLigneFactureVentes.etat">
     <mat-option *ngFor="let etat of etatsLigneFactureVentes" [value]="etat.value">
              {{ etat.viewValue }}
     </mat-option>
                
     </mat-select>    
                    </mat-form-field> 
    
            </div>

           </div>
           <div class="row" >
                        <button style="margin-left:40px"  mat-button color="accent" (click)="addLigneFactureVentes();" >
                        
                        
                                        <mat-icon>done </mat-icon> 
                                        
                    </button>
                 


           </div>


             </mat-expansion-panel>

                      <mat-expansion-panel 
                      (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false" 
                       #listLignesMatExpansionPanel>





   <mat-expansion-panel-header>
    <i class="fa fa-table" aria-hidden="true"></i>
      
   </mat-expansion-panel-header>

   <div class="row">
    <mat-form-field style="margin-top:12px;width:100%">;
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataLignesFactureVentesSource"  matSort style="width:100%;" >
    
    
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
             <span style="color:blue"> Actions</span>
          </th>
          <td mat-cell *matCellDef="let row;"> 
                  <button (click)="deleteLigneFactureVentes(row)" mat-mini-fab color="warn">
                      <i class="fa fa-trash" ></i>                             
                    </button> 

          <button style="margin-left:3px" (click)="editLigneFactureVentes(row)" mat-mini-fab color="accent">
              <i class="fa fa-pencil" ></i>                                 
         </button> 

   <!--  <button style="margin-left:2px" (click)="reglerLigneFactureVentes(row)" mat-mini-fab color="accent">
            <i class="fa fa-pencil" >REG</i>                                 
       </button> -->
     
     </td>
         
        </ng-container>
       
      <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
       >
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
        <td mat-cell *matCellDef="let ligneFV"> 
            {{ligneFV[columnDef.name]}}
          
          </td>
    
      </ng-container>
    
      <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsNames;" ></tr>
    
   
  
  
  </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>  

                      </mat-expansion-panel>

                  <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                
                  <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field [color]="red">
                        <input matInput placeholder="Montant HT" readonly  [(ngModel)] ="factureVente.montantHT" >
                        </mat-form-field>
                   </div>
               
                 <div class="col-sm-6">
                
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Montant TTC" readonly [(ngModel)] ="factureVente.montantTTC" >
                            
                      </mat-form-field>

                  </div>
                  </div>
             <div class="row">
              <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Timbre Fisc."  [(ngModel)] ="factureVente.timbreFiscale" >
                  
                   </mat-form-field>
                 
             </div>
             <div class="col-sm-6" >
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Montant A Payer"  [(ngModel)] ="factureVente.montantAPayer" >
                  
                   </mat-form-field>
                 
             </div>
        </div>

        <div class="row" >
            <div class='col-sm-12'>
                <mat-form-field [color]="red" style="width:100%" >
                    
                    <mat-select placeholder="Mode Paiement"  [(ngModel)]="factureVente.payementData.libelle">
                        <mat-option *ngFor="let payement of payementModes" [value]="payement.value">
                               {{ payement.viewValue }}
                        </mat-option>
                    
                </mat-select>
                </mat-form-field>
            </div>
                                            
         </div> 

         <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="N°Cheque"  [(ngModel)] ="factureVente.payementData.numeroCheque" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="pickerDateVir" placeholder="Date Virement de Chèque"
                     [(ngModel)]="factureVente.dateVirementChequeObject">
                    <mat-datepicker-toggle matSuffix [for]="pickerDateVir"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateVir></mat-datepicker>
                  </mat-form-field>  
                    
               
            </div>                     
        </div> 

        <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="Montant Comptant"  [(ngModel)] ="factureVente.payementData.montantComptant" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                   <input matInput  placeholder="Montant Crédit" [(ngModel)]="factureVente.payementData.montantCredit">
            
                      </mat-form-field>  
                    
            </div>                     
        </div>


                </mat-expansion-panel>

              </mat-accordion>
                        </div>
                </mat-tab>
                <mat-tab label="Paiements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
         <app-payements-factures-ventes-grid [factureVentes]="factureVente">

         </app-payements-factures-ventes-grid>         
               
                    </div>
                </mat-tab>
                <mat-tab label="Documents"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
                    <app-documents-factures-ventes-grid [factureVentes]="factureVente">

                    </app-documents-factures-ventes-grid>         
               
                        </div>
                  </mat-tab>
                  <mat-tab label="Credits"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    Crédits
                   </mat-tab>
                   <mat-tab label="Ajournements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                      <div style="width:97%" >
                          
                      <app-ajournements-factures-ventes-grid [factureVentes]="factureVente">
  
                      </app-ajournements-factures-ventes-grid>         
                 
                      </div>
                    </mat-tab>
              </mat-tab-group>
              