
<mat-dialog-content >
  
        <div [hidden]="!saveEnCours" class="row">
                <mat-progress-bar 
                color="primary"
                mode="indeterminate"
                value="50"
                >
            </mat-progress-bar>
 </div>
        
 <mat-accordion style="width:100%">
        <mat-expansion-panel #firstMatExpansionPanel >
          <mat-expansion-panel-header>
            <mat-panel-title>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
                        
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
      <mat-expansion-panel-header>
        <button   mat-mini-fab color="primary" > <i class="fa fa-pencil" aria-hidden="true"></i> </button>
      </mat-expansion-panel-header>
                   <div class="row">
                        <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Code"  [(ngModel)] ="setting.code" >
                                        
                                         </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Déscription"  [(ngModel)] ="setting.description" >
                                        
                                         </mat-form-field>  
                         </div>
                 </div>
                              
                        
                 <p-pickList   [source]="sourceListCols" [responsive]="true" [target]="targetListCols"
                 sourceHeader="Columns Disponibles" targetHeader="Columns Séléctionnés">
                                 <ng-template let-column pTemplate="item">
                                                <div class="">
                                                   <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                                    <div >{{column.displayTitle}}</div>
                                                </div>
                                </ng-template>     
                                </p-pickList>
                   
              </mat-expansion-panel>

         
      </mat-accordion>














</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveLigneCredit()">Enregistrer</button>
</mat-dialog-actions>
