
 
<mat-card>
  <!--  <app-menu-gestion-documents></app-menu-gestion-documents>-->
<div class="row">
<div class="col-sm-12"> 
<app-taxes-grid>
</app-taxes-grid>
</div>
</div>
<div class="row">
  Common module
<!--<div class="col-sm-12">
<app-gestion-documents-types></app-gestion-documents-types>
</div>-->
</div>
</mat-card>