<div class="container" >
    
        <div class="row" >
                <div class="col-sm-6">
    <mat-form-field [color]="red">
            <input matInput placeholder="Code" [(ngModel)] = "taxe.code">
    </mat-form-field>
                </div>
                <div class="col-sm-6">
    <mat-form-field [color]="red">
            <input matInput placeholder="Libellé" [(ngModel)] ="taxe.libelle" >
        </mat-form-field>
                </div>
        </div>
        <div class="row">
        <div class="col-sm-3">
                <mat-form-field [color]="red">
                    <input matInput placeholder="Pourcentage" [(ngModel)] ="taxe.pourcentage" >
                </mat-form-field>
    </div>
    <div class="col-sm-3">
        <mat-form-field [color]="red">
            <input matInput placeholder="Etat" [(ngModel)] ="taxe.etat" >
        </mat-form-field>
    </div>
    <div class="col-sm-3">
            <mat-form-field [color]="red">
                    <input matInput placeholder="Description" [(ngModel)] ="taxe.description" >
                </mat-form-field>
    </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-5">
        <button mat-flat-button color="primary" (click)="saveTaxe()" >Enregistrer</button>
            </div>
            <div class="col-sm-offset-8">
                    <button mat-flat-button color="primary" (click)="clearTaxe()" >Annuler</button>
                        </div>
        </div>
    </div>
    <div>
    
            