<div> 
        <mat-form-field [color]="red">
                <input matInput placeholder="Filter par Libelle" [(ngModel)]="filterLibelle" (keydown)="reloadData()">
        </mat-form-field>  
<table class="table table-dark">
        <thead>
    <tr>
        <th>
            Code 
        </th>
        <th>
            Libellé
         </th>
         <th>
            Pourcentage
        </th>
        <th>Etat
            </th>
        <th>Description
        </th>
       

    </tr>
        </thead>
        <tbody>
    <tr *ngFor="let taxe of listTaxes">
    <td>{{taxe.code}}</td>
    <td>{{taxe.libelle}}</td>
    <td>{{taxe.pourcentage}}</td>
    <td>{{taxe.etat}}</td>
    <td>{{taxe.description}}</td>
</tr>
        </tbody>
</table>
</div>