
<div [hidden]="!saveEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>
<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridHistoriquesClients()"   class="pull-left"   mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveHistoriqueClient();"    mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done </mat-icon> 
                                    
                </button>
              
         
              
              
     </div>

                  <div class="row" >
          
                  <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="N° Historique" [(ngModel)]="historiqueClient.numeroHistoriqueClient">
                  
                  </mat-form-field>
                 </div>
                 <div class="col-sm-4">
                  <mat-form-field [color]="red" style="width:100%">
                      <input matInput [matDatepicker]="picker1" placeholder="Date Règlement" [(ngModel)]="historiqueClient.dateReglementObject">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                   </div>
                   <div class="col-sm-4">
                    <mat-form-field [color]="red" style="width:100%">
                        <input matInput [matDatepicker]="picker2" placeholder="Date Achats" [(ngModel)]="historiqueClient.dateAchatsObject">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                     </div>
                  </div>

           <div class="row">
                      <div class='col-sm-4'>
                              <mat-form-field >
                      <input type="text" placeholder="Select Cin" aria-label="Number"
                       [(ngModel)]="historiqueClient.client.cin" matInput [formControl]="clientsFilter.getControlCins()" [matAutocomplete]="auto1">
                       <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                       <mat-option *ngFor="let cin of clientsFilter.getFiltredCins() | async" [value]="cin">
                                {{cin}}
                             </mat-option>
                                      </mat-autocomplete>
                                    </mat-form-field>
                      </div> 
                      <div class='col-sm-4'>
                              <mat-form-field >
                                      <input type="text" placeholder="Nom" 
                                      aria-label="String" readonly [(ngModel)]="historiqueClient.client.nom" 
                                       matInput  [matAutocomplete]="auto2">
                                    </mat-form-field>
                      </div> 
                      <div class='col-sm-4'>
                              <mat-form-field >
                                      <input type="text" placeholder="Prénom" aria-label="String" 
                                      readonly matInput [(ngModel)]="historiqueClient.client.prenom"  [matAutocomplete]="auto3">
                                    </mat-form-field>
                      </div>
                    </div>
                    <div class="row" >
                    <div class='col-sm-4'>
                    <mat-form-field >
                        <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" 
                        [(ngModel)]="historiqueClient.client.registreCommerce"
                         matInput [formControl]="clientsFilter.getControlRegistreCommerce()"
                          [matAutocomplete]="auto14">
                        <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                          <mat-option *ngFor="let registreCommerce of clientsFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                            {{registreCommerce}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div> 
                    <div class='col-sm-4'>
                    <mat-form-field >
                        <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="historiqueClient.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                      
                      </mat-form-field>
                    </div>
                    <div class='col-sm-4'>
                        <mat-form-field >
                                <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="historiqueClient.client.raisonSociale" readonly [matAutocomplete]="auto5">
                                
                              </mat-form-field>
                    </div>
                    </div>  

                  <div class="row">
                     
                   <div class="col-sm-4">
                    <mat-form-field [color]="red" style="width:100%">
                      <input matInput type="number" placeholder="Montant Mis En Valeur"  [(ngModel)]="historiqueClient.montantMisEnValeur">
                      
                      </mat-form-field>
                 
                     </div>

                     <div class="col-sm-4">
                        <mat-form-field [color]="red" style="width:100%">
                          <input matInput type="number" placeholder="Infos Complémentaires"  [(ngModel)]="historiqueClient.additionalInfos">
                          
                        </mat-form-field>
                        </div>

                  <div class="col-sm-4">
                    <mat-form-field [color]="red" style="width:100%" >
                      <input matInput type="number" placeholder="Déscription"  [(ngModel)]="historiqueClient.description">
                    </mat-form-field>
                   </div>
                  </div>
          

  
























