

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridSchemasConfiguration()"  
         class="pull-left"    mat-mini-fab color="primary">
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button    style="margin-left:20px;"  (click)="saveSchemaConfiguration();"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      

      
      
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="schemaConfiguration.code">
         </mat-form-field>
           </div>
             
</div>
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Déscription"  [(ngModel)] ="schemaConfiguration.description">
         </mat-form-field>
           </div>
             
</div>
<div class="row">
    <div  class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%" >
            <input matInput placeholder="Critère 1"  [(ngModel)] ="schemaConfiguration.attribute1Name">
            </mat-form-field>
    
     
    </div>
    <div  class="col-sm-6">
            <mat-form-field [color]="red" style="width:100%" >
                <input matInput placeholder="Type Critère 1"  [(ngModel)] ="schemaConfiguration.attribute1Type">
                </mat-form-field>
        
         
        </div> 
                     
             </div>
             <div class="row">
                    <div  class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%" >
                            <input matInput placeholder="Critère 2"  [(ngModel)] ="schemaConfiguration.attribute2Name">
                            </mat-form-field>
                    
                     
                    </div>
                    <div  class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%" >
                                <input matInput placeholder="Type Critère 2"  [(ngModel)] ="schemaConfiguration.attribute2Type">
                                </mat-form-field>
                        
                         
                        </div> 
                                     
                             </div>
    
                             <div class="row">
                                    <div  class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%" >
                                            <input matInput placeholder="Critère 3"  [(ngModel)] ="schemaConfiguration.attribute3Name">
                                            </mat-form-field>
                                    
                                     
                                    </div>
                                    <div  class="col-sm-6">
                                            <mat-form-field [color]="red" style="width:100%" >
                                                <input matInput placeholder="Type Critère 3"  [(ngModel)] ="schemaConfiguration.attribute3Type">
                                                </mat-form-field>
                                        
                                         
                                        </div> 
                                                     
                                             </div>
                                             <div class="row">
                                                    <div  class="col-sm-6">
                                                        <mat-form-field [color]="red" style="width:100%" >
                                                            <input matInput placeholder="Critère 4"  [(ngModel)] ="schemaConfiguration.attribute4Name">
                                                            </mat-form-field>
                                                    
                                                     
                                                    </div>
                                                    <div  class="col-sm-6">
                                                            <mat-form-field [color]="red" style="width:100%" >
                                                                <input matInput placeholder="Type Critère 4"  [(ngModel)] ="schemaConfiguration.attribute4Type">
                                                                </mat-form-field>
                                                         </div>
                                                        
                                                         
                                                        </div> 
                                                                     
                                                             </div>
