
<mat-dialog-content >
                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>
        
                 <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
            
                     <div class="row">

                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="Code"  [(ngModel)] ="configuration.code" readonly>
                 </mat-form-field>
                                    </div>
                                     <div  class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="Déscription" [(ngModel)] ="configuration.description" >
                  </mat-form-field>  
                                      </div>
                     </div>
                     <div class="row">
                        
                         <div  class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%">
                                        <input matInput [placeholder]="configuration.schemaConfiguration.attribute1Name" 
                                        [(ngModel)] ="configuration[configuration.schemaConfiguration.attribute1Name]" >
          </mat-form-field>          
                                                       
                         </div>
                         <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput [placeholder]="configuration.schemaConfiguration.attribute2Name" 
                                                               [(ngModel)] ="configuration[configuration.schemaConfiguration.attribute2Name]" >
                                 </mat-form-field>          
                                                                              
                                                </div>
                      </div>
                 
                      <div class="row">
                        
                         <div  class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%">
                                        <input matInput [placeholder]="configuration.schemaConfiguration.attribute3Name" 
                                        [(ngModel)] ="configuration[configuration.schemaConfiguration.attribute3Name]" >
          </mat-form-field>          
                                                       
                         </div>
                         <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput [placeholder]="configuration.schemaConfiguration.attribute4Name" 
                                                               [(ngModel)] ="configuration[configuration.schemaConfiguration.attribute4Name]" >
                                 </mat-form-field>          
                                                                              
                                                </div>
                      </div>
                        
                      
</mat-dialog-content>

<mat-dialog-actions>
 
<button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateConfiguration()">Enregistrer</button>
</mat-dialog-actions>
