<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button style="margin-left:0px;"(click)="loadAddReglementCreditComponent();"  mat-mini-fab color="primary"   class="pull-left" >
        
        
                        <mat-icon>add</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="loadEditReglementCreditComponent();"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >edit</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="refresh();"  mat-mini-fab color="primary"   >
      
      
                      <mat-icon   >refresh</mat-icon>
                      
  </button>

 <!-- <button style="margin-left:30px;" (click)="addClient();"  mat-mini-fab  >
    
    
                    <mat-icon   >person</mat-icon>
                    
</button>-->

<button style="margin-left:30px; background-color: grey;" (click)="history();"  mat-mini-fab >
      
      
                      <mat-icon   >history</mat-icon><span style="padding-top:17px"></span>
                      
</button>

  <button style="margin-left:30px;" (click)="showCorbeille()"  class="pull-right"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >delete</mat-icon><span style="padding-top:17px">  </span>
                        
    </button>
  
    <button (click)="supprimerReglementsCredits();"  class="pull-right"  mat-mini-fab color="warn" >
        
        
                        <mat-icon   >cancel</mat-icon><span style="padding-top:17px">  </span>
                        
    </button>
    <button style="margin-right:20px;" class="pull-right" (click)="toggleFilterPanel();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >search</mat-icon>
                        
      </button>
      <button style="margin-right:20px;" class="pull-right" (click)="toggleShowColumnsMultiSelect();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >view_column</mat-icon>
                        
      </button>
  </div>

  
  <div class="row" *ngIf="showFilter" style="margin-top: 18px">
    <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
       <input matInput placeholder="N° Règlement"   [(ngModel)]="reglementCreditFilter.numeroReglementCredit">
    </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Période de: " [(ngModel)]="reglementCreditFilter.dateReglementCreditFromObject">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> 
      </div>
      <div class="col-sm-2">
          <mat-form-field [color]="red"  style="width:100%">
              <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="à: " [(ngModel)]="reglementCreditFilter.dateReglementCreditToObject">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>   
        </div>
        <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%">
         <input matInput placeholder="Mois"   [(ngModel)]="reglementCreditFilter.mois">
      </mat-form-field>
   
      </div>
        <div class="col-sm-2">
       <mat-form-field [color]="red" style="width:100%" >      
          <mat-select placeholder="Etat"  [(ngModel)]="reglementCreditFilter.etat">
                    <mat-option *ngFor="let etat of etatsReglementCredit" [value]="etat.value">
                           {{ etat.viewValue }}
           </mat-option>       
       </mat-select>
    </mat-form-field>     
      </div>

  </div>

  
      <div class="row" *ngIf="showFilter" style="margin-top: 18px">
       
        <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%" >      
            <input matInput placeholder="CIN Client"   [(ngModel)]="reglementCreditFilter.cinClient">
            
            </mat-form-field>     
         </div>
         <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%" >      
            <input matInput placeholder="Nom Client"   [(ngModel)]="reglementCreditFilter.nomClient">
            
            </mat-form-field>     
         </div>

         <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%" >      
            <input matInput placeholder="Prénom Client"   [(ngModel)]="reglementCreditFilter.prenomClient">
            
            </mat-form-field>     
         </div>

         <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%" >      
            <input matInput placeholder="Raison Soc."   [(ngModel)]="reglementCreditFilter.raisonSocialeClient">
            
            </mat-form-field>     
         </div>
         <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%" >      
            <input matInput placeholder="Déscription"   [(ngModel)]="reglementCreditFilter.description">
            
            </mat-form-field>     
         </div>
         <div class="col-sm-2">
            <mat-form-field [color]="red" style="width:100%" >      
                
          <mat-select placeholder="Mode Paiement"  [(ngModel)]="reglementCreditFilter.modePaiement">
            <mat-option *ngFor="let mode of modesPaiements" [value]="modePaiement.value">
                   {{ mode.viewValue }}
               </mat-option>       
               </mat-select>
            </mat-form-field>
         </div>
      </div>

    <div class="row" *ngIf="showFilter" >
          <button class="pull-left"  mat-mini-fab  color="accent"  (click)="loadFiltredData()">
              
                   <mat-icon   >done</mat-icon>
                              
          </button>    
     </div>


<div class="row" *ngIf="showSelectColumnsMultiSelect" style="margin-top: 18px">
    <div class="col-sm-12">
      <p-multiSelect [options]="columnsToSelect"    displaySelectedLabel= "false"    [defaultLabel]="'Séléctionner Columns'"  (onChange) = "specifyListColumnsToBeDisplayed()"
      [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
      [panelStyle]="{minWidth:'15em'}">
        <ng-template let-selectedColumn pTemplate="selectedItems">
            <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
        </ng-template>
        <ng-template let-selectedColumn let-i="index" pTemplate="item">
           {{selectedColumn.label}}
        </ng-template>
    </p-multiSelect>
   <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Columns à Afficher: {{selectedColumnsNames}}</span>
  </div>
</div>

<div class="row">
<!--<mat-form-field style="margin-top:12px;width:100%">;
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>-->
<table mat-table [dataSource]="dataReglementsCreditsSource"  matSort style="width:100%;" >


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitionsToDisplay" 
     >
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
      <td mat-cell *matCellDef="let regCredit "> {{regCredit[columnDef.name]}} </td>
    </ng-container>
  
    <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
  </table>

  <div class="row">
    <div class="col-sm-2">

    </div>
      <div class="col-sm-6">
          <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-sm-2">
    
    </div>

    </div>
</div>  