
<div [hidden]="!saveEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>
<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridReglementsCredits()"   class="pull-left"   mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveReglementCredit();"    mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done </mat-icon> 
                                    
                </button>
              
         
              
              
     </div>

                  <div class="row" >
          
                  <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="N° Règlement" [(ngModel)]="reglementCredit.numeroReglementCredit">
                  
                  </mat-form-field>
                 </div>
                 <div class="col-sm-4">
                  <mat-form-field [color]="red" style="width:100%">
                      <input matInput [matDatepicker]="picker1" placeholder="Date Règlement" [(ngModel)]="reglementCredit.dateReglementObject">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                   </div>

                <div class="col-sm-4">
                    <mat-form-field [color]="red" style="width:100%">
                      <input matInput type="number" placeholder="Valeur Règlé"  [(ngModel)]="reglementCredit.valeurRegle">
                      
                      </mat-form-field>
                 
               </div>
                  </div>

           <div class="row">
                      <div class='col-sm-4'>
                              <mat-form-field style="width:100%">
                      <input type="text" placeholder="Select Cin" aria-label="Number"
                       [(ngModel)]="reglementCredit.client.cin" matInput [formControl]="clientsFilter.getControlCins()" [matAutocomplete]="auto1">
                       <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                       <mat-option *ngFor="let cin of clientsFilter.getFiltredCins() | async" [value]="cin">
                                {{cin}}
                             </mat-option>
                                      </mat-autocomplete>
                                    </mat-form-field>
                      </div> 
                      <div class='col-sm-4'>
                              <mat-form-field style="width:100%">
                                      <input type="text" placeholder="Nom" 
                                      aria-label="String" readonly [(ngModel)]="reglementCredit.client.nom" 
                                       matInput  [matAutocomplete]="auto2">
                                    </mat-form-field>
                      </div> 
                      <div class='col-sm-4'>
                              <mat-form-field style="width:100%">
                                      <input type="text" placeholder="Prénom" aria-label="String" 
                                      readonly matInput [(ngModel)]="reglementCredit.client.prenom"  [matAutocomplete]="auto3">
                                    </mat-form-field>
                      </div>
                    </div>
                    <div class="row" >
                    <div class='col-sm-4'>
                    <mat-form-field style="width:100%">
                        <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" 
                        [(ngModel)]="reglementCredit.client.registreCommerce"
                         matInput [formControl]="clientsFilter.getControlRegistreCommerce()"
                          [matAutocomplete]="auto14">
                        <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                          <mat-option *ngFor="let registreCommerce of clientsFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                            {{registreCommerce}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </div> 
                    <div class='col-sm-4'>
                    <mat-form-field style="width:100%">
                        <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="reglementCredit.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                      
                      </mat-form-field>
                    </div>
                    <div class='col-sm-4'>
                        <mat-form-field style="width:100%">
                                <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="reglementCredit.client.raisonSociale" readonly [matAutocomplete]="auto5">
                                
                              </mat-form-field>
                    </div>
                    </div>  

                  <div class="row">
                     
                   <div class="col-sm-4">
                     <mat-form-field [color]="red" style="width:100%">
               <input matInput [matDatepicker]="picker2" placeholder="Période De:" [(ngModel)]="reglementCredit.periodeFromObject">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                     </mat-form-field>
                     </div>

                     <div class="col-sm-4">
                        <mat-form-field [color]="red" style="width:100%">
                  <input matInput [matDatepicker]="picker3" placeholder="à" [(ngModel)]="reglementCredit.periodeToObject">
                           <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                           <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                        </div>


                  <div class="col-sm-4">
                    <mat-form-field [color]="red" style="width:100%" >
                        
                        <mat-select placeholder="Mois"  [(ngModel)]="reglementCredit.mois">
                            <mat-option *ngFor="let mois of listMois" [value]="mois.value">
                                   {{ mois.viewValue }}
                            </mat-option>
                        
                    </mat-select>
                    </mat-form-field>
                   </div>
                  </div>
            <div class="row" >

         <div class="col-sm-4">
             <mat-form-field [color]="red" style="width:100%" >
                        
                <mat-select placeholder="Mode Paiement"  [(ngModel)]="reglementCredit.modePaiement">
                            <mat-option *ngFor="let mode of modesPaiements" [value]="mode.value">
                                   {{ mode.viewValue }}
                            </mat-option>
                        
                    </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%" >
                           
                   <mat-select placeholder="Etat"  [(ngModel)]="reglementCredit.etat">
                               <mat-option *ngFor="let etat of etatsReglementCredit" [value]="etat.value">
                                      {{ etat.viewValue }}
                               </mat-option>
                           
                       </mat-select>
                 </mat-form-field>
               </div>
                <div class='col-sm-4'>
                    <mat-form-field [color]="red" style="width:100%" >
                        
                        <input matInput type="string" placeholder="Valeur Règlé"  [(ngModel)]="reglementCredit.valeurRegle">
                        
                    </mat-form-field>
                </div>
                                                
            </div>


  
























