<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button style="margin-left:0px;"(click)="loadAddReleveAchatsComponent();"  mat-mini-fab color="primary"   class="pull-left" >
        
        
                        <mat-icon>add</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="loadEditReleveAchatsComponent();"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >edit</mat-icon> 
                        
    </button>
    <button style="margin-left:30px;" (click)="refresh();"  mat-mini-fab color="primary"   >
      
      
                      <mat-icon   >refresh</mat-icon>
                      
  </button>

  <button style="margin-left:30px;" (click)="addFournisseur();"  mat-mini-fab  >
    
    
                    <mat-icon   >person</mat-icon>
                    
</button>
  <button style="margin-left:30px; background-color: orange;" (click)="addPayement();"  mat-mini-fab >
    
    
                    <mat-icon   >attach_money</mat-icon><span style="padding-top:17px"></span>
                    
</button>
<button style="margin-left:30px; background-color: grey;" (click)="history();"  mat-mini-fab >
      
      
                      <mat-icon   >history</mat-icon><span style="padding-top:17px"></span>
                      
</button>
  <button style="margin-left:30px;" (click)="showCorbeille()"  class="pull-right"  mat-mini-fab color="primary" >
        
        
                        <mat-icon   >delete</mat-icon><span style="padding-top:17px">  </span>
                        
    </button>
  
    <button (click)="supprimerRelevesAchats();"  class="pull-right"  mat-mini-fab color="warn" >
        
        
                        <mat-icon   >cancel</mat-icon><span style="padding-top:17px">  </span>
                        
    </button>
    
    <button style="margin-right:20px;" class="pull-right" (click)="toggleFilterPanel();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >search</mat-icon>
                        
      </button>
      <button style="margin-right:20px;" class="pull-right" (click)="toggleShowColumnsMultiSelect();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >view_column</mat-icon>
                        
      </button>
  </div>
  <div class="row" *ngIf="showFilter" style="margin-top: 18px">
      <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%">
         <input matInput placeholder="N°Relevé"   [(ngModel)]="releveAchatsDataFilter.numeroReleveAchats">
      </mat-form-field>
      </div>
          <div class="col-sm-2">
            <mat-form-field [color]="red"  style="width:100%">
                <input matInput [matDatepicker]="picker3" touchUi #picker3 placeholder=" Date Achats de: " [(ngModel)]="releveAchatsDataFilter.dateAchatsFromObject">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field> 
          </div>
          <div class="col-sm-2">
              <mat-form-field [color]="red"  style="width:100%">
                  <input matInput [matDatepicker]="picker4" touchUi #picker4 placeholder="à: " [(ngModel)]="releveAchatsDataFilter.dateAchatsToObject">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>   
            </div>
  
          <div class="col-sm-2">
              <mat-form-field [color]="red" style="width:100%">
             <input matInput placeholder="Montant A payer"   [(ngModel)]="releveAchatsDataFilter.montantAPayer">
          </mat-form-field>
          </div>
   
      <div class="col-sm-4"> 
          <mat-form-field [color]="red" style="width:100%" >      
              <mat-select placeholder="Etat"  [(ngModel)]="releveAchatsDataFilter.etat">
                        <mat-option *ngFor="let etat of etatsReleveAchats" [value]="etat.value">
                               {{ etat.viewValue }}
               </mat-option>       
           </mat-select>
        </mat-form-field> 
      </div>
  
    </div>    
             <div class="row col-sm-12" *ngIf="showFilter">
              <button style="margin-left: 6px; background-color: white; border:none;"
              (click)="activateFilterFournisseur()">
                
                  <i class="fa fa-user" aria-hidden="true"> <span>Fournisseur</span>
                    </i> <mat-icon   >search</mat-icon>
                  
                </button>
             </div>
  
            <div class="row" *ngIf="showFilter && showFilterFournisseur" style="margin-top: 18px">
              <div class="col-sm-2">
                  <mat-form-field [color]="red" style="width:100%">
                 <input matInput placeholder="CIN Fournisseur"   [(ngModel)]="releveAchatsDataFilter.cinFournisseur">
              </mat-form-field>
              </div>
              <div class="col-sm-2">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Nom Fournisseur"   [(ngModel)]="releveAchatsDataFilter.nomFournisseur">
               </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Prénom Fournisseur"   [(ngModel)]="releveAchatsDataFilter.prenomFournisseur">
                 </mat-form-field>
                  </div>
                  <div class="col-sm-2">
                    <mat-form-field [color]="red" style="width:100%">
                      <input matInput placeholder="Rs. Soc. Fournisseur"   [(ngModel)]="releveAchatsDataFilter.raisonFournisseur">
                   </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Matr. Fournisseur"   [(ngModel)]="releveAchatsDataFilter.matriculeFournisseur">
                 </mat-form-field>
              </div>   
               <div class="col-sm-2">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="RG. Fournisseur"   [(ngModel)]="releveAchatsDataFilter.registreFournisseur">
               </mat-form-field>
            </div>
            </div>
           
      <div class="row" *ngIf="showFilter" >
            <button class="pull-left"  mat-mini-fab  color="accent"  (click)="loadFiltredData()">
                
                     <mat-icon   >done</mat-icon>
                                
            </button>    
       </div>
  
  
  <div class="row" *ngIf="showSelectColumnsMultiSelect" style="margin-top: 18px">
      <div class="col-sm-12">
        <p-multiSelect [options]="columnsToSelect"    displaySelectedLabel= "false"    [defaultLabel]="'Séléctionner Columns'"  (onChange) = "specifyListColumnsToBeDisplayed()"
        [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
        [panelStyle]="{minWidth:'15em'}">
          <ng-template let-selectedColumn pTemplate="selectedItems">
              <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
          </ng-template>
          <ng-template let-selectedColumn let-i="index" pTemplate="item">
             {{selectedColumn.label}}
          </ng-template>
      </p-multiSelect>
     <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Columns à Afficher: {{selectedColumnsNames}}</span>
    </div>
  </div>
  
  




<div class="row">
<!--<mat-form-field style="margin-top:12px;width:100%">;
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>-->
<table mat-table [dataSource]="dataRelevesAchatsSource"  matSort style="width:100%;" >


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitionsToDisplay" 
     >
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
      <td mat-cell *matCellDef="let releveAchats"> {{releveAchats[columnDef.name]}} </td>
    </ng-container>
  
    <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
  </table>

  <div class="row">
    <div class="col-sm-2">

    </div>
      <div class="col-sm-6">
          <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-sm-2">
    
    </div>

    </div>
</div>  