<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button (click)="loadGridRelevesAchats()"   class="pull-left"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>arrow_back</mat-icon>
                            
     </button>
    <button style="margin-left:30px" (click)="updateReleveAchats();"    mat-mini-fab color="primary"  >
        
        
                        <mat-icon>done </mat-icon> 
                        
    </button>
  
  <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
        
        
                        <mat-icon   >delete</mat-icon><span > </span>
                        
    </button>
  
  
  </div>




              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
                
                <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="width:96%">
              <mat-accordion style="width:100%">
                <mat-expansion-panel #firstMatExpansionPanel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
               
                  <div class="row" >
                    
                            <div class="col-sm-4">
                          <mat-form-field>
                            <input matInput placeholder="N.Rel"   readonly          [(ngModel)]="releveAchats.numeroReleveAchats">
                            
                            </mat-form-field>
                           </div>
                           <div class="col-sm-4">
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker1" placeholder="Date Achats" [(ngModel)]="releveAchats.dateAchatsObject">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                             </div>
                         
                         <div class="col-sm-4">
          
                         </div>
                      <!---Identite Client -->
                            </div>
                      <div class="row">
                        <div class='col-sm-4'>
                                <mat-form-field >
                                        <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="releveAchats.fournisseur.cin" matInput [formControl]="fournisseurFilter.getControlCins()" [matAutocomplete]="auto1">
                                        <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                          <mat-option *ngFor="let cin of fournisseurFilter.getFiltredCins() | async" [value]="cin">
                                            {{cin}}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </mat-form-field>
                        </div> 
                        <div class='col-sm-4'>
                                <mat-form-field >
                                        <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="releveAchats.fournisseur.nom"  matInput  [matAutocomplete]="auto2">
                                      </mat-form-field>
                        </div> 
                        <div class='col-sm-4'>
                                <mat-form-field >
                                        <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="releveAchats.fournisseur.prenom"  [matAutocomplete]="auto3">
                                      </mat-form-field>
                        </div>
                      </div>
                      <div class="row" >
                      <div class='col-sm-4'>
                      <mat-form-field >
                          <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="releveAchats.fournisseur.registreCommerce" matInput [formControl]="fournisseurFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                          <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                            <mat-option *ngFor="let registreCommerce of fournisseurFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                              {{registreCommerce}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div> 
                      <div class='col-sm-4'>
                      <mat-form-field >
                          <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="releveAchats.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                        
                        </mat-form-field>
                      </div>
                      <div class='col-sm-4'>
                          <mat-form-field >
                                  <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="releveAchats.fournisseur.raisonSociale" readonly [matAutocomplete]="auto5">
                                  
                                </mat-form-field>
                      </div>
                      </div>  
                      <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="releveAchats.etat">
                                      <mat-option *ngFor="let etat of etatsReleveAchats" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
                            </div>                  
                          
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
          
                  <mat-expansion-panel-header>
                            

                  <i class="fa fa-pencil" aria-hidden="true"></i> 
                </mat-expansion-panel-header>
                             <div class="row">
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              
                                  <mat-form-field [color]="red" style="width:100%">
                                    <input matInput placeholder="N°"  [(ngModel)] ="managedLigneReleveAchats.numeroLigneRelAchats" >
                                    
                                     </mat-form-field>
                                          </div>
                                          <div class="col-sm-6">
                                              
                                       <mat-form-field [color]="red" style="width:100%">
  
                           <input type="text" placeholder="ART." aria-label="string" [(ngModel)]="managedLigneReleveAchats.article.code"
                            matInput 
                           [formControl]="articleFilter.getControlCodesArticles()" 
                           [matAutocomplete]="autoCodeArticle">
                           <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
                             <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
                               {{codeArticle}}
                             </mat-option>
                           </mat-autocomplete>
                                      </mat-form-field>
                                        </div>

                                </div>
                                  </div>

                                  <div class="col-sm-6">
                                    <div class="row">

                                          <div class="col-sm-6">
                                              
                                       <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Config."  [(ngModel)] ="managedLigneReleveAchats.article.configuration" >
                                        
                                         </mat-form-field>
                                          </div>

                                      <div class="col-sm-6">
                                          
                                       <mat-form-field [color]="red" style="width:100%">
                                        
                      <input type="text" placeholder="UN.Mes." aria-label="string"
                       [(ngModel)]="managedLigneReleveAchats.unMesure.code"
                                         matInput 
                       [formControl]="unMesureFilter.getControlCodesUnMesures()" 
                              [matAutocomplete]="autoCodeUnMesure">
                        <mat-autocomplete name ="codeUnMesure" (optionSelected)="fillDataLibelleUnMesure()" #autoCodeUnMesure="matAutocomplete">
                               <mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
                               {{codeUnMesure}}
                               </mat-option>
                           </mat-autocomplete>
                          </mat-form-field>
                                      
                                    
                                        
                                      
                                      </div>
  
                                  </div>
                                  </div>
                             </div>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <mat-form-field [color]="red" style="width:100%">
                                     <input matInput type="number"  placeholder="Quantite" 
                                      [(ngModel)] ="managedLigneReleveAchats.quantite"  >
                                                                    
                                          </mat-form-field>
                                      </div>
                                      <div class="col-sm-6">
                                          <mat-form-field [color]="red" style="width:100%">
                                     <input matInput type="number" placeholder="Prix Unitaire" 
                                      [(ngModel)] ="managedLigneReleveAchats.prixUnt" 
                                      (blur)="calculPrixTotal()">
                                                                    
                                          </mat-form-field>
                                      </div>
                                  </div>
                         <div class="row">
                                    
                                      <div class="col-sm-12">
                                          <mat-form-field [color]="red" style="width:100%">
                                              <input type="number" matInput placeholder="Prix Total" readonly [(ngModel)] ="managedLigneReleveAchats.prixTotal" >
                                                                    
                                          </mat-form-field>
                                       </div>
                                  
                                  
                                  
                                  </div>
  
  
                                  <div class="row">
                                      
                             
                                    <div class="col-sm-12">
                                        
                                <mat-form-field [color]="red"   readonly        style="width:100%">
                                    <input type="number" matInput placeholder="Benefice Total Est."  [(ngModel)] ="managedLigneReleveAchats.beneficeTotalEstime" >
                                                          
                                </mat-form-field>
  
                                    </div>
                                  </div>
                                  <div class="row">
                                  <div  class="col-sm-6">
                   <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneReleveAchats.regle" > 
                       Réglé</mat-checkbox>
                                      
                                      </div>
                                      <div  class="col-sm-6">
                              <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneReleveAchats.livre" >
                                  Livré
                                   </mat-checkbox>
                                          
                           </div>
                                  </div>
  
                         <div class="row">
                          <div class="col-sm-12">
                              
                          <mat-form-field [color]="red" style="width:100%">
                              <input matInput placeholder="Déscription"  [(ngModel)] ="managedLigneReleveAchats.description" >
                            
                               </mat-form-field>
                          </div>
  
                         </div>
                         <div class="row" >
                                      <button style="margin-left:40px"  mat-button color="accent" (click)="addLigneReleveAchats();" >
                                      
                                      
                                                      <mat-icon>done </mat-icon> 
                                                      
                                  </button>
                               
  
  
                         </div>

             </mat-expansion-panel>

                      <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
   <mat-expansion-panel-header>
      <i class="fa fa-table" aria-hidden="true"></i> 
      
   </mat-expansion-panel-header>

   <div class="row">
    <mat-form-field style="margin-top:12px;width:100%">;
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataLignesReleveAchatsSource"  matSort style="width:100%;" >
    
    
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
             <span style="color:blue"> Actions</span>
          </th>
          <td mat-cell *matCellDef="let row;"> 
                  <button (click)="deleteLigneReleveAchats(row)" mat-mini-fab color="warn">
                      <i class="fa fa-trash" ></i>                             
                    </button> 
          <button style="margin-left:5px" (click)="editLigneReleveAchats(row)" mat-mini-fab color="accent">
              <i class="fa fa-pencil" ></i>                                 
              </button> 
     
          </td>
         
        </ng-container>
       
      <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
       >
        <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
        <td mat-cell *matCellDef="let ligneRA"> 
            {{ligneRA[columnDef.name]}}
          
          </td>
    
      </ng-container>
    
      <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsNames;" ></tr>
    
  </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>  

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
</mat-panel-title>
<mat-panel-description>

</mat-panel-description>
</mat-expansion-panel-header>
<div class="row">
<div class="col-sm-6">
<mat-form-field [color]="red">
<input matInput placeholder="Montant A Payer " readonly  [(ngModel)] ="releveAchats.montantAPayer" >
</mat-form-field>
</div>

<div class="col-sm-6">

<mat-form-field [color]="red" style="width:100%">
<input matInput placeholder="Montant Bénéfice Est." readonly [(ngModel)] ="releveAchats.montantBeneficeEstime" >

</mat-form-field>

</div>
</div>



<div class="row" >
<div class='col-sm-12'>
<mat-form-field [color]="red" style="width:100%" >

<mat-select placeholder="Mode Paiement"  [(ngModel)]="releveAchats.payementData.libelle">
<mat-option *ngFor="let payement of payementModes" [value]="payement.value">
  {{ payement.viewValue }}
</mat-option>

</mat-select>
</mat-form-field>
</div>
               
</div> 

<div class="row" >
<div class='col-sm-6'>
<mat-form-field [color]="red" style="width:100%" >

<input matInput placeholder="N°Cheque"  [(ngModel)] ="releveAchats.payementData.numeroCheque" >

</mat-form-field>
</div>
<div class='col-sm-6'>
<mat-form-field style="width:100%">
<input matInput [matDatepicker]="pickerDateVir" placeholder="Date Virement de Chèque"
[(ngModel)]="releveAchats.dateVirementChequeObject">
<mat-datepicker-toggle matSuffix [for]="pickerDateVir"></mat-datepicker-toggle>
<mat-datepicker #pickerDateVir></mat-datepicker>
</mat-form-field>  


</div>                     
</div> 

<div class="row" >
<div class='col-sm-6'>
<mat-form-field [color]="red" style="width:100%" >

<input matInput placeholder="Montant Comptant"  [(ngModel)] ="releveAchats.payementData.montantComptant" >

</mat-form-field>
</div>
<div class='col-sm-6'>
<mat-form-field [color]="red" style="width:100%" >
<input matInput  placeholder="Montant Crédit" [(ngModel)]="releveAchats.payementData.montantCredit">

</mat-form-field>  

</div>                     
</div>

</mat-expansion-panel>

              </mat-accordion>
                        </div>
                </mat-tab>
                <mat-tab label="Paiements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
                    <app-payements-releves-achats-grid [releveAchats]="releveAchats">

                    </app-payements-releves-achats-grid>         
               
                    </div>
                </mat-tab>
                <mat-tab label="Documents"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
                    <app-documents-releves-achats-grid [releveAchats]="releveAchats">

                    </app-documents-releves-achats-grid>         
               
                        </div>
                  </mat-tab>
                  <mat-tab label="Credits"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    Crédits
                   </mat-tab>
                   <mat-tab label="Ajournements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                      <div style="width:97%" >
                          
                      <app-ajournements-releves-achats-grid [releveAchats]="releveAchats">
  
                      </app-ajournements-releves-achats-grid>         
                 
                      </div>
                    </mat-tab>
              </mat-tab-group>
              