

<div class="row">
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridAccessRights()"   class="pull-left" mat-mini-fab color="primary" >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:30px;"  (click)="saveAccessRight();"  mat-mini-fab color="primary" >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      

      
      
      </div>
<div style="height: 800px;">
       
<div class="row">
 <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="accessRight.code">
         </mat-form-field>
</div>
</div>
<div class="row">
<div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%" >
                <input matInput placeholder="Déscription"  [(ngModel)] ="accessRight.description">
         </mat-form-field>  
</div>    
 </div>   

<div class="row" >
        <div class="col-sm-12">
                        <mat-form-field style="width:100%">
                                        <mat-select placeholder="Entité " [(ngModel)] = "accessRight.entityName">
                                <mat-option *ngFor="let entityName of entityNames" [value]="entityName.value">
                                            {{entityName.viewValue}}
                                          </mat-option>
                                </mat-select>
                        </mat-form-field> 
           
        </div>                                     
</div>
<div class="row">
       

                <div class="col-sm-12">
 <p-multiSelect [options]="columnsToSelect"   
    [defaultLabel]="'Séléctionner Droits'"  
         [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
         (onChange) = "specifyListColumnsToBeDisplayed()"         
         [panelStyle]="{minWidth:'15em'}">
         <ng-template let-selectedColumn pTemplate="selectedItems">
         <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
        </ng-template>
 <ng-template let-selectedColumn let-i="index" pTemplate="item">
   {{selectedColumn.label}}
        </ng-template>
        </p-multiSelect>
                             <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Droits Séléctionnés: {{selectedColumnsNames}}</span>
 </div>


</div>

</div>