<mat-card style="margin-top:100px;width:100%">
    <!--First row -->
    <div class="row" >
            <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%">         
     <input matInput type="string" 
     placeholder="N°Inscription" [(ngModel)] ="inscription.numeroInscription" readonly> 
                    </mat-form-field>
            </div>      
            <div class="col-sm-6">
                    <mat-form-field [color]="red" style="width:100%">         
     <input matInput type="string" 
     placeholder="Date Inscription" [(ngModel)] ="inscription.dateInscription" readonly>
                    </mat-form-field>
            </div>                 
    </div>
    <div class="row" >
<div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput type="string" placeholder="Raison Sociale" readonly [(ngModel)] ="inscription.raisonSociale">
</mat-form-field>
</div>
    <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
<input matInput  type="number" placeholder="Chiffres d'Affaires(Dinars)" readonly   [(ngModel)] ="inscription.chiffreAffaires">
    </mat-form-field>
    </div>
    
</div>
<div class="row" >
        <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
<input matInput  type="number" placeholder="Budget Préparé" readonly [(ngModel)] ="inscription.budgetPrepare">
        </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-checkbox [(ngModel)] ="inscription.besoinUrgent" readonly > </mat-checkbox>
            
        </div>
 </div>
  <div class="row" >
    
  <div class="col-sm-6">
           <div>
          <label class="btn btn-default btn-file">
            Logo <input type="file" (change)="logoChanged($event)"  style="display: none;">
           </label> 
             </div>
             <img *ngIf="inscription.logo !== 'undefined'" [src]="inscription.logo" style="max-width: 300px ; max-height: 300px;   image-orientation : from-image;"/>       
 </div>      
 <div class="col-sm-6">
            <div>
                  <label class="btn btn-default btn-file">
                    Map <input type="file" (change)="mapChanged($event)"  style="display: none;">
                   </label> 
            </div>
                     <img *ngIf="inscription.map !== 'undefined'" [src]="inscription.map" style="max-width: 400px ; max-height: 400px;   image-orientation : from-image;"/>       
     </div>
  </div>

  <div class="row" >
    <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
<input matInput  type="email" placeholder="Email" readonly [(ngModel)] ="inscription.email">
    </mat-form-field>
    </div>
    <div class="col-sm-6">
            <mat-form-field [color]="red" style="width:100%">
                    
        <input matInput  type="password" placeholder="Mot de Pass" readonly [(ngModel)] ="inscription.password">
            </mat-form-field>
    </div>
</div> 
<div class="row" >
        <div class="col-sm-12">
        <mat-form-field [color]="red" style="width:100%">
    <input matInput placeholder="Elements SI" readonly [(ngModel)] ="inscription.elementsSI">
        </mat-form-field>
        </div>
      
    </div> 
        <div class="pull-right">
    <button  mat-mini-fab (click)="confirmerInscription()" >
        <mat-icon >check circle</mat-icon>
      </button>
        </div>
        

</mat-card>