<div class="row" >
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
 
    <button style="margin-left:20px" (click)="loadViewInscriptionComponent();"  mat-mini-fab color="primary"  >
        
        
                        <mat-icon   >view</mat-icon> 
                        
    </button>
   




  <button (click)="supprimerInscriptions();"  class="pull-right" mat-mini-fab color="primary">
    
    
                    <mat-icon   >delete</mat-icon>
                    
</button>

  </div>


<div class="row">
<mat-form-field style="margin-top:12px;width:100%">;
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataInscriptionsSource"  matSort style="width:100%;" >


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
     >
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
      <td mat-cell *matCellDef="let inscription"> {{inscription[columnDef.name]}} </td>
    </ng-container>
  
    <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
  </table>
</div>  
<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-6">
      <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
   <div class="col-sm-2">

  </div>
</div>