<mat-card style="margin-top:10px;">
        <!--First row -->
        <div class="row" >
    <div class="col-sm-12">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Login" [(ngModel)] ="user.login">
    </mat-form-field>
    </div>
    
        </div>
    
        <div class="row" >
                <div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%" >
        <input matInput  type="password" placeholder="Mot de passe " [(ngModel)] ="user.password">
                </mat-form-field>
                </div>
                
        </div>
       
        <div class="row">
             
                
            <div class="col-sm-offset-6">
        <button  mat-fab (click)="login()" >
            <mat-icon >check circle</mat-icon>
          </button>
            </div>
            </div>
    
    </mat-card>