<mat-card style="margin-top:10px">

    <!--First row -->
    <div class="row" >
<div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput type="string" placeholder="Raison Sociale" [(ngModel)] ="inscription.raisonSociale">
</mat-form-field>
</div>
    <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
<input matInput  type="number" placeholder="Chiffres d'Affaires(Dinars)" [(ngModel)] ="inscription.chiffreAffaires">
    </mat-form-field>
    </div>
    
</div>
<div class="row">
<div class="col-sm-12">

        <mat-form-field style="width:100%">
                <mat-chip-list #chipList>
                  <mat-chip
                    *ngFor="let elementSI of listElementsSI"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(elementSI)">
                    {{elementSI}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="Elements SI" 
                    [(ngModel)] ="inscription.elementsSI"
                    #elementSIInput
                    [formControl]="elementSICtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let elementSI of filteredElementsSI | async" [value]="elementSI">
                    {{elementSI}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


</div>


</div>
<div class="row" >
        <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
<input matInput  type="number" placeholder="Budget Préparé" [(ngModel)] ="inscription.budgetPrepare">
        </mat-form-field>
        </div>
        <div class="col-sm-6" style="padding-top: 15px">
            <mat-checkbox [(ngModel)] ="inscription.besoinUrgent" >Besoin Urgent </mat-checkbox>
            
        </div>
 </div>

 <div class="row" >
        <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
    <input matInput  type="email" placeholder="Email" [(ngModel)] ="inscription.email">
        </mat-form-field>
        </div>
        <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                        
            <input matInput  type="password" placeholder="Mot de Pass" [(ngModel)] ="inscription.password">
                </mat-form-field>
        </div>
    </div> 
  <div class="row" >
    
  <div class="col-sm-6">
              <div>
          <label class="btn btn-default btn-file">
            Logo <input type="file" (change)="logoChanged($event)"  style="display: none;">
           </label> 
              </div>
             <img *ngIf="inscription.logo !== 'undefined'" [src]="inscription.logo" style="max-width: 100px ; max-height: 100px;   image-orientation : from-image;"/>       
     </div>     
        <div class="col-sm-6">
            <div>
                  <label class="btn btn-default btn-file">
                    Map <input type="file" (change)="mapChanged($event)"  style="display: none;">
                   </label> 
            </div>
                     <img *ngIf="inscription.map !== 'undefined'" [src]="inscription.map" style="max-width: 200px ; max-height: 200px;   image-orientation : from-image;"/>       
     </div>
  </div>

        <div class="row" style="margin-top:30px">
        <div class="col-sm-offset-6">
    <button  mat-fab (click)="signup()" >
       SIGNUP
      </button>
        </div>
        </div>

</mat-card>