

<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridUtilisateurs()"   class="pull-left" mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
             
                <button style="margin-left:30px" (click)="updateUtilisateur();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
           
              
              
              </div>
              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
        <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="height: 800px;">
                                        
                                 <div class="row">
                                                 <div  class="col-sm-6">
                                            <mat-form-field [color]="red" style="width:100%" >
                                           <input matInput placeholder="Code" readonly [(ngModel)] ="utilisateur.code">
                                          </mat-form-field>
                                                 </div>
                                                 <div  class="col-sm-6">
                                          <mat-form-field [color]="red"  style="width:100%">
                                                 <input matInput placeholder="CIN" readonly  [(ngModel)] ="utilisateur.cin" >
                                         </mat-form-field>
                                                       </div>
                                             
                                 </div>
                                 
                                 <div class="row" >
                                 
                                     
                                         <div class="col-sm-6">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                         <input matInput placeholder="Nom" [(ngModel)] = "utilisateur.nom">
                                                 </mat-form-field>
                                            
                                         </div>
                                         <div class="col-sm-6">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                         <input matInput placeholder="Prénom" [(ngModel)] = "utilisateur.prenom">
                                                 </mat-form-field>      
                                         </div>
                                                                            
                                 </div>
                                 <div class="row" >
                                                 
                                                     
                                          <div class="col-sm-6">
                                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                         <input matInput placeholder="Login" [(ngModel)] = "utilisateur.login">
                                                                 </mat-form-field>
                                                            
                                          </div>
                                 <div class="col-sm-6">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                         <input matInput placeholder="Email" [(ngModel)] = "utilisateur.email">
                                                  </mat-form-field>      
                                          </div>
                                                                                            
                                  </div>
                                 
                                 
                                 <div class="row" >
                                         
                                             
                                                 <div class="col-sm-6">
                                                         <mat-form-field [color]="red"  style="width:100%">
                                                                 <input matInput type="password" placeholder="Mot de pass" [(ngModel)] = "utilisateur.password">
                                                         </mat-form-field>
                                                    
                                                 </div>
                                                 <div class="col-sm-6">
                                                         <mat-form-field [color]="red"  style="width:100%">
                                                                 <input matInput type="password" placeholder="Confirmation mot de passe " [(ngModel)] = "utilisateur.confirmPassword">
                                                         </mat-form-field>      
                                                 </div>
                                                                                    
                                 </div>
                                 <div class="row">
                                                 <div  class="col-sm-6">
                                                              
                                                                 <mat-form-field style="width:100%">
                                                  <mat-select placeholder="Etat" [(ngModel)] = "utilisateur.etat">
                                                                         <mat-option *ngFor="let etat of etatsUtilisateur" [value]="etat.value">
                                                                                     {{etat.viewValue}}
                                                                                   </mat-option>
                                                                         </mat-select>
                                                                 </mat-form-field> 
                                                       
                                                 </div>
                                                <div class="col-sm-6">
                                                       
                                                 <mat-form-field style="width:100%">
                                                         <mat-select placeholder="Rôle" [(ngModel)] = "utilisateur.role">
                                                 <mat-option *ngFor="let role of rolesUtilisateur" [value]="role.value">
                                                             {{role.viewValue}}
                                                           </mat-option>
                                                 </mat-select>
                                         </mat-form-field> 
                                                
                                              </div>
                                    </div>
                                 <div class="row">
                                 
                                         <div class="col-sm-6">
                                         <mat-form-field [color]="red" style="width:100%" >      
                                         <input matInput [matDatepicker]="pickerDateNaissance" touchUi #pickerDateNaissance placeholder="Date Naissance" [(ngModel)]="utilisateur.dateNaissanceObject">
                                         <mat-datepicker-toggle matSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
                                         <mat-datepicker #pickerDateNaissance></mat-datepicker>
                                  </mat-form-field>   
                                         </div>
                                          <div class="col-sm-6">
                                                 <mat-form-field [color]="red" style="width:100%" >      
                                         <input matInput [matDatepicker]="pickerDateInscription" touchUi #pickerDateInscription placeholder="Date Inscription" [(ngModel)]="utilisateur.dateInscriptionObject">
                                                 <mat-datepicker-toggle matSuffix [for]="pickerDateInscription"></mat-datepicker-toggle>
                                         <mat-datepicker #pickerDateInscription></mat-datepicker>
                                                 </mat-form-field>   
                                         </div>
                                 </div>
                                    <div class="row">
                                 <div class="col-sm-12">
                                         <mat-form-field [color]="red"  style="width:100%">
                                                 <input matInput placeholder="Déscription" [(ngModel)] = "utilisateur.description">
                                         </mat-form-field>                                 
                                 </div>
                                   </div>
                                    <div class="row">
                                              <div class="col-sm-12">
                                                                         <div>
                                                                               <label class="btn btn-default btn-file">
                                                                                 Image <input type="file" (change)="fileChanged($event)"  style="display: none;">
                                                                                </label> 
                                                                         </div>
                                                                                  <img *ngIf="utilisateur.image !== 'undefined'" [src]="utilisateur.image" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
                                                </div>
                                  </div>
                                         
                                 </div>  
        </mat-tab>
  
               
                <mat-tab label="Droits d'Accés" > 
                                                
                        <div class="row">
                                                <div  class="col-sm-6">
                                           <mat-form-field [color]="red" style="width:100%" >
                                          <input matInput placeholder="Code"  readonly [(ngModel)] ="utilisateur.code" readonly>
                                         </mat-form-field>
                                                </div>
                                                <div  class="col-sm-3">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                        <input matInput placeholder="Nom " readonly [(ngModel)] ="utilisateur.nom" readonly>
                                                  </mat-form-field>
                                                  </div>
                                                      
                                                  <div  class="col-sm-3">
                                                        <mat-form-field [color]="red"  style="width:100%">
                                                                               <input matInput placeholder="Prénom " readonly  [(ngModel)] ="utilisateur.prenom" readonly>
                                                         </mat-form-field>
                                                         </div>
                         </div>
                                
                                        
         <p-pickList 
         [source]="sourceListAccessRights" [responsive]="true" [target]="targetListAccessRights" 
         sourceHeader="Droits D'Accés Disponibles" targetHeader="Droits D'Accés Séléctionnés">
                         <ng-template let-accessRight pTemplate="item">
                                        <div class="">
                                           <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                            <div > 
                                                    Entité : {{accessRight.entityName}} -
                                            </div><div>
                                 Droits: {{accessRight.rights}}</div>
                                        </div>
                        </ng-template>     
                        </p-pickList>
                         
        </mat-tab>

               
                
        </mat-tab-group>