

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridUtilisateurs()"   class="pull-left" mat-mini-fab color="primary" >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:30px" (click)="saveUtilisateur();"  mat-mini-fab color="primary"  >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      
      
      
      
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="utilisateur.code">
         </mat-form-field>
                </div>
                <div  class="col-sm-6">
         <mat-form-field [color]="red"  style="width:100%">
                <input matInput placeholder="CIN" [(ngModel)] ="utilisateur.cin" >
        </mat-form-field>
                      </div>
            
</div>

<div class="row" >

    
        <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Nom" [(ngModel)] = "utilisateur.nom">
                </mat-form-field>
           
        </div>
        <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Prénom" [(ngModel)] = "utilisateur.prenom">
                </mat-form-field>      
        </div>
                                           
</div>
<div class="row" >
                
                    
         <div class="col-sm-6">
                                <mat-form-field [color]="red"  style="width:100%">
                                        <input matInput placeholder="Login" [(ngModel)] = "utilisateur.login">
                                </mat-form-field>
                           
         </div>
<div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                                        <input matInput placeholder="Email" [(ngModel)] = "utilisateur.email">
                 </mat-form-field>      
         </div>
                                                           
 </div>


<div class="row" >
        
            
                <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput type="password" placeholder="Mot de pass" [(ngModel)] = "utilisateur.password">
                        </mat-form-field>
                   
                </div>
                <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput type="password" placeholder="Confirmation mot de passe " [(ngModel)] = "utilisateur.confirmPassword">
                        </mat-form-field>      
                </div>
                                                   
</div>
<div class="row">
                <div  class="col-sm-6">
                             
                                <mat-form-field style="width:100%">
                 <mat-select placeholder="Etat" [(ngModel)] = "utilisateur.etat">
                                        <mat-option *ngFor="let etat of etatsUtilisateur" [value]="etat.value">
                                                    {{etat.viewValue}}
                                                  </mat-option>
                                        </mat-select>
                                </mat-form-field> 
                      
                </div>
               <div class="col-sm-6">
                      
                <mat-form-field style="width:100%">
                        <mat-select placeholder="Rôle" [(ngModel)] = "utilisateur.role">
                <mat-option *ngFor="let role of rolesUtilisateur" [value]="role.value">
                            {{role.viewValue}}
                          </mat-option>
                </mat-select>
        </mat-form-field> 
               
             </div>
   </div>
<div class="row">

        <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%" >      
        <input matInput [matDatepicker]="pickerDateNaissance" touchUi #pickerDateNaissance placeholder="Date Naissance" [(ngModel)]="utilisateur.dateNaissanceObject">
        <mat-datepicker-toggle matSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateNaissance></mat-datepicker>
 </mat-form-field>   
        </div>
         <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%" >      
        <input matInput [matDatepicker]="pickerDateInscription" touchUi #pickerDateInscription placeholder="Date Inscription" [(ngModel)]="utilisateur.dateInscriptionObject">
                <mat-datepicker-toggle matSuffix [for]="pickerDateInscription"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateInscription></mat-datepicker>
                </mat-form-field>   
        </div>
</div>

<div class="row">
                <div class="col-sm-6">
                                
                         <mat-form-field [color]="red" style="width:100%">
    
             <input type="text" placeholder="Profile Achats" aria-label="string"  [(ngModel)]="utilisateur.profileAchats.code"
              matInput 
             [formControl]="profileAchatsFilter.getControlCodesProfilesAchats()" 
             [matAutocomplete]="autoCodeProfileAchats">
             <mat-autocomplete name ="codeProfileAchats" (optionSelected)="fillDataDescriptionProfileAchats()" #autoCodeProfileAchats="matAutocomplete">
               <mat-option *ngFor="let code of profileAchatsFilter.getFiltredCodesProfilesAchats() | async" [value]="code">
                 {{code}}
               </mat-option>
             </mat-autocomplete>
                        </mat-form-field>
                          </div>

                          <div class="col-sm-6">
                                        
                                 <mat-form-field [color]="red" style="width:100%">
            
                     <input type="text" placeholder="Profile Ventes" aria-label="string"  [(ngModel)]="utilisateur.profileVentes.code"
                      matInput 
                     [formControl]="profileVentesFilter.getControlCodesProfilesVentes()" 
                     [matAutocomplete]="autoCodeProfileVentes">
                     <mat-autocomplete name ="codeProfileVentes" (optionSelected)="fillDataDescriptionProfileVentes()" #autoCodeProfileVentes="matAutocomplete">
                       <mat-option *ngFor="let code of profileVentesFilter.getFiltredCodesProfilesVentes | async" [value]="code">
                         {{code}}
                       </mat-option>
                     </mat-autocomplete>
                                </mat-form-field>
                                  </div>         
</div>
   <div class="row">
<div class="col-sm-12">
        <mat-form-field [color]="red"  style="width:100%">
                <input matInput placeholder="Déscription" [(ngModel)] = "utilisateur.description">
        </mat-form-field>                                 
</div>
  </div>
   <div class="row">
             <div class="col-sm-12">
                                        <div>
                                              <label class="btn btn-default btn-file">
                                                Image <input type="file" (change)="fileChanged($event)"  style="display: none;">
                                               </label> 
                                        </div>
                                                 <img *ngIf="utilisateur.image !== 'undefined'" [src]="utilisateur.image" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
               </div>
 </div>
        
</div>