

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button style="margin-left:20px;" (click)="loadGridEmployes()"   class="pull-left" 
        mat-mini-fab  color="primary"  >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:20px;" (click)="saveEmploye();"   
        mat-mini-fab  color="primary" >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Matricule"  [(ngModel)] ="employe.matricule">
         </mat-form-field>
                </div>
         <div  class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%" >
                       <input matInput placeholder="N°Carte Identité"  [(ngModel)] ="employe.numeroCIN">
         </mat-form-field>
          </div>
</div>

<div class="row" >

    
        <div class="col-sm-6">
                <div class="row">
                                <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Nom" [(ngModel)] = "employe.nom">
                </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Prénom" [(ngModel)] = "employe.prenom">
                </mat-form-field>
                                </div>
                </div>


        </div>
        <div class="col-sm-6">
                        <div class="row">
                                        <div class="col-sm-6">
                                                        
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Noms Pères" [(ngModel)] = "employe.nomPere">
                </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                                        
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Noms Mères" [(ngModel)] = "employe.nomMere">
                </mat-form-field>
                                        </div>
                        </div>
        </div>
                                        
                                          
 </div>

 <div class="row" >
        
                <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput placeholder="N°CNSS" [(ngModel)] = "employe.numeroCNSS">
                        </mat-form-field>
                      
                </div>
                <div class="col-sm-6">
                        <div class="row">
                                <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput placeholder="N°Passport" [(ngModel)] = "employe.numeroPassport">
                        </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                                
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput placeholder="N°Carte Séjour" [(ngModel)] = "employe.numeroCarteSejour">
                        </mat-form-field>
                                </div>
                        </div>
               </div>
                                                   
 </div>
 <div class="row" >
        
                <div class="col-sm-6">
                                <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="pickerDateNaissanceObject" 
                                placeholder=" Date Naissance" [(ngModel)]="employe.dateNaissanceObject">
                  <mat-datepicker-toggle matSuffix [for]="pickerDateNaissanceObject" touchUi #pickerDateNaissanceObject >

                  </mat-datepicker-toggle>
                        <mat-datepicker #pickerDateNaissanceObject></mat-datepicker>
                         </mat-form-field>   
                      
                </div>
                <div class="col-sm-6">
                   

                        <mat-form-field style="width:100%">
                         <input matInput [matDatepicker]="pickerDateIntegrationObject" 
                                        placeholder=" Date Intégration" [(ngModel)]="employe.dateIntegrationObject">
                                  <mat-datepicker-toggle matSuffix [for]="pickerDateIntegrationObject" touchUi #pickerDateIntegrationObject ></mat-datepicker-toggle>
                         <mat-datepicker #pickerDateIntegrationObject></mat-datepicker>
                         </mat-form-field>   
               </div>
                                                   
 </div>
 <div class="row" >
                <div class='col-sm-6'>
        <mat-form-field [color]="red" style="width:100%" >
                                                
                 <mat-select placeholder="Etat Civile"  [(ngModel)]="employe.etatCivile">
                        <mat-option *ngFor="let etat of etatsCiviles" [value]="etat.value">
                                  {{ etat.viewValue }}
                         </mat-option>
                                            
                 </mat-select>
                </mat-form-field>
                
                                                
         </div>
         <div class='col-sm-6'>
                        <mat-form-field [color]="red" style="width:100%" >                                           
                 <mat-select placeholder="Type de Contrat"  [(ngModel)]="employe.typesContrat">
                         <mat-option *ngFor="let type of typesContrat" [value]="employe.value">
                        {{ type.viewValue }}
                 </mat-option>
                                                            
                  </mat-select>
                                </mat-form-field>
         </div>
                                                                
        </div>
 <fieldset>
         <legend>Adresse-Contact</legend>
<div class="row">
            
                <div class="col-sm-6">
                        <div class="row">
                                        <div class="col-sm-6">
                                                        
                 <mat-form-field [color]="red"  style="width:100%">
                 <input matInput placeholder="N°" [(ngModel)] = "employe.numeroRue">
                  </mat-form-field>   
                                        </div>
                                        <div class="col-sm-6">
                                                        
                 <mat-form-field [color]="red"  style="width:100%">
                <input matInput placeholder="Rue" [(ngModel)] = "employe.avenue">

                 </mat-form-field>    
                                        </div>
                        </div>     
                </div>

                 <div class="col-sm-6">
                                <div class="row">
                                                <div class="col-sm-4">
                        <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Ville" [(ngModel)] = "employe.ville">
                                </mat-form-field>   
                                                </div>
                                                <div class="col-sm-4">
                                                                
                 <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Pays" [(ngModel)] = "employe.pays">
                        </mat-form-field>   
                                                </div>
                                                <div class="col-sm-4">
                                                                
                        <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Gouvernorat" [(ngModel)] = "employe.gouvernorat">
                          </mat-form-field> 
                                                </div>
                             </div>   
                 </div>    


   </div>
   <div class="row">
                
                    <div class="col-sm-6">
                                <div class="row">
                                                <div class="col-sm-6">
                                                                
                     <mat-form-field [color]="red"  style="width:100%">
                     <input matInput placeholder="N°Mobile" [(ngModel)] = "employe.mobile">
                      </mat-form-field>  
                                                </div>
                                                <div class="col-sm-6">
                                                                
                     <mat-form-field [color]="red"  style="width:100%">
                    <input matInput placeholder="@Email" [(ngModel)] = "employe.email">
                     </mat-form-field>  
                                                </div>
                                </div>       
                            </div>
                            <div class="col-sm-6">
                            <mat-form-field [color]="red"  style="width:100%">
                            <input matInput placeholder="N°Tél" [(ngModel)] = "employe.tel">
                                    </mat-form-field>   
                   
                    </div>       
    
    
       </div>
 </fieldset>
   <div class="row">
       

      
 </div>
</div>