<div class="row" >
  <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
  <button (click)="loadAddEmployeComponent();"   class="pull-left"   mat-mini-fab  color="primary" >
      
      
                      <mat-icon>add</mat-icon>
                      
  </button>
  <button style="margin-left:20px;"  (click)="loadEditEmployeComponent();"    mat-mini-fab  color="primary" >
      
      
                      <mat-icon   >edit</mat-icon> 
                      
  </button>
  <button style="margin-left:20px;" (click)="refresh();"  mat-mini-fab  color="primary">
    
    
                    <mat-icon   >refresh</mat-icon>
                    
</button>
<button (click)="supprimerEmployes();"  class="pull-right"   mat-mini-fab  color="primary">
      
      
                      <mat-icon   >delete</mat-icon><span style="padding-top:17px"></span>
                      
  </button>
  <button style="margin-right:20px;" class="pull-right" (click)="toggleFilterPanel();"  mat-mini-fab  color="primary" >
    
    
                    <mat-icon   >search</mat-icon>
                    
  </button>
  <button style="margin-right:20px;" class="pull-right" (click)="toggleShowColumnsMultiSelect();"  mat-mini-fab  color="primary" >
    
    
                    <mat-icon   >view_column</mat-icon>
                    
  </button>

</div>


<div class="row" *ngIf="showFilter" style="margin-top: 18px">
  <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
     <input matInput placeholder="Matricule"   [(ngModel)]="employeDataFilter.matricule">
  </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field [color]="red" style="width:100%">
      <input matInput placeholder="N°CIN"   [(ngModel)]="employeDataFilter.numeroCIN">
   </mat-form-field> 
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°CNSS"   [(ngModel)]="employeDataFilter.numeroCNSS">
     </mat-form-field> 
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput placeholder="N°Passport"   [(ngModel)]="employeDataFilter.numeroPassport">
       </mat-form-field> 
        </div>
        <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="N°Carte Séjour"   [(ngModel)]="employeDataFilter.numeroCarteSejour">
         </mat-form-field> 
          </div>
          <div class="col-sm-2">
            <mat-form-field [color]="red" style="width:100%">
              <input matInput placeholder="Nom"   [(ngModel)]="employeDataFilter.nom">
           </mat-form-field> 
           <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Prénom"   [(ngModel)]="employeDataFilter.prenom">
         </mat-form-field> 
            </div>
</div>
<div class="row" *ngIf="showFilter" style="margin-top: 18px">
    <div class="col-sm-2">
        <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="pickerDateNaissanceFrom" touchUi #pickerDateNaissanceFrom placeholder="Date Naissance de : " [(ngModel)]="employeDataFilter.dateNaissanceFromObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateNaissanceFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateNaissanceFrom></mat-datepicker>
          </mat-form-field>  
          <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="pickerDateNaissanceTo" touchUi #pickerDateNaissanceTo placeholder="à: " [(ngModel)]="employeDataFilter.dateNaissanceToObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateNaissanceTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateNaissanceTo></mat-datepicker>
          </mat-form-field>    
      </div>

      <div class="col-sm-2">
        <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="pickerDateIntegrationFrom" touchUi #pickerDateIntegrationFrom placeholder="Date Intégration de : " [(ngModel)]="employeDataFilter.dateIntegrationFromObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateIntegrationFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateIntegrationFrom></mat-datepicker>
          </mat-form-field>  
          <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="pickerDateIntegrationTo" touchUi #pickerDateIntegrationTo placeholder="à: " [(ngModel)]="employeDataFilter.dateIntegrationToObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateIntegrationTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateIntegrationTo></mat-datepicker>
          </mat-form-field>    
      </div>

      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
       <input matInput placeholder="Email"   [(ngModel)]="employeDataFilter.email">
    </mat-form-field>
 
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
     <input matInput placeholder="Mobile"   [(ngModel)]="employeDataFilter.mobile">
  </mat-form-field>

  </div>
  <div class="col-sm-2">
    <mat-form-field [color]="red" style="width:100%">
   <input matInput placeholder="Avenue"   [(ngModel)]="employeDataFilter.avenue">
</mat-form-field>

</div>
<div class="col-sm-2">
  <mat-form-field [color]="red" style="width:100%">
 <input matInput placeholder="Poste Principale"   [(ngModel)]="employeDataFilter.postePrincipale">
</mat-form-field>

</div>
</div>
    <div class="row" *ngIf="showFilter" style="margin-top: 18px">
      <div class="col-sm-2">
          <mat-form-field [color]="red" style="width:100%">
         <input matInput placeholder="Poste Secondaire"   [(ngModel)]="employeDataFilter.posteSecondaire">
      </mat-form-field>
   
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
       <input matInput placeholder="Compétences"   [(ngModel)]="employeDataFilter.competences">
    </mat-form-field>
 
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
     <input matInput placeholder="Nbre Enfants"   [(ngModel)]="employeDataFilter.nombreEnfants">
  </mat-form-field>

  </div>
  <div class="col-sm-2">
    <mat-form-field [color]="red" style="width:100%">
   <input matInput placeholder="Niveau Académique"   [(ngModel)]="employeDataFilter.niveauAcademique">
</mat-form-field>

</div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%" >      
           <mat-select placeholder="Etat"  [(ngModel)]="employeDataFilter.etat">
                     <mat-option *ngFor="let etat of etatsCiviles" [value]="etat.value">
                            {{ etat.viewValue }}
            </mat-option>       
        </mat-select>
     </mat-form-field>    
     <button class="pull-left"  mat-mini-fab  color="accent"  (click)="loadFiltredData()">
      
           <mat-icon   >done</mat-icon>
                      
  </button>   
       </div>
         
    </div>

    



<div class="row" *ngIf="showSelectColumnsMultiSelect" style="margin-top: 18px">
  <div class="col-sm-12">
    <p-multiSelect [options]="columnsToSelect"    displaySelectedLabel= "false"    [defaultLabel]="'Séléctionner Columns'"  (onChange) = "specifyListColumnsToBeDisplayed()"
    [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
    [panelStyle]="{minWidth:'15em'}">
      <ng-template let-selectedColumn pTemplate="selectedItems">
          <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
      </ng-template>
      <ng-template let-selectedColumn let-i="index" pTemplate="item">
         {{selectedColumn.label}}
      </ng-template>
  </p-multiSelect>
 <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Columns à Afficher: {{selectedColumnsNames}}</span>
</div>
</div>
<div class="row">
    <mat-form-field style="margin-top:12px;width:100%; margin-left:5px">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder=" Rechercher">
    </mat-form-field>
    <table mat-table [dataSource]="dataEmployesSource"  matSort style="width:100%;" >
    
    
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitionsToDisplay" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let employe"> {{employe[columnDef.name]}} </td>
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
      </table>
    </div>
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
          <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
       <div class="col-sm-2">
    
      </div>
    </div>