
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridMannequins()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveMannequin();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
         
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Code" [(ngModel)]="mannequin.code">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
            <input matInput placeholder="CIN" [(ngModel)]="mannequin.cin">
            
      </mat-form-field>
     </div>
   </div>
   <div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Nom" [(ngModel)]="mannequin.nom">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
            <input matInput placeholder="Prénom" [(ngModel)]="mannequin.prenom">
            
      </mat-form-field>
     </div>
   </div>


   <div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput [matDatepicker]="pickerDateNaissance" touchUi #pickerDateNaissance placeholder="Date Naissance" [(ngModel)]="mannequin.dateNaissanceObject">
        <mat-datepicker-toggle matSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateNaissance></mat-datepicker>
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
            <input matInput placeholder="Déscription" [(ngModel)]="mannequin.description">
            
      </mat-form-field>
     </div>
   </div>

   <div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Email" [(ngModel)]="mannequin.email">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
            <input matInput placeholder="Mobile" [(ngModel)]="mannequin.mobile">
            
      </mat-form-field>
     </div>
   </div>

   <div class="row" >
        <div class="col-sm-12">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Adresse" [(ngModel)]="mannequin.adresse">
</mat-form-field>
      </div>
 
   </div>

   <div class="row" >
        <div class="col-sm-6">
                <mat-checkbox style="padding-right: 25px"[(ngModel)] ="mannequinFilter.disponibilite" > 
                   Disponibilité</mat-checkbox>
             </div>
             <div class="col-sm-6">
                     <mat-checkbox style="padding-right: 25px"[(ngModel)] ="mannequinFilter.experienced" > 
                         Expérimenté</mat-checkbox>
               </div>
   </div>

   <div class="row" >
        <div class="col-sm-12">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Expériences" [(ngModel)]="mannequin.experiences">
</mat-form-field>
      </div>
 
   </div>

   <div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Taille(CM)" [(ngModel)]="mannequin.taille">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
        <input matInput placeholder="Chaussures" [(ngModel)]="mannequin.shoes">
            
      </mat-form-field>
     </div>
   </div>
   <div class="row" >
        <div class="col-sm-4">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Couleur Yeux" [(ngModel)]="mannequin.eyesColor">
</mat-form-field>
      </div>
      <div class="col-sm-4">
    <mat-form-field style="width:100%">
        <input matInput placeholder="Couleur Cheveux" [(ngModel)]="mannequin.hairColor">
            
      </mat-form-field>
     </div>
     <div class="col-sm-4">
            <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Couleur" [(ngModel)]="mannequin.skinColor">
            </mat-form-field>
        </div>
   </div>

         <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="mannequin.etat">
                                      <mat-option *ngFor="let etat of etatsMannequin" [value]="mannequin.value">
                                             {{ mannequin.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
     </div>

     <div class="row">
            
     
                  <div class="col-sm-6">
                                             <div>
                                                   <label class="btn btn-default btn-file">
                                                     Photo 1<input type="file" (change)="fileChangedImageProfile1($event)"  style="display: none;">
                                                    </label> 
                                             </div>
                                                      <img *ngIf="mannequin.profileImage1 !== 'undefined'" [src]="mannequin.profileImage1" style="max-width: 500px ; max-height: 500px;   image-orientation : from-image;"/>       
                    </div>
     
     
                    <div class="col-sm-6">
                        <div>
                           <label class="btn btn-default btn-file">
                                Photo 2<input type="file" (change)="fileChangedImageProfile2($event)"  style="display: none;">
                            </label> 
                        </div>
                              <img *ngIf="mannequin.profileImage2 !== 'undefined'" [src]="mannequin.profileImage2" style="max-width: 500px ; max-height: 500px;   image-orientation : from-image;"/>       
                  
                  
                    </div>
      </div>