

                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>
<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button  style="margin-left:0px" (click)="loadGridClients()"   class="pull-left"  mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <!-- <button  style="margin-left:20px" (click)="loadAddClientComponent()"   mat-mini-fab color="primary">
                                
                                
                                                <mat-icon>add </mat-icon> 
                                                
                            </button>-->
                <button style="margin-left:20px" (click)="updateClient();" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              <!--  <button style="margin-left:20px; background-color: black;" (click)="attacherDocumentClient()"  mat-mini-fab color="primary" >
                                
                                
                                                <mat-icon   >attachment</mat-icon>
                                                
                            </button>

                            <button style="margin-left:20px; background-color: black;" (click)="listerDocumentsClient()"  mat-mini-fab color="primary" >
                                        
                                        
                                                        <mat-icon   >attachment</mat-icon>Liste
                                                        
                                    </button>-->

                            <button style="margin-left:20px; background-color: grey;" (click)="history();"  mat-mini-fab >
                                        
                                        
                                                        <mat-icon   >history</mat-icon>
                                                        
                                    </button>


      
              
              
              </div>

            
              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
                
                <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="width:96%">

                                        <div style="height: 800px; margin-top: 60px">
                                                        
                                                                         <div class="row" >
                                                                              <div class="col-sm-6">
                                                         <mat-form-field [color]="red" style="width:100%;">
                                                                 <input matInput placeholder="Code"  [(ngModel)] ="client.code" readonly>
                                                         </mat-form-field>
                                                                              </div>
                                                                             <div  class="col-sm-6">
                                                                 <mat-form-field [color]="red" style="width:100%;">
                                                                         <input matInput placeholder="CIN" [(ngModel)] ="client.cin" readonly>
                                                                     </mat-form-field>
                                                                              </div>
                                                                     </div>
                                                             <div class="row" >
                                                 
                                                         <div class="col-sm-6">
                                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                         <input matInput placeholder="Nom" [(ngModel)] = "client.nom">
                                                                 </mat-form-field>
                                                            
                                                         </div>
                                                         <div  class="col-sm-6">
                                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                         <input matInput placeholder="Prenom" [(ngModel)] = "client.prenom">
                                                                 </mat-form-field>
                                                         </div>
                                                             </div>
                                                                 
                                                              
                                                             
                                                         
                                                         <!--Second row -->
                                                         
                                                         <div class="row" >
                                                                      <div  class="col-sm-6">
                                                                               <mat-form-field [color]="red" style="width:100%">
                                                                                       <input matInput  placeholder="Adresse"   [(ngModel)] = "client.adresse" >
                                                                                   </mat-form-field>
                                                                       </div>
                                                                       <div   class="col-sm-2">
                                                                                       <mat-form-field [color]="red" style="width:100%">
                                                                                                       <input matInput  placeholder="Code postale"  [(ngModel)] = "client.codePostale" >
                                                                                    </mat-form-field>
                                                                       </div>
                                                                       <div  class="col-sm-2">
                                                                                       <mat-form-field [color]="red" style="width:100%">
                                                                                                       <input matInput  placeholder="Ville"  [(ngModel)] = "client.ville" >
                                                                                    </mat-form-field>
                                                                       </div>
                                                                       <div  class="col-sm-2">
                                                                                       <mat-form-field [color]="red" style="width:100%">
                                                                                                       <input matInput  placeholder="Gouvernorat"  [(ngModel)] = "client.gouvernorat" >
                                                                                    </mat-form-field>
                                                                       </div>
                                                                   </div>
                                                         
                                                         
                                                             <div class="row">
                                                                         
                                                                           <div class="col-sm-6" >
                                                               <mat-form-field [color]="red" style="width:100%;">
                                                                       <input matInput placeholder="Raison sociale" [(ngModel)] ="client.raisonSociale" >
                                                                   </mat-form-field>
                                                                           </div>
                                                                           <div class="col-sm-3">
                                                                                   <mat-form-field [color]="red" style="width:100%">
                                                                                           <input matInput placeholder="Matricule fiscale" [(ngModel)] ="client.matriculeFiscale"  readonly>
                                                                                       </mat-form-field>
                                                                            </div>
                                                                            <div class="col-sm-3">
                                                                               <mat-form-field [color]="red" style="width:100%">
                                                                                       <input matInput placeholder="Registre de commerce" [(ngModel)] ="client.registreCommerce" readonly >
                                                                                   </mat-form-field>
                                                                        </div>
                                                                   </div>
                                                         
                                                            
                                                         <!--Third row -->
                                                         
                                                         <div class="row" >
                                                                 <div class="col-sm-6">
                                                                         <mat-form-field [color]="red"  style="width:100%;">
                                                                                 <input matInput placeholder="Tél(s)" [(ngModel)] ="client.mobile" >
                                                                             </mat-form-field>
                                                                 </div>
                                                                 <div class="col-sm-6">
                                                              <mat-form-field [color]="red" style="width:100%;">
                                                                                                 <input matInput  placeholder="Email(s)"  [(ngModel)] = "client.email" >
                                                                              </mat-form-field>
                                                                 </div>
                                                                                             
                                                    </div>
                                                  <div class="row">
                                                       <div class="col-sm-12" >   
                                                         <label class="btn btn-default btn-file">
                                                          Image-Logo <input type="file" (change)="fileChanged($event)"  style="display: none;">
                                                          </label> 
                                                       </div>   
                                                  </div>
                                                 
                                                 
                                                         <div class="row">
                                                                         
                                                          <div class="col-sm-12" >
                                                                                        
                                                                                          
                                                          <img *ngIf="client.image !== undefined" [src]="client.image" style="max-width: 150px ; max-height: 150px;   image-orientation : from-image;"/>
                                                          </div>
                                                          </div>
                                                                           
                                                 </div>
                        </div>
                        <div class="row" >
                                        <div class='col-sm-12'>
                                                        <mat-form-field [color]="red" style="width:100%" >
                                                                        
                                                        <mat-select placeholder="Etat"  [(ngModel)]="client.etat">
                                                                        <mat-option *ngFor="let etat of etatsClients" [value]="etat.value">
                                                                               {{ etat.viewValue }}
                                                                        </mat-option>
                                                                    
                                                                </mat-select>
                                                        </mat-form-field>
                                        </div>
                                                                        
                                 </div>
                </mat-tab>
                <mat-tab label="Compte"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                        <div style="width:97%" >
                                        <div class="row" >
                         <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%;">
<input matInput placeholder="Valeur de Crédits" readonly [(ngModel)] ="client.valeurCredits" >
                         </mat-form-field>
                                                        </div>
                  <div class="col-sm-6">
                         <mat-form-field [color]="red" style="width:100%;">
          <input matInput  placeholder="Valeur de Crédits Réglés" readonly [(ngModel)] = "client.valeurCreditsRegles" >
        </mat-form-field>
                        </div>
                                                                                    
                                           </div>

                <div class="row" >
                        <div class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%;">
                               <input matInput placeholder="Valeur des Achats" readonly [(ngModel)] ="client.valeurAchats" >
                                                        </mat-form-field>
                                </div>
                 <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%;">
                                         <input matInput  placeholder="Valeur des Achats Réglés" readonly [(ngModel)] = "client.valeurAchatsRegles" >
                 </mat-form-field>
                          </div>
                                                                                                                   
                         </div>

                         </div>
                 </mat-tab>
                <mat-tab label="Paiements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                <div style="width:97%" >
                        </div>
                </mat-tab>
           
           
                <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                                <div style="width:97%" >
                                                
          <app-documents-clients-grid [client]="client" ></app-documents-clients-grid>
                               
                  </div> 
                </mat-tab>
    
              </mat-tab-group>












              