
                <div [hidden]="!saveEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridClients()"   class="pull-left" mat-mini-fab color="primary"  >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:20px" (click)="saveClient();"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      
     
      
      
      </div>
<div style="height: 800px; margin-top: 60px">
       
                        <div class="row" >
                             <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%;">
                <input matInput placeholder="N°"  [(ngModel)] ="client.numeroClient">
        </mat-form-field>
                             </div>
                            <div  class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%;">
                        <input matInput placeholder="CIN" [(ngModel)] ="client.cin" >
                    </mat-form-field>
                             </div>
                    </div>
            <div class="row" >

        <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Nom" [(ngModel)] = "client.nom">
                </mat-form-field>
           
        </div>
        <div  class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Prenom" [(ngModel)] = "client.prenom">
                </mat-form-field>
        </div>
            </div>
                
             
            
        
        <!--Second row -->
        
        <div class="row" >
                     <div  class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                                      <input matInput  placeholder="Adresse"   [(ngModel)] = "client.adresse" >
                                  </mat-form-field>
                      </div>
                      <div   class="col-sm-2">
                                      <mat-form-field [color]="red" style="width:100%">
                                                      <input matInput  placeholder="Code postale"  [(ngModel)] = "client.codePostale" >
                                   </mat-form-field>
                      </div>
                      <div  class="col-sm-2">
                                      <mat-form-field [color]="red" style="width:100%">
                                                      <input matInput  placeholder="Ville"  [(ngModel)] = "client.ville" >
                                   </mat-form-field>
                      </div>
                      <div  class="col-sm-2">
                                      <mat-form-field [color]="red" style="width:100%">
                                                      <input matInput  placeholder="Gouvernorat"  [(ngModel)] = "client.gouvernorat" >
                                   </mat-form-field>
                      </div>
                  </div>
        
        
            <div class="row">
                        
                          <div class="col-sm-6" >
              <mat-form-field [color]="red" style="width:100%;">
                      <input matInput placeholder="Raison sociale" [(ngModel)] ="client.raisonSociale" >
                  </mat-form-field>
                          </div>
                          <div class="col-sm-3">
                                  <mat-form-field [color]="red" style="width:100%">
                                          <input matInput placeholder="Matricule fiscale" [(ngModel)] ="client.matriculeFiscale"  >
                                      </mat-form-field>
                           </div>
                           <div class="col-sm-3">
                              <mat-form-field [color]="red" style="width:100%">
                                      <input matInput placeholder="Registre de commerce" [(ngModel)] ="client.registreCommerce"  >
                                  </mat-form-field>
                       </div>
                  </div>
        
           
        <!--Third row -->
        
        <div class="row" >
                <div class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%;">
                                <input matInput placeholder="Tél(s)" [(ngModel)] ="client.mobile" >
                            </mat-form-field>
                </div>
                <div class="col-sm-6">
             <mat-form-field [color]="red" style="width:100%;">
                                                <input matInput  placeholder="Email(s)"  [(ngModel)] = "client.email" >
                             </mat-form-field>
                </div>
                                            
   </div>
 <div class="row">
      <div class="col-sm-12" >   
        <label class="btn btn-default btn-file">
         Image-Logo <input type="file" (change)="fileChanged($event)"  style="display: none;">
         </label> 
      </div>   
 </div>


        <div class="row">
                        
         <div class="col-sm-12" >
                                       
                                         
         <img *ngIf="client.image !== undefined" [src]="client.image" style="max-width: 150px ; max-height: 150px;   image-orientation : from-image;"/>
         </div>
         </div>
                          
</div>