
 <div [hidden]="!deleteEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" >
  <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
  <button style="margin-left:0px;" (click)="loadAddClientComponent();"   class="pull-left" mat-mini-fab color="primary" >
      
      
                      <mat-icon>add</mat-icon> 
                      
  </button>
  <button style="margin-left:30px;" (click)="loadEditClientComponent();" mat-mini-fab color="primary"  >
      
      
                      <mat-icon   >edit</mat-icon> 
                      
  </button>
  <button style="margin-left:30px;" (click)="refresh();"  mat-mini-fab color="primary" >
    
    
                    <mat-icon   >refresh</mat-icon>
                    
</button>

<button style="margin-left:30px;" (click)="attacherDocumentClient()"  mat-mini-fab color="primary" >
    
    
                    <mat-icon   >attachment</mat-icon>
                    
</button>
<button (click)="supprimerClients();"  class="pull-right"  mat-mini-fab color="primary" >
      
      
                      <mat-icon   >delete</mat-icon><span style="padding-top:17px"> </span>
                      
  </button>
  <button style="margin-right:20px;" class="pull-right" (click)="toggleFilterPanel();"  mat-mini-fab  color="primary" >
      
      
                      <mat-icon   >search</mat-icon>
                      
    </button>
    <button style="margin-right:20px;" class="pull-right" (click)="toggleShowColumnsMultiSelect();"  mat-mini-fab  color="primary" >
      
      
                      <mat-icon   >view_column</mat-icon>
                      
    </button>

</div>

<div class="row" *ngIf="showFilter" style="margin-top: 18px">
    <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
       <input matInput placeholder="N°Client"   [(ngModel)]="clientDataFilter.numeroClient">
    </mat-form-field>
    </div>
  <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
     <input matInput placeholder="CIN"   [(ngModel)]="clientDataFilter.cin">
  </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field [color]="red" style="width:100%">
      <input matInput placeholder="Nom"   [(ngModel)]="clientDataFilter.nom">
   </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Prénom"   [(ngModel)]="clientDataFilter.prenom">
     </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput placeholder="R.Sociale"   [(ngModel)]="clientDataFilter.raisonSociale">
       </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Matr.Fisc"   [(ngModel)]="clientDataFilter.matriculeFiscale">
     </mat-form-field>
  </div>   

</div>
<div class="row" *ngIf="showFilter" style="margin-top: 18px">
    <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput placeholder="RG.Commerce"   [(ngModel)]="clientDataFilter.registreCommerce">
       </mat-form-field>
    </div>
  <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
     <input matInput placeholder="Adresse"   [(ngModel)]="clientDataFilter.adresse">
  </mat-form-field>
  </div>
  <div class="col-sm-2">
    <mat-form-field [color]="red" style="width:100%">
      <input matInput placeholder="Ville"   [(ngModel)]="clientDataFilter.ville">
   </mat-form-field>
    </div>
    <div class="col-sm-2">
      <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="Gouvernorat"   [(ngModel)]="clientDataFilter.gouvernorat">
     </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput placeholder="Mobile"   [(ngModel)]="clientDataFilter.mobile">
       </mat-form-field>
    </div>
    <div class="col-sm-2">
      <button class="pull-left"  mat-mini-fab  color="accent"  (click)="loadFiltredData()">
        
             <mat-icon   >done</mat-icon>
                        
    </button>  
  </div>   

</div>
<div class="row" *ngIf="showSelectColumnsMultiSelect" style="margin-top: 18px">
  <div class="col-sm-12">
    <p-multiSelect [options]="columnsToSelect"    displaySelectedLabel= "false"    [defaultLabel]="'Séléctionner Columns'"  (onChange) = "specifyListColumnsToBeDisplayed()"
    [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
    [panelStyle]="{minWidth:'15em'}">
      <ng-template let-selectedColumn pTemplate="selectedItems">
          <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
      </ng-template>
      <ng-template let-selectedColumn let-i="index" pTemplate="item">
         {{selectedColumn.label}}
      </ng-template>
  </p-multiSelect>
 <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Columns à Afficher: {{selectedColumnsNames}}</span>
</div>
</div>
<div class="row">
   <!-- <mat-form-field style="margin-top:12px;width:100%; margin-left:5px">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder=" Rechercher">
    </mat-form-field>-->
    <table mat-table [dataSource]="dataClientsSource"  matSort style="width:100%;" >
    
    
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitionsToDisplay" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let client"> {{client[columnDef.name]}} </td>
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
      </table>
      <div class="row">
        <div class="col-sm-2">
    
        </div>
          <div class="col-sm-6">
              <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          <div class="col-sm-2">
        
        </div>
    
        </div>    </div>  