
<mat-dialog-content >
  
                <div [hidden]="!saveEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>

                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
               
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red">
                         <input matInput placeholder="Code"  [(ngModel)] ="client.code">
                 </mat-form-field>
                                    </div>
                                     <div  class="col-sm-6"  *ngIf='data.isParticulier=== true || data.isParticulier ==="none"'>
                         <mat-form-field [color]="red">
                                 <input matInput placeholder="CIN" [(ngModel)] ="client.cin" >
                             </mat-form-field>
                                      </div>
                     </div>
                     <div class="row" *ngIf='data.isParticulier=== true || data.isParticulier ==="none" ' >
         
                             <div class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Nom" [(ngModel)] = "client.nom">
                         </mat-form-field>
                    
                              </div>
                              <div  class="col-sm-6"  >
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Prenom" [(ngModel)] = "client.prenom">
                         </mat-form-field>
                                </div>
                  </div>
     
                     <div class="row"*ngIf='data.isParticulier === false|| data.isParticulier === "none"  '>
                            <div class="col-sm-6"  >
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input matInput placeholder="Matricule fiscale" [(ngModel)] ="client.matriculeFiscale"  >
                                        </mat-form-field>
                             </div>
                             <div class="col-sm-6" >
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input matInput placeholder="Registre de commerce" [(ngModel)] ="client.registreCommerce"  >
                                        </mat-form-field>
                             </div>
                     </div>
                     <div class="row" *ngIf='data.isParticulier === false|| data.isParticulier === "none" '>
                            <div class="col-sm-12"  >
                       <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="Raison sociale" [(ngModel)] ="client.raisonSociale" >
                           </mat-form-field>
                                   </div>
                                   
                                  
                           </div>       
                 
                 
         
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveClient()">Enregistrer</button>
</mat-dialog-actions>
