
  <div [hidden]="!updateEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button style="margin-left:0px;" (click)="loadGridComptesClients()"   class="pull-left"  mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
              
                <button  style="margin-left:20px;"  (click)="updateCompteClient();"  mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
  </div>
  <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
        
        <mat-tab label="Générale" style="padding-top: 5px"> 
                <div style="width:96%">

                        <div class="row" >
                                <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="N°Compte"  readonly [(ngModel)]="compteClient.numeroCompteClient">
                        </mat-form-field>
                              </div>
                              <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%" >
                                <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date Ouverture" [(ngModel)]="compteClient.dateOuvertureObject">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                              </mat-form-field>
                             </div>
                           </div>
                           <div class="row" 
                           
                           *ngIf="compteClient.client.cin !== undefined  || compteClient.client.nom !== undefined || 
                           compteClient.client.prenom !== undefined "                
                           
                           
                           >
                              <div class='col-sm-6'>
                                      <mat-form-field [color]="red" style="width:100%" >
                                              <input type="text" placeholder="CIN" readonly aria-label="Number" [(ngModel)]="compteClient.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                                              <mat-autocomplete (optionSelected)="fillDataNomPrenomClient()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                                <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                                                  {{cin}}
                                                </mat-option>
                                              </mat-autocomplete>
                                            </mat-form-field>
                              </div> 
                              <div class='col-sm-3' >
                                      <mat-form-field  [color]="red" style="width:100%">
                                              <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="compteClient.client.nom"  matInput  [matAutocomplete]="auto2">
                                            </mat-form-field>
                              </div> 
                              <div class='col-sm-3'>
                                      <mat-form-field [color]="red" style="width:100%">
                                              <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="compteClient.client.prenom"  [matAutocomplete]="auto3">
                                            </mat-form-field>
                              </div>
                            </div>
           <div class="row" *ngIf="compteClient.client.registreCommerce !== undefined  || compteClient.client.matriculeFiscale !== undefined || 
           compteClient.client.raisonSociale !== undefined "   
            >
                                <div class='col-sm-4'>
                                <mat-form-field [color]="red" style="width:100%">
                                    <input type="text" placeholder="N° Registre Commerce" readonly aria-label="Number" [(ngModel)]="compteClient.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                                    <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaisonClient()" #auto14="matAutocomplete">
                                      <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                                        {{registreCommerce}}
                                      </mat-option>
                                    </mat-autocomplete>
                                  </mat-form-field>
                                </div> 
                                <div class='col-sm-4'>
                                <mat-form-field [color]="red" style="width:100%">
                                    <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="compteClient.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                                  
                                  </mat-form-field>
                                </div>
                                <div class='col-sm-4'>
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="compteClient.client.raisonSociale" readonly [matAutocomplete]="auto5">
                                            
                                          </mat-form-field>
                                </div>
                                </div>  
                        
                           <div class="row">
                            <div class="col-sm-12">
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input matInput type="number" placeholder="Valeur de Ventes" 
                                            [(ngModel)] ="compteClient.valeurVentes" >
                                            </mat-form-field>
                            </div>
                           </div>
                            <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                        <input matInput type="number" placeholder="Valeur de Crédits" 
                                        [(ngModel)] ="compteClient.valeurCredits" >
                                        </mat-form-field>
                                   </div>
                                   <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                  <input matInput type="number" placeholder="Valeur de Paiements" [(ngModel)] ="compteClient.valeurPaiements" >
                                                
                                     </mat-form-field>
                                 </div>
                               
                         </div>    
                          <div class="row" >
                                                  <div class='col-sm-6'>
                                                      <mat-form-field [color]="red" style="width:100%" >
                                                          
                                                          <mat-select placeholder="Etat"  [(ngModel)]="compteClient.etat">
                                                              <mat-option *ngFor="let etat of etatsCompteClient" [value]="etat.value">
                                                                     {{ etat.viewValue }}
                                                              </mat-option>
                                                          
                                                      </mat-select>
                                                      </mat-form-field>
                                                  </div>
                                                  <div class='col-sm-6'>
                                         <mat-form-field [color]="red" style="width:100%">
                             <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Date Clôture" [(ngModel)]="compteClient.dateClotureObject">
                                         <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                             <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                                  </div>                                
                                                                                  
                             </div>
                </div>
        </mat-tab>
        <mat-tab label="Transactions"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
        <div style="width:97%" >
        <app-transactions-comptes-clients-grid [compteClient]="compteClient" ></app-transactions-comptes-clients-grid >
                    
                </div>
        </mat-tab>
   
   
        <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                        <div style="width:97%" >
                                        
  <app-documents-comptes-clients-grid [compteClient]="compteClient" ></app-documents-comptes-clients-grid >
                       
          </div> 
        </mat-tab>

      </mat-tab-group>
