
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridComptesClients()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveCompteClient();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Compte" [(ngModel)]="compteClient.numeroCompteClient">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date Ouverture" [(ngModel)]="compteClient.dateOuvertureObject">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     </div>
   </div>
  
   <button style="margin-left: 6px; background-color: white; border:none;"
   (click)="activateSelectCIN()">
     
       <i class="fa fa-vcard" aria-hidden="true">
         CIN</i> 
       
     </button>
   <button style="margin-left: 6px; background-color: white; border:none;"
   (click)="activateSelectNom()"
   >
   
     <i class="fa fa-user" aria-hidden="true">
       Nom</i> 
     
   </button>
   <button style="margin-left: 6px; background-color: white; border:none;"
   (click)="activateSelectPrenom()">
       
         <i class="fa fa-user" aria-hidden="true">
           Prénom
         </i> 
         
       </button>
   <button style="margin-left: 6px; background-color: white; border:none;"
   (click)="activateAddClient()">
     
       <i class="fa fa-user-plus" aria-hidden="true"></i> 
       
     </button>
   
     <button style="margin-left: 6px;  background-color: white; border:none;"
     (click)="activateSelectRegistre()">
       
         <i class="fa fa-bank" 
         aria-hidden="true" >
         RG.COM.
         
         </i> 
         
       </button>
       <button style="margin-left: 6px; background-color: white; border:none;"
       (click)="activateSelectMatricule()">
           
             <i class="fa fa-bank" aria-hidden="true">
               MAT.FISC
               </i> 
             
           </button>
           <button style="margin-left: 6px; background-color: white; border:none;"
           (click)="activateSelectRaison()">
               
                 <i class="fa fa-bank" aria-hidden="true">
                   RS.SOC
                   </i> 
                 
               </button>
               <button style="margin-left: 6px; background-color: white; border:none;"
               (click)="activateAddEntreprise()">
                   
                     <i class="fa fa-bank" aria-hidden="true">
                       +
                       </i> 
                     
                   </button>
   <div class="row" *ngIf="selectCin">
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="compteClient.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                       <mat-autocomplete (optionSelected)="fillDataNomPrenomClient()" name ="cinAutoComplete" #auto1="matAutocomplete">
                         <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                           {{cin}}
                         </mat-option>
                       </mat-autocomplete>
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="compteClient.client.nom"  matInput  [matAutocomplete]="auto2">
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%" >
                       <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="compteClient.client.prenom"  [matAutocomplete]="auto3">
                     </mat-form-field>
       </div>
     </div>
   
     <div class="row" *ngIf="selectNom">
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Select Nom" aria-label="string" [(ngModel)]="compteClient.client.nom" matInput [formControl]="clientFilter.getControlNoms()" [matAutocomplete]="auto1N">
                       <mat-autocomplete (optionSelected)="fillDataCINPrenomClient()" name ="nomAutoComplete" #auto1N="matAutocomplete">
                         <mat-option *ngFor="let nom of clientFilter.getFiltredNoms() | async" [value]="nom">
                           {{nom}}
                         </mat-option>
                       </mat-autocomplete>
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Prénom" aria-label="String" readonly [(ngModel)]="compteClient.client.prenom"  matInput  [matAutocomplete]="auto1N">
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%" >
                       <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="compteClient.client.cin"  [matAutocomplete]="auto1N">
                     </mat-form-field>
       </div>
     </div>
   
   
     <div class="row" *ngIf="selectPrenom">
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Select Prénom" aria-label="string" [(ngModel)]="compteClient.client.prenom" matInput [formControl]="clientFilter.getControlPrenoms()" [matAutocomplete]="auto1P">
                       <mat-autocomplete (optionSelected)="fillDataCINNomClient()" name ="nomAutoComplete" #auto1P="matAutocomplete">
                         <mat-option *ngFor="let prenom of clientFilter.getFiltredPrenoms() | async" [value]="prenom">
                           {{prenom}}
                         </mat-option>
                       </mat-autocomplete>
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%">
                       <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="compteClient.client.nom"  matInput  [matAutocomplete]="auto1P">
                     </mat-form-field>
       </div> 
       <div class='col-sm-4'>
               <mat-form-field  [color]="red" style="width:100%" >
                       <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="compteClient.client.cin"  [matAutocomplete]="auto1P">
                     </mat-form-field>
       </div>
     </div>
   
   
     <div class="row" *ngIf="addClient">
         
     <div [hidden]="!saveClientEnCours" class="col-sm-10">
         <mat-progress-bar 
         color="primary"
         mode="indeterminate"
         value="50"
         >
         </mat-progress-bar>
     </div>
     </div>
     <div class="row" *ngIf="addClient">
         <div class='col-sm-4'>
             <mat-form-field  [color]="red" style="width:100%" >
                 <input type="string" placeholder="CIN" aria-label="String"  [(ngModel)]="compteClient.client.cin"  matInput  >
               </mat-form-field>
         </div> 
         <div class='col-sm-4'>
                 <mat-form-field  [color]="red" style="width:100%" > 
                         <input type="text" placeholder="Nom" aria-label="String"  [(ngModel)]="compteClient.client.nom"  matInput  >
                       </mat-form-field>
         </div> 
         <div class='col-sm-4'>
                 <mat-form-field  [color]="red" style="width:100%" >
                         <input type="text" placeholder="Prénom" aria-label="String"  matInput [(ngModel)]="compteClient.client.prenom"  >
                       </mat-form-field>
                     
         </div>
       </div>
   
       <div class="row" *ngIf="addClient">
         <div class='col-sm-12'>
             <button (click)="saveClient()"
             style="margin-left: 6px; background-color: white; border:none;">
                 <mat-icon>done </mat-icon>
             </button>
         </div>
       </div>        
   
     <div class="row" *ngIf="selectRegistre ">
     <div class='col-sm-4'>
     <mat-form-field [color]="red" style="width:100%">
         <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="compteClient.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
         <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaisonClient()" #auto14="matAutocomplete">
           <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
             {{registreCommerce}}
           </mat-option>
         </mat-autocomplete>
       </mat-form-field>
     </div> 
     <div class='col-sm-4'>
     <mat-form-field [color]="red" style="width:100%">
         <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="compteClient.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
       
       </mat-form-field>
     </div>
     <div class='col-sm-4'>
         <mat-form-field [color]="red" style="width:100%"
         >
                 <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="compteClient.client.raisonSociale" readonly [matAutocomplete]="auto5">
                 
               </mat-form-field>
     </div>
     </div>  
   
   
     <div class="row" *ngIf="selectRaison ">
       <div class='col-sm-4'>
       <mat-form-field [color]="red" style="width:100%">
           <input type="text" placeholder=" Select R.SOC" aria-label="string" [(ngModel)]="compteClient.client.raisonSociale" matInput [formControl]="clientFilter.getControlRaisonSociale()" [matAutocomplete]="auto15">
           <mat-autocomplete name ="raisonAutoComplete" (optionSelected)="fillDataMatriculeRegistreCommercial()" #auto15="matAutocomplete">
             <mat-option *ngFor="let raison of clientFilter.getFiltredRaisonsSociales() | async" [value]="raison">
               {{raison}}
             </mat-option>
           </mat-autocomplete>
         </mat-form-field>
       </div> 
       <div class='col-sm-4'>
       <mat-form-field [color]="red" style="width:100%">
           <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="compteClient.client.matriculeFiscale" readonly     [matAutocomplete]="auto15">
         
         </mat-form-field>
       </div>
       <div class='col-sm-4'>
           <mat-form-field [color]="red" style="width:100%"
           >
                   <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="compteClient.client.registreCommerce" readonly [matAutocomplete]="auto15">
                   
                 </mat-form-field>
       </div>
       </div>  
   
       <div class="row" *ngIf="selectMatricule ">
         <div class='col-sm-4'>
         <mat-form-field [color]="red" style="width:100%">
             <input type="text" placeholder=" Select Matricule Fisc." aria-label="string" [(ngModel)]="compteClient.client.matriculeFiscale" matInput [formControl]="clientFilter.getControlMatriculeFiscale()" [matAutocomplete]="auto16">
             <mat-autocomplete name ="matriculeAutoComplete" (optionSelected)="fillDataRegistreCommercialRaison()" #auto16="matAutocomplete">
               <mat-option *ngFor="let matricule of clientFilter.getFiltredMatriculesFiscales() | async" [value]="matricule">
                 {{matricule}}
               </mat-option>
             </mat-autocomplete>
           </mat-form-field>
         </div> 
         <div class='col-sm-4'>
         <mat-form-field [color]="red" style="width:100%">
             <input type="text" placeholder="R.SOC." aria-label="string" matInput [(ngModel)]="compteClient.client.raisonSociale" readonly     [matAutocomplete]="auto16">
           
           </mat-form-field>
         </div>
         <div class='col-sm-4'>
             <mat-form-field [color]="red" style="width:100%"
             >
                     <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="compteClient.client.registreCommerce" readonly [matAutocomplete]="auto16">
                     
                   </mat-form-field>
         </div>
         </div>
   
     <div class="row" *ngIf="addEntreprise">
         
     <div [hidden]="!saveClientEnCours" class="col-sm-10">
         <mat-progress-bar 
         color="primary"
         mode="indeterminate"
         value="50"
         >
         </mat-progress-bar>
     </div>
     </div>
     <div class="row" *ngIf="addEntreprise ">
         <div class='col-sm-4'>
             <mat-form-field [color]="red" style="width:100%">
                 <input type="text" placeholder="Registre Commercial"  matInput [(ngModel)]="compteClient.client.registreCommerce" >
               
               </mat-form-field>
         </div> 
         <div class='col-sm-4'>
         <mat-form-field [color]="red" style="width:100%">
             <input type="text" placeholder="Matricule"  matInput [(ngModel)]="compteClient.client.matriculeFiscale">
           
           </mat-form-field>
         </div>
         <div class='col-sm-4'>
             <mat-form-field [color]="red" style="width:100%"
             >
                     <input type="text" placeholder="Raison sociale"  matInput [(ngModel)]="compteClient.client.raisonSociale" >
                     
                   </mat-form-field>
                  
         </div>
         </div>  
         <div class="row" *ngIf="addEntreprise">
             <div class='col-sm-12'>
                 <button (click)="saveClient()" style="margin-left: 6px; background-color: white; border:none;">
                     <mat-icon>done </mat-icon>
                 </button>
             </div>
           </div> 
   <div class="row">
    <div class="col-sm-12">
            <mat-form-field [color]="red" style="width:100%">
                    <input matInput type="number" placeholder="Valeur de Ventes" 
                    [(ngModel)] ="compteClient.valeurVentes" >
                    </mat-form-field>
    </div>
   </div>
    <div class="row">
            <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" placeholder="Valeur de Crédits" 
                [(ngModel)] ="compteClient.valeurCredits" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput type="number" placeholder="Valeur de Paiements" [(ngModel)] ="compteClient.valeurPaiements" >
                        
             </mat-form-field>
         </div>
       
 </div>    
  <div class="row" >
                          <div class='col-sm-6'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="compteClient.etat">
                                      <mat-option *ngFor="let etat of etatsCompteClient" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                          <div class='col-sm-6'>
                 <mat-form-field style="width:100%">
     <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Date Clôture" [(ngModel)]="compteClient.dateClotureObject">
                 <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                     <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
                          </div>                                
                                                          
     </div>