
<mat-dialog-content >
    <div [hidden]="!updateEnCours" class="row">
        <mat-progress-bar 
        color="primary"
        mode="indeterminate"
        value="50"
        >
    </mat-progress-bar>
</div>

                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                     <div class="row">
                                      <div class="col-sm-6">
                                            <mat-form-field [color]="red" style="width:100%">
                                 <input matInput placeholder="Code" [(ngModel)] ="albumMannequin.code" readonly >
                            </mat-form-field>    
                                    </div>
                                     <div  class="col-sm-6">
                                        <mat-form-field style="width:100%">
                <input matInput [matDatepicker]="pickerDateCreationObject" placeholder=" Date Création " 
                [(ngModel)]="albumMannequin.dateCreationObject">
                                                 <mat-datepicker-toggle matSuffix [for]="pickerDateCreationObject" touchUi #pickerDateCreationObject ></mat-datepicker-toggle>
                                                <mat-datepicker #pickerDateCreationObject></mat-datepicker>
                                                </mat-form-field>   
                                      </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                   <input matInput placeholder="Titre" [(ngModel)] ="albumMannequin.titre" >
              </mat-form-field>    
                      </div>
                       <div  class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%">
                            <input matInput placeholder="Déscription" [(ngModel)] ="albumMannequin.description" >
                       </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                   <input matInput placeholder="Classe" [(ngModel)] ="albumMannequin.classe" >
              </mat-form-field>    
                      </div>
                       <div  class="col-sm-6">
                        <mat-checkbox style="padding-right: 25px"[(ngModel)] ="albumMannequin.imprime" > 
                            Imprimé</mat-checkbox>
                        </div>
                    </div>
                      <div class="row" >
                        <div class='col-sm-12'>
                            <mat-form-field [color]="red" style="width:100%" >
                                
                                <mat-select placeholder="Etat"  [(ngModel)]="albumMannequin.etat">
                                    <mat-option *ngFor="let etat of etatsAlbum" [value]="etat.value">
                                           {{ etat.viewValue }}
                                    </mat-option>
                                
                            </mat-select>
                            </mat-form-field>
                        </div>
                                                        
                         </div>
                     
                        
                        <div class="row">
                                
                         
                        <div class="col-sm-6">
                                              <div>
                                             <label class="btn btn-default btn-file">
                    Photo 1<input type="file" (change)="imagePhoto1Changed($event)"  style="display: none;">
                                                                        </label> 
                                             </div>
                                 <img *ngIf="albumMannequin.photo1 !== undefined" [src]="albumMannequin.photo1" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                         </div>
                         <div class="col-sm-6">
                                <div>
                                      <label class="btn btn-default btn-file">
                                        Photo 2 <input type="file" (change)="imagePhoto2Changed($event)"  style="display: none;">
                                       </label> 
                                </div>
                            <img *ngIf="albumMannequin.photo2 !== undefined" [src]="albumMannequin.photo2" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                           </div>
                         </div>



                         <div class="row">
                            
                     
                    <div class="col-sm-6">
                                          <div>
                                         <label class="btn btn-default btn-file">
                Photo 3<input type="file" (change)="imagePhoto3Changed($event)"  style="display: none;">
                                                                    </label> 
                                         </div>
                             <img *ngIf="albumMannequin.photo3 !== undefined" [src]="albumMannequin.photo3" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                     </div>
                     <div class="col-sm-6">
                            <div>
                                  <label class="btn btn-default btn-file">
                                    Photo 4 <input type="file" (change)="imagePhoto4Changed($event)"  style="display: none;">
                                   </label> 
                            </div>
                        <img *ngIf="albumMannequin.photo4 !== undefined" [src]="albumMannequin.photo4" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                       </div>
                     </div>

                     <div class="row">
                        
                 
                <div class="col-sm-6">
                                      <div>
                                     <label class="btn btn-default btn-file">
            Photo 5<input type="file" (change)="imagePhoto5Changed($event)"  style="display: none;">
                                                                </label> 
                                     </div>
                         <img *ngIf="albumMannequin.photo5 !== undefined" [src]="albumMannequin.photo5" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                 </div>
                 <div class="col-sm-6">
                        <div>
                              <label class="btn btn-default btn-file">
                                Photo 6<input type="file" (change)="imagePhoto6Changed($event)"  style="display: none;">
                               </label> 
                        </div>
                    <img *ngIf="albumMannequin.photo6!== undefined" [src]="albumMannequin.photo6" style="max-width: 20px ; max-height: 20px;   image-orientation : from-image;"/>       
                   </div>
                 </div>
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateAlbumMannequin()">Enregistrer</button>
</mat-dialog-actions>
