

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridEntrees()"   class="pull-left"  mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
              
                <button style="margin-left:20px;" (click)="updateEntree();"  mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
           
              
 </div>
           
 <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
        
        <mat-tab label="Générale" style="padding-top: 5px"> 
                <div style="width:96%">

                        <div class="row">
                                <div  class="col-sm-12">
                           <mat-form-field [color]="red" style="width:100%" >
                          <input matInput placeholder="N°Entree" readonly [(ngModel)] ="entree.numeroEntree">
                         </mat-form-field>
                                </div>
                               
                </div>
                
                <div class="row" >
                
                    
                        <div class="col-sm-12">
                                <mat-form-field [color]="red"  style="width:100%">
                                        <input matInput placeholder="Description" [(ngModel)] = "entree.description">
                                </mat-form-field>
                           
                        </div>
                      
                                                           
                </div>
                <div class="row">
                                <div  class="col-sm-12">
                                             
                               
                                        <mat-form-field [color]="red"  style="width:100%">
                                                        <mat-select placeholder="Motif " [(ngModel)] = "entree.motif">
                                                <mat-option *ngFor="let motif of motifs" [value]="motif.value">
                                                            {{motif.viewValue}}
                                                          </mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                </div>
                             
                
                
                   </div>
                   <div class="row">
                       
                
                             <div class="col-sm-6">
                                <mat-form-field [color]="red"  style="width:100%">
                                        <input matInput placeholder="Valeur" [(ngModel)] = "entree.montant">
                                </mat-form-field>                 
                
                               </div>
                               <div class="col-sm-6">
                                <mat-form-field [color]="red"  style="width:100%">
                                        <input matInput placeholder="Date Opération" [(ngModel)] = "entree.dateOperation">
                                </mat-form-field>                 
                
                               </div>
                 </div>
                        
                     
                <div class="row" >
                                <div class='col-sm-12'>
                                                <mat-form-field [color]="red" style="width:100%" >
                                                                
                                                <mat-select placeholder="Etat"  [(ngModel)]="entree.etat">
                                                                <mat-option *ngFor="let etat of etatsEntrees" [value]="etat.value">
                                                                       {{ etat.viewValue }}
                                                                </mat-option>
                                                            
                                                        </mat-select>
                                                </mat-form-field>
                                </div>
                                                                
                         </div>
</div>
        </mat-tab>
   
        <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                        <div style="width:97%" >
                                        
  <app-documents-entrees-grid [entree]="entree" ></app-documents-entrees-grid>
                       
          </div> 
        </mat-tab>

      </mat-tab-group>