

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridEntrees()"   class="pull-left" mat-mini-fab color="primary"  >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:20px;" (click)="saveEntree();"  mat-mini-fab color="primary" >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="N°Entree"  [(ngModel)] ="entree.numeroEntree">
         </mat-form-field>
                </div>
               
</div>

<div class="row" >

    
        <div class="col-sm-12">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Description" [(ngModel)] = "entree.description">
                </mat-form-field>
           
        </div>
      
                                           
</div>
<div class="row">
                <div  class="col-sm-12">
                             
               
                        <mat-form-field [color]="red"  style="width:100%">
                                        <mat-select placeholder="Motif " [(ngModel)] = "entree.motif">
                                <mat-option *ngFor="let motif of motifs" [value]="motif.value">
                                            {{motif.viewValue}}
                                          </mat-option>
                                </mat-select>
                        </mat-form-field>
                </div>
             


   </div>
   <div class="row">
       

             <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Valeur" [(ngModel)] = "entree.montant">
                </mat-form-field>                 

               </div>
               <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Date Opération" [(ngModel)] = "entree.dateOperation">
                </mat-form-field>                 

               </div>
 </div>
        
</div>