
<div [hidden]="!saveEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>
<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridRelevesVentes()"   class="pull-left"   mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveReleveVente();"    mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done </mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>
              
              
              </div>


              <mat-accordion style="width:100%">
                <mat-expansion-panel #firstMatExpansionPanel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row" >
          
                  <div class="col-sm-4">
                <mat-form-field>
                  <input matInput placeholder="N.Rel" [(ngModel)]="releveVentes.numeroReleveVente">
                  
                  </mat-form-field>
                 </div>
                 <div class="col-sm-4">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker1" placeholder="Date de Vente" [(ngModel)]="releveVentes.dateVenteObject">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                   </div>
               
               <div class="col-sm-4">

               </div>
            <!---Identite Client -->
                  </div>
            <div class="row">
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="releveVentes.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                              <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                                  {{cin}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="releveVentes.client.nom"  matInput  [matAutocomplete]="auto2">
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="releveVentes.client.prenom"  [matAutocomplete]="auto3">
                            </mat-form-field>
              </div>
            </div>
            <div class="row" >
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="releveVentes.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                  <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                    {{registreCommerce}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div> 
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="releveVentes.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
              
              </mat-form-field>
            </div>
            <div class='col-sm-4'>
                <mat-form-field >
                        <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="releveVentes.client.raisonSociale" readonly [matAutocomplete]="auto5">
                        
                      </mat-form-field>
            </div>
            </div>  
            <div class="row" >
                <div class='col-sm-12'>
                    <mat-form-field [color]="red" style="width:100%" >
                        
                        <mat-select placeholder="Etat"  [(ngModel)]="releveVentes.etat">
                            <mat-option *ngFor="let etat of etatsReleveVentes" [value]="etat.value">
                                   {{ etat.viewValue }}
                            </mat-option>
                        
                    </mat-select>
                    </mat-form-field>
                </div>
                                                
                  </div>                  
                </mat-expansion-panel>
                <mat-expansion-panel #manageLigneMatExpansionPanel (opened)="panelOpenState = true;"
                                     (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
              <mat-expansion-panel-header>
                 <i class="fa fa-pencil" aria-hidden="true"></i> 
              </mat-expansion-panel-header>
                           <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            
                                <mat-form-field [color]="red" style="width:100%">
                                  <input matInput placeholder="N°"  [(ngModel)] ="managedLigneReleveVentes.numeroLigneRelVentes" >
                                  
                                   </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            
                                     <mat-form-field [color]="red" style="width:100%">

                         <input type="text" placeholder="ART." aria-label="string" [(ngModel)]="managedLigneReleveVentes.article.code"
                          matInput 
                         [formControl]="articleFilter.getControlCodesArticles()" 
                         [matAutocomplete]="autoCodeArticle">
                         <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
                           <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
                             {{codeArticle}}
                           </mat-option>
                         </mat-autocomplete>
                                    </mat-form-field>
                                      </div>
                                   
                     </div>
                    </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            
                                            <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="Config."  [(ngModel)] ="managedLigneReleveVentes.article.configuration" >
                                                
                                                 </mat-form-field>


                                    </div>
                                    <div class="col-sm-6">
                                        
                                     <mat-form-field [color]="red" style="width:100%">
                                      
                    <input type="text" placeholder="UN.Mes." aria-label="string"
                     [(ngModel)]="managedLigneReleveVentes.unMesure.code"
                                       matInput 
                     [formControl]="unMesureFilter.getControlCodesUnMesures()" 
                            [matAutocomplete]="autoCodeUnMesure">
                      <mat-autocomplete name ="codeUnMesure" (optionSelected)="fillDataLibelleUnMesure()" #autoCodeUnMesure="matAutocomplete">
                             <mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
                             {{codeUnMesure}}
                             </mat-option>
                         </mat-autocomplete>
                        </mat-form-field>
                                    </div>


                                    
                                        </div>
                                    </div>

                                </div>
                               
                                <div class="row">
                             <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%">
                     <input matInput type="string" readonly placeholder="Libéllé" 
                      [(ngModel)] ="managedLigneReleveVentes.article.libelle"  >
                                                                      
                               </mat-form-field>
                    </div>
                     <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%">
                  <input matInput type="string" readonly
                  placeholder="Désignation" 
                                        [(ngModel)] ="managedLigneReleveVentes.article.designation" 
                                        >
                                                                      
                                            </mat-form-field>
                                        </div>
                                    
                                    
                                    </div>
                               
                               
                               
                               
                               
                               
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                   <input matInput type="number"  placeholder="Quantite" 
                                    [(ngModel)] ="managedLigneReleveVentes.quantite"  >
                                                                  
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                   <input matInput type="number" placeholder="Prix Unitaire" 
                                    [(ngModel)] ="managedLigneReleveVentes.prixUnt" 
                                    (blur)="calculPrixTotal()" >
                                                                  
                                        </mat-form-field>
                                    </div>
                                
                                
                                </div>
                             <div class="row">

                                <div class="col-sm-12">
                                    <mat-form-field [color]="red" style="width:100%">
                                        <input type="number" matInput placeholder="Prix Total" readonly [(ngModel)] ="managedLigneReleveVentes.prixTotal" >
                                                              
                                    </mat-form-field>
                                 </div>
                             </div>

                                <div class="row">
                                    
                           
                                  <div class="col-sm-12">
                                      
                              <mat-form-field [color]="red"   readonly        style="width:100%">
                                  <input type="number" matInput placeholder="Benefice Total"  [(ngModel)] ="managedLigneReleveVentes.beneficeTotal" >
                                                        
                              </mat-form-field>

                                  </div>
                                </div>
                                <div class="row">
                                <div  class="col-sm-6">
                 <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneReleveVentes.regle" > 
                     Réglé</mat-checkbox>
                                    
                                    </div>
                                    <div  class="col-sm-6">
                            <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneReleveVentes.livre" >
                                Livré
                                 </mat-checkbox>
                                        
                         </div>
                                </div>

                       <div class="row">
                        <div class="col-sm-12">
                            
                        <mat-form-field [color]="red" style="width:100%">
                            <input matInput placeholder="Déscription"  [(ngModel)] ="managedLigneReleveVentes.description" >
                          
                             </mat-form-field>
                        </div>

                       </div>
                       <div class="row" >
                                    <button style="margin-left:40px"  mat-button color="accent" (click)="addLigneReleveVentes();" >
                                    
                                    
                                                    <mat-icon>done </mat-icon> 
                                                    
                                </button>
                             


                       </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel #listLignesMatExpansionPanel  (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
   <mat-expansion-panel-header>
        
      <i class="fa fa-table" aria-hidden="true"></i> 
      
   </mat-expansion-panel-header>

   <div class="row">
      <mat-form-field style="margin-top:12px;width:100%">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataLignesReleveVentesSource"  matSort style="width:100%;" >
      
      
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
               <span style="color:blue"> Actions</span>
            </th>
            <td mat-cell *matCellDef="let row;"> 
                    <button (click)="deleteLigneReleveVentes(row)" mat-mini-fab color="warn">
                        <i class="fa fa-trash" ></i>                             
                      </button> 
            <button style="margin-left:5px" (click)="editLigneReleveVentes(row)" mat-mini-fab color="accent">
                <i class="fa fa-pencil" ></i>                                 
                </button> 
       
            </td>
           
          </ng-container>
         
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let ligneRV"> 
              {{ligneRV[columnDef.name]}}
            
            </td>
      
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" ></tr>
      
     
    
    
    </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>  

                      </mat-expansion-panel>


                  <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field [color]="red">
                        <input matInput placeholder="Montant A Payer " readonly  [(ngModel)] ="releveVentes.montantAPayer" >
                        </mat-form-field>
                   </div>
               
                 <div class="col-sm-6">
                
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Montant Bénéfice" readonly [(ngModel)] ="releveVentes.montantBenefice" >
                            
                      </mat-form-field>

                  </div>
                  </div>
      
       

        <div class="row" >
            <div class='col-sm-12'>
                <mat-form-field [color]="red" style="width:100%" >
                    
                    <mat-select placeholder="Mode Paiement"  [(ngModel)]="releveVentes.payementData.libelle">
                        <mat-option *ngFor="let payement of payementModes" [value]="payement.value">
                               {{ payement.viewValue }}
                        </mat-option>
                    
                </mat-select>
                </mat-form-field>
            </div>
                                            
         </div> 

         <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="N°Cheque"  [(ngModel)] ="releveVentes.payementData.numeroCheque" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="pickerDateVir" placeholder="Date Virement de Chèque"
                     [(ngModel)]="releveVentes.dateVirementChequeObject">
                    <mat-datepicker-toggle matSuffix [for]="pickerDateVir"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateVir></mat-datepicker>
                  </mat-form-field>  
                    
               
            </div>                     
        </div> 

        <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="Montant Comptant"  [(ngModel)] ="releveVentes.payementData.montantComptant" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                   <input matInput  placeholder="Montant Crédit" [(ngModel)]="releveVentes.payementData.montantCredit">
            
                      </mat-form-field>  
                    
            </div>                     
        </div>


                </mat-expansion-panel>

              </mat-accordion>
























