
  <div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridLivresOres()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveLivreOre();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
         
              
              
              </div>

<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Livre d'Ore" [(ngModel)]="livreOre.numeroLivreOre">
</mat-form-field>
      </div>
      <div class="col-sm-6">
    <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date" [(ngModel)]="livreOre.dateLivreOreObject">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     </div>
   </div>
   <div class="row" >
    <div class="col-sm-6">
        <mat-form-field style="width:100%">
            <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="Période de : " [(ngModel)]="livreOre.periodeFromObject">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
  </div>
  <div class="col-sm-6">
<mat-form-field style="width:100%">
    <input matInput [matDatepicker]="picker3" touchUi #picker3 placeholder="à : " [(ngModel)]="livreOre.periodeToObject">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>
 </div>
</div>
    <div class="row">
            <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" placeholder="Montant de Ventes" 
                [(ngModel)] ="livreOre.montantVentes" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
          <input matInput type="number" placeholder="Montant d'Achats" [(ngModel)] ="livreOre.montantAchats" >
                        
             </mat-form-field>
         </div>
       
 </div>


     <div class="row">
  <div class="col-sm-6">
      <mat-form-field [color]="red" style="width:100%">
      <input matInput type="number" placeholder="Montant de Paie R.Humaines" 
      [(ngModel)] ="livreOre.montantRH" >
      </mat-form-field>
 </div>
          <div class="col-sm-6">
              <mat-form-field [color]="red" style="width:100%">
                   <input matInput type="number" placeholder="Montant de Charges" [(ngModel)] ="livreOre.montantCharges" >
              
                               </mat-form-field>
              </div>

</div>
          
<div class="row" >
    <div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%" >
                    <input matInput type="string" placeholder="Remarques" [(ngModel)] ="livreOre.description"
                     >
                 </mat-form-field>
    </div>
</div>
         <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="livreOre.etat">
                                      <mat-option *ngFor="let etat of etatsLivreOre" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
     </div>