<div class="row" >
        <div class="col-sm-6">
<mat-form-field [color]="red">
        <input matInput placeholder="Code" [(ngModel)]="payement.code">
</mat-form-field>
</div>
<div class="col-sm-6">
    <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder=" date payement" [(ngModel)]="payement.datePayement">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
</div>
    </div>

    <div class="row" >
            <div class="col-sm-6">
<mat-form-field [color]="red">
        <input matInput placeholder="Cin client" [(ngModel)] = "payement.cinClient">
</mat-form-field>
            </div>
            <div class="col-sm-6">
<mat-form-field [color]="red">
        <input matInput placeholder="Somme paye" [(ngModel)] ="payement.sommePaye" >
    </mat-form-field>
            </div>
    </div>
    <!--
    <div class="row">
        <div class="col-sm-3">
            <mat-form-field [color]="red">
                <input matInput placeholder="Somme reste" [(ngModel)] ="payement.sommeReste" >
            </mat-form-field>
</div>
<div class="col-sm-3">
    <mat-form-field [color]="red">
        <input matInput placeholder="Valeur tranche" [(ngModel)] ="payement.tranche" >
    </mat-form-field>
</div>
<div class="col-sm-3">
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder=" date tranche" [(ngModel)]="payement.dateTranche">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
</div>
    </div>-->
    <div class="row">
        <div class="col-sm-offset-5">
    <button mat-flat-button color="primary" (click)="savePayement()" >Enregistrer</button>
        </div>
    </div>

        