<div> 
        <mat-form-field [color]="red">
                <input matInput placeholder="Filter par CIN" [(ngModel)]="filterCIN" (keydown)="reloadData()">
        </mat-form-field>  
<table class="table table-dark">
        <thead>
    <tr>
        <th>
            Code 
        </th>
        <th>
            Date
         </th>
         <th>
            Cin Client
        </th>
        <th>Somme paye
        </th>
       <!-- <th>Somme resté
         </th><th>Tranche</th><th>Date Tranche</th>-->

    </tr>
        </thead>
        <tbody>
    <tr *ngFor="let payement of listPayements">
    <td>{{payement.code}}</td>
    <td>{{payement.datePayement}}</td>
    <td>{{payement.cinClient}}</td>
    <td>{{payement.sommePaye}}</td>
    <!--<td>{{payement.sommeReste}}</td>-->
   <!-- <td>{{payement.tranche}}</td>-->
   <!-- <td>{{payement.dateTranche}}</td>-->
</tr>
        </tbody>
</table>
</div>