

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridOrganisations()"   class="pull-left"    mat-mini-fab color="primary">
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:20px" (click)="saveOrganisation();"    mat-mini-fab color="primary" >
            
            
                            <mat-icon>done </mat-icon> 
                            
        </button>
 </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="organisation.code">
         </mat-form-field>
                </div>
                <div  class="col-sm-6">
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput placeholder="Domaine d'Activite" [(ngModel)] = "organisation.domaineActivite">
                        </mat-form-field>
                 </div>
               
</div>


<div class="row">
                <div  class="col-sm-6">
                             
               
                        <mat-form-field [color]="red"  style="width:100%">
                                <input matInput placeholder="Raison Sociale" [(ngModel)] = "organisation.raisonSociale">
                        </mat-form-field>     
                </div>
                <div  class="col-sm-6">
                        
          
                   <mat-form-field [color]="red"  style="width:100%">
                           <input matInput placeholder="Registre Commerce" [(ngModel)] = "organisation.registreCommerciale">
                   </mat-form-field>     
           </div>


   </div>
   <div class="row">
       

             <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Matricule Fiscale" [(ngModel)] = "organisation.matriculeFiscale">
                </mat-form-field>                 

               </div>
               <div class="col-sm-6">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Capitale" [(ngModel)] = "organisation.capitale">
                </mat-form-field>                 

               </div>
 </div>
 <div class="row">
        
 
              <div class="col-sm-12">
                 <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Adresse" [(ngModel)] = "organisation.adresse">
                 </mat-form-field>                 
 
                </div>
             
  </div>

  <div class="row">
        
 
              <div class="col-sm-6">
                 <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Email" [(ngModel)] = "organisation.email">
                 </mat-form-field>                 
 
                </div>
                <div class="col-sm-6">
                 <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Téléphone" [(ngModel)] = "organisation.telFix">
                 </mat-form-field>                 
 
                </div>
  </div>
<div class="row">

        <div class="col-sm-12">
                <mat-form-field [color]="red"  style="width:100%">
                        <input matInput placeholder="Description" [(ngModel)] = "organisation.description">
                </mat-form-field>
           
        </div>

</div>


  <div class="row">
        
 
              <div class="col-sm-12">
                 <mat-form-field [color]="red"  style="width:100%">
                         <input matInput placeholder="Responsable " [(ngModel)] = "organisation.responsable">
                 </mat-form-field>                 
 
                </div>
              
  </div>
  <div class="row">
        <div class="col-sm-12">
             <div>
                <label class="btn btn-default btn-file">
                  LOGO<input type="file" (change)="fileChangedF2($event)"  style="display: none;">
                 </label> 
             </div>
                   <img *ngIf="organisation.logo !== 'undefined'" [src]="organisation.logo" style="max-width: 200px ; max-height: 200px;   image-orientation : from-image;"/>       
       
       
         </div>
        </div>
</div>