

                <div [hidden]="!saveEnCours" class="row">
                  <mat-progress-bar 
                  color="primary"
                  mode="indeterminate"
                  value="50"
                  >
              </mat-progress-bar>
   </div>

<div class="row" >
<!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
<button (click)="loadGridClassesArticles()"   class="pull-left" mat-mini-fab color="primary"  >
  
  
                  <mat-icon>arrow_back</mat-icon>
                  
</button>
<button style="margin-left:20px" (click)="saveClasseArticle();"   mat-mini-fab color="primary" >


              <mat-icon>done</mat-icon> 
              
</button>




</div>

<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="classeArticle.code">
         </mat-form-field>
           </div>
           <div  class="col-sm-6">
            <mat-form-field [color]="red" style="width:100%" >
           <input matInput placeholder="Libéllé"  [(ngModel)] ="classeArticle.libelle">
          </mat-form-field>
            </div>
             
</div>
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Déscription"  [(ngModel)] ="classeArticle.description">
         </mat-form-field>
           </div>
             
</div>



        
</div>