

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridUnMesures()"   class="pull-left"   mat-mini-fab color="primary"  >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left: 20px" (click)="saveUnMesure();"  mat-mini-fab color="primary"   >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      
   
      
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="unMesure.code">
         </mat-form-field>
           </div>
             
</div>
<div class="row">
                <div  class="col-sm-12">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Déscription"  [(ngModel)] ="unMesure.description">
         </mat-form-field>
           </div>
             
</div>
<div class="row">
          <div  class="col-sm-6">
       <mat-checkbox style="padding-right: 25px"[(ngModel)] ="unMesure.unitePrincipale" > Unité Principale</mat-checkbox>   
           </div>
           <div  class="col-sm-6">
            <mat-checkbox style="padding-right: 25px"[(ngModel)] ="unMesure.uniteSecondaire" > Unité Secondaire</mat-checkbox>
            
            </div>
             
</div>


        
</div>