
<mat-dialog-content >
         <div [hidden]="!updateEnCours" class="row">
                    <mat-progress-bar 
                    color="primary"
                    mode="indeterminate"
                    value="50"
                    >
                </mat-progress-bar>
      </div>
            
      <div class="row">
        <div class="col-sm-12">
                
        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
        </div>


      </div>
    

      <div class="row">
            <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Code" readonly [(ngModel)] ="materielInventaire.code">
        </mat-form-field>
                       
        </div>
            <div class="col-sm-6">
               <mat-form-field style="width:100%">
    <input matInput [matDatepicker]="pickerDateAchatsObject" placeholder="Date Achats" 
                   [(ngModel)]="materielInventaire.dateAchatsObject">
                   <mat-datepicker-toggle matSuffix [for]="pickerDateAchatsObject" touchUi #pickerDateAchatsObject ></mat-datepicker-toggle>
                   <mat-datepicker #pickerDateAchatsObject></mat-datepicker>
                         </mat-form-field>     
        </div>
           
        </div>

        <div class="row">
                <div class="col-sm-6">
       <mat-form-field [color]="red" style="width:100%">
               <input matInput type="string" placeholder="Libéllé"  [(ngModel)] ="materielInventaire.libelle">
       </mat-form-field>
                      
             </div>
           <div class="col-sm-6">
               <mat-form-field [color]="red" style="width:100%">
                   <input matInput type="number" placeholder="Coût"  [(ngModel)] ="materielInventaire.cout">
           </mat-form-field>
            </div>
          
       </div>

       

            <div class="row">
               <div  class="col-sm-12">
                   <mat-form-field [color]="red" style="width:100%" >
                           
       <input matInput type="string" placeholder="Déscription"  [(ngModel)] ="materielInventaire.description">
                           
                   </mat-form-field>                    
            </div>
              
               
             </div>









      
             
            </mat-dialog-content>
            
            <mat-dialog-actions>
                    
                <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateMaterielInventaire()">Enregistrer</button>
            </mat-dialog-actions>
            