
<mat-dialog-content >
    <div [hidden]="!saveEnCours" class="row">
     <mat-progress-bar 
        color="primary"
        mode="indeterminate"
        value="50"
        >
    </mat-progress-bar>
</div>

                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                     <div class="row">
                     <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="Code"  [(ngModel)] ="stockInventaire.code">
                 </mat-form-field>
                                
                 </div>
                     <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%" >
                                    
                <input matInput type="string" placeholder="Déscription"  [(ngModel)] ="stockInventaire.description">
                                    
                            </mat-form-field>   
                 </div>
                    
                 </div>

                 <div class="row">
                        <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%" >
                                        
                    <input matInput type="string" placeholder="Code Art."  [(ngModel)] ="stockInventaire.article.code">
                                        
                                </mat-form-field>         
                     </div>
                         <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%" >
                                        
                    <input matInput type="string" placeholder="Désignation"  [(ngModel)] ="stockInventaire.article.designation">
                                        
                                </mat-form-field>              
                         </div>
                        
                      </div>

                 <div class="row">
                         <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                        <input matInput type="number" placeholder="Stock Initial"  [(ngModel)] ="stockInventaire.stockInitial">
                </mat-form-field>
                               
                      </div>
                    <div class="col-sm-6">
                        <mat-form-field [color]="red" style="width:100%">
                            <input matInput type="number" placeholder="Valeur Total"  [(ngModel)] ="stockInventaire.valeurStockInitial">
                    </mat-form-field>
                     </div>
                   
                </div>

                <div class="row">
                    <div class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%">
                   <input matInput type="number" placeholder="Stock Final"  [(ngModel)] ="stockInventaire.stockFinal">
           </mat-form-field>
                          
                 </div>
               <div class="col-sm-6">
                   <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number" placeholder="Valeur Total"  [(ngModel)] ="stockInventaire.valeurStockFinal">
               </mat-form-field>
                </div>
              
           </div>

                
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveStockInventaire()">Enregistrer</button>
</mat-dialog-actions>
