
<mat-dialog-content >
                <div class="row">
                                <div class="col-sm-12">
                                        
                                <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                                </div>
                        </div>
            <div class="row">
            <mat-form-field style="margin-top:12px;width:100%">;
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataDocumentsInventairesSource"  matSort style="width:100%;" >
            
            
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation();"
                                    (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
                 >
                  <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
                  <td mat-cell *matCellDef="let docJ"> {{docJ[columnDef.name]}} </td>
                </ng-container>
              
                <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>  
 
</mat-dialog-content>

<mat-dialog-actions>
        
   <!-- <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="savePayementCredit()">Enregistrer</button>-->
</mat-dialog-actions>
