
<mat-dialog-content >
  
                <div class="row" >
                                <div class="col-sm-6">       
                                </div>
                                <div class="col-sm-6">
<button mat-dialog-close mat-mini-fab color="warn" style="height: 25px; margin-left:115px" ><mat-icon> highlight_off </mat-icon>  </button>       
                                </div>
                </div>
                
               
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red">
                         <input matInput placeholder="Code"  [(ngModel)] ="fournisseur.code">
                 </mat-form-field>
                                    </div>
                                     <div  class="col-sm-6">
                         <mat-form-field [color]="red">
                                 <input matInput placeholder="CIN" [(ngModel)] ="fournisseur.cin" >
                             </mat-form-field>
                                      </div>
                     </div>
                     <div class="row" >
         
                             <div class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Nom" [(ngModel)] = "fournisseur.nom">
                         </mat-form-field>
                    
                              </div>
                              <div  class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Prenom" [(ngModel)] = "fournisseur.prenom">
                         </mat-form-field>
                                </div>
                  </div>
     
                     <div class="row">
                            <div class="col-sm-6">
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input matInput placeholder="Matricule fiscale" [(ngModel)] ="fournisseur.matriculeFiscale"  >
                                        </mat-form-field>
                             </div>
                             <div class="col-sm-6">
                                    <mat-form-field [color]="red" style="width:100%">
                                            <input matInput placeholder="Registre de commerce" [(ngModel)] ="fournisseur.registreCommerce"  >
                                        </mat-form-field>
                             </div>
                     </div>
                     <div class="row">
                            <div class="col-sm-12" >
                       <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="Raison sociale" [(ngModel)] ="fournisseur.raisonSociale" >
                           </mat-form-field>
                                   </div>
                                   
                                  
                           </div>       
                 
                 
         
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveFournisseur()">Enregistrer</button>
</mat-dialog-actions>
