<div [hidden]="!saveEnCours" class="row">
                <mat-progress-bar 
                color="primary"
                mode="indeterminate"
                value="50"
                >
            </mat-progress-bar>
 </div>

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridFournisseurs()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveFournisseur();" mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary">
                    
                    
                                    <mat-icon   >delete</mat-icon>
                                    
                </button>
              
              
              </div>
              <div style="height: 800px; margin-top: 60px">
                
                                 <div class="row" >
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%;">
                         <input matInput placeholder="N°"  [(ngModel)] ="fournisseur.numeroFournisseur">
                 </mat-form-field>
                                      </div>
                                     <div  class="col-sm-6">
                         <mat-form-field [color]="red" style="width:100%;">
                                 <input matInput placeholder="N°Carte Identité" [(ngModel)] ="fournisseur.cin" >
                             </mat-form-field>
                                      </div>
                             </div>
                     <div class="row" >
         
                 <div class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Nom" [(ngModel)] = "fournisseur.nom">
                         </mat-form-field>
                    
                 </div>
                 <div  class="col-sm-6">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Prenom" [(ngModel)] = "fournisseur.prenom">
                         </mat-form-field>
                 </div>
                     </div>
                         
                      
                     
                 
                 <!--Second row -->
                 
                 <div class="row" >
                              <div  class="col-sm-6">
                                       <mat-form-field [color]="red" style="width:100%">
                                               <input matInput  placeholder="Adresse"   [(ngModel)] = "fournisseur.adresse" >
                                           </mat-form-field>
                               </div>
                               <div   class="col-sm-2">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput  placeholder="Code postale"  [(ngModel)] = "fournisseur.codePostale" >
                                            </mat-form-field>
                               </div>
                               <div  class="col-sm-2">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput  placeholder="Ville"  [(ngModel)] = "fournisseur.ville" >
                                            </mat-form-field>
                               </div>
                               <div  class="col-sm-2">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput  placeholder="Gouvernorat"  [(ngModel)] = "fournisseur.gouvernorat" >
                                            </mat-form-field>
                               </div>
                           </div>
                 
                 
                     <div class="row">
                                 
                                   <div class="col-sm-6" >
                       <mat-form-field [color]="red" style="width:100%;">
                               <input matInput placeholder="Raison sociale" [(ngModel)] ="fournisseur.raisonSociale" >
                           </mat-form-field>
                                   </div>
                                   <div class="col-sm-3">
                                           <mat-form-field [color]="red" style="width:100%">
                                                   <input matInput placeholder="Matricule fiscale" [(ngModel)] ="fournisseur.matriculeFiscale"  >
                                               </mat-form-field>
                                    </div>
                                    <div class="col-sm-3">
                                       <mat-form-field [color]="red" style="width:100%">
                                               <input matInput placeholder="Registre de commerce" [(ngModel)] ="fournisseur.registreCommerce"  >
                                           </mat-form-field>
                                </div>
                           </div>
                 
                    
                 <!--Third row -->
                 
                 <div class="row" >
                         <div class="col-sm-6">
                                 <mat-form-field [color]="red"  style="width:100%;">
                                         <input matInput placeholder="Tél(s)" [(ngModel)] ="fournisseur.mobile" >
                                     </mat-form-field>
                         </div>
                         <div class="col-sm-6">
                      <mat-form-field [color]="red" style="width:100%;">
                                                         <input matInput  placeholder="Email(s)"  [(ngModel)] = "fournisseur.email" >
                                      </mat-form-field>
                         </div>
                                                     
            </div>
          <div class="row">
               <div class="col-sm-12" >   
                 <label class="btn btn-default btn-file">
                  Image-Logo <input type="file" (change)="fileChanged($event)"  style="display: none;">
                  </label> 
               </div>   
          </div>
         
         
                 <div class="row">
                                 
                  <div class="col-sm-12" >
                                                
                                                  
                  <img *ngIf="fournisseur.image !== undefined" [src]="fournisseur.image" style="max-width: 150px ; max-height: 150px;   image-orientation : from-image;"/>
                  </div>
                  </div>
                                   
         </div>