
 <div style="margin-top:80px">
                <div [hidden]="!saveEnCours" class="row">
                            <mat-progress-bar 
                            color="primary"
                            mode="indeterminate"
                            value="50"
                            >
                          </mat-progress-bar>
                 </div>
     </div>
<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridProfilesAchats()"   class="pull-left" mat-mini-fab color="primary" >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:30px" (click)="saveProfileAchats();"  mat-mini-fab color="primary"  >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      
      
      
      
      </div>
<div style="height: 800px;">
       
          

                <mat-accordion style="width:100%;margin-top:80px">
                      <mat-expansion-panel #firstMatExpansionPanel >
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                                Générale
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                        </mat-expansion-panel-header>
       
                        <div class="row" style="margin-top:10px">
                             <div class="col-sm-6">
                                        <mat-form-field style="width:100%;">
                                 <input matInput  placeholder="Code" type="string" 
                                                        [(ngModel)]="profileAchats.code">           
                                        </mat-form-field>                                                        
                             </div>
                             <div class="col-sm-6">
                                        <mat-form-field style="width:100%;">
                 <input matInput  placeholder="Déscription" type="string" 
                         [(ngModel)]="profileAchats.description">           
                      </mat-form-field>       
                             </div>
                        </div>                                

                        <div class="row">
                                  <div  class="col-sm-4" style="padding-top:20px" >
                <mat-checkbox (change)=" showSelectEntityClaculPrix = !showSelectEntityClaculPrix;"  style="padding-right: 25px" [(ngModel)] ="profileAchats.prixClaculated" >
          Prix Achat Caculé</mat-checkbox>   
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%;">
                                  
                <mat-select [disabled]="!showSelectEntityClaculPrix" placeholder="Entité de Calcule de Prix" 
                 [(ngModel)]="profileAchats.entityCalculPrix">
                        <mat-option value="Documents">
                         Documents d'achats
                        </mat-option>
                        <mat-option value="Invoices">
                        Factures d'achats
                         </mat-option>
                    
                </mat-select>
                      </mat-form-field>
    
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%">
                                  
                <mat-select [disabled]="!showSelectEntityClaculPrix" placeholder="Stratégie de Calcule de Prix" 
                 [(ngModel)]="profileAchats.strategieCaclulPrix">
                        <mat-option value="FirstLine">
                         Première Ligne
                        </mat-option>
                        <mat-option value="MoyLine">
                        Moyenne Lignes
                                 </mat-option>
                        <mat-option value="LastLine">
                        Dernière Ligne
                        </mat-option>
                         <mat-option value="MaxPrix">
                        Le prix Maximal
                        </mat-option>
                        <mat-option value="MinPrix">
                         Le prix  Minimal
                        </mat-option>
                        <mat-option value="MoyTVA">
                                Le Prix  Moyen
                               </mat-option>
                </mat-select>
                      </mat-form-field>
    
          </div>
    </div>
    <div class="row">
            <div  class="col-sm-4"  style="padding-top:20px">
     <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculTVA = !showSelectEntityClaculTVA;"
     [(ngModel)] ="profileAchats.tvaClaculated" >
          TVA Achat Caculé</mat-checkbox>                                                                  
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%;">                              
                                  
                <mat-select [disabled]="!showSelectEntityClaculTVA" placeholder="Entité de Calcule de TVA" 
                 [(ngModel)]="profileAchats.entityCalculTVA">
                        <mat-option value="Documents">
                         Documents d'achats
                        </mat-option>
                        <mat-option value="Invoices">
                        Factures d'achats
                         </mat-option>
                    
                </mat-select>
                      </mat-form-field>
    
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%;">                              
                                  
                <mat-select [disabled]="!showSelectEntityClaculTVA" placeholder="Stratégie de Calcule de TVA" 
                 [(ngModel)]="profileAchats.strategieCaclulTVA">
                        <mat-option value="FirstLine">
                         Première Ligne
                        </mat-option>
                        <mat-option value="MoyLine">
                        Moyenne Lignes
                                 </mat-option>
                        <mat-option value="LastLine">
                        Dernière Ligne
                        </mat-option>
                         <mat-option value="MaxTVA">
                        Le TVA Maximal
                        </mat-option>
                        <mat-option value="MinTVA">
                         Le TVA  Minimal
                        </mat-option>
                        <mat-option value="MoyTVA">
                                Le TVA  Moyen
                        </mat-option>
                </mat-select>
                      </mat-form-field>
          </div>
    </div>
    
    
    <div class="row">
            <div  class="col-sm-4" style="padding-top:20px" >
     <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculQuantite = !showSelectEntityClaculQuantite;"
     [(ngModel)] ="profileAchats.quantiteClaculated" >
          Quantité Caculée</mat-checkbox>                                                                  
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%;">                              
                                  
                <mat-select [disabled]="!showSelectEntityClaculQuantite" placeholder="Entité de Calcule de Quantité Reçue"
                 [(ngModel)]="profileAchats.entityCalculQuantite">
                        <mat-option value="Documents">
                         Documents d'Achats
                        </mat-option>
                        <mat-option value="Invoices">
                        Factures d'Achats
                         </mat-option>
                         <mat-option value="BonsReception">
                        Bons de Réception
                         </mat-option>
                    
                </mat-select>
                      </mat-form-field>
          </div>
         
    </div>
    
    <div class="row">
            <div  class="col-sm-4" style="padding-top:20px" >
     <mat-checkbox style="padding-right: 25px" (change)=" showSelectEntityClaculAttenteReception = !showSelectEntityClaculAttenteReception;"
     [(ngModel)] ="profileAchats.attenteReceptionCalculated" >
          Attente de Réception Caculée</mat-checkbox>                                                                  
          </div>
          <div class="col-sm-4" >
                      <mat-form-field style="width:100%;">                              
                                  
                <mat-select  [disabled]="!showSelectEntityClaculAttenteReception" placeholder="Entité de Calcule de l'Attente de Réception" 
                 [(ngModel)]="profileAchats.entityCalculAttenteReception">
                        <mat-option value="Documents">
                         Documents d'Achats
                        </mat-option>
                        <mat-option value="Invoices">
                        Factures d'Achats
                         </mat-option>
                         <mat-option value="Ordres">
                        Ordres d'Achats
                         </mat-option>
                         <mat-option value="Demandes">
                                Demandes d'Achats
                                 </mat-option>
                </mat-select>
                      </mat-form-field>
          </div>
         
    </div>
  <!--  <div class="row">
                <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                            
                            
                  <mat-icon>done</mat-icon> 
                                            
           </button>
    </div>-->
    </mat-expansion-panel>
    <mat-expansion-panel #secondMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        Taxes
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                      <div class="row"> 
          
                                  <div  class="col-sm-4" style="padding-top:20px">
                                              <mat-checkbox style="padding-right: 25px" 
                                                          [(ngModel)] ="profileAchats.inclureTVAFacture" >
                                                               Inclure TVA dans mes Factures
                                              </mat-checkbox>                                                                  
                             </div>  
                             <div  class="col-sm-4" >
                        <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                       <input matInput  placeholder="%TVA Par Défaut" type="number" [(ngModel)]="profileAchats.defaultTVAPourcentage">
                                                    
                   </mat-form-field> 
                                                                                                                   
                            </div>
                            <div  class="col-sm-4" style="padding-top:20px">
                                                                                                    
                       </div> 
                </div>
                <div class="row"> 
                            
                                                    <div  class="col-sm-4" style="padding-top:20px">
                                                                <mat-checkbox style="padding-right: 25px" 
                                                                            [(ngModel)] ="profileAchats.inclureFodecFacture" >
                                                                                 Inclure Fodec dans mes Factures
                                                                </mat-checkbox>                                                                  
                                               </div>  
                                               <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                         <input matInput  placeholder="%Fodec Par Défaut" type="number" 
                                          [(ngModel)]="profileAchats.defaultFodecPourcentage">
                                                                      
                                     </mat-form-field> 
                                                                                                                                     
                                              </div>
                                              <div  class="col-sm-4" style="padding-top:20px">
                                                                                                                      
                                         </div> 
                </div>
          
                <div class="row"> 
                            
                                                    <div  class="col-sm-4" style="padding-top:20px">
                                                                <mat-checkbox style="padding-right: 25px" 
                                                                [(ngModel)] ="profileAchats.inclureTimbreFacture" >
                                                                     Inclure Timbre dans mes Factures</mat-checkbox>                                                                    
                                               </div>  
                                               <div  class="col-sm-4" >
                                               <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                               <input matInput  placeholder="Valeur Timbre Fiscal"  type="number"
                                                [(ngModel)]="profileAchats.valeurTimbreFiscal">
                                                                      
                                                          </mat-form-field>    
                                                                                                                                     
                                              </div>
                                              <div  class="col-sm-4" style="padding-top:20px">
                                                                                                                      
                                         </div> 
                 </div>
          
          
                <div class="row"> 
                            
                                                    <div  class="col-sm-4" style="padding-top:20px">
                                                                <mat-checkbox style="padding-right: 25px" 
                                                                            [(ngModel)] ="profileAchats.inclure3rdTaxeFacture" >
                                                                                 Inclure une Nouvelle Taxe dans mes Factures
                                                                </mat-checkbox>                                                                  
                                               </div>  
                                               <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                         <input matInput  type="number" placeholder="% Nouvelle Taxe Par Défaut" 
                                          [(ngModel)]="profileAchats.default3rdTaxePourcentage">
                                                                      
                                     </mat-form-field> 
                                                                                                                                     
                                              </div>
                                              <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                               <input matInput  type="string" placeholder="Libellé Nouvelle Taxe"  
                                               [(ngModel)]="profileAchats.default3rdTaxeLibelle">
                                                                                                   
                                          </mat-form-field>                                                                    
                                         </div> 
                </div>
                <div class="row"> 
                            
                                                    <div  class="col-sm-4" style="padding-top:20px">
                                                                <mat-checkbox style="padding-right: 25px" 
                                                                            [(ngModel)] ="profileAchats.inclure4rdTaxeFacture" >
                                                                                 Inclure une Seconde Taxe dans mes Factures
                                                                </mat-checkbox>                                                                  
                                               </div>  
                                               <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%;">  
                                         <input matInput  type="number" placeholder="% Seconde Taxe Par Défaut" 
                                          [(ngModel)]="profileAchats.default4rdTaxePourcentage">
                                                                      
                                     </mat-form-field> 
                                                                                                                                     
                                              </div>
                                              <div  class="col-sm-4" >
                                          <mat-form-field style="width:100%;padding-top:0px;margin-top:0px;" >  
                                               <input matInput  type="string" placeholder="Libellé Seconde Taxe"  [(ngModel)]="profileAchats.default4rdTaxeLibelle">
                                                                                                   
                                          </mat-form-field>                                                                    
                                         </div> 
                </div>
               <!-- <div class="row">
                            <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                                        
                                        
                              <mat-icon>done</mat-icon> 
                                                        
                       </button>       
           </div>-->
    </mat-expansion-panel>
    <mat-expansion-panel #thirdMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        Remise
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
          <div class="row">
          
                 <div  class="col-sm-4" style="padding-top:20px">
                            <mat-checkbox style="padding-right: 25px" 
                                        [(ngModel)] ="profileAchats.inclureRemiseFacture" >
                                             Inclure Remise dans mes Factures</mat-checkbox>                                                                  
                       </div>
                       <div  class="col-sm-4" >
                            <mat-form-field style="width:100%;">  
           <input matInput  type="number" placeholder="% Remise Par Défaut"  [(ngModel)]="profileAchats.defaultRemisePourcentage">
                                                               
                              </mat-form-field>                                                              
                             </div>
                 <div  class="col-sm-4" style="padding-top:20px">
                                                                                                   
                </div>            
          </div>
        <!--  <div class="row">
                                  <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                                              
                                              
                                    <mat-icon>done</mat-icon> 
                                  </button>
                              
          </div>-->
    </mat-expansion-panel>
    <mat-expansion-panel #4thrdMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        Magasins
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
          <div class="row">
          
          
                 <div  class="col-sm-4" style="padding-top:20px">
                            <mat-checkbox style="padding-right: 25px" 
                                        [(ngModel)] ="profileAchats.inclureMagasinsFacture" >
                                             Inclure Magasins dans mes Factures</mat-checkbox>                                                                  
                       </div>
                       <div  class="col-sm-4" >
                                  <mat-form-field style="width:100%" >                              
                                              
                            <mat-select  placeholder="Rechercher Magasins Par"
                             [(ngModel)]="profileAchats.magasinSearchBy">
                                    <mat-option value="Code">
                                    Code
                                    </mat-option>
                                    <mat-option value="Libelle">
                                          Libelle
                                     </mat-option>
                                  
                            </mat-select>
                                  </mat-form-field>                                                                 
                             </div>
                             <div  class="col-sm-4" style="padding-top:20px">
                                        
                             </div>
          </div>
                     <!-- <div class="row">
                                  <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                                              
                                              
                                    <mat-icon>done</mat-icon> 
                                  </button>
                      </div> -->                                
                              
    </mat-expansion-panel>
    <mat-expansion-panel #5emeMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        Articles
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                            <div  class="col-sm-4" >
                                        <mat-form-field style="width:100%" >                              
                                                    
                                  <mat-select  placeholder="Rechercher Articles Par"
                                   [(ngModel)]="profileAchats.articleSearchBy">
                                          <mat-option value="Code">
                                          Code
                                          </mat-option>
                                          <mat-option value="Libelle">
                                                Libelle
                                           </mat-option>
                                        
                                  </mat-select>
                                        </mat-form-field>                                                                 
                                   </div>
                
                       <div  class="col-sm-4" style="padding-top:20px">
                                  <mat-checkbox style="padding-right: 25px" 
                                              [(ngModel)] ="profileAchats.inclureConfigurationsFacture" >
                                                   Inclure Configurations dans mes Factures</mat-checkbox>                                                                  
                             </div>
                             <div  class="col-sm-4">
                                        <mat-form-field style="width:100%" >                              
                                                    
                                  <mat-select  placeholder="Rechercher Configurations Par"
                                   [(ngModel)]="profileAchats.configurationSearchBy">
                                          <mat-option value="Code">
                                          Code
                                          </mat-option>
                                          <mat-option value="Libelle">
                                                Libelle
                                           </mat-option>
                                        
                                  </mat-select>
                                        </mat-form-field>                                                                 
                                   </div>
                                  
                </div>
           
                        <!--    <div class="row">
                                        <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                                                    
                                                    
                                          <mat-icon>done</mat-icon> 
                                        </button>
                                    
                                  </div   >-->
          
    </mat-expansion-panel>
    <mat-expansion-panel #6emeMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        UN Mesure
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                
                
                       <div  class="col-sm-4" style="padding-top:20px">
                                  <mat-checkbox style="padding-right: 25px" 
                                              [(ngModel)] ="profileAchats.inclureUnMesure" >
                                                   Inclure UN Mesure dans mes Factures</mat-checkbox>                                                                  
                             </div>
                             <div  class="col-sm-4" >
                                        <mat-form-field style="width:100%" >                              
                                                    
                                  <mat-select  placeholder="Rechercher Un Mesure Par"
                                   [(ngModel)]="profileAchats.unMesureSearchBy">
                                          <mat-option value="Code">
                                          Code
                                          </mat-option>
                                          <mat-option value="Libelle">
                                                Libelle
                                           </mat-option>
                                        
                                  </mat-select>
                                        </mat-form-field>                                                                 
                                   </div>
                                   <div  class="col-sm-4">
                                        
                                   </div>
                </div>
              <!--  <div class="row">
                            <button  style="margin-left:20px;"  (click)="saveParametresAchats()"  mat-mini-fab color="primary" >
                                        
                                        
                              <mat-icon>done</mat-icon> 
                            </button>
                        
                      </div   >-->
    </mat-expansion-panel>
    <mat-expansion-panel #7emeMatExpansionPanel >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                        Bénéfice
                  </mat-panel-title>
                  <mat-panel-description>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                      <div class="row">
                      
                             <div  class="col-sm-4" style="padding-top:20px">
                                        <mat-checkbox style="padding-right: 25px" 
                                                    [(ngModel)] ="profileAchats.inclureBeneficeFacture" >
                                                         Inclure Bénéfice dans mes Factures</mat-checkbox>                                                                  
                                   </div>
                                   <div  class="col-sm-4" >
                                        <mat-form-field style="width:100%;">  
                       <input matInput  type="number" placeholder="% Benefice Par Défaut"  [(ngModel)]="profileAchats.defaultBeneficePourcentage">
                                                                           
                                          </mat-form-field>                                                              
                                         </div>
                             <div  class="col-sm-4" style="padding-top:20px">
                                                                                                               
                            </div>            
                      </div>
                    <!--  <div class="row" >
                                  <button  style="margin-left:20px;"  (click)="saveProfileAchats()"  mat-mini-fab color="primary" >
                                              
                                              
                                    <mat-icon>done</mat-icon> 
                                                              
                             </button>     
                       </div>-->
    </mat-expansion-panel>
                </mat-accordion>
    
</div>