
<mat-dialog-content >
        
                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>

                      <div class="row">
                              <div class="col-sm-12">
                                      
                              <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                              </div>
                      </div>
                      
                    
                           <div class="row">
                                            <div class="col-sm-6">
                       <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="Code"  [(ngModel)] ="payementReleveAchats.code" readonly>
                       </mat-form-field>
                                          </div>
                                           <div  class="col-sm-6">
                                              <mat-form-field style="width:100%">
                      <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Payement" [(ngModel)]="payementReleveAchats.dateOperationObject">
                                                       <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                      <mat-datepicker #pickerDateOperation></mat-datepicker>
                                                      </mat-form-field>   
                                            </div>
                           </div>
      
                           <div class="row">
                              
                                                      <div  class="col-sm-12">
                                                              <mat-form-field [color]="red" style="width:100%">
                                                                      <input matInput placeholder="Montant Payé" [(ngModel)] ="payementReleveAchats.montantPaye" >
                                                                  </mat-form-field>
                                              </div>
                              
                               </div>
                           <div class="row" >
               
                                   <div class="col-sm-12">
                                              <mat-form-field [color]="red" style="width:100%">
                                                              
                                      <mat-select placeholder="Mode Payement" 
                                      [(ngModel)]="payementReleveAchats.modePayement" [value]="Espece">
                                              <mat-option value="Espece">
                                                      Espèce
                                              </mat-option>
                                              <mat-option value="Cheque">
                                                      Chèque
                                               </mat-option>
                                               <mat-option value="Virement">
                                                     Virement
                                               </mat-option>
                                      </mat-select>
                              </mat-form-field>
                              
                                    </div>
                                
                                </div>
           
                                <div class="row" *ngIf="payementReleveAchats.modePayement==='Cheque'" >
                                      
                               <div class="col-sm-6">
                                      <mat-form-field [color]="red" style="width:100%">
                                      <input matInput placeholder="N°Chèque" [(ngModel)] ="payementReleveAchats.numeroCheque" >
                                       </mat-form-field>
                                                 
                                      </div>
                              <div class="col-sm-6" >
                                      <mat-form-field style="width:100%">
                              <input matInput [matDatepicker]="pickerDateCheque" placeholder=" Date Vir.Chèque" [(ngModel)]="payementReleveAchats.dateChequeObject">
                               <mat-datepicker-toggle matSuffix [for]="pickerDateCheque" touchUi #pickerDateCheque ></mat-datepicker-toggle>
                              <mat-datepicker #pickerDateCheque></mat-datepicker>
                              </mat-form-field>            
                                     
                                </div>
                              </div>
                              <div class="row" *ngIf="payementReleveAchats.modePayement==='Cheque' ||
                              payementReleveAchats.modePayement==='Virement' " >
                                      
                                       <div class="col-sm-6">
                                       <mat-form-field [color]="red" style="width:100%">
                                              <input matInput placeholder="N°Compte" [(ngModel)] ="payementReleveAchats.compte" >
                              </mat-form-field>
                                                 
                                      </div>
                                       <div class="col-sm-6">
                                              <mat-form-field [color]="red" style="width:100%">
                                                      <input matInput placeholder="N°Compte Adv." [(ngModel)] ="payementReleveAchats.compteAdversaire" >
                                      </mat-form-field>                     
                                                   
                                      </div>
                              </div>
                              <div class="row"  *ngIf="payementReleveAchats.modePayement==='Cheque' ||
                              payementReleveAchats.modePayement==='Virement' ">
                                      
                                       <div class="col-sm-6">
                                       <mat-form-field [color]="red" style="width:100%">
                                              <input matInput placeholder="Banque" [(ngModel)] ="payementReleveAchats.banque" >
                              </mat-form-field>
                                                 
                                      </div>
                                       <div class="col-sm-6">
                                              <mat-form-field [color]="red" style="width:100%">
                                                      <input matInput placeholder="Banque Adv." [(ngModel)] ="payementReleveAchats.banqueAdversaire" >
                                      </mat-form-field>                     
                                                   
                                      </div>
                              </div>
                              <div class="row" >
                                      
                                       <div class="col-sm-12">
                                       <mat-form-field [color]="red" style="width:100%">
                                              <input matInput placeholder="Déscription" [(ngModel)] ="payementReleveAchats.description" >
                              </mat-form-field>
                                                 
                                      </div>
                                     
                              </div>       
       
      </mat-dialog-content>
      
      <mat-dialog-actions>
              
          <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updatePayementReleveAchats()">Enregistrer</button>
      </mat-dialog-actions>
      