
<mat-dialog-content >
                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>
         <div class="row">
                 <div class="col-sm-12">
                         
                 <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                 </div>
         </div>

              <div class="row">
                               <div class="col-sm-6">
          <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Code"  [(ngModel)] ="ajournementReleveAchats.code" readonly>
          </mat-form-field>
                             </div>
                              <div  class="col-sm-6">
                                 <mat-form-field style="width:100%">
         <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Opération" [(ngModel)]="ajournementReleveAchats.dateOperationObject">
                                          <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                         <mat-datepicker #pickerDateOperation></mat-datepicker>
                                         </mat-form-field>   
                               </div>
              </div>
              <div class="row">
                 
                  <div  class="col-sm-12">
                                  <mat-form-field style="width:100%">
                                                 <input matInput [matDatepicker]="pickerNouvelleDatePayement" placeholder=" N°lle Date Payement" [(ngModel)]="ajournementReleveAchats.nouvelleDatePayementObject">
                                         <mat-datepicker-toggle matSuffix [for]="pickerNouvelleDatePayement" touchUi #pickerNouvelleDatePayement ></mat-datepicker-toggle>
                                                          <mat-datepicker #pickerNouvelleDatePayement></mat-datepicker>
                                   </mat-form-field>   
                                                
                  </div>
                 
               </div>
              <div class="row">
                 
               <div  class="col-sm-12">
                                                 <mat-form-field [color]="red" style="width:100%">
                                                         <input matInput placeholder="Motif" [(ngModel)] ="ajournementReleveAchats.motif" >
                                 </mat-form-field>
                 </div>
                 
                  </div>
              
                 <div class="row" >
                         
                          <div class="col-sm-12">
                          <mat-form-field [color]="red" style="width:100%">
                                 <input matInput placeholder="Déscription" [(ngModel)] ="ajournementReleveAchats.description" >
                            </mat-form-field>
                                    
                         </div>
                        
                 </div>    

</mat-dialog-content>

<mat-dialog-actions>
 
<button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateAjournementReleveAchats()">Enregistrer</button>
</mat-dialog-actions>
