

<div class="row" >
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridLots()"   class="pull-left" mat-mini-fab color="primary"  >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
              
                <button  style="margin-left:20px;" (click)="updateLot();" mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
          
              
              
</div>
<div style="height: 800px;">
    
<div class="row">
             <div  class="col-sm-12">
        <mat-form-field [color]="red" style="width:100%" >
       <input matInput placeholder="Code" readonly  [(ngModel)] ="lot.code">
      </mat-form-field>
        </div>
          
</div>
<div class="row">
             <div  class="col-sm-12">
        <mat-form-field [color]="red" style="width:100%" >
       <input matInput placeholder="Libéllé"  [(ngModel)] ="lot.libelle">
      </mat-form-field>
        </div>
          
</div>
<div class="row">
<div  class="col-sm-12">
 <mat-form-field [color]="red" style="width:100%" >
<input matInput placeholder="Décription"  [(ngModel)] ="lot.description">
</mat-form-field>
 </div>
          
</div>

</div>
