
<mat-dialog-content >
    <div [hidden]="!saveEnCours" class="row">
        <mat-progress-bar 
        color="primary"
        mode="indeterminate"
        value="50"
        >
    </mat-progress-bar>
</div>

                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="N°Ligne"  [(ngModel)] ="ligneJournal.numeroLigneJournal">
                 </mat-form-field>
                                
                                   </div>
                    
                     <div class="col-sm-6">
                     <mat-form-field [color]="red" style="width:100%">
                         <input matInput type="number" placeholder="Heure Opération"  [(ngModel)] ="ligneJournal.heureOperation">
                     </mat-form-field>
                                                       
                             </div>
                    
                                </div>
                     <div class="row">
                        
                         <div  class="col-sm-12">
                                <mat-form-field [color]="red" style="width:100%" >
                                        
                                <mat-select placeholder="Type Opération"  [(ngModel)]="ligneJournal.typeOperation">
                                        <mat-option *ngFor="let typeOperation of typesOperations" [value]="typeOperation.value">
                                               {{ typeOperation.viewValue }}
                                        </mat-option>
                                    
                                </mat-select>     
                                </mat-form-field>                    
                         </div>
                        
                      </div>

                      <div class="row">
                            
                             <div  class="col-sm-12">
                                    <mat-form-field [color]="red" style="width:100%" >
                                            
                        <input matInput type="number" placeholder="Montant(en Dinars)"  [(ngModel)] ="ligneJournal.montant">
                                            
                                    </mat-form-field>                    
                             </div>
                            
                          </div>


                              



                          <div class="row">
                                
                          <div  class="col-sm-12">
                         <mat-form-field [color]="red" style="width:100%" >
                                                
                 <mat-select placeholder="Mode Paiement"  [disabled]="ligneJournal.etat==='Valide' || ligneJournal.etat==='Annule' "
                          [(ngModel)]="ligneJournal.modePaiement">
                    <mat-option *ngFor="let modePaie of modesPaiements" [value]="modePaie.value">
                                {{ modePaie.viewValue }}
                                </mat-option>
                                            
                                                        </mat-select>     
                                </mat-form-field>                    
                                    </div>
                                
                                                            </div>
                          <div class="row">
                                
                                 <div  class="col-sm-12">
                                        <mat-form-field [color]="red" style="width:100%" >
                                                
                            <input matInput type="string" placeholder="Déscription"  [(ngModel)] ="ligneJournal.description">
                                                
                                        </mat-form-field>                    
                                 </div>
                                
                            </div>
                     
                   
                     
                                
                         
                  
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveLigneJournal()">Enregistrer</button>
</mat-dialog-actions>
