
<mat-dialog-content >
    
          <div>
                  
                  <div class="row">
                          <div class="col-sm-12">
                                  
                          <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                          </div>
                  </div>
                       <div class="row">
                                        <div class="col-sm-6">
                   <mat-form-field [color]="red" style="width:100%">
                           <input matInput placeholder="Code"  [(ngModel)] ="paiementReleveProduction.code">
                   </mat-form-field>
                                      </div>
                           <div  class="col-sm-6">
                   <mat-form-field style="width:100%">
                   <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Payement" [(ngModel)]="paiementReleveProduction.dateOperationObject">
                                                   <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                  <mat-datepicker #pickerDateOperation></mat-datepicker>
                            </mat-form-field>     
                                        </div>
                       </div>
                       <div class="row">
  
                          <div  class="col-sm-12">
                                  <mat-form-field [color]="red" style="width:100%">
                                          <input matInput placeholder="Montant Payé" [(ngModel)] ="paiementReleveProduction.montantPaye" >
                                      </mat-form-field>
                  </div>
  
                       </div>
                       <div class="row" >
           
                               <div class="col-sm-12">
                                          <mat-form-field [color]="red" style="width:100%">
                                                          
                                  <mat-select placeholder="Mode Payement" 
                                  [(ngModel)]="paiementReleveProduction.modePayement" [value]="Espece">
                                          <mat-option value="Espece">
                                                  Espèce
                                          </mat-option>
                                          <mat-option value="Cheque">
                                                  Chèque
                                           </mat-option>
                                           <mat-option value="Virement">
                                                 Virement
                                           </mat-option>
                                  </mat-select>
                          </mat-form-field>
                          
                                </div>
                            
                            </div>
       
                            <div class="row" *ngIf="paiementReleveProduction.modePayement==='Cheque'" >
                                  
                           <div class="col-sm-6">
                                  <mat-form-field [color]="red" style="width:100%">
                                  <input matInput placeholder="N°Chèque" [(ngModel)] ="paiementReleveProduction.numeroCheque" >
                                   </mat-form-field>
                                             
                                  </div>
                          <div class="col-sm-6" >
                                  <mat-form-field style="width:100%">
                          <input matInput [matDatepicker]="pickerDateCheque" placeholder=" Date Vir.Chèque" [(ngModel)]="paiementReleveProduction.dateChequeObject">
                           <mat-datepicker-toggle matSuffix [for]="pickerDateCheque" touchUi #pickerDateCheque ></mat-datepicker-toggle>
                          <mat-datepicker #pickerDateCheque></mat-datepicker>
                          </mat-form-field>            
                                 
                            </div>
                          </div>
                          <div class="row" *ngIf="paiementReleveProduction.modePayement==='Cheque' ||
                          paiementReleveProduction.modePayement==='Virement' " >
                                  
                                   <div class="col-sm-6">
                                   <mat-form-field [color]="red" style="width:100%">
                                          <input matInput placeholder="N°Compte" [(ngModel)] ="paiementReleveProduction.compte" >
                          </mat-form-field>
                                             
                                  </div>
                                   <div class="col-sm-6">
                                          <mat-form-field [color]="red" style="width:100%">
                                                  <input matInput placeholder="N°Compte Adv." [(ngModel)] ="paiementReleveProduction.compteAdversaire" >
                                  </mat-form-field>                     
                                               
                                  </div>
                          </div>
                          <div class="row"  *ngIf="paiementReleveProduction.modePayement==='Cheque' ||
                          paiementReleveProduction.modePayement==='Virement' ">
                                  
                                   <div class="col-sm-6">
                                   <mat-form-field [color]="red" style="width:100%">
                                          <input matInput placeholder="Banque" [(ngModel)] ="paiementReleveProduction.banque" >
                          </mat-form-field>
                                             
                                  </div>
                                   <div class="col-sm-6">
                                          <mat-form-field [color]="red" style="width:100%">
                                                  <input matInput placeholder="Banque Adv." [(ngModel)] ="paiementReleveProduction.banqueAdversaire" >
                                  </mat-form-field>                     
                                               
                                  </div>
                          </div>
                          <div class="row" >
                                  
                                   <div class="col-sm-12">
                                   <mat-form-field [color]="red" style="width:100%">
                                          <input matInput placeholder="Déscription" [(ngModel)] ="paiementReleveProduction.description" >
                          </mat-form-field>
                                             
                                  </div>
                                 
                          </div>       </div>
   
  </mat-dialog-content>
  
  <mat-dialog-actions>
          
      <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="savePaiementReleveProduction()">Enregistrer</button>
  </mat-dialog-actions>
  