<div [hidden]="!saveEnCours" class="row">
    <mat-progress-bar 
    color="primary"
    mode="indeterminate"
    value="50"
    >
</mat-progress-bar>
</div>
<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridCredits()"   class="pull-left" mat-mini-fab color="primary">
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px; " (click)="saveCredit();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>
              
              
              </div>

<div class="row" >
        <div class="col-sm-4">
<mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Crédit" [(ngModel)]="credit.numeroCreditVente">
</mat-form-field>
      </div>
      <div class="col-sm-4">
    <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder="Date d'opération" [(ngModel)]="credit.dateOperationObject">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     </div>
   </div>

    <div class="row">
            <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%">
                <input matInput type="number" placeholder="Valeur à Payer" 
                [(ngModel)] ="credit.montantAPayer" >
                </mat-form-field>
           </div>
           <div class="col-sm-8">
        <mat-form-field [color]="red" style="width:100%">
                        <input matInput placeholder="Motif" [(ngModel)] ="credit.descriptionEchange" >
                        
                         </mat-form-field>
         </div>
       
     </div>
          
<div class="row" >
        <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%" >
                    <input matInput type="number" placeholder="Nombre de tranches" [(ngModel)] ="credit.nbreTranches"
                     >
                 </mat-form-field>
    </div>
        <div class="col-sm-4" >
            <mat-form-field [color]="red" style="width:100%"  >
                
                <mat-select placeholder="Tranche Par" [(ngModel)]="credit.periodTranche">
                          <mat-option *ngFor="let periode of periodesCreditsVentes" [value]="periode.value">
                            {{ periode.viewValue }}
                     </mat-option>
                </mat-select>
            </mat-form-field>
    </div>
    <div class="col-sm-4">
            <mat-form-field style="width:100%">
                <input matInput [matDatepicker]="picker2" placeholder=" Date Début" [(ngModel)]="credit.dateDebutPayementObject">
                <mat-datepicker-toggle matSuffix [for]="picker2" touchUi #picker2 ></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
    </div>

    
        </div>

<!-- client !-->

<div class="row">
                <div class='col-sm-4'>
                        <mat-form-field style="width:88%" >
                                <input type="text"      placeholder="Select Cin" aria-label="Number" [(ngModel)]="credit.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                                <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                  <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                                    {{cin}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                              <button mat-mini-fab (click)="addClientParticulier()" >+</button>
                </div> 
                <div class='col-sm-4'>
                        <mat-form-field style="width:100%">
                                <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="credit.client.nom"  matInput  [matAutocomplete]="auto2">
                               <!-- <mat-autocomplete name ="nomAutoComplete" #auto2="matAutocomplete">
                                  <mat-option *ngFor="let nom of creditFilter.getFiltredNoms() | async" [value]="nom"  >
                                    {{nom}}
                                  </mat-option>
                                </mat-autocomplete>-->
                              </mat-form-field>
                </div> 
                <div class='col-sm-4'>
                        <mat-form-field style="width:100%">
                                <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="credit.client.prenom"  [matAutocomplete]="auto3">
                                <!--<mat-autocomplete name ="prenomAutoComplete" #auto3="matAutocomplete">
                                  <mat-option *ngFor="let prenom of creditFilter.getFiltredPrenoms() | async" [value]="prenom">
                                    {{prenom}}
                                  </mat-option>
                                </mat-autocomplete>-->
                              </mat-form-field>
                </div>
</div>

                <div class="row" >
                                <div class='col-sm-4'>
                                        <mat-form-field style="width:88%">
                                                <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="credit.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                                                <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                                                  <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                                                    {{registreCommerce}}
                                                  </mat-option>
                                                </mat-autocomplete>
                                              </mat-form-field>
                                          <button mat-mini-fab (click)="addClientEntreprise()" >+</button>
                                              
                                </div> 
                                <div class='col-sm-4'>
                                        <mat-form-field style="width:100%">
                                                <input type="text" placeholder="Matricule" aria-label="Number" matInput readonly [(ngModel)]="credit.client.matriculeFiscale" [matAutocomplete]="auto5">
                                             
                                              </mat-form-field>
                                </div>
                                <div class='col-sm-4'>
                                                <mat-form-field style="width:100%">
                                                        <input type="text" placeholder="Raison sociale" aria-label="Number" readonly matInput [(ngModel)]="credit.client.raisonSociale" [matAutocomplete]="auto5">
                                                      
                                                      </mat-form-field>
                                        </div>
                        </div>
         <div class="row" >
                          <div class='col-sm-12'>
                              <mat-form-field [color]="red" style="width:100%" >
                                  
                                  <mat-select placeholder="Etat"  [(ngModel)]="credit.etat">
                                      <mat-option *ngFor="let etat of etatsCredits" [value]="etat.value">
                                             {{ etat.viewValue }}
                                      </mat-option>
                                  
                              </mat-select>
                              </mat-form-field>
                          </div>
                                                          
     </div>