<mat-accordion>
        <mat-expansion-panel #panelTranche (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filtrer par 
            </mat-panel-title>
            <mat-panel-description>
             Spécifier les filtres à appliquer sur la liste des crédits 
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <!--PANEL 1 CATEGORY -->
        
        <mat-expansion-panel >
    <mat-expansion-panel-header>
    <mat-panel-title>
        Categorie
    </mat-panel-title>
    <mat-panel-description>
        Spécifier la catégorie : Entreprise /Particulier
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
            <mat-select placeholder="Categorie" (selectionChange)=" show();" [(ngModel)]="categorySelected">
            <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
            </mat-option>
            </mat-select>
            </mat-form-field>
            <button mat-mini-fab   style="height:40px"    (click)="applyFilter()">
              <mat-icon >
              </mat-icon>
              OK
              </button>
    </mat-expansion-panel>

<!--PANEL 2 CARTE IDENTITE -->

    <mat-expansion-panel id ="panelPersonnePhysique"  (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
    <mat-panel-title>Identité
    </mat-panel-title>
    <mat-panel-description>
        Infos Carte Identité
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
            <mat-form-field >
                    <input type="text" [readonly] ="categorySelected ==='PERSONNE_MORALE'" placeholder="Select Cin" aria-label="Number" [(ngModel)]="creditFilter.selectedCin" matInput [formControl]="creditFilter.getControlCins()" [matAutocomplete]="auto1">
                    <mat-autocomplete name ="cinAutoComplete" #auto1="matAutocomplete">
                      <mat-option *ngFor="let cin of creditFilter.getFiltredCins() | async" [value]="cin">
                        {{cin}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    </div>
         <div  class="row">
            <mat-form-field >
                    <input type="text" placeholder="Select Nom" [readonly] ="categorySelected ==='PERSONNE_MORALE'" aria-label="Number" [(ngModel)]="creditFilter.selectedNom"  matInput [formControl]="creditFilter.getControlNoms()" [matAutocomplete]="auto2">
                    <mat-autocomplete name ="nomAutoComplete" #auto2="matAutocomplete">
                      <mat-option *ngFor="let nom of creditFilter.getFiltredNoms() | async" [value]="nom"  >
                        {{nom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
         </div>
         <div class="row">
            <mat-form-field >
                    <input type="text" placeholder="Select Prénom" [readonly] ="categorySelected ==='PERSONNE_MORALE'" aria-label="Number" matInput [(ngModel)]="creditFilter.selectedPrenom" [formControl]="creditFilter.getControlPrenoms()" [matAutocomplete]="auto3">
                    <mat-autocomplete name ="prenomAutoComplete" #auto3="matAutocomplete">
                      <mat-option *ngFor="let prenom of creditFilter.getFiltredPrenoms() | async" [value]="prenom">
                        {{prenom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
         </div>
         <div class="row">
                  <mat-form-field >                        
                  <input type="text" placeholder="Select Adresse" [readonly] ="categorySelected ==='PERSONNE_MORALE'" aria-label="Number" matInput [(ngModel)]="creditFilter.selectedAdresse" [formControl]="creditFilter.getControlAdresses()" [matAutocomplete]="auto3">
                  <mat-autocomplete name ="prenomAutoComplete" #auto3="matAutocomplete">
                    <mat-option *ngFor="let adresse of creditFilter.getFiltredAdresses() | async" [value]="adresse">
                      {{adresse}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
                <button mat-mini-fab   style="height:40px"    (click)="applyFilter()">
                        <mat-icon >
                        </mat-icon>
                        OK
                        </button>
    </mat-expansion-panel>
<!--PANEL 3 Registre commerciale -->
<mat-expansion-panel id="panelPersonneMorale"    (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>Registre Commerciale
</mat-panel-title>
<mat-panel-description>
    Infos Registre Commerciale
</mat-panel-description>
</mat-expansion-panel-header>
<div class="row">
        <mat-form-field >
                <input type="text" placeholder="Select Raison sociale" [readonly] ="categorySelected ==='PERSONNE_PHYSIQUE'" aria-label="Number" [(ngModel)]="creditFilter.selectedRaisonSociale" matInput [formControl]="creditFilter.getControlRaisonSociale()" [matAutocomplete]="auto4">
                <mat-autocomplete name ="raisonAutoComplete" #auto4="matAutocomplete">
                  <mat-option *ngFor="let raisonSociale of creditFilter.getFiltredRaisonsSociales() | async" [value]="raisonSociale">
                    {{raisonSociale}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
</div>
<div class="row">

        <mat-form-field >
                <input type="text" placeholder="Select Matricule" [readonly] ="categorySelected ==='PERSONNE_PHYSIQUE'" aria-label="Number" matInput [(ngModel)]="creditFilter.selectedMatriculeFiscale" [formControl]="creditFilter.getControlMatriculeFiscale()" [matAutocomplete]="auto5">
                <mat-autocomplete name ="matriculeAutoComplete" #auto5="matAutocomplete">
                  <mat-option *ngFor="let matricule of creditFilter.getFiltredMatriculesFiscales() | async" [value]="matricule">
                    {{matricule}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
</div>
              <button mat-mini-fab   style="height:40px"    (click)="applyFilter()">
                    ok
                    </button>
</mat-expansion-panel>

  
   
        </mat-expansion-panel>
        
      </mat-accordion>
    