<button style="margin-left:0px" (click)="showAddTrancheDialog();"   class="pull-left" mat-mini-fab  >
        
        
                        <mat-icon>add</mat-icon> 
                        
    </button>
    <button style="margin-left:20px" (click)="showEditTrancheDialog();"  mat-mini-fab  >
        
        
                        <mat-icon   >edit</mat-icon> 
                        
    </button>
    <button style="margin-left:20px" (click)="refresh();"  mat-mini-fab  >
      
      
                      <mat-icon   >refresh</mat-icon>
                      
  </button>
  <button style="margin-left:20px; background-color: grey;" (click)="history();"  mat-mini-fab >
        
        
                        <mat-icon   >history</mat-icon>
                        
    </button>
  
    <button (click)="supprimerTranches();"  class="pull-right" mat-mini-fab >
      
      
                      <mat-icon   >delete</mat-icon>
                      
  </button>
  <button style="margin-right:20px;" class="pull-right" (click)="search();"  mat-mini-fab   >
      
      
                      <mat-icon   >search</mat-icon>
                      
  </button>
      
    <div class="row">
    <mat-form-field style="margin-top:12px;width:100%">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataTranchesCreditsSource"  matSort style="width:100%;" >
    
    
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let trancheCredit"> {{trancheCredit[columnDef.name]}} </td>
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>  

