<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button (click)="loadGridOperationsCourantes()"   class="pull-left"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>arrow_back</mat-icon>
                            
     </button>
    <button style="margin-left:30px" (click)="updateOperationCourante();"    mat-mini-fab color="primary"  >
        
        
                        <mat-icon>done </mat-icon> 
                        
    </button>
  </div>



  <mat-accordion style="width:100%">
      <mat-expansion-panel #firstMatExpansionPanel >
        <mat-expansion-panel-header>
          <mat-panel-title>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" >

        <div class="col-sm-4">
      <mat-form-field [color]="red" style="width:100%">
        <input matInput placeholder="N°Opér." readonly    [(ngModel)]="operationCourante.numeroOperationCourante">
        
        </mat-form-field>
       </div>
       <div class="col-sm-4">
        <mat-form-field [color]="red" style="width:100%">
            <input matInput [matDatepicker]="picker1" placeholder="Date Opération" [(ngModel)]="operationCourante.dateOperationObject">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
         </div>
     
     <div class="col-sm-4">
      <mat-form-field [color]="red" style="width:100%" >
          
          <mat-select placeholder="Type"  readonly [(ngModel)]="operationCourante.type">
              <mat-option *ngFor="let type of typesOperationCourante" [value]="type.value">
                     {{ type.viewValue }}
              </mat-option>
          
      </mat-select>
      </mat-form-field>
     </div>

        </div>
        <div class="row">
          
            <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Valeur"  type="number"  [(ngModel)]="operationCourante.valeurFinanciere">
                  
                  </mat-form-field>
             </div>
             <div class="col-sm-4">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Bénéfice" type="number"
                   [(ngModel)]="operationCourante.valeurBenefice">
                  
                  </mat-form-field>
             </div>
        <div class="col-sm-4">
          <mat-form-field [color]="red" style="width:100%" >
              
              <mat-select placeholder="Mode Paiement"  [(ngModel)]="operationCourante.modePaiement">
                  <mat-option *ngFor="let mode of payementModes" [value]="mode.value">
                         {{ mode.viewValue }}
                  </mat-option>
              
          </mat-select>
          </mat-form-field>
         </div>
        </div>
  <div class="row" >
      <div class='col-sm-12'>
          <mat-form-field [color]="red" style="width:100%" >
              
              <mat-select placeholder="Etat"  [(ngModel)]="operationCourante.etat">
                  <mat-option *ngFor="let etat of etatsOperationCourante" [value]="etat.value">
                         {{ etat.viewValue }}
                  </mat-option>
              
          </mat-select>
          </mat-form-field>
      </div>
                                      
        </div>  
        <div class="row">
          <div  class="col-sm-6" *ngIf="operationCourante.type=='Ventes' ">
<mat-checkbox style="padding-right: 25px"[(ngModel)] ="operationCourante.livre" > 
     Marchandise(s) Livré(s)</mat-checkbox>
              
              </div>
              <div  class="col-sm-6" *ngIf="operationCourante.type=='Achats' " >
      <mat-checkbox style="padding-right: 25px"[(ngModel)] ="operationCourante.recu" >
        Marchandise(s)  Reçu(s)
           </mat-checkbox>
                  
   </div>
          </div>                
      </mat-expansion-panel>
      <mat-expansion-panel #intervenantsMatExpansionPanel (opened)="panelOpenState = true;"
      (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
<mat-expansion-panel-header>
<i class="fa fa-users" aria-hidden="true"></i> 
</mat-expansion-panel-header>

<button style="margin-left: 6px; background-color: white; border:none;"
(click)="activateSelectCIN()">
  
    <i class="fa fa-vcard" aria-hidden="true">
      CIN</i> 
    
  </button>
<button style="margin-left: 6px; background-color: white; border:none;"
(click)="activateSelectNom()"
>

  <i class="fa fa-user" aria-hidden="true">
    Nom</i> 
  
</button>
<button style="margin-left: 6px; background-color: white; border:none;"
(click)="activateSelectPrenom()">
    
      <i class="fa fa-user" aria-hidden="true">
        Prénom
      </i> 
      
    </button>
<button style="margin-left: 6px; background-color: white; border:none;"
(click)="activateAddClient()">
  
    <i class="fa fa-user-plus" aria-hidden="true"></i> 
    
  </button>

  <button style="margin-left: 6px;  background-color: white; border:none;"
  (click)="activateSelectRegistre()">
    
      <i class="fa fa-bank" 
      aria-hidden="true" >
      RG.COM.
      
      </i> 
      
    </button>
    <button style="margin-left: 6px; background-color: white; border:none;"
    (click)="activateSelectMatricule()">
        
          <i class="fa fa-bank" aria-hidden="true">
            MAT.FISC
            </i> 
          
        </button>
        <button style="margin-left: 6px; background-color: white; border:none;"
        (click)="activateSelectRaison()">
            
              <i class="fa fa-bank" aria-hidden="true">
                RS.SOC
                </i> 
              
            </button>
            <button style="margin-left: 6px; background-color: white; border:none;"
            (click)="activateAddEntreprise()">
                
                  <i class="fa fa-bank" aria-hidden="true">
                    +
                    </i> 
                  
                </button>




                
<div class="row" *ngIf="operationCourante.type ==='Ventes' && selectCin">
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="operationCourante.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                    <mat-autocomplete (optionSelected)="fillDataNomPrenomClient()" name ="cinAutoComplete" #auto1="matAutocomplete">
                      <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                        {{cin}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="operationCourante.client.nom"  matInput  [matAutocomplete]="auto2">
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%" >
                    <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="operationCourante.client.prenom"  [matAutocomplete]="auto3">
                  </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="operationCourante.type ==='Ventes' && selectNom">
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Select Nom" aria-label="string" [(ngModel)]="operationCourante.client.nom" matInput [formControl]="clientFilter.getControlNoms()" [matAutocomplete]="auto1N">
                    <mat-autocomplete (optionSelected)="fillDataCINPrenomClient()" name ="nomAutoComplete" #auto1N="matAutocomplete">
                      <mat-option *ngFor="let nom of clientFilter.getFiltredNoms() | async" [value]="nom">
                        {{nom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Prénom" aria-label="String" readonly [(ngModel)]="operationCourante.client.prenom"  matInput  [matAutocomplete]="auto1N">
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%" >
                    <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="operationCourante.client.cin"  [matAutocomplete]="auto1N">
                  </mat-form-field>
    </div>
  </div>


  <div class="row" *ngIf="operationCourante.type ==='Ventes' && selectPrenom">
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Select Prénom" aria-label="string" [(ngModel)]="operationCourante.client.prenom" matInput [formControl]="clientFilter.getControlPrenoms()" [matAutocomplete]="auto1P">
                    <mat-autocomplete (optionSelected)="fillDataCINNomClient()" name ="nomAutoComplete" #auto1P="matAutocomplete">
                      <mat-option *ngFor="let prenom of clientFilter.getFiltredPrenoms() | async" [value]="prenom">
                        {{prenom}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%">
                    <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="operationCourante.client.nom"  matInput  [matAutocomplete]="auto1P">
                  </mat-form-field>
    </div> 
    <div class='col-sm-4'>
            <mat-form-field  [color]="red" style="width:100%" >
                    <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="operationCourante.client.cin"  [matAutocomplete]="auto1P">
                  </mat-form-field>
    </div>
  </div>


  <div class="row" *ngIf="operationCourante.type ==='Ventes' && addClient">
      
  <div [hidden]="!saveClientEnCours" class="col-sm-10">
      <mat-progress-bar 
      color="primary"
      mode="indeterminate"
      value="50"
      >
      </mat-progress-bar>
  </div>
  </div>
  <div class="row" *ngIf="operationCourante.type ==='Ventes' && addClient">
      <div class='col-sm-4'>
          <mat-form-field  [color]="red" style="width:100%" >
              <input type="string" placeholder="CIN" aria-label="String"  [(ngModel)]="operationCourante.client.cin"  matInput  >
            </mat-form-field>
      </div> 
      <div class='col-sm-4'>
              <mat-form-field  [color]="red" style="width:100%" > 
                      <input type="text" placeholder="Nom" aria-label="String"  [(ngModel)]="operationCourante.client.nom"  matInput  >
                    </mat-form-field>
      </div> 
      <div class='col-sm-4'>
              <mat-form-field  [color]="red" style="width:100%" >
                      <input type="text" placeholder="Prénom" aria-label="String"  matInput [(ngModel)]="operationCourante.client.prenom"  >
                    </mat-form-field>
                  
      </div>
    </div>

    <div class="row" *ngIf="operationCourante.type ==='Ventes' && addClient">
      <div class='col-sm-12'>
          <button (click)="saveClient()"
          style="margin-left: 6px; background-color: white; border:none;">
              <mat-icon>done </mat-icon>
          </button>
      </div>
    </div>        

  <div class="row" *ngIf="operationCourante.type ==='Ventes' && selectRegistre ">
  <div class='col-sm-4'>
  <mat-form-field [color]="red" style="width:100%">
      <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="operationCourante.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
      <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaisonClient()" #auto14="matAutocomplete">
        <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
          {{registreCommerce}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div> 
  <div class='col-sm-4'>
  <mat-form-field [color]="red" style="width:100%">
      <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="operationCourante.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
    
    </mat-form-field>
  </div>
  <div class='col-sm-4'>
      <mat-form-field [color]="red" style="width:100%"
      >
              <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="operationCourante.client.raisonSociale" readonly [matAutocomplete]="auto5">
              
            </mat-form-field>
  </div>
  </div>  


  <div class="row" *ngIf="operationCourante.type ==='Ventes' && selectRaison ">
    <div class='col-sm-4'>
    <mat-form-field [color]="red" style="width:100%">
        <input type="text" placeholder=" Select R.SOC" aria-label="string" [(ngModel)]="operationCourante.client.raisonSociale" matInput [formControl]="clientFilter.getControlRaisonSociale()" [matAutocomplete]="auto15">
        <mat-autocomplete name ="raisonAutoComplete" (optionSelected)="fillDataMatriculeRegistreCommercial()" #auto15="matAutocomplete">
          <mat-option *ngFor="let raison of clientFilter.getFiltredRaisonsSociales() | async" [value]="raison">
            {{raison}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div> 
    <div class='col-sm-4'>
    <mat-form-field [color]="red" style="width:100%">
        <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="operationCourante.client.matriculeFiscale" readonly     [matAutocomplete]="auto15">
      
      </mat-form-field>
    </div>
    <div class='col-sm-4'>
        <mat-form-field [color]="red" style="width:100%"
        >
                <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="operationCourante.client.registreCommerce" readonly [matAutocomplete]="auto15">
                
              </mat-form-field>
    </div>
    </div>  

    <div class="row" *ngIf="operationCourante.type ==='Ventes' && selectMatricule ">
      <div class='col-sm-4'>
      <mat-form-field [color]="red" style="width:100%">
          <input type="text" placeholder=" Select Matricule Fisc." aria-label="string" [(ngModel)]="operationCourante.client.matriculeFiscale" matInput [formControl]="clientFilter.getControlMatriculeFiscale()" [matAutocomplete]="auto16">
          <mat-autocomplete name ="matriculeAutoComplete" (optionSelected)="fillDataRegistreCommercialRaison()" #auto16="matAutocomplete">
            <mat-option *ngFor="let matricule of clientFilter.getFiltredMatriculesFiscales() | async" [value]="matricule">
              {{matricule}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div> 
      <div class='col-sm-4'>
      <mat-form-field [color]="red" style="width:100%">
          <input type="text" placeholder="R.SOC." aria-label="string" matInput [(ngModel)]="operationCourante.client.raisonSociale" readonly     [matAutocomplete]="auto16">
        
        </mat-form-field>
      </div>
      <div class='col-sm-4'>
          <mat-form-field [color]="red" style="width:100%"
          >
                  <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="operationCourante.client.registreCommerce" readonly [matAutocomplete]="auto16">
                  
                </mat-form-field>
      </div>
      </div>

  <div class="row" *ngIf="operationCourante.type ==='Ventes' && addEntreprise">
      
  <div [hidden]="!saveClientEnCours" class="col-sm-10">
      <mat-progress-bar 
      color="primary"
      mode="indeterminate"
      value="50"
      >
      </mat-progress-bar>
  </div>
  </div>
  <div class="row" *ngIf="operationCourante.type ==='Ventes' && addEntreprise ">
      <div class='col-sm-4'>
          <mat-form-field [color]="red" style="width:100%">
              <input type="text" placeholder="Registre Commercial"  matInput [(ngModel)]="operationCourante.client.registreCommerce" >
            
            </mat-form-field>
      </div> 
      <div class='col-sm-4'>
      <mat-form-field [color]="red" style="width:100%">
          <input type="text" placeholder="Matricule"  matInput [(ngModel)]="operationCourante.client.matriculeFiscale">
        
        </mat-form-field>
      </div>
      <div class='col-sm-4'>
          <mat-form-field [color]="red" style="width:100%"
          >
                  <input type="text" placeholder="Raison sociale"  matInput [(ngModel)]="operationCourante.client.raisonSociale" >
                  
                </mat-form-field>
               
      </div>
      </div>  
      <div class="row" *ngIf="operationCourante.type ==='Ventes' && addEntreprise">
          <div class='col-sm-12'>
              <button (click)="saveClient()" style="margin-left: 6px; background-color: white; border:none;">
                  <mat-icon>done </mat-icon>
              </button>
          </div>
        </div> 


        <!-- Le Cas Où Il s'agit d'une operation d'achats -->
        <div class="row" *ngIf="operationCourante.type ==='Achats' && selectCinF">
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="operationCourante.fournisseur.cin" matInput [formControl]="fournisseurFilter.getControlCins()" [matAutocomplete]="auto1F">
                          <mat-autocomplete (optionSelected)="fillDataNomPrenomFournisseur()" name ="cinAutoCompleteF" #auto1F="matAutocomplete">
                            <mat-option *ngFor="let cinF of fournisseurFilter.getFiltredCins() | async" [value]="cinF">
                              {{cinF}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="operationCourante.fournisseur.nom"  matInput  [matAutocomplete]="auto2F">
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%" >
                          <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="operationCourante.fournisseur.prenom"  [matAutocomplete]="auto3F">
                        </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="operationCourante.type ==='Achats' && selectNomF">
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Select Nom" aria-label="string" [(ngModel)]="operationCourante.fournisseur.nom" matInput [formControl]="fournisseurFilter.getControlNoms()" [matAutocomplete]="auto1NF">
                          <mat-autocomplete (optionSelected)="fillDataCINPrenomFournisseur()" name ="nomAutoCompleteF" #auto1NF="matAutocomplete">
                            <mat-option *ngFor="let nom of fournisseurFilter.getFiltredNoms() | async" [value]="nom">
                              {{nom}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Prénom" aria-label="String" readonly [(ngModel)]="operationCourante.fournisseur.prenom"  matInput  [matAutocomplete]="auto1NF">
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%" >
                          <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="operationCourante.fournisseur.cin"  [matAutocomplete]="auto1NF">
                        </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="operationCourante.type ==='Achats' && selectPrenomF">
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Select Prénom" aria-label="string" [(ngModel)]="operationCourante.fournisseur.prenom" matInput [formControl]="fournisseurFilter.getControlPrenoms()" [matAutocomplete]="auto1PF">
                          <mat-autocomplete (optionSelected)="fillDataCINNomFournisseur()" name ="nomAutoCompleteF" #auto1PF="matAutocomplete">
                            <mat-option *ngFor="let prenom of fournisseurFilter.getFiltredPrenoms() | async" [value]="prenom">
                              {{prenom}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%">
                          <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="operationCourante.fournisseur.nom"  matInput  [matAutocomplete]="auto1PF">
                        </mat-form-field>
          </div> 
          <div class='col-sm-4'>
                  <mat-form-field  [color]="red" style="width:100%" >
                          <input type="text" placeholder="CIN" aria-label="String" readonly matInput [(ngModel)]="operationCourante.fournisseur.cin"  [matAutocomplete]="auto1PF">
                        </mat-form-field>
          </div>
        </div>
    
      
        <div class="row" *ngIf="operationCourante.type ==='Achats' && addFournisseur">
            
        <div [hidden]="!saveFournisseurEnCours" class="col-sm-10">
            <mat-progress-bar 
            color="primary"
            mode="indeterminate"
            value="50"
            >
            </mat-progress-bar>
        </div>
        </div>
        <div class="row" *ngIf="operationCourante.type ==='Achats' && addFournisseur">
            <div class='col-sm-4'>
                <mat-form-field  [color]="red" style="width:100%" >
                    <input type="string" placeholder="CIN" aria-label="String" matInput [(ngModel)]="operationCourante.fournisseur.cin"    >
                  </mat-form-field>
            </div> 
            <div class='col-sm-4'>
                    <mat-form-field  [color]="red" style="width:100%" > 
                            <input type="text" placeholder="Nom" aria-label="String"  matInput [(ngModel)]="operationCourante.fournisseur.nom"    >
                          </mat-form-field>
            </div> 
            <div class='col-sm-4'>
                    <mat-form-field  [color]="red" style="width:100%" >
                            <input type="text" placeholder="Prénom" aria-label="String"  matInput [(ngModel)]="operationCourante.fournisseur.prenom"  >
                          </mat-form-field>
                        
            </div>
          </div>
      
          <div class="row" *ngIf="operationCourante.type ==='Achats' && addFournisseur">
            <div class='col-sm-12'>
                <button (click)="saveFournisseur()"
                style="margin-left: 6px; background-color: white; border:none;">
                    <mat-icon>done </mat-icon>
                </button>
            </div>
          </div>        
        <div class="row" *ngIf="operationCourante.type ==='Achats' && selectRegistreF ">
        <div class='col-sm-4'>
        <mat-form-field [color]="red" style="width:100%">
            <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="operationCourante.fournisseur.registreCommerce" matInput [formControl]="fournisseurFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14F">
            <mat-autocomplete name ="registreAutoCompleteF" (optionSelected)="fillDataMatriculeRaisonFournisseur()" #auto14F="matAutocomplete">
              <mat-option *ngFor="let registreCommerce of fournisseurFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                {{registreCommerce}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div> 
        <div class='col-sm-4'>
        <mat-form-field [color]="red" style="width:100%">
            <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="operationCourante.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto14F">
          
          </mat-form-field>
        </div>
        <div class='col-sm-4'>
            <mat-form-field [color]="red" style="width:100%"
            >
                    <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="operationCourante.fournisseur.raisonSociale" readonly [matAutocomplete]="auto14F">
                    
                  </mat-form-field>
        </div>
        </div>  
        <div class="row" *ngIf="operationCourante.type ==='Achats' && selectRaisonF ">
          <div class='col-sm-4'>
          <mat-form-field [color]="red" style="width:100%">
              <input type="text" placeholder=" Select R.SOC" aria-label="string" [(ngModel)]="operationCourante.fournisseur.raisonSociale" matInput [formControl]="fournisseurFilter.getControlRaisonSociale()" [matAutocomplete]="auto15F">
              <mat-autocomplete name ="raisonAutoCompleteF" (optionSelected)="fillDataMatriculeRegistreCommercialF()" #auto15F="matAutocomplete">
                <mat-option *ngFor="let raison of fournisseurFilter.getFiltredRaisonsSociales() | async" [value]="raison">
                  {{raison}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div> 
          <div class='col-sm-4'>
          <mat-form-field [color]="red" style="width:100%">
              <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="operationCourante.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto15F">
            
            </mat-form-field>
          </div>
          <div class='col-sm-4'>
              <mat-form-field [color]="red" style="width:100%"
              >
                      <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="operationCourante.fournisseur.registreCommerce" readonly [matAutocomplete]="auto15F">
                      
                    </mat-form-field>
          </div>
          </div>  
          <div class="row" *ngIf="operationCourante.type ==='Achats' && selectMatriculeF ">
            <div class='col-sm-4'>
            <mat-form-field [color]="red" style="width:100%">
                <input type="text" placeholder=" Select Matricule Fisc." aria-label="string" [(ngModel)]="operationCourante.fournisseur.matriculeFiscale" matInput [formControl]="fournisseurFilter.getControlMatriculeFiscale()" [matAutocomplete]="auto16F">
                <mat-autocomplete name ="matriculeAutoCompleteF" (optionSelected)="fillDataRegistreCommercialRaisonF()" #auto16F="matAutocomplete">
                  <mat-option *ngFor="let matricule of fournisseurFilter.getFiltredMatriculesFiscales() | async" [value]="matricule">
                    {{matricule}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div> 
            <div class='col-sm-4'>
            <mat-form-field [color]="red" style="width:100%">
                <input type="text" placeholder="R.SOC." aria-label="string" matInput [(ngModel)]="operationCourante.fournisseur.raisonSociale" readonly     [matAutocomplete]="auto16F">
              
              </mat-form-field>
            </div>
            <div class='col-sm-4'>
                <mat-form-field [color]="red" style="width:100%"
                >
                        <input type="text" placeholder="Reg.Com." aria-label="Number" matInput [(ngModel)]="operationCourante.fournisseur.registreCommerce" readonly [matAutocomplete]="auto16F">
                        
                      </mat-form-field>
            </div>
            </div>
      
        <div class="row" *ngIf="operationCourante.type ==='Achats' && addEntrepriseF">
            
        <div [hidden]="!saveFournisseurEnCours" class="col-sm-10">
            <mat-progress-bar 
            color="primary"
            mode="indeterminate"
            value="50"
            >
            </mat-progress-bar>
        </div>
        </div>
        <div class="row" *ngIf="operationCourante.type ==='Achats' && addEntrepriseF ">
            <div class='col-sm-4'>
                <mat-form-field [color]="red" style="width:100%">
                    <input type="text" placeholder="Registre Commercial"  matInput [(ngModel)]="operationCourante.fournisseur.registreCommerce" >
                  
                  </mat-form-field>
            </div> 
            <div class='col-sm-4'>
            <mat-form-field [color]="red" style="width:100%">
                <input type="text" placeholder="Matricule"  matInput [(ngModel)]="operationCourante.fournisseur.matriculeFiscale">
              
              </mat-form-field>
            </div>
            <div class='col-sm-4'>
                <mat-form-field [color]="red" style="width:100%"
                >
                        <input type="text" placeholder="Raison sociale"  matInput [(ngModel)]="operationCourante.fournisseur.raisonSociale" >
                        
                      </mat-form-field>
                     
            </div>
            </div>  
            <div class="row" *ngIf="operationCourante.type ==='Achats' && addEntrepriseF">
                <div class='col-sm-12'>
                    <button (click)="saveFournisseur()" style="margin-left: 6px; background-color: white; border:none;">
                        <mat-icon>done </mat-icon>
                    </button>
                </div>
              </div> 
          













      </mat-expansion-panel>

      <mat-expansion-panel #selectArticlesMatExpansionPanel (opened)="panelOpenState = true;"
                           (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
    <mat-expansion-panel-header>
       <i class="fa fa-article" aria-hidden="true"></i> 
    </mat-expansion-panel-header>

      <div  class="row">
    <div  class="col-sm-12">
        <p-pickList 
        [source]="sourceListArticles" 
        (onMoveToTarget)=  "generateLignesOperationCourante()"
        (onMoveToSource) = "removeLigneOperationCourante()"
        (onMoveAllToSource) = "removeAllLignesOperationsCourantes()"
        [responsive]="true" [target]="targetListArticles" 
        sourceHeader="Articles Disponibles" 
        targetHeader="Articles Séléctionnés">
                         <ng-template let-article pTemplate="item">
                        <div class="">
                  <div >
                      
<img *ngIf="article.imageFace1 !== 'undefined'" [src]="article.imageFace1" style="max-width: 100px ; max-height: 100px;   image-orientation : from-image;"/>       
     {{article.code}}-{{article.libelle}}
                  
                  
                  
                  
                  </div>
                                        </div>
                        </ng-template>     
             </p-pickList>                             
    
    </div>
                  </div>
            
   </mat-expansion-panel>
        <mat-expansion-panel #listLignesMatExpansionPanel 
            (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
           <mat-expansion-panel-header>
             <mat-panel-title>
             </mat-panel-title>
             <mat-panel-description>
             </mat-panel-description>
           </mat-expansion-panel-header>

<div class="row" *ngFor="let ligne of operationCourante.lignesOperationCourante;let i = index">
  <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
<input type="text" placeholder="Article" readonly matInput ngModel="{{operationCourante.lignesOperationCourante[i].codeArticle}}-{{operationCourante.lignesOperationCourante[i].libelleArticle}}
">
    
    </mat-form-field>
  </div>
  <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
      <input type="number" (change)="calculPrixTotal(i)" placeholder="Quantité" matInput [(ngModel)]="operationCourante.lignesOperationCourante[i].quantite">
                 
        </mat-form-field>
  </div>
  <div class="col-sm-4">
    <mat-form-field [color]="red" style="width:100%">
      <input type="number" placeholder="Prix Total(DT)"  matInput [(ngModel)]="operationCourante.lignesOperationCourante[i].prixTotal">
                 
        </mat-form-field>
  </div>
</div>


            </mat-expansion-panel>














        <mat-expansion-panel #paiementDataMatExpansionPanel 
         (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="operationCourante.modePaiement=='Cheque' " >
              <div class="col-sm-6">
                      
                        <mat-form-field [color]="red" style="width:100%">
                          <input matInput placeholder="N°Chèque"  [(ngModel)] ="operationCourante.payementData.numeroCheque" >
                                  
                            </mat-form-field>
      
          </div>
          <div class="col-sm-6">
              <mat-form-field [color]="red" style="width:100%">
       <input matInput [matDatepicker]="picker10" placeholder="Date Virement" [(ngModel)]="operationCourante.payementData.dateVirementChequeObject">
                  <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
                  <mat-datepicker #picker10></mat-datepicker>
                </mat-form-field>
         </div>
     
 
        </div>

<div class="row" *ngIf="operationCourante.modePaiement=='Credit_Comptant' ">
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
          
<input matInput placeholder="Montant Comptant"  [(ngModel)] ="operationCourante.payementData.montantComptant" >
          
      </mat-form-field>
  </div>
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
         <input matInput  placeholder="Montant Crédit" [(ngModel)]="operationCourante.payementData.montantCredit">
  
            </mat-form-field>  
          
  </div>                     
</div>
<div class="row" *ngIf="operationCourante.modePaiement=='Credit_Avance' ">
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
          
<input matInput placeholder="Montant Crédit"  [(ngModel)] ="operationCourante.payementData.montantCredit" >
          
      </mat-form-field>
  </div>
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
         <input matInput  placeholder="Montant Avance" [(ngModel)]="operationCourante.payementData.aCompte">
  
            </mat-form-field>  
          
  </div>                     
</div>
<div class="row" *ngIf="operationCourante.modePaiement=='Comptant_Avance' ">
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
          
<input matInput placeholder="Comptant"  [(ngModel)] ="operationCourante.payementData.montantComptant" >
          
      </mat-form-field>
  </div>
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
         <input matInput  placeholder="Avance" [(ngModel)]="operationCourante.payementData.aCompte">
  
            </mat-form-field>  
          
  </div>                     
</div>

<div class="row" *ngIf="operationCourante.modePaiement=='Comptant_Cheque' ">
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
          
<input matInput placeholder="Comptant"  [(ngModel)] ="operationCourante.payementData.montantComptant" >
          
      </mat-form-field>
  </div>
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
         <input matInput  placeholder="Montant Chèque" [(ngModel)]="operationCourante.payementData.montantCheque">
  
            </mat-form-field>  
          
  </div>                     
</div>
<div class="row" *ngIf="operationCourante.modePaiement=='Comptant_Cheque' " >
  <div class="col-sm-6">
          
            <mat-form-field [color]="red" style="width:100%">
              <input matInput placeholder="N°Chèque"  [(ngModel)] ="operationCourante.payementData.numeroCheque" >
                      
                </mat-form-field>

</div>
<div class="col-sm-6">
  <mat-form-field [color]="red" style="width:100%">
<input matInput [matDatepicker]="picker10" placeholder="Date Virement" [(ngModel)]="operationCourante.payementData.dateVirementChequeObject">
      <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
      <mat-datepicker #picker10></mat-datepicker>
    </mat-form-field>
</div>
</div>

<div class="row" *ngIf="operationCourante.modePaiement=='Credit_Cheque' ">
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
          
<input matInput placeholder="Crédit"  [(ngModel)] ="operationCourante.payementData.montantCredit" >
          
      </mat-form-field>
  </div>
  <div class='col-sm-6'>
      <mat-form-field [color]="red" style="width:100%" >
         <input matInput  placeholder="Montant Chèque" [(ngModel)]="operationCourante.payementData.montantCheque">
  
            </mat-form-field>  
          
  </div>                     
</div>
<div class="row" *ngIf="operationCourante.modePaiement=='Credit_Cheque' " >
  <div class="col-sm-6">
          
            <mat-form-field [color]="red" style="width:100%">
              <input matInput placeholder="N°Chèque"  [(ngModel)] ="operationCourante.payementData.numeroCheque" >
                      
                </mat-form-field>

</div>
<div class="col-sm-6">
  <mat-form-field [color]="red" style="width:100%">
<input matInput [matDatepicker]="picker10" placeholder="Date Virement" [(ngModel)]="operationCourante.payementData.dateVirementChequeObject">
      <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
      <mat-datepicker #picker10></mat-datepicker>
    </mat-form-field>
</div>


</div>

















      </mat-expansion-panel>

    </mat-accordion>






              