<div [hidden]="!saveEnCours" class="row">
                <mat-progress-bar 
                color="primary"
                mode="indeterminate"
                value="50"
                >
            </mat-progress-bar>
 </div>
<mat-dialog-content >
  
        <div>
                
                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="N°Ligne"  [(ngModel)] ="ligneFactureAchats.numeroLigneFactureAchats">
                 </mat-form-field>
                                    </div>
                         <div  class="col-sm-6">
                                <mat-form-field>
                                        <mat-select  [(value)]="ligne.article.code">
                                          <mat-option *ngFor=" let code of listCodesArticles" 
                                          [value]="code" >{{ code }} </mat-option>
                                        </mat-select>
                                      </mat-form-field>
                        <mat-form-field>
                                        <mat-select  [(value)]="ligne.unMesure.code">
                                          <mat-option *ngFor=" let code of listCodesUnMesures" 
                                          [value]="code" >{{ code }} </mat-option>
                                        </mat-select>
                        </mat-form-field>
                                      
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6">
   <mat-form-field [color]="red" style="width:100%">
           <input matInput placeholder="Libéllé"   readonly          [(ngModel)] ="ligneFactureAchats.article.libelle">
   </mat-form-field>
                      </div>
           <div  class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                        <input matInput placeholder="Désignation" readonly [(ngModel)] ="ligneFactureAchats.article.designation">
                </mat-form-field>
                        
          </div>
       </div>
      
       <div class="row">
                <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
                <mat-select  [(value)]="ligne.magasin.code">
                                <mat-option *ngFor=" let code of listCodesMagasins" 
                                [value]="code" >{{ code }} </mat-option>
                              </mat-select>
</mat-form-field>
              </div>
   <div  class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Description" readonly [(ngModel)] ="ligneFactureAchats.magasin.description">
        </mat-form-field>
                
  </div>
</div>
                     <div class="row">

                        <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                
                                        <input matInput placeholder="Quantitié" [(ngModel)] ="ligneFactureAchats.quantite" >
                                    </mat-form-field>
                           </div>
                           <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Prix.Unit" [(ngModel)] ="ligneFactureAchats.prixUnitaire" >
                                    </mat-form-field>
                           </div>
                          

                     </div>

                     <div class="row">
                                <div  class="col-sm-12">
                                 <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="MontantHT" readonly [(ngModel)] ="ligneFactureAchats.montantHT" >
                                 </mat-form-field>
                        </div>      
                     </div>



                     <div class="row">
                                
                         <div  class="col-sm-6">
                                         <mat-form-field [color]="red" style="width:100%">
                                                
                                  <input matInput placeholder="%TVA" [(ngModel)] ="ligneFactureAchats.tva" >
                                 </mat-form-field>
                        </div>
                        <div  class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                 <input matInput placeholder="MontantTVA" readonly [(ngModel)] ="ligneFactureAchats.montantTVA" >
                                 </mat-form-field>
                         </div>
                                
                                
                          </div>

                          <div class="row">
                                        
                                 <div  class="col-sm-6">
                                                 <mat-form-field [color]="red" style="width:100%">
                                                        
                                          <input matInput placeholder="%Fodec" [(ngModel)] ="ligneFactureAchats.fodec" >
                                         </mat-form-field>
                                </div>
                                <div  class="col-sm-6">
                                         <mat-form-field [color]="red" style="width:100%">
                                         <input matInput placeholder="Montant Fodec" readonly [(ngModel)] ="ligneFactureAchats.montantFodec" >
                                         </mat-form-field>
                                 </div>
                                        
                                        
                                  </div>
                 <div class="row">
                                                
                                <div  class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                                                
                                <input matInput placeholder="%Autre Taxe 1" readonly [(ngModel)] ="ligneFactureAchats.otherTaxe1" >
                                </mat-form-field>
                                </div>
                                <div  class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                                 <input matInput  readonly  placeholder="Montant Autre Taxe 1" 
                                                 [(ngModel)] ="ligneFactureAchats.montantOtherTaxe1" >
                                </mat-form-field>
                                </div>
                                                
                                                
                 </div>

                 <div class="row">
                                
               <div  class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                                                
        <input matInput placeholder="%Autre Taxe 2" [(ngModel)] ="ligneFactureAchats.otherTaxe2" >
         </mat-form-field>
                </div>
                <div  class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%">
                                 <input matInput readonly placeholder="Montant Autre Taxe 2" 
                                 [(ngModel)] ="ligneFactureAchats.montantOtherTaxe2" >
        </mat-form-field>
                     </div>
                                
                                
                    </div>

                                  <div class="row">
                                                
                <div  class="col-sm-12">
                                 <mat-form-field [color]="red" style="width:100%">
                                                                
                        <input matInput placeholder="Montant TTC" readonly [(ngModel)] ="ligneFactureAchats.montantTTC" >
                         </mat-form-field>
                </div>
              
                                                
                                                
 </div>


 <div class="row">
                                                
                <div  class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                                                
                        <input matInput placeholder="%Remise" [(ngModel)] ="ligneFactureAchats.remise" >
                         </mat-form-field>
                </div>
                <div  class="col-sm-6">
                         <mat-form-field [color]="red" readonly style="width:100%">
                                                 <input matInput placeholder="Montant Remise" 
                                                 [(ngModel)] ="ligneFactureAchats.montantRemise" >
                        </mat-form-field>
                 </div>
                                                
                                                
 </div>

 <div class="row">
                
<div  class="col-sm-12">
 <mat-form-field [color]="red" style="width:100%">
                                
<input matInput placeholder="Montant à Payer" readonly         [(ngModel)] ="ligneFactureAchats.montantAPayer" >
</mat-form-field>
</div>             
</div>            

<div class="row">
                
<div  class="col-sm-6">
 <mat-form-field [color]="red" style="width:100%">
                                
<input matInput placeholder="%Benefice"   [(ngModel)] ="ligneFactureAchats.beneficeEstime" >
</mat-form-field>
</div>   
<div  class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                                               
               <input matInput placeholder="Montant Benefice"   [(ngModel)] ="ligneFactureAchats.montantBeneficeEstime" >
               </mat-form-field>
               </div>          
</div>  


        </div>

        <div class="row" >
                        <div class='col-sm-12'>
                                        <mat-form-field [color]="red" style="width:100%" >
                                                        
                                        <mat-select placeholder="Etat"  [(ngModel)]="ligneFactureAchats.etat">
                                                        <mat-option *ngFor="let etat of etatsLignes" [value]="etat.value">
                                                               {{ etat.viewValue }}
                                                        </mat-option>
                                                    
                                                </mat-select>
                                        </mat-form-field>
                        </div>
                                                        
                 </div>              
     
                         
                               
                         
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveLigneFactureAchats()">Enregistrer</button>
</mat-dialog-actions>
