
<mat-grid-list [cols]="nbreFiles">
    <mat-grid-tile colspan="1" rowspan="1" style.background="lightblue">

        <div class="row" >
            <div >
                <div style="float: left;">
                           <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                      
                       <button (click)="uploadFile(0)">
                                          <i class="material-icons">file_upload</i>
                                      </button>
                                      <button (click)="removeFile(0)">
                                          <i class="material-icons">delete</i>
                                      </button>
                                  </label>
                                      <div class="mdl-textfield mdl-js-textfield textfield-demo">
                                      <input id="file_input_file" class="file_input_text mdl-textfield__input"  placeholder="attacher un fichier "  type="file" 
                                      (change)="fileChanged($event)"
                                      />
                                      </div>
                                  <img [src]="filesData[0].dataUrl" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>
                                    
                      </div>
          
                                 <!-- <div  style="width: 200px;margin-top: -8px;margin-left: 5px;" class="mdl-textfield mdl-js-textfield textfield-demo">
                                    <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
                                    <label class="mdl-textfield__label" for="file_input_text"></label>
                                  </div>-->
                       </div>
          
          
       </div>
    
    
    
    
    
    </mat-grid-tile>
  </mat-grid-list>

