/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 janv. 2016, 17:23:31
    Author     : Hammadi
*/

section:hover { cursor: pointer; cursor: hand; background-color:#ccc}

.option {
    background-color: buttonface
}
input , input:focus
{
    border:0px;
    outline: 0 none;
}
section input:focus, section input[type]:focus, .uneditable-input:focus,section input {   
    border-color: white;
    box-shadow: 0 1px 1px white inset, 0 0 8px white;
    outline: 0 none;
    width: 100%;
    border:0px;
}
.section td {
    border:1px solid;
}