.vertical-menu {
    width: auto; /* Set a width if you like */
    /*background-color: #050110;*/
  }
  
  .vertical-menu a {
  /*  background-color: #eee; /* Grey background color */
  /* color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding-bottom: 30px; /* Add some padding */
    padding-top: 30px; /* Add some padding */
    padding-left: 2px; /* Add some padding */
    text-decoration : flex; /* Remove underline from links */
    font-size: 15px;
    
  }
 .SubMenu {
height: 80px;
 }
  .vertical-menu a:hover span {
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    
    
  }
  
  .vertical-menu a.active {
   /* background-color: #4CAF50; *//* Add a green color to the "active/current" link */
   /* color: white;*/
  }

  .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
th.mat-sort-header-sorted {
  color: black;
}
.snackBarClass {

  background: red;
  
}
.ui-picklist 
{
overflow: hidden;
}
.mat-tab-body-content
{
  overflow: hidden;
}




