
<div [hidden]="!saveEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>
<div class="row" style="height:40px;">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridFacturesAchats()"   class="pull-left"   mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
                <button style="margin-left:30px" (click)="saveFactureAchats();"    mat-mini-fab color="primary"  >
                    
                    
                                    <mat-icon>done </mat-icon> 
                                    
                </button>
              
           <!--   <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon   >delete</mat-icon><span > </span>
                                    
                </button>-->
              
              
              </div>


              <mat-accordion style="width:100%">
                <mat-expansion-panel #firstMatExpansionPanel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row" >
                   <!-- <div class="col-sm-4">
            <mat-form-field [color]="red">
                    <input matInput placeholder="Code" [(ngModel)]="factureVente.code">
            </mat-form-field>
                  </div>-->
                  <div class="col-sm-4">
                <mat-form-field>
                  <input matInput placeholder="N.Facture" [(ngModel)]="factureAchats.numeroFactureAchats">
                  
                  </mat-form-field>
                 </div>
                 <div class="col-sm-4">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker1" placeholder="Date d'Achats" [(ngModel)]="factureAchats.dateAchatsObject">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                   </div>
               
               <div class="col-sm-4">

               </div>
            <!---Identite Client -->
                  </div>
            <div class="row">
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="factureAchats.fournisseur.cin" matInput [formControl]="fournisseursFilter.getControlCins()" [matAutocomplete]="auto1">
                              <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                <mat-option *ngFor="let cin of fournisseursFilter.getFiltredCins() | async" [value]="cin">
                                  {{cin}}
                                </mat-option>
                              </mat-autocomplete>
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="factureAchats.fournisseur.nom"  matInput  [matAutocomplete]="auto2">
                            </mat-form-field>
              </div> 
              <div class='col-sm-4'>
                      <mat-form-field >
                              <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="factureAchats.fournisseur.prenom"  [matAutocomplete]="auto3">
                            </mat-form-field>
              </div>
            </div>
            <div class="row" >
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="factureAchats.fournisseur.registreCommerce" matInput [formControl]="fournisseursFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                  <mat-option *ngFor="let registreCommerce of fournisseursFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                    {{registreCommerce}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div> 
            <div class='col-sm-4'>
            <mat-form-field >
                <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="factureAchats.fournisseur.matriculeFiscale" readonly     [matAutocomplete]="auto5">
              
              </mat-form-field>
            </div>
            <div class='col-sm-4'>
                <mat-form-field >
                        <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="factureAchats.fournisseur.raisonSociale" readonly [matAutocomplete]="auto5">
                        
                      </mat-form-field>
            </div>
            </div>  
            <div class="row" >
                <div class='col-sm-12'>
                    <mat-form-field [color]="red" style="width:100%" >
                        
                        <mat-select placeholder="Etat"  [(ngModel)]="factureAchats.etat">
                            <mat-option *ngFor="let etat of etatsFactureAchats" [value]="etat.value">
                                   {{ etat.viewValue }}
                            </mat-option>
                        
                    </mat-select>
                    </mat-form-field>
                </div>
                                                
                  </div>                  
                </mat-expansion-panel>
                <mat-expansion-panel #manageLigneMatExpansionPanel (opened)="panelOpenState = true;"
                                     (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
              <mat-expansion-panel-header>
                 <i class="fa fa-pencil" aria-hidden="true"></i> 
              </mat-expansion-panel-header>
                          
              <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="N°"  [(ngModel)] ="managedLigneFactureAchats.numeroLigneFactureAchats" >
                  
                   </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            
                     <mat-form-field [color]="red" style="width:100%">

         <input type="text" placeholder="Code ART." aria-label="string" [(ngModel)]="managedLigneFactureAchats.article.code"
          matInput 
         [formControl]="articleFilter.getControlCodesArticles()" 
         [matAutocomplete]="autoCodeArticle">
         <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
           <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
             {{codeArticle}}
           </mat-option>
         </mat-autocomplete>
                    </mat-form-field>
                      </div>
                        <div class="col-sm-4">
                            
                     <mat-form-field [color]="red" style="width:100%">
                      <input matInput placeholder="Configuration"  [(ngModel)] ="managedLigneFactureAchats.article.configuration" >
                      
                       </mat-form-field>
                        </div>
                    </div>
                      </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            
                

             <mat-form-field [color]="red" style="width:100%">
                        
                          <input type="text" placeholder="Code MAG."  aria-label="string" [(ngModel)]="managedLigneFactureAchats.magasin.code"
                                                  matInput 
                                [formControl]="magasinFilter.getControlCodesMagasins()" 
                                       [matAutocomplete]="autoCodeMagasin">
                                 <mat-autocomplete name ="codeMagasin" (optionSelected)="fillDataLibelleMagasin()" #autoCodeMagasin="matAutocomplete">
                                        <mat-option *ngFor="let codeMagasin of magasinFilter.getFiltredCodesMagasins() | async" [value]="codeMagasin">
                                        {{codeMagasin}}
                                        </mat-option>
                                    </mat-autocomplete>
             </mat-form-field>

                    </div>
                    <div class="col-sm-4">
                        
                     <mat-form-field [color]="red" style="width:100%">
                      
    <input type="text" placeholder="Code UN.Mesures" aria-label="string"
     [(ngModel)]="managedLigneFactureAchats.unMesure.code"
                       matInput 
     [formControl]="unMesureFilter.getControlCodesUnMesures()" 
            [matAutocomplete]="autoCodeUnMesure">
      <mat-autocomplete name ="codeUnMesure" (optionSelected)="fillDataLibelleUnMesure()" #autoCodeUnMesure="matAutocomplete">
             <mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
             {{codeUnMesure}}
             </mat-option>
         </mat-autocomplete>
        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        
                  
                    </div>
                      
                        </div>
                    </div>

                </div>

                <div class="row">
                        <div class="col-sm-6">
                                <div class="row">
                                        <div class="col-sm-4">
                                                
                            <mat-form-field [color]="red" readonly style="width:100%">
                       <input matInput type="string" readonly placeholder="Libéllé" 
                        [(ngModel)] ="managedLigneFactureAchats.article.libelle" 
                        
                           >
                                                      
                            </mat-form-field>

                        </div>

                        <div class="col-sm-8">
                            <mat-form-field [color]="red"  style="width:100%">
                       <input matInput type="string" readonly placeholder="Désignation" 
                        [(ngModel)] ="managedLigneFactureAchats.article.designation" 
                        
                        >
                                                      
                            </mat-form-field>
                        
                        </div>
                                </div>
                    </div>
                    <div class="col-sm-6">
                         <div class="row">
                                <div class="col-sm-4">
                                        
                    <mat-form-field [color]="red"  style="width:100%">
               <input matInput type="string" readonly placeholder="Déscr.Mag." 
                [(ngModel)] ="managedLigneFactureAchats.magasin.description"   >
                    </mat-form-field>
                            </div>
                            <div class="col-sm-8">
                                    <mat-form-field [color]="red"    style="width:100%">
                               <input matInput type="string" readonly placeholder="Adresse MAG." 
                                [(ngModel)] ="managedLigneFactureAchats.magasin.adresse" 
                                
                                >
                                                              
                                    </mat-form-field>
                                
                                </div>
                    </div>
                    </div>
                    </div>
            




                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                   <input matInput type="number"  placeholder="Quantite" 
                                    [(ngModel)] ="managedLigneFactureAchats.quantite" 
                                    
                                       >
                                                                  
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                   <input matInput type="number" placeholder="Prix Unitaire" 
                                    [(ngModel)] ="managedLigneFactureAchats.prixUnitaire" 
                                    (blur)="calculMontantHT()" 
                                    >
                                                                  
                                        </mat-form-field>
                                    </div>
                                </div>




                             <div class="row">
                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-sm-6">
                                  <mat-form-field   [color]="red" style="width:100%">
                            <input type="number" (blur)="calculMontantTVA()"  matInput placeholder="%TVA"  [(ngModel)] ="managedLigneFactureAchats.tva" >
                                                  
                                  </mat-form-field>
                                          </div>
                                          <div class="col-sm-6">
                   <mat-form-field   [color]="red" style="width:100%">
                       <input type="number" matInput placeholder="Montant TVA" readonly [(ngModel)] ="managedLigneFactureAchats.montantTVA" >
                                                  
                            </mat-form-field>
                                            </div>
                                      </div>
                             </div>

                                  <div class="col-sm-6">
                                      <div class="row">
                                          <div class="col-sm-6">
                                  <mat-form-field [color]="red" style="width:100%">
                            <input matInput type="number" (blur)="calculMontantFodec()" placeholder="%Fodec"  [(ngModel)] ="managedLigneFactureAchats.fodec" >
                                                  
                                  </mat-form-field>
                                          </div>
                                          <div class="col-sm-6">
                   <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number" placeholder="Montant Fodec" readonly [(ngModel)] ="managedLigneFactureAchats.montantFodec" >
                                                  
                            </mat-form-field>
                                            </div>
                                      </div>
                             </div>
                             </div>


                             <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                          <input matInput type="number" (blur)="calculMontant3rdTaxe()"  placeholder="%3rdTaxe"  [(ngModel)] ="managedLigneFactureAchats.otherTaxe1" >
                                                
                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                     <input matInput type="number" placeholder="Montant 3rdTaxe" readonly [(ngModel)] ="managedLigneFactureAchats.montantOtherTaxe1" >
                                                
                          </mat-form-field>
                                          </div>
                                    </div>
                           </div>

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                          <input matInput type="number" (blur)="calculMontant4thTaxe()"  placeholder="%4thTaxe"  [(ngModel)] ="managedLigneFactureAchats.otherTaxe2" >
                                                
                                </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                     <input matInput type="number" placeholder="Montant 4th Taxe" readonly [(ngModel)] ="managedLigneFactureAchats.montantOtherTaxe2" >
                                                
                          </mat-form-field>
                                          </div>
                                    </div>
                           </div>
                           </div>

                           <div class="row">
                              <div class="col-sm-6">
                                  <div class="row">
                                      <div class="col-sm-6">
                                          
                                  <mat-form-field [color]="red" style="width:100%">
                                      <input type="number" matInput (blur)="claculMontantRemise()"  placeholder="%Remise"  [(ngModel)] ="managedLigneFactureAchats.remise" >
                                                            
                                  </mat-form-field>
                                      </div>
                                      <div class="col-sm-6">
                                          
                                  <mat-form-field [color]="red"   readonly        style="width:100%">
                                      <input type="number" matInput placeholder="Remise"  [(ngModel)] ="managedLigneFactureAchats.montantRemise" >
                                                            
                                  </mat-form-field>

                                      </div>
                              </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="row">
                                  <div class="col-sm-6">
                                      
                              <mat-form-field [color]="red" style="width:100%">
                                  <input type="number" (blur)="calculMontantBenefice()"  matInput placeholder="%Benef. Est."  [(ngModel)] ="managedLigneFactureAchats.beneficeEstime" >
                                                        
                              </mat-form-field>
                                  </div>
                                  <div class="col-sm-6">
                                      
                              <mat-form-field [color]="red"   readonly        style="width:100%">
                                  <input type="number" matInput placeholder="Benef.Est."  [(ngModel)] ="managedLigneFactureAchats.montantBeneficeEstime" >
                                                        
                              </mat-form-field>

                                  </div>
                                </div>
                              </div>
                           </div>
                           <div class="row">
                           <div class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                                  <input type="number" matInput placeholder="Montant HT" readonly [(ngModel)] ="managedLigneFactureAchats.montantHT" >
                                                        
                              </mat-form-field>
                           </div>
                           <div class="col-sm-6">
                              <mat-form-field [color]="red" style="width:100%">
                                  <input type="number" matInput placeholder="Montant TTC" readonly [(ngModel)] ="managedLigneFactureAchats.montantTTC" >
                                                        
                              </mat-form-field>
                           </div>
                           
                       </div>
        <div class="row">
                        <div class="col-sm-12">
                            
         <mat-form-field [color]="red" style="width:100%">
                            <input matInput placeholder="Montant A Payer" [(ngModel)] ="managedLigneFactureAchats.montantAPayer" >
                          
                             </mat-form-field>
        </div>

     </div>


                       <div class="row">
                        <div class="col-sm-12">
                            
                        <mat-form-field [color]="red" style="width:100%">
                            <input matInput placeholder="Déscription"  [(ngModel)] ="managedLigneFactureAchats.description" >
                          
                             </mat-form-field>
                        </div>

                       </div>
                       <div class="row" >
                                    <button style="margin-left:40px"  mat-button color="accent" (click)="addLigneFactureAchats();" >
                                    
                                    
                                                    <mat-icon>done </mat-icon> 
                                                    
                                </button>
                             


                       </div>
                      </mat-expansion-panel>
                      <mat-expansion-panel #listLignesMatExpansionPanel  (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
   <mat-expansion-panel-header>
        
      <i class="fa fa-table" aria-hidden="true"></i> 
      
   </mat-expansion-panel-header>

   <div class="row">
      <mat-form-field style="margin-top:12px;width:100%">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataLignesFactureAchatsSource"  matSort style="width:100%;" >
      
      
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
               <span style="color:blue"> Actions</span>
            </th>
            <td mat-cell *matCellDef="let row;"> 
                    <button (click)="deleteLigneFactureAchats(row)" mat-mini-fab color="warn">
                        <i class="fa fa-trash" ></i>                             
                      </button> 
            <button style="margin-left:5px" (click)="editLigneFactureAchats(row)" mat-mini-fab color="accent">
                <i class="fa fa-pencil" ></i>                                 
                </button> 
       
            </td>
           
          </ng-container>
         
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let ligneFA"> 
              {{ligneFA[columnDef.name]}}
            
            </td>
      
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" ></tr>
      
     
    
    
    </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>  

                      </mat-expansion-panel>



                  <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                      
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field [color]="red">
                        <input matInput placeholder="Montant HT" readonly  [(ngModel)] ="factureAchats.montantHT" >
                        </mat-form-field>
                   </div>
               
                 <div class="col-sm-6">
                
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Montant TTC" readonly [(ngModel)] ="factureAchats.montantTTC" >
                            
                      </mat-form-field>

                  </div>
                  </div>
             <div class="row">
              <div class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Timbre Fisc."  [(ngModel)] ="factureAchats.timbreFiscale" >
                  
                   </mat-form-field>
                 
             </div>
             <div class="col-sm-6" >
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Montant A Payer"  [(ngModel)] ="factureAchats.montantAPayer" >
                  
                   </mat-form-field>
                 
             </div>
        </div>

        <div class="row" >
            <div class='col-sm-12'>
                <mat-form-field [color]="red" style="width:100%" >
                    
                    <mat-select placeholder="Mode Paiement"  [(ngModel)]="factureAchats.payementData.libelle">
                        <mat-option *ngFor="let payement of payementModes" [value]="payement.value">
                               {{ payement.viewValue }}
                        </mat-option>
                    
                </mat-select>
                </mat-form-field>
            </div>
                                            
         </div> 

         <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="N°Cheque"  [(ngModel)] ="factureAchats.payementData.numeroCheque" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="pickerDateVir" placeholder="Date Virement de Chèque"
                     [(ngModel)]="factureAchats.dateVirementChequeObject">
                    <mat-datepicker-toggle matSuffix [for]="pickerDateVir"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateVir></mat-datepicker>
                  </mat-form-field>  
                    
               
            </div>                     
        </div> 

        <div class="row" >
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                    
     <input matInput placeholder="Montant Comptant"  [(ngModel)] ="factureAchats.payementData.montantComptant" >
                    
                </mat-form-field>
            </div>
            <div class='col-sm-6'>
                <mat-form-field [color]="red" style="width:100%" >
                   <input matInput  placeholder="Montant Crédit" [(ngModel)]="factureAchats.payementData.montantCredit">
            
                      </mat-form-field>  
                    
            </div>                     
        </div>


                </mat-expansion-panel>

              </mat-accordion>
























