
<mat-dialog-content >
        <div [hidden]="!updateEnCours" class="row">
            <mat-progress-bar 
            color="primary"
            mode="indeterminate"
            value="50"
            >
        </mat-progress-bar>
    </div>
    
                    <div class="row">
                            <div class="col-sm-12">
                                    
                            <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                            </div>
                    </div>
                         <div class="row">
                                          <div class="col-sm-6">
                     <mat-form-field [color]="red" style="width:100%">
                             <input matInput placeholder="N°Paiement"  readonly
                             [(ngModel)] ="payementEmploye.numeroPaiement">
                     </mat-form-field>
                                        </div>
                                         <div  class="col-sm-6">
                                            <mat-form-field style="width:100%">
                    <input matInput [matDatepicker]="pickerDatePaiementObject" 
                    placeholder=" Date Paiement" [(ngModel)]="payementEmploye.datePaiementObject">
                                                     <mat-datepicker-toggle matSuffix [for]="pickerDatePaiementObject" touchUi #pickerDatePaiementObject ></mat-datepicker-toggle>
                                                    <mat-datepicker #pickerDatePaiementObject></mat-datepicker>
                                                    </mat-form-field>   
                                          </div>
                         </div>
                      
                         
                          <div class="row" >
                            <div class='col-sm-6'>
                                    <mat-form-field [color]="red" style="width:100%">
                                                   <input matInput placeholder="Montant" [(ngModel)] ="payementEmploye.montant" >
                                     </mat-form-field>
                                                      
                            </div>
                                                            
                            <div class="col-sm-6" >
                                    <mat-form-field [color]="red" style="width:100%" >
                                            
                                  <mat-select placeholder="Motif"  [(ngModel)]="payementEmploye.motif">
                                                <mat-option *ngFor="let motif of motifs" [value]="motif.value">
                                                       {{ motif.viewValue }}
                                                </mat-option>
                                            
                                        </mat-select>
                                        </mat-form-field>
                                   
                            </div>  
                          </div>
                            
                          <div class="row">
                                <div class='col-sm-6'>
                                        <mat-form-field [color]="red" style="width:100%">
                                                       <input matInput placeholder="Déscription" [(ngModel)] ="payementEmploye.description" >
                                         </mat-form-field>
                                                          
                                
                                </div>
                                <div class='col-sm-6'>
                                        <mat-form-field [color]="red" style="width:100%" >
                                                
                                         <mat-select placeholder="Etat"  [(ngModel)]="payementEmploye.etat">
                                                    <mat-option *ngFor="let etat of etats" [value]="etat.value">
                                                           {{ etat.viewValue }}
                                                    </mat-option>
                                                
                                            </mat-select>
                                     </mat-form-field>
                                                         
                                </div>
                          </div>
                            <div class="row">
                                    
                             
                            <div class="col-sm-6">
                                                                     <div>
                                                                           <label class="btn btn-default btn-file">
                                                                             image:face 1 <input type="file" (change)="imageFace1Changed($event)"  style="display: none;">
                                                                            </label> 
                                                                     </div>
                                                                              <img *ngIf="payementEmploye.imageFace1 !== undefined" [src]="payementEmploye.imageFace1" style="max-width: 150px ; max-height: 150px;   image-orientation : from-image;"/>       
                             </div>
                             <div class="col-sm-6">
                                    <div>
                                          <label class="btn btn-default btn-file">
                                            image:face2 <input type="file" (change)="imageFace2Changed($event)"  style="display: none;">
                                           </label> 
                                    </div>
                                             <img *ngIf="payementEmploye.imageFace2 !== undefined" [src]="payementEmploye.imageFace2" style="max-width: 150px ; max-height: 150px;   image-orientation : from-image;"/>       
    </div>
                             </div>
     
    </mat-dialog-content>
    
    <mat-dialog-actions>
            
        <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveDocumentEmploye()">Enregistrer</button>
    </mat-dialog-actions>
    