

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridGroupes()"   class="pull-left" mat-mini-fab color="primary" >
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:30px" (click)="saveGroupe();"  mat-mini-fab color="primary"  >
            
            
                            <mat-icon>done</mat-icon> 
                            
        </button>
      
      
      
      
      </div>
<div style="height: 800px;">
       
<div class="row">
                <div  class="col-sm-6">
           <mat-form-field [color]="red" style="width:100%" >
          <input matInput placeholder="Code"  [(ngModel)] ="groupe.code">
         </mat-form-field>
                </div>
                <div  class="col-sm-6">
         <mat-form-field [color]="red"  style="width:100%">
                <input matInput placeholder="Nom" [(ngModel)] ="groupe.nom" >
        </mat-form-field>
                      </div>
            
</div>

<div class="row">
                <div  class="col-sm-12">
                             
         <mat-form-field style="width:100%">
                 <mat-select placeholder="Etat" [(ngModel)] = "groupe.etat">
                                        <mat-option *ngFor="let etat of etatsGroupes" [value]="etat.value">
                                                    {{etat.viewValue}}
                                                  </mat-option>
                                        </mat-select>
                </mat-form-field> 
                      
 </div>
             
   </div>

   <div class="row">
<div class="col-sm-12">
        <mat-form-field [color]="red"  style="width:100%">
                <input matInput placeholder="Déscription" [(ngModel)] = "groupe.description">
        </mat-form-field>                                 
</div>
  </div>
   <div class="row">
             <div class="col-sm-12">
                         <div>
                         <label class="btn btn-default btn-file">
                 Image <input type="file" (change)="fileChanged($event)"  style="display: none;">
                        </label> 
                 </div>
                 <img *ngIf="groupe.logo !== 'undefined'" [src]="groupe.logo" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
               </div>
 </div>
        
</div>