

<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridGroupes()"   class="pull-left" mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
             
                <button style="margin-left:30px" (click)="updateGroupe();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              </div>
              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
        <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="height: 800px;">
                        
                 <div class="row">
                                 <div  class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%" >
                           <input matInput placeholder="Code"  [(ngModel)] ="groupe.code">
                          </mat-form-field>
                                 </div>
                                 <div  class="col-sm-6">
                          <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Nom" [(ngModel)] ="groupe.nom" >
                         </mat-form-field>
                                       </div>
                             
                 </div>
                 
                 <div class="row">
                                 <div  class="col-sm-12">
                                              
                          <mat-form-field style="width:100%">
                                  <mat-select placeholder="Etat" [(ngModel)] = "groupe.etat">
                                                         <mat-option *ngFor="let etat of etatsGroupes" [value]="etat.value">
                                                                     {{etat.viewValue}}
                                                                   </mat-option>
                                                         </mat-select>
                                 </mat-form-field> 
                                       
                  </div>
                              
                    </div>
                 
                    <div class="row">
                            <div class="col-sm-12">
                         <mat-form-field [color]="red"  style="width:100%">
                                 <input matInput placeholder="Déscription" [(ngModel)] = "groupe.description">
                         </mat-form-field>                                 
                           </div>
                   </div>
                    <div class="row">
                              <div class="col-sm-12">
                                          <div>
                                          <label class="btn btn-default btn-file">
                                  Image <input type="file" (change)="fileChanged($event)"  style="display: none;">
                                         </label> 
                                  </div>
                                  <img *ngIf="groupe.logo !== 'undefined'" [src]="groupe.logo" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
                                </div>
                  </div>
                         
                 </div>             
        </mat-tab>
        <mat-tab label="Utilisateurs"> 
                        <div class="row">
                                                <div  class="col-sm-6">
                                           <mat-form-field [color]="red" style="width:100%" >
                                          <input matInput placeholder="Code"  readonly [(ngModel)] ="groupe.code" readonly>
                                         </mat-form-field>
                                                </div>
                                                <div  class="col-sm-6">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                        <input matInput placeholder="Nom " readonly [(ngModel)] ="groupe.nom" readonly>
                                                  </mat-form-field>
                                                  </div>
                                                      
                                                
                         </div>

                         <div  class="row">
                                <div  class="col-sm-12">
                                        
         <p-pickList 
         [source]="sourceListUtilisateurs" [responsive]="true" [target]="targetListUtilisateurs"
         sourceHeader="Utilisateurs Disponibles" targetHeader="Utilisateurs Séléctionnés">
                         <ng-template let-utilisateur pTemplate="item">
                                        <div class="">
                                           <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                            <div > Utilisateur : {{utilisateur.login}} {{utilisateur.nom}} {{utilisateur.prenom}} )</div>
                                        </div>
                        </ng-template>     
                        </p-pickList>
                                </div>
                         </div>
        </mat-tab>
                <mat-tab label="Droits d'Accés"> 
                        <div class="row">
                                                <div  class="col-sm-6">
                                           <mat-form-field [color]="red" style="width:100%" >
                                          <input matInput placeholder="Code"  readonly [(ngModel)] ="groupe.code" readonly>
                                         </mat-form-field>
                                                </div>
                                                <div  class="col-sm-6">
                                                 <mat-form-field [color]="red"  style="width:100%">
                                                                        <input matInput placeholder="Nom " readonly [(ngModel)] ="groupe.nom" readonly>
                                                  </mat-form-field>
                                                  </div>
                                                      
                                                
                         </div>

                         <div  class="row">
                                <div  class="col-sm-12">
                                        
         <p-pickList 
         [source]="sourceListAccessRights" [responsive]="true" [target]="targetListAccessRights"
         sourceHeader="Droits D'accés Disponibles" targetHeader="Droits D'accés Séléctionnés">
                         <ng-template let-accessRight pTemplate="item">
                                        <div class="">
                                           <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                            <div > Entité : {{accessRight.entityName}} - Droits: {{accessRight.rights}} )</div>
                                        </div>
                        </ng-template>     
                        </p-pickList>
                                </div>
                         </div>
        </mat-tab>

               
                
        </mat-tab-group>