
<mat-dialog-content >
         <div [hidden]="!updateEnCours" class="row">
                    <mat-progress-bar 
                    color="primary"
                    mode="indeterminate"
                    value="50"
                    >
                </mat-progress-bar>
      </div>
            
      <div class="row">
        <div class="col-sm-12">
                
        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
        </div>
</div>
     <div class="row">
     <div class="col-sm-6">
 <mat-form-field [color]="red" style="width:100%">
         <input matInput placeholder="N°Ligne"  [(ngModel)] ="ligneLivreOre.code">
 </mat-form-field>
                
 </div>
     <div class="col-sm-6">
        <mat-form-field style="width:100%">
<input matInput [matDatepicker]="pickerDateJournalObject" placeholder="Date" 
            [(ngModel)]="ligneLivreOre.dateJournalObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateJournalObject" touchUi #pickerDateJournalObject ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateJournalObject></mat-datepicker>
                  </mat-form-field>     
 </div>
    
 </div>

 <div class="row">
         <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
        <input matInput type="number" placeholder="Montant Achats"  [(ngModel)] ="ligneLivreOre.montantAchats">
</mat-form-field>
               
      </div>
    <div class="col-sm-6">
        <mat-form-field [color]="red" style="width:100%">
            <input matInput type="number" placeholder="Montant Ventes"  [(ngModel)] ="ligneLivreOre.montantVentes">
    </mat-form-field>
     </div>
   
</div>

<div class="row">
    <div class="col-sm-6">
<mat-form-field [color]="red" style="width:100%">
   <input matInput type="number" placeholder="Montant RH"  [(ngModel)] ="ligneLivreOre.montantRH">
</mat-form-field>
          
 </div>
<div class="col-sm-6">
   <mat-form-field [color]="red" style="width:100%">
       <input matInput type="number" placeholder="Montant Charges"  [(ngModel)] ="ligneLivreOre.montantCharges">
</mat-form-field>
</div>

</div>

     <div class="row">
        <div  class="col-sm-6">
            <mat-form-field [color]="red" style="width:100%" >
                    
<input matInput type="string" placeholder="Déscription"  [(ngModel)] ="ligneLivreOre.description">
                    
            </mat-form-field>                    
     </div>
         <div  class="col-sm-6">
                <mat-form-field [color]="red" style="width:100%" >         
                <mat-select placeholder="Etat"  [(ngModel)]="ligneLivreOre.etat">
                        <mat-option *ngFor="let etat of etats" [value]="etat.value">
                               {{ etat.viewValue }}
                        </mat-option>
                    
                </mat-select>     
                </mat-form-field>                    
         </div>
        
      </div>                         
                              
             
            </mat-dialog-content>
            
            <mat-dialog-actions>
                    
                <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateLigneLivreOre()">Enregistrer</button>
            </mat-dialog-actions>
            