
<mat-dialog-content >
        
              <div [hidden]="!loadEnCours" class="row">
                      <mat-progress-bar 
                      color="primary"
                      mode="indeterminate"
                      value="50"
                      >
                  </mat-progress-bar>
       </div>
                      <div class="row">
                              <div class="col-sm-12">
                                      
                              <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                              </div>
                      </div>
                      
                    
                           <div class="row">
                         
                                           <div  class="col-sm-6">
                                              <mat-form-field style="width:100%">
                      <input matInput [matDatepicker]="pickerStartDate" placeholder=" Date de Départ " [(ngModel)]="dateDepartObject">
                                                       <mat-datepicker-toggle matSuffix [for]="pickerStartDate" touchUi #pickerStartDate ></mat-datepicker-toggle>
                                                      <mat-datepicker #pickerStartDate></mat-datepicker>
                                                      </mat-form-field>   
                                            </div>
                                            <div  class="col-sm-6">
                                                    <mat-form-field style="width:100%">
                            <input matInput [matDatepicker]="pickerEndDate" placeholder=" Date de Fin" [(ngModel)]="dateFinObject">
                                                             <mat-datepicker-toggle matSuffix [for]="pickerEndDate" touchUi #pickerEndDate ></mat-datepicker-toggle>
                                                            <mat-datepicker #pickerEndDate></mat-datepicker>
                                                            </mat-form-field>   
                                                  </div>
                           </div>
      
                           <div class="row">
                              
                                                      <div  class="col-sm-6">
                                                              <mat-form-field [color]="red" style="width:100%">
                                                                      <input matInput readonly placeholder="Montant Réglé de Crédits"  [ngModel]="montantRegleCredit">
                                                                  </mat-form-field>
                                              </div>
                                              <div  class="col-sm-6">
                                                    <mat-form-field [color]="red" style="width:100%">
                                                            <input matInput readonly placeholder="Montant Non Réglé de Crédits" [ngModel]="montantNonRegleCredit" >
                                                        </mat-form-field>
                                    </div>
                              
                               </div>
                               <div class="row">
                                    
                                                            <div  class="col-sm-6">
                                                                    <mat-form-field [color]="red" style="width:100%">
                                         <input matInput readonly placeholder="Montant Réglé de Ventes(Facturées) " [ngModel]="montantRegleVentes" >
                                                                        </mat-form-field>
                                                    </div>
                                                    <div  class="col-sm-6">
                                                          <mat-form-field [color]="red" style="width:100%">
                                                                  <input matInput readonly placeholder="Montant Non Réglé de Ventes (Facturées)" 
                                                                  [ngModel]="montantNonRegleVentes" >
                                                              </mat-form-field>
                                          </div>
                                    
                                     </div>
       
       
      </mat-dialog-content>
      
      <mat-dialog-actions>
              
         
      </mat-dialog-actions>
      