
<mat-dialog-content >
  
        <div [hidden]="!saveEnCours" class="row">
                <mat-progress-bar 
                color="primary"
                mode="indeterminate"
                value="50"
                >
            </mat-progress-bar>
 </div>
                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                
              
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="Code"  [(ngModel)] ="ligneCreditAchats.code">
                 </mat-form-field>
                                    </div>
                                     <div  class="col-sm-6">
                                        <mat-form-field style="width:100%">
                <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Opération" [(ngModel)]="ligneCreditAchats.dateOperationObject">
                                                 <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                <mat-datepicker #pickerDateOperation></mat-datepicker>
                                                </mat-form-field>   
                                      </div>
                     </div>

                     <div class="row">
                        
                                                <div  class="col-sm-12">
                                                        <mat-form-field [color]="red" style="width:100%">
                                                                <input matInput placeholder="Montant A Payer" [(ngModel)] ="ligneCreditAchats.montantAPayer" >
                                                            </mat-form-field>
                                        </div>
                        
                         </div>
                    
                        <div class="row" >
                                
                                 <div class="col-sm-12">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Déscription" [(ngModel)] ="ligneCreditAchats.description" >
                        </mat-form-field>
                                           
                                </div>
                               
                        </div>       
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="saveLigneCreditAchats()">Enregistrer</button>
</mat-dialog-actions>
