
<mat-dialog-content >
                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>

        <div class="row">
                <div class="col-sm-12">
                        
                <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                </div>
        </div>
             <div class="row">
                              <div class="col-sm-6">
         <mat-form-field [color]="red" style="width:100%">
                 <input matInput placeholder="Code"  [(ngModel)] ="trancheCreditAchats.code" readonly>
         </mat-form-field>
                            </div>
                             <div  class="col-sm-6">
                                <mat-form-field style="width:100%">
        <input matInput [matDatepicker]="pickerDateProgramme" placeholder=" Date Payement Prévue" [(ngModel)]="trancheCreditAchats.datePayementProgrammeObject">
                                         <mat-datepicker-toggle matSuffix [for]="pickerDateProgramme" touchUi #pickerDateProgramme ></mat-datepicker-toggle>
                                        <mat-datepicker #pickerDateProgramme></mat-datepicker>
                                        </mat-form-field>   
                              </div>
             </div>
             <div class="row">
                
                 <div  class="col-sm-12">
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="Montant Prévu" [(ngModel)] ="trancheCreditAchats.montantProgramme" >
                        </mat-form-field>           
                                               
                 </div>
                
              </div>
             
             
                <div class="row" >
                        
                         <div class="col-sm-12">
                         <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="Déscription" [(ngModel)] ="trancheCreditAchats.description" >
                           </mat-form-field>
                                   
                        </div>
                       
                </div>    

</mat-dialog-content>

<mat-dialog-actions>

<button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateTrancheCreditAchats()">Enregistrer</button>
</mat-dialog-actions>
