
<mat-dialog-content >
  
        <div [hidden]="!saveEnCours" class="row">
                <mat-progress-bar 
                color="primary"
                mode="indeterminate"
                value="50"
                >
            </mat-progress-bar>
 </div>
                <div class="row">
                        <div class="col-sm-12">
                                
                        <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                        </div>
                </div>
                
              
                     <div class="row">
                                      <div class="col-sm-6">
                 <mat-form-field [color]="red" style="width:100%">
                         <input matInput placeholder="Code"  [(ngModel)] ="payementCreditAchats.code">
                 </mat-form-field>
                                    </div>
                                     <div  class="col-sm-6">
                                        <mat-form-field style="width:100%">
                <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Payement" [(ngModel)]="payementCreditAchats.dateOperationObject">
                                                 <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                <mat-datepicker #pickerDateOperation></mat-datepicker>
                                                </mat-form-field>   
                                      </div>
                     </div>

                     <div class="row">
                        
                                                <div  class="col-sm-12">
                                                        <mat-form-field [color]="red" style="width:100%">
                                                                <input matInput placeholder="Montant Payé" [(ngModel)] ="payementCreditAchats.montantPaye" >
                                                            </mat-form-field>
                                        </div>
                        
                         </div>
                     <div class="row" >
         
                             <div class="col-sm-12">
                                        <mat-form-field [color]="red" style="width:100%">
                                                        
                                <mat-select placeholder="Mode Payement" 
                                [(ngModel)]="payementCreditAchats.modePayement" [value]="Espece">
                                        <mat-option value="Espece">
                                                Espèce
                                        </mat-option>
                                        <mat-option value="Cheque">
                                                Chèque
                                         </mat-option>
                                         <mat-option value="Virement">
                                               Virement
                                         </mat-option>
                                </mat-select>
                        </mat-form-field>
                        
                              </div>
                          
                          </div>
     
                          <div class="row" *ngIf="payementCreditAchats.modePayement==='Cheque'" >
                                
                         <div class="col-sm-6">
                                <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="N°Chèque" [(ngModel)] ="payementCreditAchats.numeroCheque" >
                                 </mat-form-field>
                                           
                                </div>
                        <div class="col-sm-6" >
                                <mat-form-field style="width:100%">
                        <input matInput [matDatepicker]="pickerDateCheque" placeholder=" Date Vir.Chèque" [(ngModel)]="payementCreditAchats.dateChequeObject">
                         <mat-datepicker-toggle matSuffix [for]="pickerDateCheque" touchUi #pickerDateCheque ></mat-datepicker-toggle>
                        <mat-datepicker #pickerDateCheque></mat-datepicker>
                        </mat-form-field>            
                               
                          </div>
                        </div>
                        <div class="row" *ngIf="payementCreditAchats.modePayement==='Cheque' ||
                        payementCreditAchats.modePayement==='Virement' " >
                                
                                 <div class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="N°Compte" [(ngModel)] ="payementCreditAchats.compte" >
                        </mat-form-field>
                                           
                                </div>
                                 <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="N°Compte Adv." [(ngModel)] ="payementCreditAchats.compteAdversaire" >
                                </mat-form-field>                     
                                             
                                </div>
                        </div>
                        <div class="row"  *ngIf="payementCreditAchats.modePayement==='Cheque' ||
                        payementCreditAchats.modePayement==='Virement' ">
                                
                                 <div class="col-sm-6">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Banque" [(ngModel)] ="payementCreditAchats.banque" >
                        </mat-form-field>
                                           
                                </div>
                                 <div class="col-sm-6">
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="Banque Adv." [(ngModel)] ="payementCreditAchats.banqueAdversaire" >
                                </mat-form-field>                     
                                             
                                </div>
                        </div>
                        <div class="row" >
                                
                                 <div class="col-sm-12">
                                 <mat-form-field [color]="red" style="width:100%">
                                        <input matInput placeholder="Déscription" [(ngModel)] ="payementCreditAchats.description" >
                        </mat-form-field>
                                           
                                </div>
                               
                        </div>       
 
</mat-dialog-content>

<mat-dialog-actions>
        
    <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="savePayementCreditAchats()">Enregistrer</button>
</mat-dialog-actions>
