

<div class="row" >
        <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
        <button (click)="loadGridArticles()"   class="pull-left"    mat-mini-fab color="primary">
                
                
                                <mat-icon>arrow_back</mat-icon>
                                
         </button>
        <button style="margin-left:20px" (click)="saveArticle();"    mat-mini-fab color="primary" >
            
            
                            <mat-icon>done </mat-icon> 
                            
        </button>
 </div>
<div style="height: 800px;">
       
                <mat-accordion style="width:100%">
                                <mat-expansion-panel #1stPanel >
                                <mat-expansion-panel-header>
                                               <mat-panel-title>
                                       </mat-panel-title>
                                       <mat-panel-description>
                                       </mat-panel-description>
                       </mat-expansion-panel-header>
                                                              
                               <div class="row" >
                                                                   
                               <div class="col-sm-4">
                                <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="Code"             [(ngModel)]="article.code">
                                                                           
                               </mat-form-field>
                             </div>
                                        <div class="col-sm-4">
                                                 <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="Libéllé"             [(ngModel)]="article.libelle">
                                                               
                                                </mat-form-field>
                                </div>
                                                                        
                        <div class="col-sm-4">
                                       <mat-form-field [color]="red" style="width:100%">
                                                       <input matInput placeholder="Référence"             [(ngModel)]="article.reference">
                                                                                      
                                                                       </mat-form-field>                       
                               </div>
                                                                   
                                </div>
                                                   
                                <div class="row" >
                                               
                       <div class="col-sm-4">
                       <mat-form-field [color]="red" style="width:100%">
                       <input matInput placeholder="Désignation"             [(ngModel)]="article.designation">
                                                       
                       </mat-form-field>
                       </div>
                       <div class="col-sm-4">
                             <mat-form-field [color]="red" style="width:100%">
                       <input matInput placeholder="Marque"             [(ngModel)]="article.marque">
                                           
                            </mat-form-field>
                       </div>
                                                    
                       <div class="col-sm-4">
                       <mat-form-field [color]="red" style="width:100%">
                                   <input matInput placeholder="Déscription"             [(ngModel)]="article.description">
                                                                  
                        </mat-form-field>                       
                       </div>
                                               
                       </div>
                       <div class="row">
                                
                         
                                      <div class="col-sm-6">
                                                                 <div>
                                                                       <label class="btn btn-default btn-file">
                                                                         image:face1<input type="file" (change)="fileChangedF1($event)"  style="display: none;">
                                                                        </label> 
                                                                 </div>
                                                                          <img *ngIf="article.imageFace1 !== 'undefined'" [src]="article.imageFace1" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
                                        </div>
                         
                         
                                        <div class="col-sm-6">
                                            <div>
                                               <label class="btn btn-default btn-file">
                                                 image:face2<input type="file" (change)="fileChangedF2($event)"  style="display: none;">
                                                </label> 
                                            </div>
                                                  <img *ngIf="article.imageFace2 !== 'undefined'" [src]="article.imageFace2" style="max-width: 1000px ; max-height: 1000px;   image-orientation : from-image;"/>       
                                      
                                      
                                        </div>
                          </div>
                                                                         
                                        </mat-expansion-panel>
                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false" style="width:100%; overflow :auto;"
                                 #2secondPanel
                                 >
                                                         
                                        <mat-expansion-panel-header>
                                                                           
                                </mat-expansion-panel-header>
                                                <div class="row">
                               <div class="col-sm-4">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               
                                 <input type="text" placeholder="Classe ART." aria-label="string" [(ngModel)]="article.classe.code" matInput 
                                                                [formControl]="classeArticleFilter.getControlCodesClassesArticles()" 
                                                                                        [matAutocomplete]="autoCodeClasseArticle">
                  <mat-autocomplete name ="codeClasseArticle" #autoCodeClasseArticle="matAutocomplete">
                                                                                          <mat-option *ngFor="let codeClsArticle of classeArticleFilter.getFiltredCodesClassesArticles() | async" [value]="codeClsArticle">
                                                                                            {{codeClsArticle}}
                                        </mat-option>
                                                </mat-autocomplete>
                                 </mat-form-field>                                                     
                                  
                               </div>
                                       
                               <div class="col-sm-4">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               
                                 <input type="text" placeholder="Sous Classe ART." aria-label="string" [(ngModel)]="article.sousClasse.code" matInput 
                                                                [formControl]="classeArticleFilter.getControlCodesClassesArticles()" 
                                                                                        [matAutocomplete]="autoCodeSousClasseArticle">
                                               <mat-autocomplete name ="codeSsClasseArticle"  #autoCodeSousClasseArticle="matAutocomplete">
                                                                                          <mat-option *ngFor="let codeSClsArticle of classeArticleFilter.getFiltredCodesClassesArticles() | async" [value]="codeSClsArticle">
                                                                                            {{codeSClsArticle}}
                                        </mat-option>
                                                </mat-autocomplete>
                                 </mat-form-field>                                                     
                                  
                               </div>    
                               <div class="col-sm-4">
                                               <mat-form-field [color]="red" style="width:100%">
                                                               
                                 <input type="text" placeholder="Sch.Config" aria-label="string" [(ngModel)]="article.schemaConfiguration.code" matInput 
                                                                [formControl]="schemaConfigurationFilter.getControlCodesSchemasConfigurations()" 
                                                                                        [matAutocomplete]="autoCodeSchemaConfiguration">
                                               <mat-autocomplete name ="codeSchema"  #autoCodeSchemaConfiguration="matAutocomplete">
                                                                                          <mat-option *ngFor="let codeSch of schemaConfigurationFilter.getFiltredCodesSchemasConfigurations() | async" [value]="codeSch">
                                                                                            {{codeSch}}
                                        </mat-option>
                                                </mat-autocomplete>
                                 </mat-form-field>                                                     
                                  
                               </div>    
                                                </div>   
                                       
                                       
                                <div class="row">
                                                                                             
                                               <div class="col-sm-4">
                                                               <mat-form-field [color]="red" style="width:100%">
                                                               <input matInput placeholder="Code à Barre"             [(ngModel)]="article.barCode">
                                                                                               
                                                               </mat-form-field>
                                                               </div>
                                                <div class="col-sm-4">
                                                               <mat-form-field style="width:100%">
                                                                               <mat-select placeholder="Disponibilité" [(ngModel)] = "article.disponibilite">
                                                                       <mat-option *ngFor="let disp of disponibilitesArticles" [value]="disp.value">
                                                                                   {{disp.viewValue}}
                                                                                 </mat-option>
                                                                       </mat-select>
                                                               </mat-form-field>            
                                                </div>
                                                                                            
                                               <div class="col-sm-4">
                                                               <mat-form-field style="width:100%">
                                                                               <mat-select placeholder="Vivialite" [(ngModel)] = "article.vivialite">
                                                                       <mat-option *ngFor="let vivial of vivialitesArticles" [value]="vivial.value">
                                                                                   {{vivial.viewValue}}
                                                                                 </mat-option>
                                                                       </mat-select>
                                                               </mat-form-field>                              
                                        </div>                                        
                                                    
                                       
                       
                                </div>
                       
                         </mat-expansion-panel>

                         <mat-expansion-panel   #3thdPanel >
                                <mat-expansion-panel-header>
                               <mat-panel-title>
                                 </mat-panel-title>
                                                              <mat-panel-description>
                                                              </mat-panel-description>
                        </mat-expansion-panel-header>
                       
                       <div class="row">
                       
                                       <div class="col-sm-4">
                               <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="%TVA Achats"            
                                [(ngModel)]="article.pourcentageTVAAchats">
                                                                                       
                               </mat-form-field>
                                  </div>
                       <div class="col-sm-4">
                       
                       
                        <mat-form-field [color]="red" style="width:100%">
                                <input matInput placeholder="%TVA Ventes"            
                                 [(ngModel)]="article.pourcentageTVAVentes">
                                                                                       
                        </mat-form-field>
                       </div>
                       
                       <div class="col-sm-4">
                                       
                                       
                                        <mat-form-field [color]="red" style="width:100%">
                                                <input matInput placeholder="%Benefice"            
                                                 [(ngModel)]="article.pourcentageBenefice">
                                                                                                       
                                        </mat-form-field>
                        </div>
                       
                       </div>
                       
                       <div class="row">
                                       
                               <div class="col-sm-4"  >
                                        <mat-form-field style="width:100%">
                                                <input matInput [matDatepicker]="pickerDateExpiration" placeholder="Date expiration" [(ngModel)] = "article.dateExpirationObject">
                                                        <mat-datepicker-toggle matSuffix [for]="pickerDateExpiration" ></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerDateExpiration></mat-datepicker>
                                                </mat-form-field>
                               </div>
                               
                               <div class="col-sm-4">
                                        <mat-form-field style="width:100%">
                                <input matInput [matDatepicker]="pickerDateFabrication" placeholder="Date Fabrication" [(ngModel)] = "article.dateFabricationObject">
                                                                       <mat-datepicker-toggle matSuffix [for]="pickerDateFabrication" ></mat-datepicker-toggle>
                                                                       <mat-datepicker #pickerDateFabrication></mat-datepicker>
                                       </mat-form-field>
                                     
                                </div>
                                       <div class="col-sm-4">
                                                       <mat-form-field style="width:100%">
                                 <input matInput [matDatepicker]="pickerDateAchats" placeholder="Date Achats" [(ngModel)] = "article.dateAchatsObject">
                                                                <mat-datepicker-toggle matSuffix [for]="pickerDateAchats" ></mat-datepicker-toggle>
                                                  <mat-datepicker #pickerDateAchats></mat-datepicker>
                                        </mat-form-field>            
                                                       
                                                     
                                        </div>
                                       
                        </div>
                        </mat-expansion-panel>
                       
                     <!--   <mat-expansion-panel #4thdPanel  >
                                       <mat-expansion-panel-header>
                                      <mat-panel-title>
                                                                     </mat-panel-title>
                                                                     <mat-panel-description>
                                                                     </mat-panel-description>
                               </mat-expansion-panel-header>
                       
                               <div  class="row">
                                               <div  class="col-sm-12">
                               <p-pickList 
                               [source]="sourceListMagasins" [responsive]="true" [target]="targetListMagasins"
                               sourceHeader="Magasins Disponibles" targetHeader="Magasins Séléctionnés">
                                               <ng-template let-magasin pTemplate="item">
                                                              <div class="">
                                                                 <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                                   <!--               <div >{{magasin.code}} - {{magasin.description}} - {{magasin.adresse}}</div>
                                                              </div>
                                              </ng-template>     
                                              </p-pickList>
                                               </div>
                                       </div>
                       
                                              <div  class="row">
                                                       <div  class="col-sm-12">
                                                               
                                               <p-pickList 
                                               [source]="sourceListUnMesures" [responsive]="true" [target]="targetListUnMesures" sourceHeader="Unités Disponibles" targetHeader="Unités Séléctionnés">
                                                <ng-template let-uniteMesure pTemplate="item">
                                                               <div class="">
                                                                  <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">-->
                                                               <!--    <div >{{uniteMesure.code}} - {{uniteMesure.description}}</div>
                                                               </div>
                                               </ng-template>     
                                               </p-pickList>
                                                       </div>
                                               </div>
                                               
                                                                 
                                                       </mat-expansion-panel>-->
                                               
                                                             </mat-accordion>


        
</div>