  
  <div class="row" style="width:100%;">
    <div class="col-sm-8" style="text-align: center; height:60px; padding-top:30px">
        <div class="col-sm-offset-8" >
            
                     Meilleure Gestion pour une Décision Révolutionnaire 
        </div>
  </div>
  <div class="col-sm-4" >
  <button  *ngIf='isAuthenticated === true' class="pull-right" style="margin-right:0px" mat-mini-fab color="warn" (click)="logout()"><mat-icon> logout</mat-icon></button>
  </div>
  </div>
        <div class="row" style="margin-left:5px;margin-right:5px">
           <div class="col-sm-2 vertical-menu" *ngIf='showMenu=== true && isAuthenticated === true'>
            
           
             <button (click)="showMenu = false;" style="background-color: white; border: none;">
                <mat-icon>menu</mat-icon>
             </button>
             <!--
            <div hidden> 
          <a routerLinkActive="active"    (click)="show('MENU_PRINCIPAL');">  <mat-icon inline="true">arrow_left_alt</mat-icon> </a> 
            </div>-->

                    
              <div class="SubMenu" #MenuSuivie>
              <a routerLinkActive="active"   (click)="show('SUIVIE_MODULE');"><span  >Suivie </span>
                <mat-icon *ngIf="suivieHidden" >expand_more</mat-icon>
                <mat-icon *ngIf="!suivieHidden">expand_less</mat-icon>
                
              </a>              
              <div class="Items"  #SUIVIEitems  hidden>
              <a routerLinkActive="active"   routerLink="/pms/suivie/journaux">
                <span style="font-style: italic;font-size: 13px">Journaux</span>
                
                   </a>   
                   <a routerLinkActive="active"   routerLink="/pms/suivie/operationsCourantes">
                    <span style="font-style: italic;font-size: 13px">Opérations Courantes</span>
                    
                       </a> 
                   <a    routerLink="/pms/suivie/reglementsCredits">
                    <span style="font-style: italic;font-size: 13px">Règlements Crédits</span>
                             
                       </a>  
                       <a    routerLink="/pms/suivie/reglementsDettes">
                        <span style="font-style: italic;font-size: 13px">Règlements Dettes</span>
                                 
                           </a> 
                           <a    routerLink="/pms/suivie/historiquesClients">
                            <span style="font-style: italic;font-size: 13px">Historique Clients</span>
                                     
                               </a>

                   <a    routerLink="/pms/suivie/historiquesFournisseurs">
                    <span style="font-style: italic;font-size: 13px">Historique Fournisseurs</span>
                    
                       </a> 

                       <a    routerLink="/pms/suivie/livresOres">
                        <span style="font-style: italic;font-size: 13px">Livres D'ore</span>
                        
                           </a>      
                
                           
                 <a    routerLink="/pms/suivie/inventaires">
           <span style="font-style: italic;font-size: 13px">Inventaires</span>
                            
                     </a>  
             <!-- <a routerLinkActive="active"  routerLink="/pms/stocks/magasins"><span style="font-style: italic;font-size: 13px">Magasins</span></a>
              <a routerLinkActive="active"  routerLink="/pms/stocks/unMesures"><span style="font-style: italic;font-size: 13px">Un Mesures</span></a>
              <a routerLinkActive="active"  routerLink="/pms/stocks/schemasConfiguration"><span style="font-style: italic;font-size: 13px">Sch.Configurations</span></a>-->
              
            </div>
             </div>
             <mat-divider id="divS" *ngIf="!suivieHidden && !stocksHidden"></mat-divider>
            <div class="SubMenu" #MenuStocks>
              <a routerLinkActive="active"   (click)="show('STOCKS_MODULE');"><span  >Stocks</span>
                <mat-icon *ngIf="stocksHidden" >expand_more</mat-icon>
                <mat-icon *ngIf="!stocksHidden">expand_less</mat-icon>
              </a>              
              <div class="Items"  #STOCKSitems  hidden>
              <a routerLinkActive="active"   routerLink="/pms/stocks/articles"><span style="font-style: italic;font-size: 13px">Articles</span></a>              
              <a routerLinkActive="active"  routerLink="/pms/stocks/classesArticles"><span style="font-style: italic;font-size: 13px">Classes Art.</span></a>
              
              <a routerLinkActive="active"  routerLink="/pms/stocks/magasins"><span style="font-style: italic;font-size: 13px">Magasins</span></a>
              <a routerLinkActive="active"  routerLink="/pms/stocks/unMesures"><span style="font-style: italic;font-size: 13px">Un Mesures</span></a>
             
              <a routerLinkActive="active"  routerLink="/pms/stocks/lots"><span style="font-style: italic;font-size: 13px">Lots</span></a>
              
              <a routerLinkActive="active"  routerLink="/pms/stocks/schemasConfiguration"><span style="font-style: italic;font-size: 13px">Sch.Configurations</span></a>
              
            </div>
             </div>
             <mat-divider id="divV"  *ngIf="!stocksHidden && !ventesHidden"></mat-divider>
          <div #MenuVentes class="SubMenu"   >             
              <a routerLinkActive="active"     (click)="show('VENTES_MODULE');" >
                <span >Ventes</span>
                <mat-icon *ngIf="ventesHidden" >expand_more</mat-icon>
                <mat-icon *ngIf="!ventesHidden">expand_less</mat-icon>
              </a>              
              <div #VENTESitems class="Items"   hidden>
                 <!-- <a routerLinkActive="active"  routerLink="/pms/ventes/parametresVentes" >
                    <span style="font-style: italic;font-size: 13px">Paramètrage</span>
                  </a>-->
                  
              <a routerLinkActive="active"   routerLink="/pms/ventes/clients" >
                <span style="font-style: italic;font-size: 13px">Clients</span>
              </a> 
              <div #ClientsItems class="Items"  hidden>
              <a routerLinkActive="active"   routerLink="/pms/ventes/documentsClients">
                    <span style="font-style: italic;font-size: 13px">Documents</span>
                  </a> 
             
              </div>
              
             <!-- <a routerLinkActive="active"  routerLink="/pms/ventes/documentsVentes"><span style="font-style: italic;font-size: 13px">Documents</span></a>   -->           
              <a routerLinkActive="active"  routerLink="/pms/ventes/facturesVentes"><span style="font-style: italic;font-size: 13px">Factures</span></a>              
              <a routerLinkActive="active"  routerLink="/pms/ventes/relevesVentes"><span style="font-style: italic;font-size: 13px">Relevés</span></a>              
              
              <a routerLinkActive="active"  routerLink="/pms/ventes/credits"><span style="font-style: italic;font-size: 13px">Credits</span></a>
              <a routerLinkActive="active"  routerLink="/pms/ventes/demandesVentes"><span style="font-style: italic;font-size: 13px">Demandes</span></a>              
              
              </div>
             </div>
             <mat-divider *ngIf="!ventesHidden && !achatsHidden" ></mat-divider>
             
<div class="SubMenu"  #MenuAchats>
              <a routerLinkActive="active"     (click)="show('ACHATS_MODULE');" 
              
              ><span  > Achats</span>
              <mat-icon *ngIf="achatsHidden" >expand_more</mat-icon>
              <mat-icon *ngIf="!achatsHidden">expand_less</mat-icon>
              </a>              
              <div #ACHATSitems class="Items"   hidden>
                  <!--<a routerLinkActive="active"  routerLink="/pms/achats/parametresAchats" ><span style="font-style: italic;font-size: 13px">Paramètrage</span></a>-->
                  
              <a routerLinkActive="active"   routerLink="/pms/achats/fournisseurs" ><span style="font-style: italic;font-size: 13px">Fournisseurs</span></a>              
              <a routerLinkActive="active"  routerLink="/pms/achats/facturesAchats"><span style="font-style: italic; font-size: 13px">Factures</span></a>
              
              <a routerLinkActive="active"  routerLink="/pms/achats/creditsAchats" ><span style="font-style: italic;font-size: 13px">Dettes</span></a>
              <a routerLinkActive="active"  routerLink="/pms/achats/relevesAchats"><span style="font-style: italic;font-size: 13px">Relevés</span></a>              
              <a routerLinkActive="active"  routerLink="/pms/achats/demandesAchats"><span style="font-style: italic;font-size: 13px">Commandes</span></a>              

              </div>

</div>
<mat-divider *ngIf="!achatsHidden && !financeHidden"></mat-divider>

<div class="SubMenu"  #MenuFinance>
  <a routerLinkActive="active"     (click)="show('FINANCE_MODULE');" 
  
  ><span  > Finance</span>
  <mat-icon *ngIf="financeHidden" >expand_more</mat-icon>
  <mat-icon *ngIf="!financeHidden">expand_less</mat-icon>
  </a>              
  <div #FINANCEitems class="Items"   hidden>
     <!-- <a routerLinkActive="active"  routerLink="/pms/finance/parametresFinance" ><span style="font-style: italic;font-size: 13px">Paramètrage</span></a>-->
      
  <a routerLinkActive="active"   routerLink="/pms/finance/comptesClients" ><span style="font-style: italic;font-size: 13px">Comptes Clients</span></a>              
               
  <a routerLinkActive="active"   routerLink="/pms/finance/comptesFournisseurs" ><span style="font-style: italic;font-size: 13px">Comptes Fournisseurs</span></a>              
  
  </div>

</div>

<mat-divider *ngIf="!financeHidden && !marketingHidden"></mat-divider>

<div class="SubMenu"  #MenuMarketing>
  <a routerLinkActive="active"     (click)="show('MARKETING_MODULE');" 
  
  ><span  > Marketing</span>
  <mat-icon *ngIf="marketingHidden" >expand_more</mat-icon>
  <mat-icon *ngIf="!marketingHidden">expand_less</mat-icon>
  </a>              
  <div #MARKETINGitems class="Items"   hidden>
     <!-- <a routerLinkActive="active"  routerLink="/pms/finance/parametresFinance" ><span style="font-style: italic;font-size: 13px">Paramètrage</span></a>-->
      
  <a routerLinkActive="active"   routerLink="/pms/marketing/promotions" ><span style="font-style: italic;font-size: 13px">Promotions</span></a>              
               
  <a routerLinkActive="active"   routerLink="/pms/marketing/mannequins" ><span style="font-style: italic;font-size: 13px">Mannequins</span></a>              
  
  <a routerLinkActive="active"   routerLink="/pms/marketing/compagnesPublicitaires" ><span style="font-style: italic;font-size: 13px">Compagnes Publicitaires</span></a>              

  
  </div>

</div>



            <mat-divider *ngIf="marketingHidden && !caisseHidden"></mat-divider>
           
          
<div #MenuCaisse class="SubMenu" >
  <a routerLinkActive="active"    (click)="show('CAISSE_MODULE');" 
  
  ><span  > Caisse</span>
  <mat-icon *ngIf="caisseHidden" >expand_more</mat-icon>
  <mat-icon *ngIf="!caisseHidden">expand_less</mat-icon>
  </a>              
  <div #CAISSEitems class="Items"   hidden>
  <a routerLinkActive="active"   routerLink="/pms/caisse/entrees" ><span style="font-style: italic;font-size: 13px">Entrées</span></a>              
  <a routerLinkActive="active"  routerLink="/pms/caisse/sorties" ><span style="font-style: italic;font-size: 13px">Sorties</span></a>
  <!--<a routerLinkActive="active"  routerLink="/pms/achats/factures"><span>Factures</span></a>
  <a routerLinkActive="active"  routerLink="/pms/achats/demandes"><span>Demandes</span></a>-->
  
  
  </div>

</div>
          <mat-divider *ngIf="!caisseHidden && !administrationHidden"></mat-divider>
            
<div #MenuUtilisateurs class="SubMenu" >
    <a routerLinkActive="active"    (click)="show('UTILISATEURS_MODULE');" 
    
    ><span  > Administration</span>
    <mat-icon *ngIf="administrationHidden" >expand_more</mat-icon>
    <mat-icon *ngIf="!administrationHidden">expand_less</mat-icon>
    </a>              
    <div #UTILISATEURSitems class="Items"   hidden>
        <a routerLinkActive="active"  routerLink="/pms/administration/organisations" ><span style="font-style: italic;font-size: 13px">Organisations</span></a>
        <a routerLinkActive="active"  routerLink="/pms/administration/groupes" ><span style="font-style: italic;font-size: 13px">Groupes</span></a>
        
    <a routerLinkActive="active"   routerLink="/pms/administration/utilisateurs" ><span style="font-style: italic;font-size: 13px">Utilisateurs</span></a>              
    <a routerLinkActive="active"  routerLink="/pms/administration/accessRights" ><span style="font-style: italic;font-size: 13px">Droits d'accés</span></a>
    <a routerLinkActive="active"  routerLink="/pms/administration/profilesAchats" ><span style="font-style: italic;font-size: 13px">Profiles Achats</span></a>
    <a routerLinkActive="active"  routerLink="/pms/administration/profilesVentes" ><span style="font-style: italic;font-size: 13px">Profiles Ventes</span></a>
    
    
    
    <!--<a routerLinkActive="active"  routerLink="/pms/achats/factures"><span>Factures</span></a>
    <a routerLinkActive="active"  routerLink="/pms/achats/demandes"><span>Demandes</span></a>-->
    <a routerLinkActive="active"  routerLink="/pms/administration/inscriptions" ><span style="font-style: italic;font-size: 13px">Inscriptions</span></a>
    
    
    </div>
  
  </div>
 <!-- <mat-divider *ngIf="!administrationHidden && !organisationHidden" ></mat-divider>
    
  <div #MenuOrganisations class="SubMenu" >
    <a routerLinkActive="active"    (click)="show('ORGANISATIONS_MODULE');" 
    
    ><span  > Organisations</span>
    <mat-icon *ngIf="organisationHidden" >expand_more</mat-icon>
    <mat-icon *ngIf="!organisationHidden">expand_less</mat-icon>
    </a>              
    <div #ORGANISATIONSitems class="Items"   hidden>
    <a routerLinkActive="active"   routerLink="/pms/organisations/list" ><span>List Organisations Inscris</span></a>              
    <!--<a routerLinkActive="active"  routerLink="/pms/achats/factures"><span>Factures</span></a>
    <a routerLinkActive="active"  routerLink="/pms/achats/demandes"><span>Demandes</span></a>
    
    
    </div>
  
  </div>-->
  <mat-divider *ngIf="!administrationHidden && !rhHidden"></mat-divider>
  
<div #MenuRH class="SubMenu" >
  <a routerLinkActive="active"    (click)="show('RH_MODULE');" 
  
  ><span  > R.Humaines</span>
  <mat-icon *ngIf="rhHidden" >expand_more</mat-icon>
  <mat-icon *ngIf="!rhHidden">expand_less</mat-icon>
  </a>              
  <div #RHitems class="Items"   hidden>
  <a routerLinkActive="active"   routerLink="/pms/rh/employes" ><span style="font-style: italic;font-size: 13px">Employés</span></a>              
  <a routerLinkActive="active"  routerLink="/pms/rh/payslips" ><span style="font-style: italic;font-size: 13px"> F.Paies </span></a>
 
  
  
    
</div>
</div>

           </div>
           <div [ngClass]="{ 'col-sm-12': showMenu=== false, 'col-sm-10': showMenu=== true }">
             
             <button style="background-color: white; border: none;" *ngIf='showMenu === false && isAuthenticated === true' (click)="showMenu = true;"> <mat-icon>menu</mat-icon>
             </button>
               <!-- <div  #DASHBOARDS>
                        <app-main-dashboards></app-main-dashboards>
                </div>-->
                 <!--
               <div hidden #COMMON>
               <app-main-common></app-main-common>
               </div>
              
               <div hidden #STOCKS>
               <app-main-stocks></app-main-stocks>
               </div>
               <div hidden #ACHATS>
               <app-main-achats></app-main-achats>
               </div>-->
               <div class="row">
               <div class="col-sm-12">
                  <div  class="col-sm-6"  #LOGIN *ngIf='isAuthenticated === false'>  
                  <app-login (userAuthenticated)="authenticationDone($event)"></app-login>
                    </div>

              <div   *ngIf='isAuthenticated === false' class="col-sm-6">  
                  <app-signup></app-signup>
              </div>
               </div>
               </div>
             <div  >
              <router-outlet > </router-outlet>
               </div>
          
           </div>
         </div>
          
