<mat-card>
    
        <div class="row" >
                <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Code" [(ngModel)] = "documentType.code" [readonly]="modeUpdate">
    </mat-form-field>
                </div>
                <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Type" [(ngModel)] ="documentType.type" >
        </mat-form-field>
                </div>
            
        </div>
        <div class="row">
        <div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Déscription" [(ngModel)] ="documentType.description" >
                </mat-form-field>
          </div>
        </div>  
        <div class="row">
            <div class="col-sm-12">
                        <!--<mat-form-field [color]="red">
                                <input matInput placeholder="Date de délivraison " [(ngModel)] ="document.dateDelivraison" >
                            </mat-form-field>-->
                            <mat-form-field>
                            <input matInput placeholder="Date de délivraison" [matDatepicker]="myDatepicker" [(ngModel)] ="documentType.dateDelivraison">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                  </mat-form-field>
            </div>
        </div>     
        
        <div class="row">

            <div >
                        <div style="float: left;">
                          <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                            <i class="material-icons">file_upload</i>
                        </label>
                            <div class="mdl-textfield mdl-js-textfield textfield-demo">
                            <input id="file_input_file" class="file_input_text mdl-textfield__input"  placeholder="attacher un fichier "  type="file" />
                            </div>
                        
                          <label class="mdl-textfield__label" for="file_input_text"></label>
                          
                        </div>
                       <!-- <div  style="width: 200px;margin-top: -8px;margin-left: 5px;" class="mdl-textfield mdl-js-textfield textfield-demo">
                          <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
                          <label class="mdl-textfield__label" for="file_input_text"></label>
                        </div>-->
             </div>


        </div>







                <div class="row">
                        <!--<div *ngIf="saveEnCours===true" >
                     <mat-spinner value="0">
                     </mat-spinner>
                        </div>-->
                         
                     <div  *ngIf="modeUpdate===false">
                 <!--<button mat-flat-button color="primary" hidden="modeUpdate" (click)="saveClient()" >Ajouter</button>-->
             
                 <button *ngIf="userStartWriting===true" mat-mini-fab (click)="saveDocument()">
                     <mat-icon >check circle</mat-icon>
                   </button>
             
                     </div>
             
                     <div *ngIf="modeUpdate===true">
                         <!--<button mat-flat-button color="primary" hidden="!modeUpdate" (click)="updateClient()" >Mettre à jour</button>-->
                         <button mat-mini-fab (click)="updateDocument()">
                             <mat-icon >edit</mat-icon>
                           </button>
                           <button mat-mini-fab style="margin-left: 30px; background-color: white;">
                             <mat-icon  ></mat-icon>
                           </button>
                      </div>
                 
    </div>
</mat-card>
    
            