<mat-card style="min-width: 60px">
    
    <div> 
       <!-- <mat-form-field [color]="red">
                <input matInput placeholder="Filter par CIN" [(ngModel)]="filterCIN" (keydown)="realodData()">
        </mat-form-field>  -->
    <table class="table table-dark">
        <thead>
    <tr>
            <th>
      <mat-checkbox  style="width: 100%"></mat-checkbox>       
                </th>
        <th> Code  </th>
        <th>  Type </th>
         <th> Date de délivraison </th>
        <th>Déscription </th>
    
    </tr>
        </thead>
        <tbody>
    <tr *ngFor="let documentType of listDocumentTypes ; let i = index">
    <td>   <mat-checkbox  [(ngModel)]="documentType.checked" style="width: 100%"></mat-checkbox>
    </td>
    <td>{{documentType.code}}</td>
    <td>{{documentType.type}}</td>
    <td>{{documentType.dateDelivraison}}</td>
    <td>{{documentType.description}}</td>
    <td>
    <button mat-mini-fab  style="height:40px"    (click)="deleteDocumentType(i)">
        <mat-icon >delete</mat-icon>
      </button>
    
      <button mat-mini-fab style="height:40px; margin-left:4px"  (click)="selectionnerDocumentType(i)">
        <mat-icon >edit</mat-icon>
      </button>
    </td>
    </tr>
    <!--<tr>
            <td>{{lastClientAdded.code}}</td>
            <td>{{lastClientAdded.nom}}</td>
            <td>{{lastClientAdded.prenom}}</td>
            <td>{{lastClientAdded.cin}}</td>
            <td>{{lastClientAdded.adresse}}</td>
            <td>{{lastClientAdded.mobile}}</td>
    </tr>-->
        </tbody>
    </table>
    </div>
    </mat-card>