<mat-card>
    
        <div class="row" >
                <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Code" [(ngModel)] = "document.code" [readonly]="modeUpdate">
    </mat-form-field>
                </div>
                <div class="col-sm-6">
    <mat-form-field [color]="red" style="width:100%">
            <input matInput placeholder="Type" [(ngModel)] ="document.type" >
        </mat-form-field>
                </div>
            
        </div>
        <div class="row">
        <div class="col-sm-12">
                <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Déscription" [(ngModel)] ="document.description" >
                </mat-form-field>
          </div>
        </div>  
        <div class="row">
            <div class="col-sm-12">
                        <!--<mat-form-field [color]="red">
                                <input matInput placeholder="Date de délivraison " [(ngModel)] ="document.dateDelivraison" >
                            </mat-form-field>-->
                            <mat-form-field>
                            <input matInput placeholder="Date de délivraison" [matDatepicker]="myDatepicker" [(ngModel)] ="document.dateDelivraison">
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker #myDatepicker></mat-datepicker>
                                  </mat-form-field>
            </div>
        </div>     
        
       <div class="row" >
       <app-upload-files></app-upload-files>
       </div>







                <div class="row">
                        <!--<div *ngIf="saveEnCours===true" >
                     <mat-spinner value="0">
                     </mat-spinner>
                        </div>-->
                         
                     <div  *ngIf="modeUpdate===false">
                 <!--<button mat-flat-button color="primary" hidden="modeUpdate" (click)="saveClient()" >Ajouter</button>-->
             
                 <button *ngIf="userStartWriting===true" mat-mini-fab (click)="saveDocument()">
                     <mat-icon >check circle</mat-icon>
                   </button>
             
                     </div>
             
                     <div *ngIf="modeUpdate===true">
                         <!--<button mat-flat-button color="primary" hidden="!modeUpdate" (click)="updateClient()" >Mettre à jour</button>-->
                         <button mat-mini-fab (click)="updateDocument()">
                             <mat-icon >edit</mat-icon>
                           </button>
                           <button mat-mini-fab style="margin-left: 30px; background-color: white;">
                             <mat-icon  ></mat-icon>
                           </button>
                      </div>
                 
    </div>
</mat-card>
    
            