
 
<mat-card>
  <!--  <app-menu-gestion-documents></app-menu-gestion-documents>-->
<div class="row">
<div class="col-sm-6"> 
<app-documents-types-grid (select)="selectDocumentType($event)"   [listDocumentTypes]="listDocumentTypes">

</app-documents-types-grid>
</div>
<div class="col-sm-6"> 
<app-document-type  (save)="addDocumentType($event)" [documentType]="selectedDocumentType"  [listDocumentTypes]="listDocumentTypes"></app-document-type>
</div>
</div>
</mat-card>