
 <mat-drawer-container  autosize>
    
  <!--  <app-menu-gestion-documents></app-menu-gestion-documents>-->
    <mat-drawer #drawer class="example-sidenav" mode="side">
        
<app-documents-grid (select)="selectDocument($event)"   [listDocuments]="listDocuments">

</app-documents-grid>
    </mat-drawer>
    <button type="button" mat-button (click)="drawer.toggle();left=!left;">
        <mat-icon *ngIf="!left"> arrow_right  </mat-icon>
        <mat-icon *ngIf="left"> arrow_left </mat-icon>
      </button>
<app-document (save)="addDocument($event)" [document]="selectedDocument"  [listDocuments]="listDocuments"></app-document>
 </mat-drawer-container>