
 
<mat-card>
  <!--  <app-menu-gestion-documents></app-menu-gestion-documents>-->
<div class="row">
<div class="col-sm-12"> 
<app-gestion-documents>
</app-gestion-documents>
</div>
</div>
<div class="row">
<!--<div class="col-sm-12">
<app-gestion-documents-types></app-gestion-documents-types>
</div>-->
</div>
</mat-card>