<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" style="height:40px;">
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button (click)="loadGridDemandesVentes()"   class="pull-left"   mat-mini-fab color="primary" >
            
            
                            <mat-icon>arrow_back</mat-icon>
                            
     </button>
    <button style="margin-left:30px" (click)="updateDemandeVentes();"    mat-mini-fab color="primary"  >
        
        
                        <mat-icon>done </mat-icon> 
                        
    </button>
  
  <button (click)="vider();"  class="pull-right" mat-mini-fab color="primary" >
        
        
                        <mat-icon   >delete</mat-icon><span > </span>
                        
    </button>
  
  
  </div>




              <mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
                
                <mat-tab label="Générale" style="padding-top: 5px"> 
                        <div style="width:96%">
              <mat-accordion style="width:100%">
                <mat-expansion-panel #firstMatExpansionPanel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row" >
                      
                              <div class="col-sm-4">
                            <mat-form-field>
                              <input matInput placeholder="N.Demande"    readonly       [(ngModel)]="demandeVentes.numeroDemandeVentes">
                              
                              </mat-form-field>
                             </div>
                             <div class="col-sm-4">
                              <mat-form-field>
                                  <input matInput [matDatepicker]="picker1" placeholder="Date de Demande" [(ngModel)]="demandeVentes.dateDemandeVentesObject">
                                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                  <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                               </div>
                           
                           <div class="col-sm-4">
            
                           </div>
                        <!---Identite Client -->
                              </div>
                        <div class="row">
                          <div class='col-sm-4'>
                                  <mat-form-field >
                     <input type="text" placeholder="Select Cin" aria-label="Number" [(ngModel)]="demandeVentes.client.cin" matInput [formControl]="clientFilter.getControlCins()" [matAutocomplete]="auto1">
                                          <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                            <mat-option *ngFor="let cin of clientFilter.getFiltredCins() | async" [value]="cin">
                                              {{cin}}
                                            </mat-option>
                                          </mat-autocomplete>
                                        </mat-form-field>
                          </div> 
                          <div class='col-sm-4'>
                                  <mat-form-field >
                                          <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="demandeVentes.client.nom"  matInput  [matAutocomplete]="auto2">
                                        </mat-form-field>
                          </div> 
                          <div class='col-sm-4'>
                                  <mat-form-field >
                                          <input type="text" placeholder="Prénom" aria-label="String" readonly matInput [(ngModel)]="demandeVentes.client.prenom"  [matAutocomplete]="auto3">
                                        </mat-form-field>
                          </div>
                        </div>
                        <div class="row" >
                        <div class='col-sm-4'>
                        <mat-form-field >
                            <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [(ngModel)]="demandeVentes.client.registreCommerce" matInput [formControl]="clientFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                            <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                              <mat-option *ngFor="let registreCommerce of clientFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                                {{registreCommerce}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div> 
                        <div class='col-sm-4'>
                        <mat-form-field >
                            <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="demandeVentes.client.matriculeFiscale" readonly     [matAutocomplete]="auto5">
                          
                          </mat-form-field>
                        </div>
                        <div class='col-sm-4'>
                            <mat-form-field >
                                    <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="demandeVentes.client.raisonSociale" readonly [matAutocomplete]="auto5">
                                    
                                  </mat-form-field>
                        </div>
                        </div>  
                        <div class="row" >
                            <div class='col-sm-12'>
                                <mat-form-field [color]="red" style="width:100%" >
                                    
                                    <mat-select placeholder="Etat"  [(ngModel)]="demandeVentes.etat">
                                        <mat-option *ngFor="let etat of etatsDemandeVentes" [value]="etat.value">
                                               {{ etat.viewValue }}
                                        </mat-option>
                                    
                                </mat-select>
                                </mat-form-field>
                            </div>
                                                            
                              </div>                  
                            
                                
                          
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false" style="width:100%; overflow :auto;">
          
                  <mat-expansion-panel-header>
                            

                  <i class="fa fa-pencil" aria-hidden="true"></i> 
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                
                    <mat-form-field [color]="red" style="width:100%">
                      <input matInput placeholder="N°"  [(ngModel)] ="managedLigneDemandeVentes.numLigneDemandeVentes" >
                      
                       </mat-form-field>
                            </div>
                            <div class="col-sm-6">
                                
                         <mat-form-field [color]="red" style="width:100%">

             <input type="text" placeholder="ART." aria-label="string" [(ngModel)]="managedLigneDemandeVentes.article.code"
              matInput 
             [formControl]="articleFilter.getControlCodesArticles()" 
             [matAutocomplete]="autoCodeArticle">
             <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
               <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
                 {{codeArticle}}
               </mat-option>
             </mat-autocomplete>
                        </mat-form-field>
                          </div>
                       
         </div>
        </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                
                                <mat-form-field [color]="red" style="width:100%">
                                    <input matInput placeholder="Config."  [(ngModel)] ="managedLigneDemandeVentes.article.configuration" >
                                    
                                     </mat-form-field>


                        </div>
                        <div class="col-sm-6">
                            
                         <mat-form-field [color]="red" style="width:100%">
                          
        <input type="text" placeholder="UN.Mes." aria-label="string"
         [(ngModel)]="managedLigneDemandeVentes.unMesure.code"
                           matInput 
         [formControl]="unMesureFilter.getControlCodesUnMesures()" 
                [matAutocomplete]="autoCodeUnMesure">
          <mat-autocomplete name ="codeUnMesure" (optionSelected)="fillDataLibelleUnMesure()" #autoCodeUnMesure="matAutocomplete">
                 <mat-option *ngFor="let codeUnMesure of unMesureFilter.getFiltredCodesUnMesures() | async" [value]="codeUnMesure">
                 {{codeUnMesure}}
                 </mat-option>
             </mat-autocomplete>
            </mat-form-field>
                        </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number"  placeholder="Quantite" 
                        [(ngModel)] ="managedLigneDemandeVentes.quantite"  >
                                                      
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field [color]="red" style="width:100%">
                       <input matInput type="number" placeholder="Prix Désiré" 
                        [(ngModel)] ="managedLigneDemandeVentes.prixDesire" 
                         >
                                                      
                            </mat-form-field>
                        </div>
                    
                    
                    </div>
                    <div class="row">
                        <div  class="col-sm-6">
                           <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneDemandeVentes.besoinUrgent" > 
                               Besoin Urgent</mat-checkbox>
                            
                            </div>
                            <div  class="col-sm-6">
                    <mat-checkbox style="padding-right: 25px"[(ngModel)] ="managedLigneDemandeVentes.traite" >
                        Traite
                         </mat-checkbox>
                                
                                </div>
                </div>

       
          

           <div class="row">
            <div class="col-sm-12">
                
            <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Déscription"  [(ngModel)] ="managedLigneDemandeVentes.description" >
              
                 </mat-form-field>
            </div>

           </div>
           <div class="row" >
                        <button style="margin-left:40px"  mat-button color="accent" (click)="addLigneDemandeVentes();" >
                        
                        
                                        <mat-icon>done </mat-icon> 
                                        
                    </button>
                 


           </div>
                             
             </mat-expansion-panel>

                      <mat-expansion-panel (opened)="panelOpenState = true"
                      (closed)="panelOpenState = false">
   <mat-expansion-panel-header>
     <i class="fa fa-table" aria-hidden="true"></i> 
      
   </mat-expansion-panel-header>

   <div class="row">
      <mat-form-field style="margin-top:12px;width:100%">;
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="    Filter">
      </mat-form-field>
      <table mat-table [dataSource]="dataLignesDemandeVentesSource"  matSort style="width:100%;" >
      
      
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
               <span style="color:blue"> Actions</span>
            </th>
            <td mat-cell *matCellDef="let row;"> 
                    <button (click)="deleteLigneDemandeVentes(row)" mat-mini-fab color="warn">
                        <i class="fa fa-trash" ></i>                             
                      </button> 
            <button style="margin-left:5px" (click)="editLigneDemandeVentes(row)" mat-mini-fab color="accent">
                <i class="fa fa-pencil" ></i>                                 
                </button> 
       
            </td>
           
          </ng-container>
         
        <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitions" 
         >
          <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
          <td mat-cell *matCellDef="let ligneDA"> 
              {{ligneDA[columnDef.name]}}
            
            </td>
      
        </ng-container>
      
        <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsNames;" ></tr>
      
     
    
    
    </table>
      
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>  





   
</mat-expansion-panel>

<mat-expansion-panel (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
</mat-panel-title>
<mat-panel-description>

</mat-panel-description>
</mat-expansion-panel-header>
<div class="row">
<div class="col-sm-6">
<mat-form-field [color]="red">
<input matInput placeholder="Budget Prepare" readonly  [(ngModel)] ="demandeVentes.budgetPrepare" >
</mat-form-field>
</div>

<div class="col-sm-6">

<mat-form-field [color]="red" style="width:100%">

<input matInput [matDatepicker]="dateDisp" placeholder="Date Disp. Prévue" [(ngModel)]="demandeVentes.dateDisponibiliteObject">
<mat-datepicker-toggle matSuffix [for]="dateDisp"></mat-datepicker-toggle>
<mat-datepicker #dateDisp></mat-datepicker>
</mat-form-field>


</div>
</div>
<div class="row">
<div class="col-sm-6">
<mat-checkbox style="padding-right: 25px"[(ngModel)] ="demandeVentes.traiteToutes" > 
       Traités</mat-checkbox>
</div>

<div class="col-sm-6">

<mat-checkbox style="padding-right: 25px"[(ngModel)] ="demandeVentes.besoinUrgentToutes" > 
Besoins Urgents</mat-checkbox>


</div>
</div>


<div class="row" >
<div class='col-sm-12'>
<mat-form-field [color]="red" style="width:100%" >

<mat-select placeholder="Mode Paiement Désiré"  [(ngModel)]="demandeVentes.modePayementDesire">
<mat-option *ngFor="let payement of payementModes" [value]="payement.value">
{{ payement.viewValue }}
</mat-option>

</mat-select>
</mat-form-field>
</div>
       
</div> 






</mat-expansion-panel>
























              </mat-accordion>
                        </div>
                </mat-tab>
                <mat-tab label="Paiements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
                    <app-payements-demandes-ventes-grid [demandeVentes]="demandeVentes">

                    </app-payements-demandes-ventes-grid>         
               
                    </div>
                </mat-tab>
                <mat-tab label="Documents"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    <div style="width:97%" >
                        
                    <app-documents-demandes-ventes-grid [demandeVentes]="demandeVentes">

                    </app-documents-demandes-ventes-grid>         
               
                        </div>
                  </mat-tab>
                  <mat-tab label="Credits"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                    Crédits
                   </mat-tab>
                   <mat-tab label="Ajournements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
                      <div style="width:97%" >
                          
                      <app-ajournements-demandes-ventes-grid [demandeVentes]="demandeVentes">
  
                      </app-ajournements-demandes-ventes-grid>         
                 
                      </div>
                    </mat-tab>
              </mat-tab-group>
              