<div class="row" >
    <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
    <button  mat-mini-fab color="primary"   (click)="loadAddCreditAchatsComponent();"   >
        
        
                        <mat-icon>add</mat-icon>
                        
    </button>
    <button style="margin-left:20px;"  (click)="loadEditCreditAchatsComponent();" mat-mini-fab color="primary" >
        
        
                        <mat-icon>edit</mat-icon> 
                        
    </button>
    <button style="margin-left:20px;"  (click)="refresh();"  mat-mini-fab color="primary" >
      
      
                      <mat-icon>refresh</mat-icon>
                      
  </button>
  <button style="margin-left:20px;" (click)="addFournisseur();"  mat-mini-fab  >
    
    
                    <mat-icon>person</mat-icon>
                    
</button>

<button style="margin-left:20px;" (click)="showStatistiquesDialog();"  mat-mini-fab  >
    
    
                   STAT
                    
</button>
<!--
  <button style="margin-left:20px; " (click)="addPayementCreditAchats();"  mat-mini-fab >
    
    
                    <mat-icon>attach_money</mat-icon>
                    
</button>
<button style="margin-left:20px; " (click)="ajournerCreditAchats();"  mat-mini-fab >
  
  
                  <mat-icon   >timeline</mat-icon>
                  
</button>
<button style="margin-left:20px;" (click)="addTrancheCreditAchats();"  mat-mini-fab >
  
  
                  <mat-icon   >view_column</mat-icon>
                  
</button>
<button style="margin-left:20px; background-color:black" (click)="attacherDocumentCreditAchats();"  mat-mini-fab >
  
  
                  <mat-icon   >attachment</mat-icon>
                  
</button>-->
  <button style="margin-left:20px; background-color: grey;" (click)="history();"  mat-mini-fab >
    
    
                    <mat-icon   >history</mat-icon>
                    
</button>

  <button (click)="supprimerCreditsAchats();"  class="pull-right" mat-mini-fab color="primary">
        
        
                        <mat-icon>delete</mat-icon>
                        
    </button>
    <button style="margin-right:20px;" class="pull-right" (click)="toggleFilterPanel();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >search</mat-icon>
                        
      </button>
      <button style="margin-right:20px;" class="pull-right" (click)="toggleShowColumnsMultiSelect();"  mat-mini-fab  color="primary" >
        
        
                        <mat-icon   >view_column</mat-icon>
                        
      </button>
  
  </div>
  <div class="row" *ngIf="showFilter" style="margin-top: 18px">
    <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%">
       <input matInput placeholder="N°Crédit"   [(ngModel)]="creditAchatsDataFilter.numeroCreditAchats">
    </mat-form-field>
    </div>
    <div class="col-sm-2">
        <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="picker1" touchUi #picker1 placeholder=" Date Crédit de: " [(ngModel)]="creditAchatsDataFilter.dateCreditAchatsFromObject">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field> 
      </div>
      <div class="col-sm-2">
          <mat-form-field [color]="red"  style="width:100%">
              <input matInput [matDatepicker]="picker2" touchUi #picker2 placeholder="à: " [(ngModel)]="creditAchatsDataFilter.dateCreditAchatsToObject">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>   
        </div>
        <div class="col-sm-2">
            <mat-form-field [color]="red" style="width:100%">
           <input matInput placeholder="Montant A payer"   [(ngModel)]="creditAchatsDataFilter.montantAPayer">
        </mat-form-field>
        </div>
        <div class="col-sm-2">
       <mat-form-field [color]="red" style="width:100%" >      
          <mat-select placeholder="Etat"  [(ngModel)]="creditAchatsDataFilter.etat">
                    <mat-option *ngFor="let etat of etatsCreditAchats" [value]="etat.value">
                           {{ etat.viewValue }}
           </mat-option>       
       </mat-select>
    </mat-form-field>     
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%" >      
           <mat-select placeholder="Période"  [(ngModel)]="creditAchatsDataFilter.periode">
                     <mat-option *ngFor="let periode of periodesCreditsAchats" [value]="periode.value">
                            {{ periode.viewValue }}
            </mat-option>       
        </mat-select>
     </mat-form-field>   
       </div>
  </div>

  <div class="row" *ngIf="showFilter" style="margin-top: 18px">
  
    <div class="col-sm-2">
        <mat-form-field [color]="red"  style="width:100%">
            <input matInput [matDatepicker]="pickerDateDebutFrom" touchUi #pickerDateDebutFrom placeholder=" Date Début Paie. de: " [(ngModel)]="creditAchatsDataFilter.dateDebutPayementFromObject">
            <mat-datepicker-toggle matSuffix [for]="pickerDateDebutFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerDateDebutFrom></mat-datepicker>
          </mat-form-field> 
      </div>
      <div class="col-sm-2">
          <mat-form-field [color]="red"  style="width:100%">
              <input matInput [matDatepicker]="pickerDateDebutTo" touchUi #pickerDateDebutTo placeholder="à: " [(ngModel)]="creditAchatsDataFilter.dateDebutPayementToObject">
              <mat-datepicker-toggle matSuffix [for]="pickerDateDebutTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerDateDebutTo></mat-datepicker>
            </mat-form-field>   
        </div>
        <div class="col-sm-2">
            <mat-form-field [color]="red" style="width:100%">
           <input matInput placeholder="Valeur Restée"   [(ngModel)]="creditAchatsDataFilter.montantReste">
        </mat-form-field>
        </div>
        <div class="col-sm-2">
       <mat-form-field [color]="red" style="width:100%" >      
        <input matInput placeholder="Valeur Touchée"   [(ngModel)]="creditAchatsDataFilter.montantTouche">
        
    </mat-form-field>     
      </div>
      <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%" >      
          <input matInput [matDatepicker]="pickerDateProchainPaiFrom" touchUi #pickerDateProchainPaiFrom placeholder=" Date Prochain Paie. de: " [(ngModel)]="creditAchatsDataFilter.dateNextPayementFromObject">
          <mat-datepicker-toggle matSuffix [for]="pickerDateProchainPaiFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerDateProchainPaiFrom></mat-datepicker>
     </mat-form-field>   
       </div>
       <div class="col-sm-2">
        <mat-form-field [color]="red" style="width:100%" >      
          <input matInput [matDatepicker]="pickerDateProchainPaiTo" touchUi #pickerDateProchainPaiTo placeholder=" à: " [(ngModel)]="creditAchatsDataFilter.dateNextPayementToObject">
          <mat-datepicker-toggle matSuffix [for]="pickerDateProchainPaiTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerDateProchainPaiTo></mat-datepicker>
     </mat-form-field>   
       </div>
  </div>
           <div class="row col-sm-12" *ngIf="showFilter">
            <button style="margin-left: 6px; background-color: white; border:none;"
            (click)="activateFilterFournisseur()">
              
                <i class="fa fa-user" aria-hidden="true"> <span>Fournisseur</span>
                  </i> <mat-icon   >search</mat-icon>
                
              </button>
           </div>

          <div class="row" *ngIf="showFilter && showFilterFournisseur" style="margin-top: 18px">
            <div class="col-sm-2">
                <mat-form-field [color]="red" style="width:100%">
               <input matInput placeholder="CIN Fournisseur"   [(ngModel)]="creditAchatsDataFilter.cinFournisseur">
            </mat-form-field>
            </div>
            <div class="col-sm-2">
              <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="Nom Fournisseur"   [(ngModel)]="creditAchatsDataFilter.nomFournisseur">
             </mat-form-field>
              </div>
              <div class="col-sm-2">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Prénom Fournisseur"   [(ngModel)]="creditAchatsDataFilter.prenomFournisseur">
               </mat-form-field>
                </div>
                <div class="col-sm-2">
                  <mat-form-field [color]="red" style="width:100%">
                    <input matInput placeholder="Rs. Soc. Fournisseur"   [(ngModel)]="creditAchatsDataFilter.raisonFournisseur">
                 </mat-form-field>
              </div>
              <div class="col-sm-2">
                <mat-form-field [color]="red" style="width:100%">
                  <input matInput placeholder="Matr. Fournisseur"   [(ngModel)]="creditAchatsDataFilter.matriculeFournisseur">
               </mat-form-field>
            </div>   
             <div class="col-sm-2">
              <mat-form-field [color]="red" style="width:100%">
                <input matInput placeholder="RG. Fournisseur"   [(ngModel)]="creditAchatsDataFilter.registreFournisseur">
             </mat-form-field>
          </div>
          </div>
         
    <div class="row" *ngIf="showFilter" >
          <button class="pull-left"  mat-mini-fab  color="accent"  (click)="loadFiltredData()">
              
                   <mat-icon   >done</mat-icon>
                              
          </button>    
     </div>


<div class="row" *ngIf="showSelectColumnsMultiSelect" style="margin-top: 18px">
    <div class="col-sm-12">
      <p-multiSelect [options]="columnsToSelect"    displaySelectedLabel= "false"    [defaultLabel]="'Séléctionner Columns'"  (onChange) = "specifyListColumnsToBeDisplayed()"
      [(ngModel)]="selectedColumnsDefinitions" [style]= "{width:'200px', height: '28px'}"
      [panelStyle]="{minWidth:'15em'}">
        <ng-template let-selectedColumn pTemplate="selectedItems">
            <span *ngFor="let selectedColumn of selectedColumnsDefinitions">{{selectedColumn.displayTitle}}</span>
        </ng-template>
        <ng-template let-selectedColumn let-i="index" pTemplate="item">
           {{selectedColumn.label}}
        </ng-template>
    </p-multiSelect>
   <span *ngIf="selectedColumnsDefinitions!== undefined" style="margin-left: 16px" > Columns à Afficher: {{selectedColumnsNames}}</span>
  </div>
</div>

<div class="row">
<!--<mat-form-field style="margin-top:12px;width:100%">;
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>-->
<table mat-table [dataSource]="dataCreditsAchatsSource"  matSort style="width:100%;" >


    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation();"
                        (change)="$event ? selection.toggle(row) : null; checkOneActionInvoked();"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    <ng-container [matColumnDef]="columnDef.name" *ngFor="let columnDef of columnsDefinitionsToDisplay" 
     >
      <th mat-header-cell  *matHeaderCellDef mat-sort-header> {{columnDef.displayTitle}} </th>
      <td mat-cell *matCellDef="let creditAchats"> {{creditAchats[columnDef.name]}} </td>
    </ng-container>
  
    <tr mat-header-row  *matHeaderRowDef="columnsNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsNames;" (click)="selection.toggle(row);checkOneActionInvoked();"></tr>
  </table>
  <div class="row">
    <div class="col-sm-2">

    </div>
      <div class="col-sm-6">
          <mat-paginator  (page)="changePage($event)" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      <div class="col-sm-2">
    
    </div>

    </div>


  </div>  