<div [hidden]="!updateEnCours" class="row">
  <mat-progress-bar 
  color="primary"
  mode="indeterminate"
  value="50"
  >
</mat-progress-bar>
</div>

<div class="row" >
  <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
  <button style="margin-left:0px;" (click)="loadGridCreditsAchats()"   class="pull-left"  mat-mini-fab color="primary">
          
          
                          <mat-icon>arrow_back</mat-icon>
                          
   </button>
  <!-- <button style="margin-left:20px;"  (click)="loadAddCreditComponent()"   mat-mini-fab color="primary">
                  
                  
                                  <mat-icon>add </mat-icon> 
                                  
              </button>-->
  <button  style="margin-left:20px;"  (click)="updateCreditAchats();"  mat-mini-fab color="primary" >
      
      
                      <mat-icon>done</mat-icon> 
                      
  </button>


  <!--<button style="margin-left:20px;" (click)="addPayementCredit();"  mat-mini-fab >
          
          
                          <mat-icon   >attach_money</mat-icon><span></span>
                          
      </button>-->
<!--  <button style="margin-left:20px;" (click)="listerPayementsCredit();"  mat-mini-fab >
          
          
   <span>$$$$</span>
                          
</button>-->
<!--<button style="margin-left:20px; background-color: red;" (click)="ajournerCredit();"  mat-mini-fab >
          
          
                          <mat-icon   >timeline</mat-icon><span ></span>
                          
</button>-->
     <!-- <button style="margin-left:20px; background-color: red;" (click)="listerAjournementsCredit();"  mat-mini-fab >
          
          
                          <span > ~~~~ </span>
                          
      </button>-->
   <!--   <button style="margin-left:20px; background-color: red;" (click)="addTrancheCredit();"  mat-mini-fab >
          
          
                          <mat-icon   >view_column</mat-icon>
                          
      </button>-->
     <!-- <button style="margin-left:20px; background-color: red;" (click)="listerTranchesCredits();"  mat-mini-fab >
          
          
                          <mat-icon   >grid</mat-icon>L.Tranches
                          
      </button>-->

     <!-- <button style="margin-left:20px; background-color: black;" (click)="attacherDocumentCredit();"  mat-mini-fab >
          
          
          <mat-icon   >insert_drive_file</mat-icon>  
                          
      </button>-->
    <!--  <button style="margin-left:20px; background-color: black;" (click)="listerDocumentsCredit();"  mat-mini-fab >
          
          
          <mat-icon   >insert_drive_file</mat-icon>  L.DOCS
                          
      </button>-->
  <button style="margin-left:20px; background-color: grey;" (click)="history();"  mat-mini-fab >
            
            
                            <mat-icon   >history</mat-icon><span ></span>
                            
</button>
<!--  <button (click)="supprimerCredit();"  class="pull-right" mat-mini-fab color="primary">
      
      
                      <mat-icon   >delete</mat-icon><span > </span>
                      
  </button>-->


</div>
<mat-tab-group (selectedTabChange)="selectedTabChanged($event)">
  
  <mat-tab label="Générale" style="padding-top: 5px"> 
          <div style="width:96%">
<div class="row" >
          <div class="col-sm-4">
  <mat-form-field [color]="red" style="width:100%">
          <input matInput placeholder="N°Crédit" [(ngModel)]="creditAchats.numeroCreditAchats" readonly>
  </mat-form-field>
        </div>
        <div class="col-sm-4">
      <mat-form-field style="width:100%">
          <input matInput #DateOper (dateChange)="showDate($event)"  [readonly]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
           [matDatepicker]="picker1" placeholder="Date d'opération" 
          
          [(ngModel)]="creditAchats.dateOperationObject">
          <mat-datepicker-toggle matSuffix [for]="picker1"  [disabled]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
       </div>
     </div>
  
      <div class="row">
              <div class="col-sm-4">
                  <mat-form-field [color]="red" style="width:100%">
                  <input matInput type="number" placeholder="Montant à payer"  required="true"
                  [readonly]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
                  [(ngModel)] ="creditAchats.montantAPayer"  >
          </mat-form-field>
          <mat-icon [matBadge]="totalReste" *ngIf="totalPayements !== 0"  matBadgeColor="warn">attach_money</mat-icon>
          
             </div>
             <div class="col-sm-8">
          <mat-form-field [color]="red" style="width:100%">
                          <input matInput placeholder="Motif"  [readonly]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
                          [(ngModel)] ="creditAchats.descriptionEchange" >
                          
                           </mat-form-field>
           </div>
         
       </div>
            
  <div class="row" >
          <div class="col-sm-4">
                  <mat-form-field [color]="red" style="width:100%" >
                      <input matInput type="number" placeholder="Nombre de tranches"  [readonly]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
                      [(ngModel)] ="creditAchats.nbreTranches"
                       >
                   </mat-form-field>
      </div>
          <div class="col-sm-4" >
                          <mat-form-field [color]="red" style="width:100%">
                                          
                  <mat-select placeholder="Tranche Par"  [disabled]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
                  [(ngModel)]="creditAchats.periodTranche">
                  <mat-option *ngFor="let periode of periodesCreditsAchats" [value]="periode.value">
                        {{ periode.viewValue }}
                 </mat-option>
                  </mat-select>
                


                          </mat-form-field>
      </div>
      <div class="col-sm-4">
              <mat-form-field style="width:100%">
                  <input matInput [matDatepicker]="picker2" placeholder=" Date Début"  [readonly]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "
                   [(ngModel)]="creditAchats.dateDebutPayementObject">
                  <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="creditAchats.etat==='Valide' || creditAchats.etat==='Annule' "></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
      </div>
  
      
          </div>



          <div class="row">
                  <div class='col-sm-4'>
                          <mat-form-field style="width:88%" >
                                  <input type="text" placeholder="Select Cin" [readonly]="creditAchats.etat==='Valide' || creditAchats.etat === 'Annule'" aria-label="Number" [(ngModel)]="creditAchats.fournisseur.cin" matInput [formControl]="creditAchatsFilter.getControlCins()" [matAutocomplete]="auto1">
                                  <mat-autocomplete (optionSelected)="fillDataNomPrenom()" name ="cinAutoComplete" #auto1="matAutocomplete">
                                    <mat-option *ngFor="let cin of creditAchatsFilter.getFiltredCins() | async" [value]="cin">
                                      {{cin}}
                                    </mat-option>
                                  </mat-autocomplete>
                                </mat-form-field>
                               <!-- <button mat-mini-fab (click)="addClientParticulier()" >+</button>-->
                  </div> 
                  <div class='col-sm-4'>
                          <mat-form-field style="width:100%">
                                  <input type="text" placeholder="Nom" aria-label="String" readonly [(ngModel)]="creditAchats.fournisseur.nom"  matInput  [matAutocomplete]="auto2">
                                
                                </mat-form-field>
                  </div> 
                  <div class='col-sm-4'>
                          <mat-form-field style="width:100%">
                                  <input type="text" placeholder="Prénom" aria-label="String" matInput [(ngModel)]="creditAchats.fournisseur.prenom"  [matAutocomplete]="auto3">
                                
                                </mat-form-field>
                  </div>
  </div>
  
                  <div class="row" >
                                  <div class='col-sm-4'>
                                          <mat-form-field style="width:88%">
                                                  <input type="text" placeholder=" Select Registre Commerce" aria-label="Number" [readonly]="creditAchats.etat==='Valide' || creditAchats.etat === 'Annule'"
                                                   [(ngModel)]="creditAchats.fournisseur.registreCommerce" matInput [formControl]="creditAchatsFilter.getControlRegistreCommerce()" [matAutocomplete]="auto14">
                                                  <mat-autocomplete name ="registreAutoComplete" (optionSelected)="fillDataMatriculeRaison()" #auto14="matAutocomplete">
                                                    <mat-option *ngFor="let registreCommerce of creditAchatsFilter.getFiltredRegistreCommerce() | async" [value]="registreCommerce">
                                                      {{registreCommerce}}
                                                    </mat-option>
                                                  </mat-autocomplete>
                                                </mat-form-field>
                                           <!-- <button mat-mini-fab (click)="addClientEntreprise()" >+</button>-->
                                                
                                  </div> 
                                  <div class='col-sm-4'>
                                          <mat-form-field style="width:100%">
                                                  <input type="text" placeholder="Matricule" aria-label="Number" matInput [(ngModel)]="creditAchats.fournisseur.matriculeFiscale" [matAutocomplete]="auto5">
                                               
                                                </mat-form-field>
                                  </div>
                                  <div class='col-sm-4'>
                                                  <mat-form-field style="width:100%">
                                                          <input type="text" placeholder="Raison sociale" aria-label="Number" matInput [(ngModel)]="creditAchats.fournisseur.raisonSociale" [matAutocomplete]="auto5">
                                                        
                                                        </mat-form-field>
                                          </div>
                          </div>

                          <div class="row" >
                                        <div class='col-sm-4'>
                                                <mat-form-field style="width:100%">
                                                        <input type="number" placeholder="Montant Touché" aria-label="Number" matInput [(ngModel)]="creditAchats.montantTouche" >
                                                     
                                                      </mat-form-field>        
                                        </div>

                                        <div class='col-sm-4'>
                                                        <mat-form-field style="width:100%">
                                                                        <input type="number" placeholder="Montant Resté" aria-label="Number" matInput [(ngModel)]="creditAchats.montantReste">
                                                                     
                                                                      </mat-form-field>   
                                                
                                    </div>
                                    <div class='col-sm-4'>
                                        
                            </div>
                                                                        
                                 </div>
                                 <div class="row" >
                                                <div class='col-sm-4'>
                                                        <mat-form-field style="width:100%">
                                                       <input matInput [matDatepicker]="pickerLastPayementDate" placeholder=" Date Dernier Paiement"  readonly
                                                               [(ngModel)]="creditAchats.dateLastPayementObject">
                                                               <mat-datepicker-toggle matSuffix [for]="pickerLastPayementDate" disabled></mat-datepicker-toggle>
                                                       <mat-datepicker #pickerLastPayementDate></mat-datepicker>
                                                </mat-form-field>       
                                                                              </div>
                              
                                                                              <div class='col-sm-4'>
                                                                       <mat-form-field style="width:100%">
                                                                              <input matInput [matDatepicker]="pickerNextPaiementDate" placeholder=" Date Prochain Paiement"  readonly
                                                                                [(ngModel)]="creditAchats.dateNextPayementObject">
                                                               <mat-datepicker-toggle matSuffix [for]="pickerNextPaiementDate" disabled></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerNextPaiementDate></mat-datepicker>
                                                        </mat-form-field>                        
                                                                          </div>
                                                                          <div class='col-sm-4'>
                                                                              
                                                                  </div>
                                                                                                              
                                                                       </div>
         
  <div class="row" >
  <div class='col-sm-12'>
                  <mat-form-field [color]="red" style="width:100%" >
                                  
                  <mat-select placeholder="Etat"  [(ngModel)]="creditAchats.etat">
                                  <mat-option *ngFor="let etat of etatsCreditsAchats" [value]="etat.value">
                                         {{ etat.viewValue }}
                                  </mat-option>
                              
                          </mat-select>
                  </mat-form-field>
  </div>
                                  
    </div>
          </div>
  </mat-tab>
  <mat-tab label="Paiements"  style="padding-top: 5px" [disabled]="tabsDisabled" > 
  <div style="width:97%" >
          <app-payements-credits-achats-grid [creditAchats]="creditAchats"></app-payements-credits-achats-grid>
          </div>
  </mat-tab>
  <mat-tab label="Tranches" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                  <div style="width:97%" >
                                  
          <app-tranches-credits-achats-grid [creditAchats]="creditAchats" ></app-tranches-credits-achats-grid >
                  </div>
   </mat-tab>
   <mat-tab label="Ajournements" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                  <div style="width:97%" >
                                  
          <app-ajournements-credits-achats-grid [creditAchats]="creditAchats"></app-ajournements-credits-achats-grid>
                  </div>
  </mat-tab>
  <mat-tab label="Documents" style="padding-top: 5px" [disabled]="tabsDisabled"> 
                  <div style="width:97%" >
                                  
<app-documents-credits-achats-grid [creditAchats]="creditAchats" ></app-documents-credits-achats-grid>
                 
    </div> 
  </mat-tab>

  <mat-tab label="Lignes" style="padding-top: 5px" [disabled]="tabsDisabled"> 
        <div style="width:97%" >
                        
<app-lignes-credits-achats-grid [creditAchats]="creditAchats" ></app-lignes-credits-achats-grid>
       
</div> 
</mat-tab>
</mat-tab-group>