

<div class="row">
                <!--<span style="margin-left:500px;" >Gestion de Credits</span>-->
                <button (click)="loadGridPromotions()"   class="pull-left" mat-mini-fab color="primary" >
                        
                        
                                        <mat-icon>arrow_back</mat-icon>
                                        
                 </button>
             
                <button style="margin-left:30px" (click)="updatePromotion();"   mat-mini-fab color="primary" >
                    
                    
                                    <mat-icon>done</mat-icon> 
                                    
                </button>
              
              </div>
              <div style="height: 800px;">
                  <div class="row">
                        <div class="col-sm-6">
                             <mat-form-field style="width:100%;">
                                   <input matInput  placeholder="Code" readonly type="string" 
                                           [(ngModel)]="promotion.code">           
                                        </mat-form-field> 
                        </div>
                        <div class="col-sm-6">
                             <mat-form-field style="width:100%;">
                   <input matInput  placeholder="Déscription" type="string" 
                                           [(ngModel)]="promotion.description">           
                        </mat-form-field> 
                       </div>
                  </div>
                  <div class="row">
                       <div class="col-sm-6">
                            <mat-form-field style="width:100%;">
                                  <input matInput  placeholder="Code" type="string" 
                                          [(ngModel)]="promotion.code">           
                                       </mat-form-field> 
                       </div>
                       <div class="col-sm-6">
                                   <mat-form-field [color]="red" style="width:100%" >      
                     <input matInput [matDatepicker]="pickerDatePromotion" touchUi #pickerDatePromotion placeholder="Date" [(ngModel)]="promotion.datePromotionObject">
                                               <mat-datepicker-toggle matSuffix [for]="pickerDatePromotion"></mat-datepicker-toggle>
                                               <mat-datepicker #pickerDatePromotion></mat-datepicker>
                                        </mat-form-field>
                                     
                     
                      </div>
                 </div>
                 <div class="row">
                       <div class="col-sm-12">
                                   <mat-form-field style="width:100%;">
                   <input matInput  placeholder="Déscription" type="string" 
                                    [(ngModel)]="promotion.description">           
                  </mat-form-field> 
                 </div>
                 </div>      
                 <div class="row">
                       <div class="col-sm-6">
                                   <mat-form-field [color]="red" style="width:100%" >      
                                               <input matInput [matDatepicker]="pickerPeriodeFrom" touchUi #pickerPeriodeFrom placeholder="Période De:" [(ngModel)]="promotion.periodeFromObject">
                                    <mat-datepicker-toggle matSuffix [for]="pickerPeriodeFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickerPeriodeFrom></mat-datepicker>
                        </mat-form-field>
                                                               
                             </div>
                       <div class="col-sm-6">
                                         <mat-form-field [color]="red" style="width:100%" >      
                           <input matInput [matDatepicker]="pickerPeriodeTo" touchUi #pickerPeriodeTo placeholder="à:" [(ngModel)]="promotion.periodeToObject">
                                                     <mat-datepicker-toggle matSuffix [for]="pickerPeriodeTo"></mat-datepicker-toggle>
                                                     <mat-datepicker #pickerPeriodeTo></mat-datepicker>
                                              </mat-form-field>
                                           
                           
                        </div>
                  </div>  
                  <div class="row">
                             <div class="col-sm-6">
                             <mat-form-field [color]="red" style="width:100%">
                                                     
                                   <input type="text" placeholder="Code ART." aria-label="string" [(ngModel)]="promotion.article.code"
                                                matInput 
                             [formControl]="articleFilter.getControlCodesArticles()" 
                          [matAutocomplete]="autoCodeArticle">
             <mat-autocomplete name ="codeArticle" (optionSelected)="fillDataLibelleArticle()" #autoCodeArticle="matAutocomplete">
             <mat-option *ngFor="let codeArticle of articleFilter.getFiltredCodesArticles() | async" [value]="codeArticle">
                                    {{codeArticle}}
                              </mat-option>
                 </mat-autocomplete>
                   </mat-form-field>
                                                                     
                                   </div>
                             <div class="col-sm-6">
                                   <mat-form-field style="width:100%;">
                                         <input matInput  placeholder="Libéllé" type="string" 
                                                          [(ngModel)]="promotion.article.libelle">           
                                        </mat-form-field>   
                                                 
                                 
                              </div>
                        </div>  
                        <div class="row">
                             <div class="col-sm-6">
                                   <mat-form-field style="width:100%;">
                                         <input matInput  placeholder="Ancien Prix" type="number" 
                                                          [(ngModel)]="promotion.ancienPrix">           
                                        </mat-form-field>   
                                                 
                                                                     
                                   </div>
                             <div class="col-sm-6">
                                   <mat-form-field style="width:100%;">
                                         <input matInput  placeholder="%Remise" type="number"   [(ngModel)]="promotion.pourcentageRemise">           
                                        </mat-form-field>   
                                                 
                                 
                              </div>
                        </div>
                        <div class="row">
                             <div class="col-sm-12">
                                   <mat-form-field style="width:100%;">
                                         <input matInput  placeholder="Nouveau Prix" type="number"   [(ngModel)]="promotion.nouveauPrix">           
                                        </mat-form-field>   
                                                 
                                                 
                                                                     
                                   </div>
                           
                        </div>
                 
           
                        <div class="row" >
                             <div class="col-sm-12">
                                             <mat-form-field style="width:100%">
                                                             <mat-select placeholder="Etat " [(ngModel)] = "promotion.etat">
                                                     <mat-option *ngFor="let etat of etatsPromotion" [value]="etat.value">
                                                                 {{etat.viewValue}}
                                                               </mat-option>
                                                     </mat-select>
                                             </mat-form-field> 
                                
                             </div>                                     
                     </div>
                        <div class="row">
                             
                      
                                   <div class="col-sm-6">
                                                              <div>
                                                                    <label class="btn btn-default btn-file">
                                                                      Affiche 1<input type="file" (change)="fileChangedF1($event)"  style="display: none;">
                                                                     </label> 
                                                              </div>
                                                                       <img *ngIf="promotion.affiche1 !== 'undefined'" [src]="promotion.affiche1" style="max-width: 500px ; max-height: 500px;   image-orientation : from-image;"/>       
                                     </div>
                      
                      
                                     <div class="col-sm-6">
                                         <div>
                                            <label class="btn btn-default btn-file">
                                               Affiche 2<input type="file" (change)="fileChangedF2($event)"  style="display: none;">
                                             </label> 
                                         </div>
                                               <img *ngIf="promotion.affiche2 !== 'undefined'" [src]="promotion.affiche2" style="max-width: 500px ; max-height: 500px;   image-orientation : from-image;"/>       
                                   
                                   
                                     </div>
                       </div>
               
                           
                 
 </div>