
<mat-dialog-content >
        
                <div [hidden]="!updateEnCours" class="row">
                                <mat-progress-bar 
                                color="primary"
                                mode="indeterminate"
                                value="50"
                                >
                            </mat-progress-bar>
                 </div>

                      <div class="row">
                              <div class="col-sm-12">
                                      
                              <button mat-dialog-close mat-mini-fab color="warn" class="pull-right" ><mat-icon> highlight_off </mat-icon>  </button>
                              </div>
                      </div>
                      
                    
                           <div class="row">
                                            <div class="col-sm-6">
                       <mat-form-field [color]="red" style="width:100%">
                               <input matInput placeholder="Code"  [(ngModel)] ="ligneCredit.code" readonly>
                       </mat-form-field>
                                          </div>
                                           <div  class="col-sm-6">
                                              <mat-form-field style="width:100%">
                      <input matInput [matDatepicker]="pickerDateOperation" placeholder=" Date Payement" [(ngModel)]="ligneCredit.dateOperationObject">
                                                       <mat-datepicker-toggle matSuffix [for]="pickerDateOperation" touchUi #pickerDateOperation ></mat-datepicker-toggle>
                                                      <mat-datepicker #pickerDateOperation></mat-datepicker>
                                                      </mat-form-field>   
                                            </div>
                           </div>
      
                           <div class="row">
                              
                                                      <div  class="col-sm-12">
                                                              <mat-form-field [color]="red" style="width:100%">
                                                                      <input matInput placeholder="Montant A Payer" [(ngModel)] ="ligneCredit.montantAPayer" >
                                                                  </mat-form-field>
                                              </div>
                              
                               </div>
                          
                              <div class="row" >
                                      
                                       <div class="col-sm-12">
                                       <mat-form-field [color]="red" style="width:100%">
                                              <input matInput placeholder="Déscription" [(ngModel)] ="ligneCredit.description" >
                              </mat-form-field>
                                                 
                                      </div>
                                     
                              </div>      
                              <div class="row" >
                                        <div class='col-sm-12'>
                                            <mat-form-field [color]="red" style="width:100%" >
                                                
                                                <mat-select placeholder="état"  [(ngModel)]="ligneCredit.etat">
                                                    <mat-option *ngFor="let etatLigne of etatsLigne" [value]="etatLigne.value">
                                                           {{ etatLigne.viewValue }}
                                                    </mat-option>
                                                
                                            </mat-select>
                                            </mat-form-field>
                                     </div>
                              </div>
                                               
       
      </mat-dialog-content>
      
      <mat-dialog-actions>
              
          <button style="margin-left:140px" class="mat-raised-button mat-accent"(click)="updateLigneCredit()">Enregistrer</button>
      </mat-dialog-actions>
      